<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>スタッフ紹介｜スマイルアンドサンキュー株式会社 採用サイト</title>
  <meta name="description" content="整骨院・接骨院・鍼灸院のスマイルアンドサンキュー株式会社の採用情報サイト。実際に働くスタッフについて紹介しております。">

  <meta property="og:title" content="スタッフ紹介｜スマイルアンドサンキュー株式会社 採用サイト"><!-- To support Twitter Cards you need to fill in the content. -->
  <meta property="og:type" content="article"><!-- You need to fill in the content with "website" for the top page, and "article" for the other pages. -->
  <meta property="og:image" content="http://recruit.smile-39.com/assets/images/ogp.png"><!-- You need to fill in the content with the production URL of the image. -->
  <meta property="og:url" content="http://recruit.smile-39.com/staff/"><!-- You need to fill in the content with the production URL of this page. -->
  <meta property="og:description" content="整骨院・接骨院・鍼灸院のスマイルアンドサンキュー株式会社の採用情報サイト。実際に働くスタッフについて紹介しております。"><!-- To support Twitter Cards this tag is required, and you need to fill in the content. -->
  <meta name="twitter:card" content="summary">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

<!--#include virtual="/includes/gtm-head.inc" -->

  <link rel="stylesheet" href="/assets/styles/main.css">
  <link rel="stylesheet" href="/assets/styles/pages/common/style.css">
  <link rel="stylesheet" href="/assets/styles/pages/staff/index/style.css">
</head>

<body>

  <%- include('/functions') %>
  <!--#include virtual="/includes/gtm-body.inc" -->

  <div class="l-page">
    <!--#include virtual="/includes/header.inc" -->

    <main class="l-main">

      <%- include('/lower_page_head', {
        textEn01: 'PEOPLE',
        textJa: 'スタッフ紹介',
        imagePathMd: '/assets/images/pages/staff/head_bg01_md.jpg',
        imagePathSm: '/assets/images/pages/staff/head_bg01.jpg',
        colorType: 'fff'
      }) %>

      <section class="sec-people">
        <div class="l-container--wide">
          <div class="sec-people__wrapper">
            <ul class="sec-people__body">
              <% data.forEach(staff => { %>
              <li class="people-item show-animation js-io-element">
                <a href="<%- staff.pageLink %>" class="people-item__wrap">
                  <div class="people-item__heading">
                    <div class="people-item__img">
                      <div class="img" style="background: url(<%- staff.imgs.md %>) center/cover;"></div>
                    </div>
                    <p class="message-wrap"><% staff.texts.forEach(txt => { %><span class="message-wrap__txt"><%- txt %></span><br><% }) %></p>
                  </div>
                  <div class="people-item__info">
                    <svg class="people-item__icon icon icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>
                    <h3 class="people-item__name">
                      <%- staff.name %>
                    </h3>
                    <p class="people-item__career">
                      <%- staff.career %>
                    </p>
                  </div>
                </a>
              </li>
              <% }) %>
              <li class="people-item show-animation js-io-element">
                <div class="people-item__wrap--no-link">
                  <div class="coming-soon">
                    <div class="coming-soon__body">
                      <p class="coming-soon__icon">
                        <picture>
                          <source media="(min-width: 768px)" srcset="@img-common/staff/people_icon_coming-soon_md.png">
                          <img src="@img-common/staff/people_icon_coming-soon.png" alt="" width="70" height="70">
                        </picture>
                      </p>
                      <p class="coming-soon__text--main">COMING SOON</p>
                      <p class="coming-soon__text--sub">その他のスタッフもぞくぞく更新中！</p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>

    </main><!-- .l-main -->

    <!--#include virtual="/includes/footer.inc" -->

  <div class="u-d-none">
    <%- include('/_svg-symbols') %>
  </div>

  </div><!-- .l-page -->

  <script src="/assets/scripts/vendors.js" defer></script>
  <script src="/assets/scripts/pages/common.js" defer></script>

</body>

</html>
