<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>重田 崚真｜スタッフ紹介｜スマイルアンドサンキュー株式会社 採用サイト</title>
  <meta name="description" content="整骨院・接骨院・鍼灸院のスマイルアンドサンキュー株式会社の採用情報サイト。実際に働くスタッフについて紹介しております。">

  <meta property="og:title" content="重田 崚真｜スタッフ紹介｜スマイルアンドサンキュー株式会社 採用サイト"><!-- To support Twitter Cards you need to fill in the content. -->
  <meta property="og:type" content="article"><!-- You need to fill in the content with "website" for the top page, and "article" for the other pages. -->
  <meta property="og:image" content="http://recruit.smile-39.com/assets/images/ogp.png"><!-- You need to fill in the content with the production URL of the image. -->
  <meta property="og:url" content="http://recruit.smile-39.com/staff/voice02.shtml"><!-- You need to fill in the content with the production URL of this page. -->
  <meta property="og:description" content="整骨院・接骨院・鍼灸院のスマイルアンドサンキュー株式会社の採用情報サイト。実際に働くスタッフについて紹介しております。"><!-- To support Twitter Cards this tag is required, and you need to fill in the content. -->
  <meta name="twitter:card" content="summary">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

<!--#include virtual="/includes/gtm-head.inc" -->

  <link rel="stylesheet" href="/assets/styles/main.css">
  <link rel="stylesheet" href="/assets/styles/pages/common/style.css">
  <link rel="stylesheet" href="/assets/styles/pages/staff/voice/common/style.css">
  <link rel="stylesheet" href="/assets/styles/pages/staff/voice/voice02/style.css">
</head>

<body>

  <%- include('/functions') %>
  <!--#include virtual="/includes/gtm-body.inc" -->

  <div class="l-page">
    <!--#include virtual="/includes/header.inc" -->

    <main class="l-main">

      <section class="sec-mv js-device-full-height">
        <div class="sec-mv__bg"></div>
        <div class="sec-mv__wrapper">
          <h2 class="sec-mv__text">
            <span class="sec-mv__typo">技術だけではなく</span><br><span class="sec-mv__typo">接遇力や人間力もしっかりと</span><br><span class="sec-mv__typo">学ぶことができる環境</span><br>
          </h2>
        </div>
        <div class="sec-mv__info">
          <div class="staff-info">
            <p class="staff-info__name">
              重田 崚真
            </p>
            <p class="staff-info__career">
              鍼灸師（2020年入社）
            </p>
          </div>
        </div>
      </section>

      <section class="sec-cross-interview">
        <div class="l-container">
          <div class="interview-content">
            <div class="interview-content__movie">
              <iframe class="interview-movie" width="560" height="315" src="https://www.youtube-nocookie.com/embed/uSsXeInPFyI?rel=0&controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </section>

      <section class="sec-interview">
        <div class="l-container">
          <div class="sec-interview__wrapper">
            <div class="sec-interview__body">
              <div class="interview-item">
                <h2 class="interview-item__title show-animation js-io-element" data-num="Q1.">
                  あなたがこの業界に<br class="u-d-md-none">進もうと思ったきっかけを<br class="u-d-md-none">教えてください。
                </h2>
                <p class="interview-item__content show-animation js-io-element">
                  中学の時に野球部だったんですが、肩と肘を怪我をしてしまって、その当時お世話になった鍼灸師の先生が寄り添った治療をしてくれました。それが大きなキッカケとなって、この業界を目指すようになりました。
                </p>
              </div>
              <div class="interview-item">
                <h2 class="interview-item__title show-animation js-io-element" data-num="Q2.">
                  この業界のことを<br class="u-d-md-none">勉強するようになって<br class="u-d-md-none">いかがでしたか？
                </h2>
                <p class="interview-item__content show-animation js-io-element">
                  想像していたよりも大変でした。実技が強みの学校だったのですが、緊張感漂う中での実技学習が多く、座学も含めてとにかく大変でした。ただ、母の応援や、専門学校入学時に長野県から出てきたこともあって、途中で投げ出そうとかは考えなかったです。
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="sec-interview sec-interview--reverce">
        <div class="l-container">
          <div class="sec-interview__wrapper">
            <div class="sec-interview__body">
              <div class="interview-item">
                <h2 class="interview-item__title show-animation js-io-element" data-num="Q3.">
                  なぜスマイルアンドサンキューで働こうと思ったのですか？
                </h2>
                <p class="interview-item__content show-animation js-io-element">
                  やっぱり人の命に関わる仕事で中途半端な治療はできないということもあって、研修がしっかりしているところに惹かれました。いきなり現場に入るのではなく、しっかりと2ヶ月間研修があり、その研修も技術だけではなく患者様との接し方を学ぶ「接遇力」や「人間力」といった実際の業務を想定した研修があったので、それがこの会社を選んだ理由です。
                </p>
              </div>
              <div class="interview-item">
                <h2 class="interview-item__title show-animation js-io-element" data-num="Q4.">
                  実際に働きだしてからは<br class="u-d-md-none">どうでしたか？
                </h2>
                <p class="interview-item__content show-animation js-io-element">
                  最初は思うような施術ができなくて苦労したのですが、院長先生や周りの人のフォローがしっかりしているので徐々に慣れていきました。患者様も地元のフレンドリーな方が多くて、僕の施術を受けていただいた方が、「この場所がよくなった」、「こういうことができるようになった」とか、そういうお声をいただけるのがやり甲斐に繋がっています。
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="sec-give">
        <div class="l-container">
          <div class="sec-give__wrapper">
            <div class="message-wrap">
              <div class="message-wrap__box">
                <p class="message-wrap__en show-animation js-io-element">
                  <span class="color01">MASS</span><span class="color02">AGE</span>
                </p>
                <h2 class="message-wrap__ttl show-animation js-io-element">
                  技術力の向上を<br class="u-d-md-none">目指している人には<br>ぴったりの環境
                </h2>
                <p class="message-wrap__text show-animation js-io-element">
                  スマイルアンドサンキューでは、患者様一人一人と向き合う時間をしっかりとっています。様々な症状を診て、その数だけ対処法が身につくので、技術力の向上を目指している人にはぴったりの環境だと思います。もちろん技術だけではなくて、言葉遣い・整理整頓といった人として当たり前のことも研修でしっかりと教えてくれるので、この職場を選んでよかったです。
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="staff-pagenation">
        <div class="staff-pagenation__wrap">
          <a href="/staff/voice01.shtml" class="staff-button staff-button--prev">
            <svg class="icon icon--arrow u-d-none u-d-md-block" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>
            <div class="staff-button__img-box">
              <svg class="icon u-d-md-none icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>
              <div class="staff-button__img staff-button__img--01"></div>
            </div>
            <div class="staff-button__info">
              <p class="staff-button__name">
                黒澤 尚耶
              </p>
              <p class="staff-button__career">
                柔道整復師（2012年入社）
              </p>
            </div>
          </a>
          <a href="/staff/" class="u-d-none u-d-md-flex staff-list-to">
            <svg class="staff-list-to__icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M20 23.999V20h4v3.999h-4zm0-14h4v4h-4v-4zm0-10h4V4h-4V-.001zM10 20h4v3.999h-4V20zm0-10.001h4v4h-4v-4zm0-10h4V4h-4V-.001zM0 20h4v3.999H0V20zM0 9.999h4v4H0v-4zm0-10h4V4H0V-.001z"/></svg>
            <p class="staff-list-to__text">
              スタッフ一覧
            </p>
          </a>
          <div href="/staff/voice02.shtml" class="staff-button staff-button--next"></div>
          <!-- <a href="/staff/voice03.shtml" class="staff-button staff-button--next">
            <svg class="icon icon--arrow u-d-none u-d-md-block" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>
            <div class="staff-button__img-box">
              <svg class="icon u-d-md-none icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>
              <div class="staff-button__img staff-button__img--02"></div>
            </div>
            <div class="staff-button__info">
              <p class="staff-button__name">
                山田 太郎
              </p>
              <p class="staff-button__career">
                柔道整復師 入社4年目
              </p>
            </div>
          </a> -->
        </div>
        <a href="/staff/" class="c-button staff-list-button u-d-md-none">
          <svg class="staff-list-button__icon" width="12" height="12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M20 23.999V20h4v3.999h-4zm0-14h4v4h-4v-4zm0-10h4V4h-4V-.001zM10 20h4v3.999h-4V20zm0-10.001h4v4h-4v-4zm0-10h4V4h-4V-.001zM0 20h4v3.999H0V20zM0 9.999h4v4H0v-4zm0-10h4V4H0V-.001z"/></svg>
          スタッフ一覧
        </a>
      </div>

    </main><!-- .l-main -->

    <!--#include virtual="/includes/footer.inc" -->

  <div class="u-d-none">
    <%- include('/_svg-symbols') %>
  </div>

  </div><!-- .l-page -->

  <script src="/assets/scripts/vendors.js" defer></script>
  <script src="/assets/scripts/pages/common.js" defer></script>

</body>

</html>
