<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>黒澤 尚耶｜スタッフ紹介｜スマイルアンドサンキュー株式会社 採用サイト</title>
  <meta name="description" content="整骨院・接骨院・鍼灸院のスマイルアンドサンキュー株式会社の採用情報サイト。実際に働くスタッフについて紹介しております。">

  <meta property="og:title" content="黒澤 尚耶｜スタッフ紹介｜スマイルアンドサンキュー株式会社 採用サイト"><!-- To support Twitter Cards you need to fill in the content. -->
  <meta property="og:type" content="article"><!-- You need to fill in the content with "website" for the top page, and "article" for the other pages. -->
  <meta property="og:image" content="http://recruit.smile-39.com/assets/images/ogp.png"><!-- You need to fill in the content with the production URL of the image. -->
  <meta property="og:url" content="http://recruit.smile-39.com/staff/voice01.shtml"><!-- You need to fill in the content with the production URL of this page. -->
  <meta property="og:description" content="整骨院・接骨院・鍼灸院のスマイルアンドサンキュー株式会社の採用情報サイト。実際に働くスタッフについて紹介しております。"><!-- To support Twitter Cards this tag is required, and you need to fill in the content. -->
  <meta name="twitter:card" content="summary">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

<!--#include virtual="/includes/gtm-head.inc" -->

  <link rel="stylesheet" href="/assets/styles/main.css">
  <link rel="stylesheet" href="/assets/styles/pages/common/style.css">
  <link rel="stylesheet" href="/assets/styles/pages/staff/voice/common/style.css">
  <link rel="stylesheet" href="/assets/styles/pages/staff/voice/voice01/style.css">
</head>

<body>

  <%- include('/functions') %>
  <!--#include virtual="/includes/gtm-body.inc" -->

  <div class="l-page">
    <!--#include virtual="/includes/header.inc" -->

    <main class="l-main">

      <section class="sec-mv js-device-full-height">
        <div class="sec-mv__bg"></div>
        <div class="sec-mv__wrapper">
          <h2 class="sec-mv__text">
            <span class="sec-mv__typo">努力し続ければ</span><br><span class="sec-mv__typo">かならず自分の目標が</span><br><span class="sec-mv__typo">叶えられる職場</span>
          </h2>
        </div>
        <div class="sec-mv__info">
          <div class="staff-info">
            <p class="staff-info__name">
              黒澤 尚耶
            </p>
            <p class="staff-info__career">
              柔道整復師（2012年入社）
            </p>
          </div>
        </div>
      </section>

      <section class="sec-cross-interview">
        <div class="l-container">
          <div class="interview-content">
            <div class="interview-content__movie">
              <iframe class="interview-movie" width="560" height="315" src="https://www.youtube-nocookie.com/embed/XLvB_693Q7I?rel=0&controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </section>

      <section class="sec-interview">
        <div class="l-container">
          <div class="sec-interview__wrapper">
            <div class="sec-interview__body">
              <div class="interview-item">
                <h2 class="interview-item__title show-animation js-io-element" data-num="Q1.">
                  あなたがこの業界に<br class="u-d-md-none">進もうと思ったきっかけを<br class="u-d-md-none">教えてください。
                </h2>
                <p class="interview-item__content show-animation js-io-element">
                  元々大学は情報工学を専攻していて、この業界に進むつもりはありませんでした。ただ、20歳の時にギックリ腰になってしまって、その時は湯船に浸かっていたんですが、湯船が冷たくなるまで出れなかったんです。そこで、すぐに整骨院にタクシーで行って、最初は半信半疑だったんですが本当に魔法のように治してくれたんです。それがキッカケでこの業界に憧れるようになりました。
                </p>
              </div>
              <div class="interview-item">
                <h2 class="interview-item__title show-animation js-io-element" data-num="Q2.">
                  大学を卒業して<br class="u-d-md-none">専門学校に通われてからは<br class="u-d-md-none">苦労なされましたか？
                </h2>
                <p class="interview-item__content show-animation js-io-element">
                  同級生や家族も通っていた専門学校に行くことになりましたが、正直かなり苦労しました。元々学んでいた情報工学とは学習する領域が違いすぎて、座学も実技も苦労ばかりでした。ですが、自分で決めた道は本気でやりきるって決めていたのでひたすら努力をしました。
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="sec-interview sec-interview--reverce">
        <div class="l-container">
          <div class="sec-interview__wrapper">
            <div class="sec-interview__body">
              <div class="interview-item">
                <h2 class="interview-item__title show-animation js-io-element" data-num="Q3.">
                  スマイルアンドサンキューに<br class="u-d-md-none">入社してみてからは<br class="u-d-md-none">どうでしたか？
                </h2>
                <p class="interview-item__content show-animation js-io-element">
                  学生時代以上にかなり苦労しました。必死に追いつこうと勉強していたんですが、同期の人と比較されたり、当時の院長先生に何度も指導してもらったり、毎日が勉強の繰り返しでした。<br>
                  当時の副院長の退職に伴って、急遽現場に入る必要があって、正直自分の技術が通用するのかが不安だったのですが、学生時代の覚悟と一緒で自分で決めた仕事はしっかりやりきろうと考えていたので、すぐに気持ちが切り替わりました。
                </p>
              </div>
              <div class="interview-item">
                <h2 class="interview-item__title show-animation js-io-element" data-num="Q4.">
                  そんな中で印象深い患者様との<br class="u-d-md-none">エピソードはありますか？
                </h2>
                <p class="interview-item__content show-animation js-io-element">
                  配属されてすぐに治療を担当させてもらった小学生の患者様が、「いつも有難う」っていう漢字とひらがなが入り乱れたお手紙をくれたんですが、それがかなり印象に残っていて、やっぱりこの道を選んでよかったなぁと思いました。<br>
                  逆にすごく悔しいエピソードとしては、毎日来てくれていた患者様が突然来なくなってしまったことがあって、駅前で声をかけさせていただいたんですが、無視されてしまったことがありました。やはり満足のいく施術ができていなかったら、患者様は離れてしまうんだと思ってかなり悔しかったです。これまでも技術は磨いてきましたが、これまで以上に“根治する”ということを意識して、“なぜ来られているのか”といった深いヒアリングを行うようになりました。
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="sec-give">
        <div class="l-container">
          <div class="sec-give__wrapper">
            <div class="message-wrap">
              <div class="message-wrap__box">
                <p class="message-wrap__en show-animation js-io-element">
                  <span class="color01">MASS</span><span class="color02">AGE</span>
                </p>
                <h2 class="message-wrap__ttl show-animation js-io-element">
                  かならず自分の目標が<br class="u-d-md-none">叶えられる職場
                </h2>
                <p class="message-wrap__text show-animation js-io-element">
                  スマイルアンドサンキューでは、治療の技術はもちろん、悩みであったりなんでも周りの人に相談できます。実際に社長と接する機会も多く、自分の希望を伝えられる環境が整っているので、私個人の話になりますが、今すごく充実しています。もちろん今までずっと努力を続けてきて、挫折しそうな時もありましたが、諦めなければかならず自分の目標が叶えられる職場だと思っています。
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="staff-pagenation">
        <div class="staff-pagenation__wrap">
          <div class="staff-button staff-button--prev">
          </div>
          <a href="/staff/" class="u-d-none u-d-md-flex staff-list-to">
            <svg class="staff-list-to__icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M20 23.999V20h4v3.999h-4zm0-14h4v4h-4v-4zm0-10h4V4h-4V-.001zM10 20h4v3.999h-4V20zm0-10.001h4v4h-4v-4zm0-10h4V4h-4V-.001zM0 20h4v3.999H0V20zM0 9.999h4v4H0v-4zm0-10h4V4H0V-.001z"/></svg>
            <p class="staff-list-to__text">
              スタッフ一覧
            </p>
          </a>
          <a href="/staff/voice02.shtml" class="staff-button staff-button--next">
            <svg class="icon icon--arrow u-d-none u-d-md-block" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>
            <div class="staff-button__img-box">
              <svg class="icon u-d-md-none icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>
              <div class="staff-button__img staff-button__img--02"></div>
            </div>
            <div class="staff-button__info">
              <p class="staff-button__name">
                重田 崚真
              </p>
              <p class="staff-button__career">
                鍼灸師（2020年入社）
              </p>
            </div>
          </a>
        </div>
        <a href="/staff/" class="c-button staff-list-button u-d-md-none">
          <svg class="staff-list-button__icon" width="12" height="12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M20 23.999V20h4v3.999h-4zm0-14h4v4h-4v-4zm0-10h4V4h-4V-.001zM10 20h4v3.999h-4V20zm0-10.001h4v4h-4v-4zm0-10h4V4h-4V-.001zM0 20h4v3.999H0V20zM0 9.999h4v4H0v-4zm0-10h4V4H0V-.001z"/></svg>
          スタッフ一覧
        </a>
      </div>

    </main><!-- .l-main -->

    <!--#include virtual="/includes/footer.inc" -->

  <div class="u-d-none">
    <%- include('/_svg-symbols') %>
  </div>

  </div><!-- .l-page -->

  <script src="/assets/scripts/vendors.js" defer></script>
  <script src="/assets/scripts/pages/common.js" defer></script>

</body>

</html>
