<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>名前が入ります｜スタッフ紹介｜スマイルアンドサンキュー株式会社 採用サイト</title>
  <meta name="description" content="整骨院・接骨院・鍼灸院のスマイルアンドサンキュー株式会社の採用情報サイト。実際に働くスタッフについて紹介しております。">

  <meta property="og:title" content="名前が入ります｜スタッフ紹介｜スマイルアンドサンキュー株式会社 採用サイト"><!-- To support Twitter Cards you need to fill in the content. -->
  <meta property="og:type" content="article"><!-- You need to fill in the content with "website" for the top page, and "article" for the other pages. -->
  <meta property="og:image" content="http://recruit.smile-39.com/assets/images/ogp.png"><!-- You need to fill in the content with the production URL of the image. -->
  <meta property="og:url" content="http://recruit.smile-39.com/staff/voice04.shtml"><!-- You need to fill in the content with the production URL of this page. -->
  <meta property="og:description" content="整骨院・接骨院・鍼灸院のスマイルアンドサンキュー株式会社の採用情報サイト。実際に働くスタッフについて紹介しております。"><!-- To support Twitter Cards this tag is required, and you need to fill in the content. -->
  <meta name="twitter:card" content="summary">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

<!--#include virtual="/includes/gtm-head.inc" -->

  <link rel="stylesheet" href="/assets/styles/main.css">
  <link rel="stylesheet" href="/assets/styles/pages/common/style.css">
  <link rel="stylesheet" href="/assets/styles/pages/staff/voice/common/style.css">
  <link rel="stylesheet" href="/assets/styles/pages/staff/voice/voice01/style.css">
</head>

<body>

  <%- include('/functions') %>
  <!--#include virtual="/includes/gtm-body.inc" -->

  <div class="l-page">
    <!--#include virtual="/includes/header.inc" -->

    <main class="l-main">

      <section class="sec-mv">
        <div class="sec-mv__bg"></div>
        <div class="sec-mv__wrapper">
          <h2 class="sec-mv__text">
            <span class="sec-mv__typo">こちらはダミーの文言です</span><br><span class="sec-mv__typo">文字のサイズ、行間、量などを</span><br><span class="sec-mv__typo">調整しています</span><br>
          </h2>
        </div>
        <div class="sec-mv__info">
          <div class="staff-info">
            <p class="staff-info__name">
              田中太郎
            </p>
            <p class="staff-info__career">
              柔道整復師 入社4年目
            </p>
          </div>
        </div>
      </section>

      <section class="sec-interview">
        <div class="l-container">
          <div class="sec-interview__wrapper">
            <div class="sec-interview__body">
              <div class="interview-item">
                <h2 class="interview-item__title" data-num="Q1.">
                  あなたがこの業界に<br>
                  進もうと思ったきっかけを<br>
                  教えてください。
                </h2>
                <p class="interview-item__content">
                  この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、字間、行間等を確認するために入れています。文字の大きさ、量、字間、行間等を確認するために入れています。<br>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、字間、行間等を確認するために入れています。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。
                </p>
              </div>
              <div class="interview-item">
                <h2 class="interview-item__title" data-num="Q2.">
                  専門学校卒業後すぐに<br>
                  スマイル＆サンキュー整骨院<br>
                  で働きだしたのですか？
                </h2>
                <p class="interview-item__content">
                  この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、字間、行間等を確認するために入れています。文字の大きさ、量、字間、行間等を確認するために入れています。<br>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、字間、行間等を確認するために入れています。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="sec-cross-interview">
        <div class="l-container">
          <div class="interview-content">
            <div class="interview-content__content">
              <h2 class="interview-content__title">
                スタッフ 田中 × ご両親
              </h2>
              <p class="interview-content__text">
                スタッフ田中のご両親にご協力いただき、この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。
              </p>
            </div>
            <div class="interview-content__movie">
              <iframe class="interview-movie" src="https://www.youtube.com/embed/V1eyghmX2oE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <p class="interview-content__accessory">
              <span class="color01">CROSS</span>&nbsp;<span class="color02">INTERVIEW</span>
            </p>
          </div>
        </div>
      </section>

      <section class="sec-interview sec-interview--reverce">
        <div class="l-container">
          <div class="sec-interview__wrapper">
            <div class="sec-interview__body">
              <div class="interview-item">
                <h2 class="interview-item__title" data-num="Q3.">
                  あなたがこの業界に<br>
                  進もうと思ったきっかけを<br>
                  教えてください。
                </h2>
                <p class="interview-item__content">
                  この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、字間、行間等を確認するために入れています。文字の大きさ、量、字間、行間等を確認するために入れています。<br>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、字間、行間等を確認するために入れています。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。
                </p>
              </div>
              <div class="interview-item">
                <h2 class="interview-item__title" data-num="Q4.">
                  専門学校卒業後すぐに<br>
                  スマイル＆サンキュー整骨院<br>
                  で働きだしたのですか？
                </h2>
                <p class="interview-item__content">
                  この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、字間、行間等を確認するために入れています。文字の大きさ、量、字間、行間等を確認するために入れています。<br>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、字間、行間等を確認するために入れています。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="sec-give">
        <div class="l-container">
          <div class="sec-give__wrapper">
            <div class="message-wrap">
              <div class="message-wrap__box">
                <p class="message-wrap__en">
                  <span class="color01">MASS</span><span class="color02">AGE</span>
                </p>
                <h2 class="message-wrap__ttl">
                  この文章はダミーです。<br class="u-d-none u-d-md-block">文字の確認するために入れています。
                </h2>
                <p class="message-wrap__text">
                  この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、字間、行間等を確認するために入れています。文字の大きさ、量、字間、行間等を確認するために入れています。<br>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、字間、行間等を確認するために入れています。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="staff-pagenation">
        <div class="staff-pagenation__wrap">
          <a href="/staff/voice03.shtml" class="staff-button staff-button--prev">
            <svg class="icon icon--arrow u-d-none u-d-md-block" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>
            <div class="staff-button__img-box">
              <svg class="icon u-d-md-none icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>
              <div class="staff-button__img staff-button__img--01"></div>
            </div>
            <div class="staff-button__info">
              <p class="staff-button__name">
                田中 太郎
              </p>
              <p class="staff-button__career">
                柔道整復師 入社4年目
              </p>
            </div>
          </a>
          <a href="/staff/" class="u-d-none u-d-md-flex staff-list-to">
            <svg class="staff-list-to__icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M20 23.999V20h4v3.999h-4zm0-14h4v4h-4v-4zm0-10h4V4h-4V-.001zM10 20h4v3.999h-4V20zm0-10.001h4v4h-4v-4zm0-10h4V4h-4V-.001zM0 20h4v3.999H0V20zM0 9.999h4v4H0v-4zm0-10h4V4H0V-.001z"/></svg>
            <p class="staff-list-to__text">
              スタッフ一覧
            </p>
          </a>
          <div class="staff-button staff-button--next">
          </div>
        </div>
        <a href="/staff/" class="c-button staff-list-button u-d-md-none">
          <svg class="staff-list-button__icon" width="12" height="12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M20 23.999V20h4v3.999h-4zm0-14h4v4h-4v-4zm0-10h4V4h-4V-.001zM10 20h4v3.999h-4V20zm0-10.001h4v4h-4v-4zm0-10h4V4h-4V-.001zM0 20h4v3.999H0V20zM0 9.999h4v4H0v-4zm0-10h4V4H0V-.001z"/></svg>
          スタッフ一覧
        </a>
      </div>

    </main><!-- .l-main -->

    <!--#include virtual="/includes/footer.inc" -->

  <div class="u-d-none">
    <%- include('/_svg-symbols') %>
  </div>

  </div><!-- .l-page -->

  <script src="/assets/scripts/vendors.js" defer></script>
  <script src="/assets/scripts/pages/common.js" defer></script>

</body>

</html>
