<div class="c-form-wrapper">
  <div class="c-form-inner">
    <form action="" method="post" class="needs-validation is-confirm" novalidate>
      <div class="c-form-flow">
        <div class="c-form-flow__item c-form-flow__item--input">
          <span>入力</span>
        </div>
        <div class="c-form-flow__item c-form-flow__item--confirm">
          <span>確認</span>
        </div>
        <div class="c-form-flow__item c-form-flow__item--complete">
          <span>完了</span>
        </div>
      </div>
      <div class="c-form-description u-center u-mb-70-md u-mb-40">
        <p>入力内容をご確認の上、この内容でよろしければ<br class="u-d-md-none">「送信」ボタンを押してください。</p>
      </div>

      <div class="c-form-groups">
        <div class="form-group c-form-group">
          <div class="c-form-item">
            <div class="c-form-head">
              <div class="c-form-head__label is-required">内容</div>
            </div>
            <div class="c-form-body">
              <p>{{ item.vfCategory }}</p>
            </div>
          </div>
        </div>
        <div class="form-group c-form-group">
          <div class="c-form-item">
            <div class="c-form-head">
              <div class="c-form-head__label is-required">お名前</div>
            </div>
            <div class="c-form-body">
              <p>{{ item.vfName }}</p>
            </div>
          </div>
        </div>
        <div class="form-group c-form-group">
          <div class="c-form-item">
            <div class="c-form-head">
              <div class="c-form-head__label is-required">フリガナ</div>
            </div>
            <div class="c-form-body">
              <p>{{ item.vfNameKana }}</p>
            </div>
          </div>
        </div>
        {% if item.vfCategory == '資料請求' %}
        <div class="form-group c-form-group">
          <div class="c-form-item">
            <div class="c-form-head">
              <div class="c-form-head__label c-form-head__label--address">住所</div>
            </div>
            <div class="c-form-body">
              <p>〒 {{ item.vfPostalCode }}</p>
              <p>{{ item.vfPref }} {{ item.vfLocality }} {{ item.vfStreetAddress }} {{ item.vfExtendedAddress }}</p>
            </div>
          </div>
        </div>
        {% endif %}
        <div class="form-group c-form-group">
          <div class="c-form-item">
            <div class="c-form-head">
              <div class="c-form-head__label is-required">メールアドレス</div>
            </div>
            <div class="c-form-body">
              <p>{{ item.vfEmail }}</p>
            </div>
          </div>
        </div>
        {% if item.vfCategory == 'エントリー' %}
        <div class="form-group c-form-group">
          <div class="c-form-item">
            <div class="c-form-head">
              <div class="c-form-head__label is-required">電話番号</div>
            </div>
            <div class="c-form-body">
              <p>{{ item.vfTel }}</p>
            </div>
          </div>
        </div>
        <div class="form-group c-form-group">
          <div class="c-form-item">
            <div class="c-form-head">
              <div class="c-form-head__label is-required">年齢</div>
            </div>
            <div class="c-form-body">
              <p>{{ item.vfAge }}</p>
            </div>
          </div>
        </div>
        <div class="form-group c-form-group">
          <div class="c-form-item">
            <div class="c-form-head">
              <div class="c-form-head__label is-required">学校名</div>
            </div>
            <div class="c-form-body">
              <p>{{ item.vfSchool }}</p>
            </div>
          </div>
        </div>
        <div class="form-group c-form-group">
          <div class="c-form-item">
            <div class="c-form-head">
              <div class="c-form-head__label is-required">卒業年</div>
            </div>
            <div class="c-form-body">
              <p>
                {% if item.vfGraduationYear is not empty %}
                  {{ item.vfGraduationYear }}年
                {% endif %}
                {% if item.vfExpectedGraduation is not empty %}
                （{{ item.vfExpectedGraduation }}）
                {% endif %}
              </p>
            </div>
          </div>
        </div>
        <div class="form-group c-form-group">
          <div class="c-form-item">
            <div class="c-form-head">
              <div class="c-form-head__label">所有（見込み）資格</div>
            </div>
            <div class="c-form-body">
              {% for value in item.vfLicense %}
              <p>{{ value }}</p>
              {% endfor %}
              {% if item.vfLicenseOther is not empty %}
              <p>その他：{{ item.vfLicenseOther }}</p>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="form-group c-form-group">
          <div class="c-form-item">
            <div class="c-form-head">
              <div class="c-form-head__label">面接方法</div>
            </div>
            <div class="c-form-body">
              {% for value in item.vfMethod %}
              <p>{{ value }}</p>
              {% endfor %}
              {% if item.vfMethodOther is not empty %}
              <p>その他：{{ item.vfMethodOther }}</p>
              {% endif %}
            </div>
          </div>
        </div>
        {% endif %}
        <div class="form-group c-form-group">
          <div class="c-form-item">
            <div class="c-form-head">
              <div class="c-form-head__label">ご意見・ご相談</div>
            </div>
            <div class="c-form-body">
              <p>{{ item.vfContent | nl2br }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="c-form-buttons u-mt-80-md u-mt-50">
        <button type="submit" name="back" class="c-form-button c-form-button--pageback">修正する</button>
        <button type="submit" name="complete" class="c-form-button c-form-button--submit c-form-button--orange u-mb-20 u-mb-0-md">この内容で送信する</button>
      </div>
      {{ hiddenParam(item) }}
    </form>
  </div>
</div>
