<div class="c-form-wrapper">
  <div class="c-form-inner">
    <form action="#" method="post" class="needs-validation is-thanks" novalidate>
      <div class="c-form-flow">
        <div class="c-form-flow__item c-form-flow__item--input">
          <span>入力</span>
        </div>
        <div class="c-form-flow__item c-form-flow__item--confirm">
          <span>確認</span>
        </div>
        <div class="c-form-flow__item c-form-flow__item--complete">
          <span>完了</span>
        </div>
      </div>
      <div class="u-center u-mb-40-md u-mb-25 u-mt-95-md">
        <h3 class="c-form-lead c-form-lead--thanks c-pl-10-md u-fw-400">お問い合わせ<br class="is-sp">ありがとうございました。</h3>
      </div>
      <div class="c-form-description u-center-md u-mb-70-md u-mb-40">
        <p class="u-mb-0-md u-mb-10">ご入力いただいたメールアドレス宛に、担当者からご連絡いたしますのでしばらくお待ちください。</p>
        <p>なお、3営業日を過ぎても担当者からの連絡がない場合はお問い合わせが正しく送信されていない可能性がございます。<br>その際はお手数ですが、再度フォームよりお問い合わせいただきますようお願いいたします。</p>
      </div>



      <div class="c-form-buttons">
        <a href="/" class="c-form-button c-form-button--orange"><span>TOPページへ</span></a>
      </div>

    </form>
  </div>
</div>
