中途採用フォームより以下のメールの送信がありました。
---------------------------------------------------------------------------

内容: {{ item.vfCategory }}
お名前: {{ item.vfName }}
フリガナ: {{ item.vfNameKana }}
住所: 〒 {{ item.vfPostalCode }} {{ item.vfPref }} {{ item.vfLocality }} {{ item.vfStreetAddress }} {{ item.vfExtendedAddress }}
メールアドレス: {{ item.vfEmail }}
ご意見・ご相談: {{ item.vfContent }}
