<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>採用メッセージ｜スマイルアンドサンキュー株式会社 採用サイト</title>
  <meta name="description" content="整骨院・接骨院・鍼灸院のスマイルアンドサンキュー株式会社の採用情報サイト。採用メッセージ、求める人物像などについて紹介しております。">

  <meta property="og:title" content="採用メッセージ｜スマイルアンドサンキュー株式会社 採用サイト"><!-- To support Twitter Cards you need to fill in the content. -->
  <meta property="og:type" content="article"><!-- You need to fill in the content with "website" for the top page, and "article" for the other pages. -->
  <meta property="og:image" content="http://recruit.smile-39.com/assets/images/ogp.png"><!-- You need to fill in the content with the production URL of the image. -->
  <meta property="og:url" content="http://recruit.smile-39.com/message/"><!-- You need to fill in the content with the production URL of this page. -->
  <meta property="og:description" content="整骨院・接骨院・鍼灸院のスマイルアンドサンキュー株式会社の採用情報サイト。採用メッセージ、求める人物像などについて紹介しております。"><!-- To support Twitter Cards this tag is required, and you need to fill in the content. -->
  <meta name="twitter:card" content="summary">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

<!--#include virtual="/includes/gtm-head.inc" -->

  <link rel="stylesheet" href="/assets/styles/main.css">
  <link rel="stylesheet" href="/assets/styles/pages/common/style.css">
  <link rel="stylesheet" href="/assets/styles/pages/message/style.css">
</head>

<body class="story-distance-small">
  <%- include('/functions') %>
  <!--#include virtual="/includes/gtm-body.inc" -->

  <div class="l-page">

    <!--#include virtual="/includes/header.inc" -->

    <main class="l-main">

      <%- include('/lower_page_head', {
        textEn01: 'OUR',
        textEn02: 'MESSAGE',
        textJa: '採用メッセージ',
        imagePathMd: '/assets/images/pages/message/head_bg01_md.jpg',
        imagePathSm: '/assets/images/pages/message/head_bg01.jpg',
        colorType: 'fff'
      }) %>

      <section class="sec-message">
        <h2 class="c-sec-ttl show-animation js-io-element">
          <span class="c-sec-ttl__jp">
            代表メッセージ
          </span><br>
          <span class="c-sec-ttl__en">
            <span class="c-sec-ttl__color01">TOP</span>&nbsp;<span class="c-sec-ttl__color02">MESSAGE</span>
          </span>
        </h2>
        <div class="sec-message__wrapper" id="js-flat-height-target">

          <div class="sec-message__content show-animation js-io-element">
            <h3 class="sec-message__text">
              <span class="sec-message__typo">一流の医療家に育てます。</span><br>
              <span class="sec-message__typo--second">志だけを用意してください。</span>
            </h3>
            <div class="sec-message__movie" id="js-flat-height-trigger">
              <picture>
                <source media="(min-width: 768px)" srcset="@img-message/message_img01_md.jpg">
                <img class="img" src="@img-message/message_img01.jpg" alt="" width="375" height="223">
              </picture>
              <!-- <iframe class="message-movie" src="https://www.youtube.com/embed/V1eyghmX2oE?showinfo=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
            </div>
            <p class="sec-message__name">
              <picture>
                <source media="(min-width: 768px)" srcset="@img-message/message_name_md.png">
                <img class="img" src="@img-message/message_name.png" alt="代表取締役社長 久保田 明史" width="142" height="49">
              </picture>
            </p>
          </div>
        </div>

        <div class="sec-message__body">
          <div class="l-container">
            <div class="intro">
              <h4 class="intro__heading show-animation js-io-element">総合医療を実現することで<br class="u-d-md-none">今の医療を変革したい。</h4>
              <p class="intro__text show-animation js-io-element">この国に総合医療を実現する。それが私達の目標です。健康を取り戻す。その目的において西洋医療と伝統医療に違いはありません。互いの利点を活かしあい、補完しあうことで、医療に新しい価値を生み出し、飛躍的な発展をもたらす。厳しい道のりです。けれど、私たちはあえて困難な道を選択しました。この道が、人々が健康で長生きできる幸せな社会づくりにつながると信じているからです。私たちの志に共感してくれる人を求めています。向上心の高い人。素直な人。人が喜ぶ姿を自分の力にできる人。そんな人達と一緒に努力を重ね、歩んでいきたい。あなた自身が力をつけることは、一人でも多くの人の健康を取り戻すことにつながります。あなたを一流の医療家に育てること。それは経営者としての私の使命でもあります。一流の知識、技術、マインドを身につける。体系的な研修機会があります。切磋琢磨できる仲間がいます。自らを成長させたい人にとって、最良の環境を用意しました。あなたがここで、一流の医療家としての第一歩を始める。そう願っています。</p>
            </div><!-- .intro -->

            <div class="profile show-animation js-io-element">
              <p class="profile__label">
                <span>PROFILE</span>
              </p>
              <div class="profile__head">
                <p class="profile__role">スマイルアンドサンキュー株式会社<br>代表取締役社長</p>
                <p class="profile__name">久保田 明史</p>
              </div>

              <p class="profile__text">九州大学卒業後、大手企業に勤務。IT企業を経て31歳でベンチャー企業を創業。<br class="u-d-md-none">IBM(米)から優れたベンチャー企業として国内1000社の中から1社に選ばれる。家族の病気を契機に事業を譲渡し、2006年に当社を設立。経営の傍らで、総合医療の実現に向けて慶應義塾大学大学院に入学。2015年医療マネジメント分野で修士号を取得。</p>
            </div><!-- .profile -->
          </div><!-- .l-container -->
        </div><!-- .sec-message__body -->
      </section>

      <section class="personality-desired">
        <div class="l-container">
          <div class="personality-desired__wrapper">
            <h2 class="c-sec-ttl show-animation js-io-element">
              <span class="c-sec-ttl__jp">
                求める人物像
              </span><br>
              <span class="c-sec-ttl__en">
                <span class="c-sec-ttl__color01">PERSONALITY</span>&nbsp;<span class="c-sec-ttl__color02">DESIRED</span>
              </span>
            </h2>
            <ul class="personality-desired__body">
              <li class="desired-item show-animation js-io-element">
                <h3 class="desired-item__heading">
                  <span class="desired-item__transform">
                    <span class="parentheses-small">「</span>仲間<span class="parentheses-small">」</span>への思いやり
                  </span>
                  <span class="desired-item__num">01</span>
                </h3>
                <p class="desired-item__body">
                  「仲間がいるから患者様を幸せにすることができる」真の医療家とはチームワークを大事にして周囲のことを考えられる人です。
                </p>
              </li>
              <li class="desired-item show-animation js-io-element">
                <h3 class="desired-item__heading">
                  <span class="desired-item__transform"><span class="parentheses-small">「</span>やってみる<span class="parentheses-small">」</span>という心
                  </span><span class="desired-item__num">02</span>
                </h3>
                <p class="desired-item__body">
                  これまでの枠組みに捉われずに、やったことが無いコトでも、素直にチャレンジできる心を大事にしています。
                </p>
              </li>
              <li class="desired-item show-animation js-io-element">
                <h3 class="desired-item__heading">
                  <span class="desired-item__transform"><span class="parentheses-small">「</span>成長<span class="parentheses-small">」</span>する意思
                  </span><span class="desired-item__num">03</span>
                </h3>
                <p class="desired-item__body">
                  最高の医療・サービスを提供することに対して、ストイックに取り組む。真の医療家には強い意思が必要です。
                </p>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="sec-vision">
        <div class="l-container">
          <div class="sec-vision__wrapper">
            <h2 class="c-sec-ttl show-animation js-io-element">
              <span class="c-sec-ttl__jp">
                将来のビジョン
              </span><br>
              <span class="c-sec-ttl__en">
                <span class="c-sec-ttl__color01">VI</span><span class="c-sec-ttl__color02">SION</span>
              </span>
            </h2>
            <div class="sec-vision__lead show-animation js-io-element">
              <h3 class="vision-lead">
                最高レベルの東洋医学を<br class="u-d-md-none">提供する
              </h3>
              <p class="vision-lead-descript">
                当社が最も大切にしている事であり私たち医療家の使命です。患者さんに笑顔に、幸せになって頂くことが何よりも大事だと考えています。
              </p>
            </div>
            <ul class="sec-vision__body">
              <li class="vision-ls show-animation js-io-element">
                <div class="vision-ls__item">
                  <div class="vision-ls__img--01"></div>
                  <h3 class="vision-ls__title">
                    より多くの患者さんを<br>幸せにすること
                  </h3>
                  <p class="vision-ls__text">
                    高齢者が激増する社会。一方で全体の医療費を増やせない社会。この社会で真に貢献するには私達は本物の医療家になる必要があると考えています。本物の医療家はこの先どんなに競争が厳しくなっても必要不可欠であり、当社は社会に必要不可欠な存在になるために、最高の技術、チームワークと全人格で、最高の医療・サービスを提供しています。
                  </p>
                </div>
              </li>
              <li class="vision-ls show-animation js-io-element">
                <div class="vision-ls__item">
                  <div class="vision-ls__img--02"></div>
                  <h3 class="vision-ls__title">
                    地域ダントツの<br class="u-d-md-none">患者さん満足と<br>
                    感動を創造すること
                  </h3>
                  <p class="vision-ls__text">
                    笑顔を取り戻すまで寄り添う。この言葉をキーワードに、私達は患者様のQOLを向上させることを目的に施術を進めています。<br>重要なのは痛みの原因を取り除き、根治を目指すことで、患者様の人生に伴走すること。数回で終わりではなく、痛みをなくし、自然治癒力をつけ、いつも笑顔でいられるように。これが私たちの約束です。
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="sec-give-word" id="sec-give-word">
        <div class="sec-give-word__wrapper">
          <h2 class="sec-give-word__title show-animation js-io-element">
            君の志は、<br>人々の希望に直結している。
          </h2>
          <div class="sec-give-word__content show-animation js-io-element">
            <p class="sec-give-word__text">
              <%- splitMessageTypo(
                `たったひとつのケガが、
                そのアスリートの夢を奪ってしまうことがある。
                もし自らのチカラを蘇らせることができたら、
                その人はあきらめかけていた試合で
                活躍できるかもしれない。
                その人は再び夢を手にして、
                笑顔を取り戻すかもしれない。`,
                false
              ) %>
            </p>
            <p class="sec-give-word__text">
              <%- splitMessageTypo(
                `症状を診るだけではない。
                さりげない会話から、
                痛みの中に埋もれようとしている夢を読み取る。
                その人の人生を見つめる。
                どんな小さな可能性もあきらめない。
                その人がふたたび希望を手にするために。`,
                false
              ) %>
            </p>
            <p class="sec-give-word__text">
              <%- splitMessageTypo(
                `君が取り組もうとしている仕事は、
                つまり、そういう仕事だ。
                君の志は、人々の希望に直結している。`,
                false
              ) %>
            </p>
          </div>
        </div>
      </section>

      <%- include('/message_story') %>


    </main><!-- .l-main -->

    <!--#include virtual="/includes/footer.inc" -->
  <div class="u-d-none">
    <%- include('/_svg-symbols') %>
  </div>

  </div><!-- .l-page -->

  <script src="/assets/scripts/vendors.js" defer></script>
  <script src="/assets/scripts/pages/common.js" defer></script>
  <script src="/assets/scripts/pages/message/index.js" defer></script>

</body>

</html>
