<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>人生で今がいちばん充実｜スマサンストーリー｜スマイルアンドサンキュー株式会社 採用サイト</title>
  <meta name="description" content="整骨院・接骨院・鍼灸院のスマイルアンドサンキュー株式会社の採用情報サイト。やりがいをもって仕事をしているスタッフのエピソードを紹介しております。">

  <meta property="og:title" content="人生で今がいちばん充実｜スマサンストーリー｜スマイルアンドサンキュー株式会社 採用サイト"><!-- To support Twitter Cards you need to fill in the content. -->
  <meta property="og:type" content="article"><!-- You need to fill in the content with "website" for the top page, and "article" for the other pages. -->
  <meta property="og:image" content="http://recruit.smile-39.com/assets/images/ogp.png"><!-- You need to fill in the content with the production URL of the image. -->
  <meta property="og:url" content="http://recruit.smile-39.com/message/story02.shtml"><!-- You need to fill in the content with the production URL of this page. -->
  <meta property="og:description" content="整骨院・接骨院・鍼灸院のスマイルアンドサンキュー株式会社の採用情報サイト。やりがいをもって仕事をしているスタッフのエピソードを紹介しております。"><!-- To support Twitter Cards this tag is required, and you need to fill in the content. -->
  <meta name="twitter:card" content="summary">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

<!--#include virtual="/includes/gtm-head.inc" -->
  <%- include('/functions') %>

  <link rel="stylesheet" href="/assets/styles/main.css">
  <link rel="stylesheet" href="/assets/styles/pages/common/style.css">
  <link rel="stylesheet" href="/assets/styles/pages/message/style.css">
</head>

<body>

  <!--#include virtual="/includes/gtm-body.inc" -->

  <div class="l-page" data-page="story02">
    <%- include('/page-loading') %>
    <!--#include virtual="/includes/header.inc" -->

    <main class="l-main">

      <section class="sec-content" id="js-scroll" data-fade-in-complete="-1" data-fade-out-start="1">
        <div class="sec-content__inner">
          <div class="sec-content__images sec-content__images--02">
            <div class="sec-content__image--01 js-scroll-image" ></div>
            <div class="sec-content__image--02 js-scroll-image"></div>
            <div class="sec-content__image--03 js-scroll-image"></div>
            <div class="sec-content__image--04 js-scroll-image"></div>
            <div class="sec-content__image--05 js-scroll-image"></div>
            <div class="sec-content__image--06 js-scroll-image"></div>
            <div class="sec-content__image--01 js-scroll-image"></div>
          </div>
          <div class="sec-content__body">
            <div class="sec-content__wrapper">
              <div class="sec-content__item js-scroll-object">
                <div class="sec-content__box">
                  <div class="sec-content__scroll-line">
                    <span class="line"></span>
                  </div>
                  <div class="sec-content__container">
                    <div class="sec-content__typos">
                      <h1 class="sec-content__logo">
                        <picture>
                          <source media="(min-width: 768px)" srcset="@img-message/story02/content_logo_md.png">
                          <img src="@img-message/story02/content_logo.png" class="img" alt="スマサンストーリー EPISOUDE.01" width="218" height="132">
                        </picture>
                      </h1>
                      <h2 class="sec-content__ttl">
                        人生で<br class="u-d-md-none">今がいちばん充実
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sec-content__item js-scroll-object">
                <div class="sec-content__box">
                  <div class="sec-content__container">
                    <div class="message-typo">
                      <h3 class="message-typo__item">
                        <%- splitMessageTypo(
                          `Ｎさんは現在８２歳。
                          シニアになってから
                          ゴルフ、旅行、ウォーキングと
                          活動的なライフスタイルを送っていた。
                          ところが５年ほど前、旅先で膝を痛めた。
                          歩くのも辛い状態。
                          病院にも行ったが、
                          よくなったり、ならなかったり。`,
                          true
                        ) %>
                      </h3>
                      <h3 class="message-typo__item message-typo__item--hidden">
                        <%- splitMessageTypo(
                          `Ｎさんが初めて来院したのは、
                          まだ開院したばかりのころ。
                          「若い人が毎日熱心に
                          チラシを配っていたので
                          一度覗いてみようかと。」
                          それがＮさんとの出会いだった。`,
                          false
                        ) %>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sec-content__item js-scroll-object">
                <div class="sec-content__box">
                  <div class="sec-content__container">
                    <div class="message-typo">
                      <h3 class="message-typo__item message-typo__item--sp-none">
                        <%- splitMessageTypo(
                          `Ｎさんは現在８２歳。
                          シニアになってから
                          ゴルフ、旅行、ウォーキングと
                          活動的なライフスタイルを送っていた。
                          ところが５年ほど前、旅先で膝を痛めた。
                          歩くのも辛い状態。
                          病院にも行ったが、
                          よくなったり、ならなかったり。`,
                          false
                        ) %>
                      </h3>
                      <h3 class="message-typo__item">
                        <%- splitMessageTypo(
                          `Ｎさんが初めて来院したのは、
                          まだ開院したばかりのころ。
                          <span class="message-typo__parentheses">「若い人が毎日熱心に</span>
                          チラシを配っていたので
                          一度覗いてみようかと。」
                          それがＮさんとの出会いだった。`,
                          true
                        ) %>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sec-content__item js-scroll-object sec-content__item--delimiter">
                <div class="sec-content__box">
                  <div class="sec-content__container">
                    <div class="sec-content__scroll-line">
                    <span class="line"></span>
                    </div>
                    <div class="message-typo message-typo--single">
                      <div class="message-typo--horizontal">
                        <h3 class="message-typo__item message-typo__item--horizontal">
                          82歳。<br>再び、ゴルフや旅行が<br class="u-d-md-none">できるようになった。
                        </h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sec-content__item js-scroll-object">
                <div class="sec-content__box">
                  <div class="sec-content__container">
                    <div class="message-typo">
                      <h3 class="message-typo__item">
                        <%- splitMessageTypo(
                          `初診時は膝が３０度も<br class="u-d-md-none">曲がらなかった状態。
                          しかし、院長には治せる自信があった。
                          <span class="message-typo__parentheses">「治せますよ。任せてください。」</span>
                          その言葉通り、
                          膝はみるみる良くなっていった。
                          １か月も経たないうちに
                          膝は９０度曲がるようになり、
                          さらに正座までできるようになった。`,
                          true
                        ) %>
                      </h3>
                      <h3 class="message-typo__item message-typo__item--hidden">
                        <%- splitMessageTypo(
                          `今では早足でスタスタと歩く。
                          旅行もゴルフも再開した。
                          お孫さんを迎えに電車に乗って幼稚園までいく。
                          とても８２歳の行動力とは思えない。`,
                          false
                        ) %>
                      </h3>
                      <h3 class="message-typo__item message-typo__item--hidden">
                        <%- splitMessageTypo(
                          `あれから３年。
                          週２～３回ペースで通院を続けているが、
                          今は健康そのものだ。
                          そして、Ｎさんは笑顔でこう言った。
                          「ここは怪我や病気の予防診療に最適。
                          薬を使わないので安心だし、<br class="u-d-md-none">費用も安くすむ。
                          なにより来るだけで楽しくて元気になる。」`,
                          false
                        ) %>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sec-content__item js-scroll-object">
                <div class="sec-content__box">
                  <div class="sec-content__container">
                  <div class="message-typo">
                    <h3 class="message-typo__item message-typo__item--sp-none">
                      <%- splitMessageTypo(
                        `初診時は膝が３０度も曲がらなかった状態。
                        しかし、院長には治せる自信があった。
                        <span class="message-typo__parentheses">「治せますよ。任せてください。」</span>
                        その言葉通り、
                        膝はみるみる良くなっていった。
                        １か月も経たないうちに
                        膝は９０度曲がるようになり、
                        さらに正座までできるようになった。`,
                        false
                      ) %>
                    </h3>
                    <h3 class="message-typo__item message-typo">
                      <%- splitMessageTypo(
                        `今では早足でスタスタと歩く。
                        旅行もゴルフも再開した。
                        お孫さんを迎えに<br class="u-d-md-none">電車に乗って幼稚園までいく。
                        とても８２歳の行動力とは思えない。`,
                        true
                      ) %>
                    </h3>
                    <h3 class="message-typo__item message-typo">
                      <%- splitMessageTypo(
                        `あれから３年。
                        週２～３回ペースで通院を続けているが、
                        今は健康そのものだ。
                        そして、Ｎさんは笑顔でこう言った。
                        <span class="message-typo__parentheses">「ここは怪我や病気の予防診療に最適。</span>
                        薬を使わないので安心だし、<br class="u-d-md-none">費用も安くすむ。
                        なにより来るだけで楽しくて元気になる。」`,
                        true
                      ) %>
                    </h3>
                  </div>
                  </div>
                </div>
              </div>
              <div class="sec-content__item js-scroll-object">
                <div class="sec-content__box">
                  <div class="sec-content__container">
                    <div class="sec-content__scroll-line">
                    <span class="line"></span>
                    </div>
                    <div class="message-typo--horizontal">
                      <h3 class="message-typo__item message-typo__item--horizontal">
                        今、人生でいちばん<br class="u-d-md-none">充実しています。<br>院長のおかげですよ。
                      </h3>
                      <ul class="sec-content__btns">
                        <li class="sec-content__btn-item">
                          <a href="/message/story01.shtml" class="c-button--arrow sec-content__button sec-content__button--prev"><svg class="icon icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>前のストーリーを見る</a>
                        </li>
                        <li class="sec-content__btn-item">
                          <a href="/message/story03.shtml" class="c-button--arrow sec-content__button"><svg class="icon icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>次のストーリーを見る</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    <div data-header-check>
      <%- include('/message_story') %>
      </div>

    </main><!-- .l-main -->

    <!--#include virtual="/includes/footer.inc" -->
  <div class="u-d-none">
    <%- include('/_svg-symbols') %>
  </div>

  </div><!-- .l-page -->

  <script src="/assets/scripts/vendors.js" defer></script>
  <script src="/assets/scripts/pages/common.js" defer></script>
  <script src="/assets/scripts/pages/message/story.js" defer></script>

</body>

</html>
