<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>ひと夏の小さな約束｜スマサンストーリー｜スマイルアンドサンキュー株式会社 採用サイト</title>
  <meta name="description" content="整骨院・接骨院・鍼灸院のスマイルアンドサンキュー株式会社の採用情報サイト。やりがいをもって仕事をしているスタッフのエピソードを紹介しております。">

  <meta property="og:title" content="ひと夏の小さな約束｜スマサンストーリー｜スマイルアンドサンキュー株式会社 採用サイト"><!-- To support Twitter Cards you need to fill in the content. -->
  <meta property="og:type" content="article"><!-- You need to fill in the content with "website" for the top page, and "article" for the other pages. -->
  <meta property="og:image" content="http://recruit.smile-39.com/assets/images/ogp.png"><!-- You need to fill in the content with the production URL of the image. -->
  <meta property="og:url" content="http://recruit.smile-39.com/message/story04.shtml"><!-- You need to fill in the content with the production URL of this page. -->
  <meta property="og:description" content="整骨院・接骨院・鍼灸院のスマイルアンドサンキュー株式会社の採用情報サイト。やりがいをもって仕事をしているスタッフのエピソードを紹介しております。"><!-- To support Twitter Cards this tag is required, and you need to fill in the content. -->
  <meta name="twitter:card" content="summary">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<%- include('/functions') %>
<!--#include virtual="/includes/gtm-head.inc" -->

  <link rel="stylesheet" href="/assets/styles/main.css">
  <link rel="stylesheet" href="/assets/styles/pages/common/style.css">
  <link rel="stylesheet" href="/assets/styles/pages/message/style.css">
</head>

<body>

  <!--#include virtual="/includes/gtm-body.inc" -->

  <div class="l-page" data-page="story04">
    <%- include('/page-loading') %>
    <!--#include virtual="/includes/header.inc" -->

    <main class="l-main">

      <section class="sec-content" id="js-scroll" data-fade-in-complete="-1" data-fade-out-start="1">
        <div class="sec-content__inner">
          <div class="sec-content__images sec-content__images--04">
            <div class="sec-content__image--01 js-scroll-image"></div>
            <div class="sec-content__image--02 js-scroll-image"></div>
            <div class="sec-content__image--03 js-scroll-image"></div>
            <div class="sec-content__image--04 js-scroll-image"></div>
            <div class="sec-content__image--05 js-scroll-image"></div>
            <div class="sec-content__image--06 js-scroll-image"></div>
            <div class="sec-content__image--01 js-scroll-image"></div>
          </div>
          <div class="sec-content__body">
            <div class="sec-content__wrapper">
              <div class="sec-content__item js-scroll-object">
                <div class="sec-content__box">
                  <div class="sec-content__container">
                    <div class="sec-content__scroll-line">
                    <span class="line"></span>
                    </div>
                    <div class="sec-content__typos">
                      <h1 class="sec-content__logo">
                        <picture>
                          <source media="(min-width: 768px)" srcset="@img-message/story04/content_logo_md.png">
                          <img src="@img-message/story04/content_logo.png" class="img" alt="スマサンストーリー EPISOUDE.04" width="218" height="132">
                        </picture>
                      </h1>
                      <h2 class="sec-content__ttl">
                        ひと夏の小さな約束
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sec-content__item js-scroll-object">
                <div class="sec-content__box">
                  <div class="sec-content__container">
                    <div class="message-typo">
                      <h3 class="message-typo__item">
                        <%- splitMessageTypo(
                          `梅雨時のある日、
                          初老の女性、Ｋさんが来院。
                          Ｋさんは<span class="message-typo__ruby" data-ruby="せきちゅうかんきょうさくしょう">脊柱管狭窄症</span>を患い、
                          ５分歩くともう歩けなくなる。
                          家から院までの５００メートルの間に
                          ３回は休憩が必要だという。
                          `,
                          true
                        ) %>
                      </h3>
                      <h3 class="message-typo__item message-typo__item--hidden">
                        <%- splitMessageTypo(
                          `<span class="message-typo__parentheses">「あの実は・・・</span>
                            孫と多摩川の花火大会に
                            行く約束をしたんです。」
                            花火大会は８月１５日。
                            あと２ヶ月しかない。
                            <span class="message-typo__parentheses">「わかりました、一緒に頑張りましょう。」</span>
                            そこから二人三脚の治療が始まった。
                            いや、もう一人、
                            新人の女性スタッフも一緒に。`,
                          false
                        ) %>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sec-content__item js-scroll-object">
                <div class="sec-content__box">
                  <div class="sec-content__container">
                    <div class="message-typo">
                      <h3 class="message-typo__item message-typo__item--sp-none">
                        <%- splitMessageTypo(
                          `梅雨時のある日、
                          初老の女性、Ｋさんが来院。
                          Ｋさんは<span class="message-typo__ruby" data-ruby="せきちゅうかんきょうさくしょう">脊柱管狭窄症</span>を患い、
                          ５分歩くともう歩けなくなる。
                          家から院までの５００メートルの間に
                          ３回は休憩が必要だという。
                          `,
                          false
                        ) %>
                      </h3>
                      <h3 class="message-typo__item">
                        <%- splitMessageTypo(
                          `<span class="message-typo__parentheses">「あの実は・・・</span>
                            孫と多摩川の花火大会に
                            行く約束をしたんです。」
                            花火大会は８月１５日。
                            あと２ヶ月しかない。
                            <span class="message-typo__parentheses">「わかりました、一緒に頑張りましょう。」</span>
                            そこから二人三脚の治療が始まった。
                            いや、もう一人、
                            新人の女性スタッフも一緒に。`,
                          true
                        ) %>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sec-content__item js-scroll-object sec-content__item--delimiter">
                <div class="sec-content__box">
                  <div class="sec-content__container">
                    <div class="sec-content__scroll-line">
                    <span class="line"></span>
                    </div>
                    <div class="message-typo message-typo--single">
                      <div class="message-typo--horizontal">
                        <h3 class="message-typo__item message-typo__item--horizontal">
                          花火大会の当日、<br>
                          お孫さんの手を引いて<br class="u-d-md-none">来院された彼女を、<br>
                          スタッフみんな、<br class="u-d-md-none">笑顔で見送った。
                        </h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sec-content__item js-scroll-object">
                <div class="sec-content__box">
                  <div class="sec-content__container">
                    <div class="message-typo">
                      <h3 class="message-typo__item">
                          <%- splitMessageTypo(
                            `毎日の来院。
                            それだけでもＫさんには<br class="u-d-md-none">とても大変なこと。
                            新人の女性スタッフが話し相手になり
                            Ｋさんの心をケア。
                            そして、私が身体を治療する。`,
                            true
                          ) %>
                        </h3>
                        <h3 class="message-typo__item">
                          <%- splitMessageTypo(
                            `<span class="message-typo__parentheses">「今日は休まずに歩けましたよ。」</span>
                            日々の小さな変化に希望が芽生え、
                            すこしずつＫさんの表情も
                            明るくなっていった。`,
                            true
                          ) %>
                        </h3>
                        <h3 class="message-typo__item message-typo__item--hidden">
                          <%- splitMessageTypo(
                            `<span class="message-typo__parentheses">「先生、行ってきますね。」</span>
                            花火大会の当日、
                            お孫さんの手を引いて<br class="u-d-md-none">来院されたＫさんを、
                            スタッフみんな、笑顔で見送った。
                            あれだけの人混みの中を
                            お孫さんと手をつないで幸せそうに歩く。
                            その姿に心が震えた。
                            心と身体、人間のぜんぶに
                            向き合う仕事ができた。`,
                            false
                          ) %>
                        </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sec-content__item js-scroll-object">
                <div class="sec-content__box">
                  <div class="sec-content__container">
                    <div class="message-typo">
                      <h3 class="message-typo__item message-typo__item--sp-none">
                          <%- splitMessageTypo(
                            `毎日の来院。
                            それだけでもＫさんにはとても大変なこと。
                            新人の女性スタッフが話し相手になり
                            Ｋさんの心をケア。
                            そして、私が身体を治療する。`,
                            false
                          ) %>
                        </h3>
                        <h3 class="message-typo__item message-typo__item--sp-none">
                          <%- splitMessageTypo(
                            `<span class="message-typo__parentheses">「今日は休まずに歩けましたよ。」</span>
                            日々の小さな変化に希望が芽生え、
                            すこしずつＫさんの表情も
                            明るくなっていった。`,
                            false
                          ) %>
                        </h3>
                        <h3 class="message-typo__item">
                          <%- splitMessageTypo(
                            `<span class="message-typo__parentheses">「先生、行ってきますね。」</span>
                            花火大会の当日、
                            お孫さんの手を引いて<br class="u-d-md-none">来院されたＫさんを、
                            スタッフみんな、笑顔で見送った。
                            あれだけの人混みの中を
                            お孫さんと手をつないで幸せそうに歩く。
                            その姿に心が震えた。
                            心と身体、人間のぜんぶに
                            向き合う仕事ができた。`,
                            true
                          ) %>
                        </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sec-content__item js-scroll-object">
                <div class="sec-content__box">
                  <div class="sec-content__container">
                    <div class="sec-content__scroll-line">
                    <span class="line"></span>
                    </div>
                    <div class="message-typo--horizontal">
                      <h3 class="message-typo__item message-typo__item--horizontal">
                        ひと夏の小さな約束を<br>叶えることができた。
                      </h3>
                      <ul class="sec-content__btns">
                        <li class="sec-content__btn-item">
                          <a href="/message/story03.shtml" class="c-button--arrow sec-content__button sec-content__button--prev"><svg class="icon icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>前のストーリーを見る</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    <div data-header-check>
      <%- include('/message_story') %>
      </div>

    </main><!-- .l-main -->

    <!--#include virtual="/includes/footer.inc" -->
  <div class="u-d-none">
    <%- include('/_svg-symbols') %>
  </div>

  </div><!-- .l-page -->

  <script src="/assets/scripts/vendors.js" defer></script>
  <script src="/assets/scripts/pages/common.js" defer></script>
  <script src="/assets/scripts/pages/message/story.js" defer></script>

</body>

</html>
