<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>聞きたかった言葉｜スマサンストーリー｜スマイルアンドサンキュー株式会社 採用サイト</title>
  <meta name="description" content="整骨院・接骨院・鍼灸院のスマイルアンドサンキュー株式会社の採用情報サイト。やりがいをもって仕事をしているスタッフのエピソードを紹介しております。">

  <meta property="og:title" content="聞きたかった言葉｜スマサンストーリー｜スマイルアンドサンキュー株式会社 採用サイト"><!-- To support Twitter Cards you need to fill in the content. -->
  <meta property="og:type" content="article"><!-- You need to fill in the content with "website" for the top page, and "article" for the other pages. -->
  <meta property="og:image" content="http://recruit.smile-39.com/assets/images/ogp.png"><!-- You need to fill in the content with the production URL of the image. -->
  <meta property="og:url" content="http://recruit.smile-39.com/message/story03.shtml"><!-- You need to fill in the content with the production URL of this page. -->
  <meta property="og:description" content="整骨院・接骨院・鍼灸院のスマイルアンドサンキュー株式会社の採用情報サイト。やりがいをもって仕事をしているスタッフのエピソードを紹介しております。"><!-- To support Twitter Cards this tag is required, and you need to fill in the content. -->
  <meta name="twitter:card" content="summary">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<%- include('/functions') %>
<!--#include virtual="/includes/gtm-head.inc" -->

  <link rel="stylesheet" href="/assets/styles/main.css">
  <link rel="stylesheet" href="/assets/styles/pages/common/style.css">
  <link rel="stylesheet" href="/assets/styles/pages/message/style.css">
</head>

<body>

  <!--#include virtual="/includes/gtm-body.inc" -->

  <div class="l-page" data-page="story03">
    <%- include('/page-loading') %>
    <!--#include virtual="/includes/header.inc" -->

    <main class="l-main">

      <section class="sec-content" id="js-scroll" data-fade-in-complete="-1" data-fade-out-start="1">
        <div class="sec-content__inner">
          <div class="sec-content__images sec-content__images--03">
            <div class="sec-content__image--01 js-scroll-image"></div>
            <div class="sec-content__image--02 js-scroll-image"></div>
            <div class="sec-content__image--03 js-scroll-image"></div>
            <div class="sec-content__image--04 js-scroll-image"></div>
            <div class="sec-content__image--05 js-scroll-image"></div>
            <div class="sec-content__image--06 js-scroll-image"></div>
            <div class="sec-content__image--01 js-scroll-image"></div>
          </div>
          <div class="sec-content__body">
            <div class="sec-content__wrapper">
              <div class="sec-content__item js-scroll-object">
                <div class="sec-content__box">
                  <div class="sec-content__container">
                    <div class="sec-content__scroll-line">
                    <span class="line"></span>
                    </div>
                    <div class="sec-content__typos">
                      <h1 class="sec-content__logo">
                        <picture>
                          <source media="(min-width: 768px)" srcset="@img-message/story03/content_logo_md.png">
                          <img src="@img-message/story03/content_logo.png" class="img" alt="スマサンストーリー EPISOUDE.03" width="218" height="132">
                        </picture>
                      </h1>
                      <h2 class="sec-content__ttl">
                        聞きたかった言葉
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sec-content__item js-scroll-object">
                <div class="sec-content__box">
                  <div class="sec-content__container">
                    <div class="message-typo">
                      <h3 class="message-typo__item">
                        <%- splitMessageTypo(
                          `Ｈさんは大学サッカー部の４年生。
                          高校時代にはインターハイにも
                          出場経験のある選手。
                          しかし大学ではケガの繰り返しで
                          ＡチームとＢチームを行き来する日々。
                          `,
                          true
                        ) %>
                      </h3>
                      <h3 class="message-typo__item">
                        <%- splitMessageTypo(
                          `来院されたのが今から３年前。
                          無口で我が強くなかなか心を開かない。
                          サッカー選手のＦＷポジションに
                          よくみられる性格だ。
                          来院当初は通院を続けてくれるか
                          心配だったが治療の必要性を説明し、
                          真剣に向き合った結果、
                          信頼関係が生まれ継続して<br class="u-d-md-none">来院してくれた。`,
                          true
                        ) %>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sec-content__item js-scroll-object">
                <div class="sec-content__box">
                  <div class="sec-content__container">
                    <div class="message-typo">
                      <h3 class="message-typo__item">
                        <%- splitMessageTypo(
                          `以前は身体の痛みや足の痙攣が頻発して、
                          フル出場もままならい状態だったが
                          その症状は改善し、
                          フル出場できるようになった。
                          その後もパフォーマンス向上を目的に
                          継続して来院。
                          そして、ついにレギュラーに定着。
                          `,
                          true
                        ) %>
                      </h3>
                      <h3 class="message-typo__item">
                        <%- splitMessageTypo(
                          `迎えた大学サッカー最後の公式戦。
                          試合前にＨさんはこう言った。
                          <span class="message-typo__parentheses">「先生、今日が人生最後の</span>
                          ガチンコサッカーです。
                          最高のコンディションです。
                          本当にありがとうございました。
                          観ていてください。」`,
                          true
                        ) %>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sec-content__item js-scroll-object sec-content__item--delimiter">
                <div class="sec-content__box">
                  <div class="sec-content__container">
                    <div class="sec-content__scroll-line">
                    <span class="line"></span>
                    </div>
                    <div class="message-typo message-typo--single">
                      <div class="message-typo--horizontal">
                        <h3 class="message-typo__item message-typo__item--horizontal">
                          自分のサッカー人生で、<br>一番思い出に残る<br class="u-d-md-none">試合になった。
                        </h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sec-content__item js-scroll-object">
                <div class="sec-content__box">
                  <div class="sec-content__container">
                    <div class="message-typo">
                      <h3 class="message-typo__item">
                        <%- splitMessageTypo(
                          `試合は前半を終わって０対２。
                          Ｈさんは見せ場なく、
                          重たい雰囲気のまま後半戦へ。
                          諦めかけていた後半２５分、
                          ゲームが動いた。
                          Ｈさんが立て続けに
                          ２ゴールあげて２対２の同点。
                          試合はそのままＰＫ戦へ。
                          相手校が１本外し、
                          これが決まれば勝利が決まる。`,
                          true
                        ) %>
                      </h3>
                      <h3 class="message-typo__item message-typo__item--hidden">
                        <%- splitMessageTypo(
                          `最終キッカーはＨさん。
                          Ｈさんは見事にシュートを決め、
                          引退試合を有終の美を飾った。
                          「自分のサッカー人生で、
                          一番思い出に残る試合になった」
                          Ｈさんは試合後に興奮しながら
                          嬉しそうに言った。`,
                          false
                        ) %>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sec-content__item js-scroll-object">
                <div class="sec-content__box">
                  <div class="sec-content__container">
                    <div class="message-typo">
                      <h3 class="message-typo__item message-typo__item--sp-none">
                        <%- splitMessageTypo(
                          `試合は前半を終わって０対２。
                          Ｈさんは見せ場なく、
                          重たい雰囲気のまま後半戦へ。
                          諦めかけていた後半２５分、
                          ゲームが動いた。
                          Ｈさんが立て続けに
                          ２ゴールあげて２対２の同点。
                          試合はそのままＰＫ戦へ。
                          相手校が１本外し、
                          これが決まれば勝利が決まる。`,
                          false
                        ) %>
                      </h3>
                      <h3 class="message-typo__item">
                        <%- splitMessageTypo(
                          `最終キッカーはＨさん。
                          Ｈさんは見事にシュートを決め、
                          引退試合を有終の美を飾った。
                          <span class="message-typo__parentheses">「自分のサッカー人生で、</span>
                          一番思い出に残る試合になった」
                          Ｈさんは試合後に興奮しながら
                          嬉しそうに言った。`,
                          true
                        ) %>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sec-content__item js-scroll-object">
                <div class="sec-content__box">
                  <div class="sec-content__container">
                    <div class="sec-content__scroll-line">
                    <span class="line"></span>
                    </div>
                    <div class="message-typo--horizontal">
                      <h3 class="message-typo__item message-typo__item--horizontal">
                        私が柔道整復師を<br class="u-d-md-none">目指したのは、<br>この言葉を<br class="u-d-md-none">聞きたかったから。
                      </h3>
                      <ul class="sec-content__btns">
                        <li class="sec-content__btn-item">
                          <a href="/message/story02.shtml" class="c-button--arrow sec-content__button sec-content__button--prev"><svg class="icon icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>前のストーリーを見る</a>
                        </li>
                        <li class="sec-content__btn-item">
                          <a href="/message/story04.shtml" class="c-button--arrow sec-content__button"><svg class="icon icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>次のストーリーを見る</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    <div data-header-check>
      <%- include('/message_story') %>
      </div>

    </main><!-- .l-main -->

    <!--#include virtual="/includes/footer.inc" -->
  <div class="u-d-none">
    <%- include('/_svg-symbols') %>
  </div>

  </div><!-- .l-page -->

  <script src="/assets/scripts/vendors.js" defer></script>
  <script src="/assets/scripts/pages/common.js" defer></script>
  <script src="/assets/scripts/pages/message/story.js" defer></script>

</body>

</html>
