<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>スタートラインに立った日｜スマサンストーリー｜スマイルアンドサンキュー株式会社 採用サイト</title>
  <meta name="description" content="整骨院・接骨院・鍼灸院のスマイルアンドサンキュー株式会社の採用情報サイト。やりがいをもって仕事をしているスタッフのエピソードを紹介しております。">

  <meta property="og:title" content="スタートラインに立った日｜スマサンストーリー｜スマイルアンドサンキュー株式会社 採用サイト"><!-- To support Twitter Cards you need to fill in the content. -->
  <meta property="og:type" content="article"><!-- You need to fill in the content with "website" for the top page, and "article" for the other pages. -->
  <meta property="og:image" content="http://recruit.smile-39.com/assets/images/ogp.png"><!-- You need to fill in the content with the production URL of the image. -->
  <meta property="og:url" content="http://recruit.smile-39.com/message/story01.shtml"><!-- You need to fill in the content with the production URL of this page. -->
  <meta property="og:description" content="整骨院・接骨院・鍼灸院のスマイルアンドサンキュー株式会社の採用情報サイト。やりがいをもって仕事をしているスタッフのエピソードを紹介しております。"><!-- To support Twitter Cards this tag is required, and you need to fill in the content. -->
  <meta name="twitter:card" content="summary">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

<!--#include virtual="/includes/gtm-head.inc" -->

  <link rel="stylesheet" href="/assets/styles/main.css">
  <link rel="stylesheet" href="/assets/styles/pages/common/style.css">
  <link rel="stylesheet" href="/assets/styles/pages/message/style.css">
</head>

<body>
<%- include('/functions') %>
  <!--#include virtual="/includes/gtm-body.inc" -->

  <div class="l-page" data-page="story01">
    <%- include('/page-loading') %>
    <!--#include virtual="/includes/header.inc" -->

    <main class="l-main">

      <section class="sec-content" id="js-scroll">
        <div class="sec-content__inner">
          <div class="sec-content__images sec-content__images--01">
            <div class="sec-content__image--01 js-scroll-image"></div>
            <div class="sec-content__image--02 js-scroll-image"></div>
            <div class="sec-content__image--03 js-scroll-image"></div>
            <div class="sec-content__image--04 js-scroll-image"></div>
            <div class="sec-content__image--05 js-scroll-image"></div>
            <div class="sec-content__image--06 js-scroll-image"></div>
            <div class="sec-content__image--07 js-scroll-image"></div>
            <div class="sec-content__image--01 js-scroll-image"></div>
          </div>
          <div class="sec-content__body">
            <div class="sec-content__wrapper">
              <div class="sec-content__item js-scroll-object">
                <div class="sec-content__box">
                  <div class="sec-content__container">
                  <div class="sec-content__scroll-line">
                    <span class="line"></span>
                  </div>
                  <div class="sec-content__typos">
                    <h1 class="sec-content__logo">
                      <picture>
                        <source media="(min-width: 768px)" srcset="@img-message/story01/content_logo_md.png">
                        <img src="@img-message/story01/content_logo.png" class="img" alt="スマサンストーリー EPISOUDE.01" width="218" height="132">
                      </picture>
                    </h1>
                    <h2 class="sec-content__ttl">
                      スタートラインに<br class="u-d-md-none">立った日
                    </h2>
                  </div>
                  </div>
                </div>
              </div>
              <div class="sec-content__item js-scroll-object">
                <div class="sec-content__box">
                  <div class="sec-content__container">
                    <div class="message-typo">
                      <h3 class="message-typo__item">
                        <%- splitMessageTypo(
                          `高校時代は陸上部。
                          インターハイにも出場した。
                          最後の大会直前に股関節をケガ。
                          あらゆる医療機関を訪ねたが、
                          間に合わなかった。
                          心に穴が空いた。`,
                          true
                        ) %>
                      </h3>
                      <h3 class="message-typo__item message-typo__item--hidden">
                        <%- splitMessageTypo(
                          `人並みに受験勉強した。
                          でも大学には受からなかった。
                          選んだのは柔道整復術の医療専門学校。
                          「自分と同じような人を救いたい。」
                          国家資格を取り、整骨院で働き出した。
                          いつも自問していた。
                          あの時の自分を治せるだろうか。
                          力が足りない。失望感。
                          転職を繰り返した。`,
                          false
                        ) %>
                      </h3>
                      <h3 class="message-typo__item message-typo__item--hidden">
                        <%- splitMessageTypo(
                          `求人誌を開いた先にあったのが、
                          スマイルアンドサンキューだった。
                          ここでダメだったらもうあきらめよう。
                          そう覚悟して入社した。`,
                          false
                        ) %>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sec-content__item js-scroll-object">
                <div class="sec-content__box">
                  <div class="sec-content__container">
                    <div class="message-typo">
                      <h3 class="message-typo__item message-typo__item--sp-none">
                        <%- splitMessageTypo(
                          `高校時代は陸上部。
                          インターハイにも出場した。
                          最後の大会直前に股関節をケガ。
                          あらゆる医療機関を訪ねたが、
                          間に合わなかった。
                          心に穴が空いた。`,
                          false
                        ) %>
                      </h3>
                      <h3 class="message-typo__item">
                        <%- splitMessageTypo(
                          `人並みに受験勉強した。
                          でも大学には受からなかった。
                          選んだのは柔道整復術の医療専門学校。
                          <span class="message-typo__parentheses">「自分と同じような人を救いたい。」</span>
                          国家資格を取り、整骨院で働き出した。
                          いつも自問していた。
                          あの時の自分を治せるだろうか。
                          力が足りない。失望感。
                          転職を繰り返した。`,
                          true
                        ) %>
                      </h3>
                      <h3 class="message-typo__item message-typo__item--hidden">
                        <%- splitMessageTypo(
                          `求人誌を開いた先にあったのが、
                          スマイルアンドサンキューだった。
                          ここでダメだったらもうあきらめよう。
                          そう覚悟して入社した。`,
                          false
                        ) %>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sec-content__item js-scroll-object">
                <div class="sec-content__box">
                  <div class="sec-content__container">
                    <div class="message-typo">
                      <h3 class="message-typo__item message-typo__item--sp-none">
                        <%- splitMessageTypo(
                          `高校時代は陸上部。
                          インターハイにも出場した。
                          最後の大会直前に股関節をケガ。
                          あらゆる医療機関を訪ねたが、
                          間に合わなかった。
                          心に穴が空いた。`,
                          false
                        ) %>
                      </h3>
                      <h3 class="message-typo__item message-typo__item--sp-none">
                        <%- splitMessageTypo(
                          `人並みに受験勉強した。
                          でも大学には受からなかった。
                          選んだのは柔道整復術の医療専門学校。
                          <span class="message-typo__parentheses">「自分と同じような人を救いたい。」</span>
                          国家資格を取り、整骨院で働き出した。
                          いつも自問していた。
                          あの時の自分を治せるだろうか。
                          力が足りない。失望感。
                          転職を繰り返した。`,
                          false
                        ) %>
                      </h3>
                      <h3 class="message-typo__item ">
                        <%- splitMessageTypo(
                          `求人誌を開いた先にあったのが、
                          スマイルアンドサンキューだった。
                          ここでダメだったらもうあきらめよう。
                          そう覚悟して入社した。`,
                          true
                        ) %>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sec-content__item js-scroll-object sec-content__item--delimiter">
                <div class="sec-content__box">
                  <div class="sec-content__container">
                    <div class="sec-content__scroll-line">
                    <span class="line"></span>
                    </div>
                    <div class="message-typo--horizontal">
                      <h3 class="message-typo__item message-typo__item--horizontal">
                        「もうダメかな」<br class="u-d-md-none">と呟いた彼が、<br class="u-d-none u-d-md-block">3カ月後に<br class="u-d-md-none">自転車を再開した。<br>その患者は、<br class="u-d-md-none">ここで人生を取り戻した。
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sec-content__item js-scroll-object">
                <div class="sec-content__box">
                  <div class="sec-content__container">
                    <div class="message-typo">
                      <h3 class="message-typo__item">
                        <%- splitMessageTypo(
                          `３年目に院長になった頃、
                          ある患者様と出会った。
                          趣味の自転車で足を痛めたと言う。
                          ふくらはぎが完全に麻痺している。
                          <span class="message-typo__parentheses">「もうダメなのかな。」</span>
                          彼のその呟きに、言葉が口をついた。
                          <span class="message-typo__parentheses">「あきらめないでください。</span>
                          僕が治療しますから。」`,
                          true
                        ) %>
                      </h3>
                      <h3 class="message-typo__item message-typo__item--hidden">
                        <%- splitMessageTypo(
                          `毎日来院してもらった。
                          ３ヶ月ほどで、
                          杖なしでも歩けるようになった。
                          ある日、いつもの明るい彼が真顔で言った。
                          <span class="message-typo__parentheses">「俺、また自転車やる。</span>
                          院長に人生を取り戻してもらったから。」
                          笑ってごまかしたのに涙がこぼれた。
                          `,
                          false
                        ) %>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sec-content__item js-scroll-object">
                <div class="sec-content__box">
                  <div class="sec-content__container">
                    <div class="message-typo">
                      <h3 class="message-typo__item message-typo__item--sp-none">
                        <%- splitMessageTypo(
                          `３年目に院長になった頃、
                          ある患者様と出会った。
                          趣味の自転車で足を痛めたと言う。
                          ふくらはぎが完全に麻痺している。
                          <span class="message-typo__parentheses">「もうダメなのかな。」</span>
                          彼のその呟きに、言葉が口をついた。
                          <span class="message-typo__parentheses">「あきらめないでください。</span>
                          僕が治療しますから。」`,
                          false
                        ) %>
                      </h3>
                      <h3 class="message-typo__item">
                        <%- splitMessageTypo(
                          `毎日来院してもらった。
                          ３ヶ月ほどで、
                          杖なしでも歩けるようになった。
                          ある日、<br class="u-d-md-none">いつもの明るい彼が真顔で言った。
                          <span class="message-typo__parentheses">「俺、また自転車やる。</span>
                          院長に人生を<br class="u-d-md-none">取り戻してもらったから。」
                          笑ってごまかしたのに涙がこぼれた。
                          `,
                          true
                        ) %>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sec-content__item js-scroll-object" >
                <div class="sec-content__box">
                  <div class="sec-content__container">
                    <div class="sec-content__scroll-line">
                    <span class="line"></span>
                    </div>
                    <div class="message-typo--horizontal">
                      <h3 class="message-typo__item message-typo__item--horizontal">
                        この日、<br>やっとスタートラインに<br class="u-d-md-none">立てた気がした。
                      </h3>
                      <ul class="sec-content__btns">
                        <li class="sec-content__btn-item">
                          <a href="/message/story02.shtml" class="c-button--arrow sec-content__button"><svg class="icon icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>次のストーリーを見る</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <div data-header-check>
      <%- include('/message_story') %>
      </div>

    </main><!-- .l-main -->

    <!--#include virtual="/includes/footer.inc" -->
  <div class="u-d-none">
    <%- include('/_svg-symbols') %>
  </div>

  </div><!-- .l-page -->

  <script src="/assets/scripts/vendors.js" defer></script>
  <script src="/assets/scripts/pages/common.js" defer></script>
  <script src="/assets/scripts/pages/message/story.js" defer></script>

</body>

</html>
