.sec-mv {
  position: relative;
  width: 100%;

  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
  }

  &__wrapper {
    @include media-breakpoint-up(md) {
      position: relative;
      width: 1160px;
      height: 100%;
      margin: auto;
    }
  }

  &__text {
    position: absolute;
    top: 85px;
    right: 30px;
    font-family: $base-jp-font01;
    font-size: 23px;
    font-weight: 500;
    line-height: 1.95;
    letter-spacing: 0.2em;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;

    @include media-breakpoint-between(md, 1566px) {
      top: calc(50% + 120px);
      height: 44vw;
      font-size: 2.1vw;
      transform: translateY(-50%);
    }

    @include media-breakpoint-up(md) {
      top: 9vw;
      right: 0;
      font-size: 40px;
    }
  }

  &__typo {
    padding: 15px 0;
    background: #fff;
  }

  &__info {
    position: absolute;
    bottom: -1px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(50% + 100px);
    height: 90px;
    padding-left: 30px;
    background: $base-color03;

    @include media-breakpoint-up(md) {
      width: calc(50% + 320px);
      height: 100px;
      padding-left: 80px;
    }
  }
}

.staff-info {
  @include media-breakpoint-up(md) {
    display: flex;
    align-items: flex-end;
  }

  &__name {
    font-family: $base-jp-font01;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.07em;

    @include media-breakpoint-up(md) {
      margin-right: 35px;
      font-size: 36px;
    }
  }

  &__career {
    margin-top: 8px;

    @include media-breakpoint-up(md) {
      font-size: 16px;
    }
  }
}
