.sec-give {
  color: #fff;
  background: rgba(#3a4c50, 0.6);

  @include media-breakpoint-up(md) {
    height: 710px;
  }

  .l-container {
    padding: 0;
  }

  &__wrapper {
    padding: 95px 0 90px;

    @include media-breakpoint-up(md) {
      padding: 180px 0 30px;
    }
  }
}

.message-wrap {
  &__box {
    padding: 0 30px;
  }

  &__en {
    font-family: $base-en-font01;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.05em;

    @include media-breakpoint-up(md) {
      font-size: 18px;
    }

    .color01 {
      color: $base-color02;
    }

    .color02 {
      color: $base-color01;
    }
  }

  &__ttl {
    margin-top: 30px;
    font-family: $base-jp-font01;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.75;
    text-align: center;
    letter-spacing: 0.1em;

    @include media-breakpoint-up(md) {
      margin-top: 70px;
      font-size: 34px;
    }
  }

  &__text {
    margin-top: 20px;
    font-size: 13px;
    line-height: 2.46;
    letter-spacing: 0.07em;

    @include media-breakpoint-up(md) {
      margin-top: 40px;
      font-size: 14px;
      line-height: 2.57;
    }
  }
}
