.sec-cross-interview {
  position: relative;
  padding: 20px 0 40px;
  background: #fff;

  @include media-breakpoint-up(md) {
    padding: 40px 0 100px;
  }
}

.interview-content {
  padding: 0;

  @include media-breakpoint-up(md) {
    position: relative;
  }

  &__title {
    font-family: $base-jp-font01;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.7;
    letter-spacing: 0.1em;

    @include media-breakpoint-up(md) {
      font-size: 36px;
    }
  }

  &__content {
    padding: 50px 0 0 55px;

    @include media-breakpoint-up(md) {
      padding-left: 0;
    }
  }

  &__text {
    margin-top: 40px;
    font-size: 13px;
    line-height: 2.4;
    letter-spacing: 0.07em;

    @include media-breakpoint-up(md) {
      font-size: 14px;
    }
  }

  &__movie {
    margin: 40px -30px 0;
    text-align: center;

    @include media-breakpoint-up(md) {
      margin: 60px 0 0 auto;
    }
  }

  &__accessory {
    position: absolute;
    top: 0;
    left: 30px;
    font-family: $base-en-font01;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.05em;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;

    @include media-breakpoint-up(md) {
      left: 0;
      font-size: 60px;
    }

    .color01 {
      color: $base-color02;
    }

    .color02 {
      color: $base-color01;
    }
  }
}

.interview-movie {
  width: 100%;
  height: 210px;

  @include media-breakpoint-up(md) {
    width: 1050px;
    height: 590px;
  }
}
