.sec-interview {
  $this: #{&};

  position: relative;
  padding: 70px 0 80px;
  background: #fff;

  @include media-breakpoint-up(md) {
    padding: 190px 0 153px;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: calc(50% + 100px);
    height: 100%;
    content: '';
    background-color: $base-color03;

    @at-root #{$this}--reverce:after {
      right: 0;
      left: auto;
      height: calc(100% - 100px);

      @include media-breakpoint-up(md) {
        height: calc(100% - 200px);
      }
    }

    @include media-breakpoint-up(md) {
      width: calc(50% + 320px);
    }
  }

  &__wrapper {
    position: relative;
    z-index: 2;
  }

  &--reverce {
    padding: 70px 0 180px;

    @include media-breakpoint-up(md) {
      padding: 190px 0 353px;
    }
  }

  + .sec-interview {
    position: relative;
    margin: 95px 0 0;

    @include media-breakpoint-up(md) {
      margin: 190px 0 0;
    }

    &::before {
      position: absolute;
      top: -95px;
      left: 0;
      width: 100%;
      height: 95px;
      content: '';
      background: #fff;

      @include media-breakpoint-up(md) {
        top: -190px;
        height: 190px;
      }
    }
  }
}

.interview-item {
  $this: #{&};

  + #{$this} {
    margin-top: 70px;

    @include media-breakpoint-up(md) {
      margin-top: 125px;
    }
  }

  &__title {
    position: relative;
    z-index: 1;
    font-family: $base-jp-font01;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.1em;

    @include media-breakpoint-up(md) {
      flex: 1;
      font-size: 34px;
      line-height: 1.7;
      letter-spacing: 0.1em;
    }

    &::before {
      position: absolute;
      top: -30px;
      left: -25px;
      z-index: -1;
      font-family: $base-en-font01;
      font-size: 100px;
      font-weight: 500;
      line-height: 1;
      color: #fff;
      content: attr(data-num) '';

      @include media-breakpoint-up(md) {
        top: -80px;
        left: -132px;
        font-size: 200px;
      }
    }

    .sec-interview--reverce & {
      &::before,
      &::after {
        position: absolute;
        top: -30px;
        left: -25px;
        z-index: -1;
        font-family: $base-en-font01;
        font-size: 100px;
        font-weight: 500;
        line-height: 1;
        color: #fff;
        content: attr(data-num) '';

        @include media-breakpoint-up(md) {
          top: -61px;
          left: -132px;
          font-size: 200px;
        }
      }

      &::after {
        right: calc(50% + 100px);
        overflow: hidden;
        color: $base-color03;
      }
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    margin-top: 20px;
    font-size: 13px;
    line-height: 2.46;
    letter-spacing: 0.07em;

    @include media-breakpoint-up(md) {
      padding: 0 0 0 200px;
      margin-top: 30px;
      font-size: 14px;
      line-height: 2.5;
    }

    &::before {
      @include media-breakpoint-up(md) {
        position: absolute;
        top: 17px;
        left: 0;
        width: 180px;
        height: 1px;
        content: '';
        background: #000;
      }
    }
  }
}
