.staff-pagenation {
  position: relative;
  padding: 95px 0 100px;
  margin: 0 auto;
  background: #fff;

  @include media-breakpoint-up(md) {
    padding: 160px 30px 200px;
  }

  &__wrap {
    display: flex;
    padding: 0 30px;
    margin: 0 -12.25px;

    @include media-breakpoint-up(md) {
      justify-content: space-between;
      max-width: 1160px;
      margin: 0 auto;
    }
  }
}

.staff-button {
  $this: #{&};

  position: relative;
  width: 50%;
  padding: 0 12.25px;

  @include media-breakpoint-up(md) {
    display: flex;
    flex: 1;
    align-items: center;
  }

  &--next {
    @include media-breakpoint-up(md) {
      flex-direction: row-reverse;
    }
  }

  &__img-box {
    position: relative;

    @include media-breakpoint-up(md) {
      width: 248px;
      overflow: hidden;
    }
  }

  .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: 0.5s $ease-base;

    @at-root #{$this}--prev .icon {
      left: -20px;
      transform: rotate(180deg);

      @include media-breakpoint-up(md) {
        left: -40px;

        @at-root #{$this}--prev:hover .icon {
          left: -45px;
        }
      }
    }

    @at-root #{$this}--next .icon {
      right: -20px;

      @include media-breakpoint-up(md) {
        right: -40px;

        @at-root #{$this}--next:hover .icon {
          right: -45px;
        }
      }
    }
  }

  &__img {
    padding-top: 56.46%;
    transition: 1.5s $ease-base;

    @for $i from 1 through 4 {
      &--0#{$i} {
        background: url(@img-staff/common/staff_btn0#{$i}.jpg) center/cover;
      }
    }

    #{$this}:hover & {
      @include media-breakpoint-up(md) {
        transform: scale(1.05);
      }
    }
  }

  &__info {
    margin-top: 15px;
    letter-spacing: 0.07em;

    @include media-breakpoint-up(md) {
      margin-top: 0;
    }

    #{$this}--prev & {
      @include media-breakpoint-up(md) {
        padding-left: 25px;
      }
    }

    #{$this}--next & {
      @include media-breakpoint-up(md) {
        padding-right: 25px;
      }
    }
  }

  &__name {
    font-family: $base-jp-font01;
    font-size: 16px;
    font-weight: 500;

    @include media-breakpoint-up(md) {
      font-size: 26px;
    }

    #{$this}--next & {
      @include media-breakpoint-up(md) {
        text-align: right;
      }
    }
  }

  &__career {
    font-size: 10px;

    @include media-breakpoint-up(md) {
      margin-top: 10px;
      font-size: 14px;
    }
  }
}

.staff-list-to {
  $this: #{&};

  @include media-breakpoint-up(md) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
    background-color: $base-color03;
    border: 2px solid $base-color03;
    transition: 0.5s $ease-base;
  }

  &:hover {
    @include media-breakpoint-up(md) {
      background: #fff;
    }
  }

  &__text {
    @include media-breakpoint-up(md) {
      margin-top: 15px;
      font-size: 13px;
      letter-spacing: 0.07em;
    }
  }
}

.staff-list-button {
  width: 260px;
  margin: 40px auto 0;

  &__icon {
    margin-right: 12px;
    fill: #fff;
  }
}
