@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);

  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
  $max: breakpoint-max($name, $breakpoints);

  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-breakpoint-between(
  $lower,
  $upper,
  $breakpoints: $grid-breakpoints
) {
  $min: breakpoint-min($lower, $breakpoints);
  $max: breakpoint-max($upper, $breakpoints);

  @if $min != null and $max != null {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else if $max == null {
    @include media-breakpoint-up($lower) {
      @content;
    }
  } @else if $min == null {
    @include media-breakpoint-down($upper) {
      @content;
    }
  }
}

@mixin media-breakpoint-only($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  $max: breakpoint-max($name, $breakpoints);

  @if $min != null and $max != null {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else if $max == null {
    @include media-breakpoint-up($name) {
      @content;
    }
  } @else if $min == null {
    @include media-breakpoint-down($name) {
      @content;
    }
  }
}

@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  clip-path: inset(50%);
}

@mixin clearfix {
  &::after {
    display: block;
    clear: both;
    content: '';
  }
}

// media query
@mixin max($break-point) {
  @media (max-width: $break-point) {
    @content;
  }
}

@mixin min($break-point) {
  @media (min-width: $break-point) {
    @content;
  }
}

@mixin maxH($break-point) {
  @media (max-height: $break-point) {
    @content;
  }
}

@mixin minH($break-point) {
  @media (min-height: $break-point) {
    @content;
  }
}

@mixin screen($break-point-min, $break-point-max) {
  @media (min-width: $break-point-min) and (max-width: $break-point-max) {
    @content;
  }
}

@mixin xs {
  @media (min-width: $xs) {
    @content;
  }
}

@mixin sm {
  @media (min-width: $sm) {
    @content;
  }
}

@mixin md {
  @media (min-width: $md) {
    @content;
  }
}

@mixin lg {
  @media (min-width: $lg) {
    @content;
  }
}

@mixin xl {
  @media (min-width: $xl) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: $xxl) {
    @content;
  }
}

@mixin xs_max {
  @media (max-width: $xs_max) {
    @content;
  }
}

@mixin sm_max {
  @media (max-width: $sm_max) {
    @content;
  }
}

@mixin md_max {
  @media (max-width: $md_max) {
    @content;
  }
}

@mixin lg_max {
  @media (max-width: $lg_max) {
    @content;
  }
}

@mixin xl_max {
  @media (max-width: $xl_max) {
    @content;
  }
}

@mixin xxl_max {
  @media (max-width: $xxl_max) {
    @content;
  }
}

@mixin _responsive($class, $bp: $breakpoint-up) {
  @each $suffix, $value in $bp {
    @media #{$value} {
      #{$class}-#{$suffix} {
        @content;
      }
    }
  }

  #{$class} {
    @content;
  }
}
