.personality-desired {
  position: relative;
  margin-top: 100px;

  @include media-breakpoint-up(md) {
    margin-top: 190px;
  }

  &__body {
    margin-top: 60px;

    @include media-breakpoint-up(md) {
      display: flex;
      align-items: flex-start;
      margin: 110px -27.5px 0;
    }
  }
}

.desired-item {
  $this: #{&};

  margin-top: 50px;

  @for $i from 1 through 3 {
    $deray-second: #{$i * 0.3}s;

    @include media-breakpoint-up(md) {
      &:nth-of-type(#{$i}) {
        transition-delay: $deray-second;

        .desired-item__num {
          transition-delay: $deray-second;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    flex: 1;
    padding: 0 27.5px;
    margin-top: 0;
  }

  &:first-child {
    margin-top: 0;
  }

  &__heading {
    position: relative;
    padding-bottom: 20px;
    font-family: $base-jp-font01;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 0;
    border-bottom: 1px solid #373e42;
    font-feature-settings: 'palt';

    @include media-breakpoint-up(md) {
      padding-bottom: 40px;
      font-size: 30px;
    }
  }

  &__transform {
    display: inline-block;
    transform: translate(-12px, 0);

    @include media-breakpoint-up(md) {
      transform: translate(-18px, 0);
    }
  }

  &__num {
    position: absolute;
    bottom: -15px;
    left: -25px;
    z-index: -1;
    font-family: $base-en-font01;
    font-size: 100px;
    font-weight: 500;
    line-height: 1;
    color: $base-color03;
    letter-spacing: 0;
    transform: translate3d(-60px, 0, 0);

    @include media-breakpoint-up(md) {
      bottom: -25px;
      left: -49px;
      font-size: 160px;
      letter-spacing: 0.02em;
    }

    #{$this}.is-intersected & {
      transition: transform 1.7s $ease-base;
      transform: translate3d(0, 0, 0);
    }
  }

  &__body {
    margin-top: 20px;
    font-size: 13px;
    line-height: 2.6;
    letter-spacing: 0.07em;

    @include media-breakpoint-up(md) {
      margin-top: 40px;
      font-size: 14px;
      line-height: 2.5;
    }
  }
}

.parentheses-small {
  letter-spacing: 0;
}
