.sec-vision {
  position: relative;
  padding: 90px 0;
  margin-top: 85px;
  background: $base-color03;

  @include media-breakpoint-up(md) {
    padding: 190px 0 150px;
    margin-top: 165px;
  }

  .l-container {
    @include media-breakpoint-up(md) {
      width: 100%;
      max-width: 1760px;
    }
  }

  &__wrapper {
    overflow: hidden;
  }

  &__lead {
    margin-top: 35px;

    @include media-breakpoint-up(md) {
      margin-top: 80px;
    }
  }

  &__body {
    margin-top: 40px;

    @include media-breakpoint-up(md) {
      display: flex;
      margin: 70px -40px 0;
    }
  }
}

.vision-lead {
  font-family: $base-jp-font01;
  font-size: 23px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;

  @include media-breakpoint-up(md) {
    font-size: 34px;
  }
}

.vision-lead-descript {
  margin-top: 30px;
  font-size: 13px;
  line-height: 2.4;
  letter-spacing: 0.07em;

  @include media-breakpoint-up(md) {
    margin-top: 50px;
    font-size: 14px;
    text-align: center;
  }
}

.vision-ls {
  $this: #{&};

  position: relative;
  margin-top: 70px;

  @include media-breakpoint-up(md) {
    width: 50%;
    padding: 0 40px;
    margin-top: 0;
  }

  &:first-child {
    margin-top: 0;
  }

  &__img {
    padding-top: 61.27%;

    &--01 {
      @extend #{$this}__img;

      background: url(@img-message/vision_img01.jpg) center/cover;
    }

    &--02 {
      @extend #{$this}__img;

      background: url(@img-message/vision_img02.jpg) center/cover;
    }
  }

  &__title {
    margin-top: 40px;
    font-family: $base-jp-font01;
    font-size: 23px;
    font-weight: 500;
    line-height: 1.7;
    letter-spacing: 0.1em;

    @include media-breakpoint-up(md) {
      margin-top: 60px;
      font-size: 34px;
    }
  }

  &__text {
    margin-top: 20px;
    font-size: 13px;
    line-height: 2.46;
    letter-spacing: 0.07em;

    @include media-breakpoint-up(md) {
      margin-top: 30px;
      font-size: 14px;
    }
  }
}
