.sec-message {
  position: relative;
  z-index: 1;
  padding: 90px 0 95px;

  @include media-breakpoint-up(md) {
    padding: 200px 0 15.15%;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: calc(100% - 85px);
    height: 100%;
    content: '';
    background: $base-color03;

    @include media-breakpoint-up(md) {
      width: calc(100% - 33.3333%);
    }
  }

  &__wrapper {
    padding: 0 30px;

    @include media-breakpoint-up(md) {
      max-width: 1760px;
      min-height: 555px;
      padding: 0 20px;
      margin: 0 auto;
    }
  }

  &__content {
    @include media-breakpoint-up(md) {
      position: relative;
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-end;
      padding-right: 260px;
      margin: 100px auto 0;
    }
  }

  &__text {
    margin-top: 40px;
    font-family: $base-jp-font01;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.06em;

    @include media-breakpoint-up(md) {
      margin-top: 0;
      font-size: 32px;
      line-height: 1.95;
      text-align: left;
      letter-spacing: 0.2em;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      transform: translate(0, -98px);
    }

    @include media-breakpoint-up(1280px) {
      font-size: 2.55vw;
    }

    @include media-breakpoint-up(1566px) {
      font-size: 40px;
    }
  }

  &__typo {
    display: inline-block;
    padding: 0 0 0 10px;
    background: #fff;

    @include media-breakpoint-up(md) {
      display: inline;
      padding: 15px 0;
    }

    &--second {
      @extend .sec-message__typo;

      margin: 10px 0 0;

      @include media-breakpoint-up(md) {
        margin: 0;
      }
    }
  }

  &__movie {
    @include media-breakpoint-up(md) {
      position: absolute;
      top: 0;
      right: 560px;
      left: 0;
      max-width: 1100px;
      padding-bottom: 37.791%;
    }

    @include media-breakpoint-down(sm) {
      margin: 40px -30px 0;
    }

    img {
      width: 100%;
      height: auto;

      @include media-breakpoint-up(md) {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  &__name {
    margin-top: 35px;
    text-align: right;

    @include media-breakpoint-up(md) {
      padding: 0 50px 50px 0;
      margin-top: 0;
    }

    img {
      @include media-breakpoint-up(md) {
        width: auto;
        height: auto;
      }
    }
  }

  &__body {
    margin: 45px 0 0;

    @include media-breakpoint-up(md) {
      margin: 3.90625% 0 0;
    }
  }
}

.sec-message .intro {
  &__heading {
    font-family: $base-jp-font01;
    font-size: 23px;
    line-height: 1.739;
    letter-spacing: 0.1em;

    @include media-breakpoint-up(md) {
      font-size: 34px;
      text-align: center;
    }
  }

  &__text {
    margin: 20px 0 0;
    font-size: 13px;
    line-height: 2.462;
    letter-spacing: 0.07em;

    @include media-breakpoint-up(md) {
      column-gap: 60px;
      margin: 30px 0 0;
      font-size: 14px;
      line-height: 2.571;
      column-count: 2;
    }
  }
}

.sec-message .profile {
  position: relative;
  padding: 55px 30px;
  margin: 35px 0 0;
  background: #fff;
  border: 1px solid #d7d8d9;

  @include media-breakpoint-up(md) {
    display: flex;
    padding: 70px 80px 60px;
    margin: 70px 0 0;
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    font-family: $base-en-font01;
    font-size: 12px;
    color: #fff;
    letter-spacing: 0.05em;
    background: #373e42;

    @include media-breakpoint-up(md) {
      padding: 9px 20.4px;
      font-size: 15px;
    }
  }

  &__role {
    font-size: 13px;
    line-height: 1.923;
    letter-spacing: 0.07em;

    @include media-breakpoint-up(md) {
      font-size: 14px;
      line-height: 2.143;
    }
  }

  &__name {
    margin: 5px 0 0;
    font-family: $base-jp-font01;
    font-size: 23px;
    font-weight: 500;
    letter-spacing: 0.07em;

    @include media-breakpoint-up(md) {
      font-size: 34px;
    }
  }

  &__text {
    margin: 20px 0 0;
    font-size: 13px;
    line-height: 2.462;
    letter-spacing: 0.07em;

    @include media-breakpoint-up(md) {
      flex: 1;
      margin: 0 0 0 60px;
      font-size: 14px;
      line-height: 2.571;
    }
  }
}
