.sec-give-word {
  $this: #{&};

  padding-top: 90px;
  text-align: center;

  @include media-breakpoint-up(md) {
    padding-top: 190px;
  }

  &__wrapper {
    @include media-breakpoint-up(md) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      width: 1160px;
      margin: 0 auto;
    }
  }

  &__title {
    font-family: $base-jp-font01;
    font-size: 23px;
    line-height: 1.7;
    letter-spacing: 0.15em;

    @include media-breakpoint-up(md) {
      font-size: 36px;
      text-align: left;
      letter-spacing: 0.2em;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
    }
  }

  &__content {
    margin-top: 38px;

    @include media-breakpoint-up(md) {
      display: flex;
      flex-direction: row-reverse;
      margin-top: 0;
      margin-right: 90px;
    }
  }

  &__text {
    font-family: $base-jp-font01;
    font-size: 14px;
    line-height: 2.5;
    letter-spacing: 0.05em;

    @include media-breakpoint-up(md) {
      font-size: 20px;
      text-align: left;
      letter-spacing: 0.2em;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
    }

    + #{$this}__text {
      margin-top: 32px;

      @include media-breakpoint-up(md) {
        margin: 0 50px 0 0;
      }
    }
  }
}
