.sec-story {
  position: relative;
  padding-top: 133px;
  background: #fff;

  @include media-breakpoint-up(md) {
    padding-top: 280px;
  }

  &__wrapper {
    position: relative;
    padding: 49px 0 100px;

    @include media-breakpoint-up(md) {
      padding: 100px 0 140px;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% - 85px);
      height: 100%;
      content: '';
      background: $base-color03;

      @include media-breakpoint-up(md) {
        width: calc(100% - 380px);
      }
    }
  }

  &__heading {
    position: relative;
    z-index: 2;
  }

  &__body {
    margin-top: 45px;

    @include media-breakpoint-up(md) {
      margin-top: 95px;
    }
  }

  &__btn-wrap {
    opacity: 0;
    transition: $ease-base, opacity 1s $ease-base, transform 5s $ease-base;
    transform: scale(0.95);
  }

  &__button {
    width: 260px;
    margin: 50px auto 0;
    font-weight: 500;
    background: rgba(#fff, 0.1);
    border: 1px solid #fff;

    @include media-breakpoint-up(md) {
      width: 280px;
    }
  }

  &__pagenation {
    display: none;

    @include media-breakpoint-up(md) {
      position: absolute;
      top: 50px;
      right: 80px;
      bottom: auto;
      left: auto;
      z-index: 2;
      display: block;
      display: flex;
      flex-direction: column;
      width: auto;
      counter-reset: section;
    }
  }

  &__bottom {
    margin: 60px auto 0;

    @include media-breakpoint-down(sm) {
      width: calc(100% - 60px);
      max-width: 315px;
    }

    @include media-breakpoint-up(md) {
      width: auto;
      margin: 120px 0 0;
    }
  }
}

.story-heading-wrap {
  $this: #{&};

  @include media-breakpoint-up(md) {
    display: flex;
    align-items: flex-start;
    width: calc(100% - 300px);
  }

  &__ttl {
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
    font-family: $base-jp-font02;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;

    @include media-breakpoint-up(md) {
      margin: 0 200px 0 0;
      font-size: 32px;
    }

    svg {
      position: absolute;
      top: -106px;
      left: calc(50% - 70px);
      width: 218px;
      height: 132px;
      opacity: 0;
      transition: 0.3s $ease-base;

      @at-root #{$this} #{$this}__ttl.is-intersected svg {
        opacity: 1;
      }

      @include media-breakpoint-up(md) {
        top: -227px;
        left: calc(50% - 160px);
        width: 436px;
        height: 264px;
      }
    }
  }

  &__lead {
    font-size: 13px;
    line-height: 2.4;
    letter-spacing: 0.07em;

    @include media-breakpoint-up(md) {
      flex: 1;
      font-size: 14px;
      line-height: 2.5;
    }
  }
}

.to-insta {
  $this: #{&};

  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px 36px 50px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid $base-color03;

  @include media-breakpoint-up(md) {
    flex-direction: row;
    width: 920px;
    padding: 45px 60px;
  }

  &__icon {
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 85px;
    overflow: hidden;
    background: #373e42;
    border-radius: 50%;

    @include media-breakpoint-up(md) {
      width: 110px;
      height: 110px;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
      opacity: 0;
      transition: 0.4s $ease-base;

      #{$this}:hover & {
        @include media-breakpoint-up(md) {
          opacity: 1;
        }
      }
    }

    .icon--sns {
      position: relative;
      z-index: 2;
      width: 35px;
      height: 35px;
      fill: #fff;

      @include media-breakpoint-up(md) {
        width: 45px;
        height: 45px;
      }
    }
  }

  &__txts {
    margin: 15px 0 0;

    @include media-breakpoint-down(sm) {
      width: 100%;
      text-align: center;
    }

    @include media-breakpoint-up(md) {
      margin: 0 0 0 30px;
    }
  }

  &__ttl {
    font-family: $base-en-font01;
    font-weight: 500;
    letter-spacing: 0.05em;

    @include media-breakpoint-down(sm) {
      font-size: 35px;
      text-align: center;
    }

    @include media-breakpoint-up(md) {
      font-size: 48px;
    }
  }

  &__txt {
    margin-top: 21px;
    letter-spacing: 0.07em;

    @include media-breakpoint-down(sm) {
      font-size: 13px;
      line-height: 1.9;
      text-align: center;
    }

    @include media-breakpoint-up(md) {
      margin-top: 0;
      font-size: 14px;
    }
  }

  .icon--arrow {
    position: absolute;
    top: 50%;
    right: 60px;
    transition: 0.4s $ease-base;
    transform: translate(0, -50%);
  }

  &:hover {
    .icon--arrow {
      @include media-breakpoint-up(md) {
        right: 55px;
      }
    }
  }
}

// SP時スライダー用ボタン
.story-arw {
  $this: #{&};

  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 1px solid #373e42;
  border-radius: 50%;

  &--prev {
    .icon {
      transform: rotate(180deg);
    }
  }
}

// SP時スライダー用ページネーションバー
.story-pagenation {
  flex: 1;

  @include media-breakpoint-up(md) {
    display: none;
  }

  &__current {
    display: inline-flex;
    align-items: center;
    margin: 0 22px;
  }

  &__line {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 1px;
    background: #c8cfd0;

    .is-animation & {
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background: #373e42;
        transform-origin: left;
        animation: slidePageSecond 6s linear 0s;
        animation-fill-mode: both;
      }
    }
  }

  &__txts {
    margin-left: 14px;
    font-family: $base-en-font01;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.05em;
  }
}

.story-grid {
  $this: #{&};

  max-width: 1920px;
  margin: 0 auto;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__item {
    position: relative;
    width: 100%;

    @include media-breakpoint-up(md) {
      width: 50%;
    }
  }
}

.story-item {
  $this: #{&};

  position: relative;
  display: block;
  width: 100%;
  height: 240px;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    height: 540px;
  }

  &__bg {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100%;
    transition: 1.5s $ease-base;
    transform: scale(1) translate3d(0, -50%, 0);

    @for $i from 1 through 4 {
      &--0#{$i} {
        @extend #{$this}__bg;

        background: url(@img-message/story_bg0#{$i}.jpg) center/cover;

        @include media-breakpoint-up(md) {
          background: url(@img-message/story_bg0#{$i}_md.jpg) center/cover;
        }
      }
    }

    #{$this}:hover & {
      @include media-breakpoint-up(md) {
        transform: scale(1.025) translate3d(0, -50%, 0);
      }
    }
  }

  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    color: #fff;
    text-align: center;
    transform: translate3d(-50%, -50%, 0);

    @include media-breakpoint-down(sm) {
      top: calc(50% - 10px);
    }
  }

  &__number {
    position: relative;
    display: inline-block;
    padding-bottom: 15px;
    font-family: $base-en-font01;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.05em;

    @include media-breakpoint-up(md) {
      padding-bottom: 25px;
      font-size: 15px;
    }

    &::before {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      width: 26px;
      height: 1px;
      margin: auto;
      content: '';
      background: #fff;
    }
  }

  &__ttl {
    margin-top: 22px;
    font-family: $base-jp-font01;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.2em;

    @include media-breakpoint-up(md) {
      margin-top: 35px;
      font-size: 38px;
    }
  }

  &__button {
    width: 220px;
    margin: 24px auto 0;
    background: rgba(#fff, 0.2);
    border: 1px solid #fff;

    @include media-breakpoint-down(sm) {
      height: 50px;
      font-size: 12px;
    }

    @include media-breakpoint-up(md) {
      width: 280px;
      margin: 55px auto 0;
    }

    #{$this}:hover & {
      @include media-breakpoint-up(md) {
        color: #373e42;
        background: #fff;
      }
    }

    .icon {
      @include media-breakpoint-down(sm) {
        right: 15px;
      }

      #{$this}:hover & {
        @include media-breakpoint-up(md) {
          fill: #373e42;
          transform: translate3d(5px, -50%, 0);
        }
      }
    }
  }
}

.story-distance-small {
  .sec-story {
    @include media-breakpoint-up(md) {
      padding-top: 160px;
      margin-bottom: 200px;
    }
  }
}
