.sec-content {
  $this: #{&};

  position: relative;
  z-index: 0;
  overflow: hidden;

  &__body {
    z-index: 2;
  }

  &__wrapper {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  &__images {
    z-index: 1;
  }

  &__image {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: opacity 1s;

    @at-root #{$this}__images--01 #{$this}__image {
      @for $i from 1 through 8 {
        &--0#{$i} {
          @extend #{$this}__image;

          background: url(@img-message/story01/content_bg0#{$i}.jpg)
            center/cover;

          @include media-breakpoint-up(md) {
            background: url(@img-message/story01/content_bg0#{$i}_md.jpg)
              center/cover;
          }
        }
      }
    }

    @at-root #{$this}__images--02 #{$this}__image {
      @for $i from 1 through 6 {
        &--0#{$i} {
          @extend #{$this}__image;

          background: url(@img-message/story02/content_bg0#{$i}.jpg)
            center/cover;

          @include media-breakpoint-up(md) {
            background: url(@img-message/story02/content_bg0#{$i}_md.jpg)
              center/cover;
          }
        }
      }
    }

    @at-root #{$this}__images--03 #{$this}__image {
      @for $i from 1 through 6 {
        &--0#{$i} {
          @extend #{$this}__image;

          background: url(@img-message/story03/content_bg0#{$i}.jpg)
            center/cover;

          @include media-breakpoint-up(md) {
            background: url(@img-message/story03/content_bg0#{$i}_md.jpg)
              center/cover;
          }
        }
      }
    }

    @at-root #{$this}__images--04 #{$this}__image {
      @for $i from 1 through 6 {
        &--0#{$i} {
          @extend #{$this}__image;

          background: url(@img-message/story04/content_bg0#{$i}.jpg)
            center/cover;

          @include media-breakpoint-up(md) {
            background: url(@img-message/story04/content_bg0#{$i}_md.jpg)
              center/cover;
          }
        }
      }
    }

    @include media-breakpoint-up(md) {
      transform: translate3d(0, 0, 0);
    }

    @include media-breakpoint-up(md) {
      height: 100%;
    }

    &.is-active {
      opacity: 1;
    }
  }

  &__item {
    position: relative;
    z-index: 2;
    width: 100%;
    font-family: $base-jp-font01;
    color: #fff;
    opacity: 1;
    transition: opacity 1s;

    @include media-breakpoint-up(md) {
      height: calc(100vh + 1px);
      padding: 0;
      opacity: 0;
    }

    @include media-breakpoint-down(sm) {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0 200px;
    }

    &--delimiter {
      @include media-breakpoint-down(sm) {
        position: relative;
        height: 100vh;
      }
    }

    &.is-active {
      opacity: 1;
    }

    &:first-child {
      height: calc(100vh + 1px);
    }

    &:last-child {
      @include media-breakpoint-down(sm) {
        padding-bottom: 200px;
        margin-bottom: 0;
      }
    }
  }

  &__left-logo {
    position: absolute;
    top: 160px;
    left: 45px;
    display: block;
  }

  &__box {
    @include media-breakpoint-up(md) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding-top: 90px;
      transform: translate3d(0, 0, 0);
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 0;

    @include media-breakpoint-up(md) {
      width: 1160px;
      height: 100%;
      margin: 0 auto;
    }
  }

  &__scroll-line {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: inline-block;
    width: 1px;
    height: 100px;
    margin: auto;
    overflow: hidden;
    background: rgba(#fff, 0.2);

    @include media-breakpoint-up(md) {
      height: 160px;
      transition-delay: 1.6s;
    }

    @include media-breakpoint-between(md, 1400px) {
      height: 100px;
    }

    .line {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: #fff;
      transform: translateY(-100%);
      animation: lineLoopAnimation 3s infinite $ease-out-sine 0s;
    }
  }

  &__typos {
    text-align: center;

    @include media-breakpoint-between(md, 1400px) {
      transform: translate3d(0, -20px, 0);
    }
  }

  &__logo {
    font-size: 46px;

    img {
      @include media-breakpoint-up(md) {
        width: auto;
        height: auto;
      }
    }
  }

  &__ttl {
    position: relative;
    display: inline-block;
    margin-top: 62.5px;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.2em;

    @include media-breakpoint-up(md) {
      margin-top: 98px;
      font-size: 46px;
    }

    @include media-breakpoint-between(md, 1366px) {
      margin-top: 8%;
    }

    &::after,
    &::before {
      position: absolute;
      font-size: 26px;

      @include media-breakpoint-up(md) {
        font-size: 46px;
      }
    }

    &::after {
      top: 0;
      left: -53px;
      content: '「';

      @include media-breakpoint-up(md) {
        top: -20px;
        left: -70px;
      }
    }

    &::before {
      right: -53px;
      bottom: 0;
      content: '」';

      @include media-breakpoint-up(md) {
        right: -70px;
        bottom: -20px;
      }
    }
  }

  &__btns {
    display: flex;
    margin-top: 60px;

    @include media-breakpoint-down(sm) {
      flex-direction: column-reverse;
    }

    @include media-breakpoint-up(md) {
      justify-content: center;
      margin: 140px 0 -10px;
    }
  }

  &__btn-item {
    @include media-breakpoint-up(md) {
      padding: 0 10px;
    }

    &:last-child {
      @include media-breakpoint-down(sm) {
        margin-bottom: 15px;
      }
    }
  }

  &__button {
    width: 260px;
    font-family: 'Noto Sans JP', 'YakuHanJP', sans-serif;
    font-size: 13px;
    background: rgba(#fff, 0.2);
    border: 1px solid #fff;

    @include media-breakpoint-down(sm) {
      margin: 0 auto;
    }

    @include media-breakpoint-up(md) {
      width: 280px;
    }
  }

  &__button--prev {
    .icon {
      right: auto;
      left: 30px;
      transform: translate3d(0, -50%, 0) rotate(180deg);
    }

    &:hover {
      .icon {
        @include media-breakpoint-up(md) {
          left: 25px;
          transform: translate3d(0, -50%, 0) rotate(180deg);
        }
      }
    }
  }
}

.message-typo {
  $this: #{&};

  font-size: 16px;
  font-weight: 400;
  line-height: 2.5;
  letter-spacing: 0.15em;

  @include media-breakpoint-down(sm) {
    text-align: center;
  }

  @include media-breakpoint-up(md) {
    font-size: 20px;
    line-height: 2.3;
    letter-spacing: 0.2em;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
  }

  &--single {
    text-align: center;

    @include media-breakpoint-between(md, 1400px) {
      transform: translate3d(0, -20px, 0);
    }
  }

  &--horizontal {
    @extend #{$this};

    font-size: 24px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.2em;

    @include media-breakpoint-up(md) {
      margin-left: 0;
      font-size: 40px;
      line-height: 2;
      -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
      writing-mode: horizontal-tb;
    }

    @include media-breakpoint-between(md, 1400px) {
      transform: translate3d(0, -20px, 0);
    }
  }

  &__ruby {
    position: relative;
    display: inline-block;
    content: attr(data-ruby);

    &::before {
      position: absolute;
      margin: auto;
      letter-spacing: 0;
      content: attr(data-ruby);

      @include media-breakpoint-up(md) {
        top: -5px;
        right: -9px;
        bottom: -5px;
        left: 0;
        font-size: 10px;
      }

      @include media-breakpoint-down(sm) {
        top: -9px;
        right: -20px;
        left: -20px;
        font-size: 8px;
      }
    }
  }

  &__item {
    font-weight: 400;

    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }

    @include media-breakpoint-up(md) {
      margin-right: 50px;
      font-size: 20px;
    }

    + #{$this}__item {
      @include media-breakpoint-down(sm) {
        margin-top: 50px;
      }
    }

    &:first-child {
      margin-right: 0;
    }

    &--sp-none {
      opacity: 1;
      transform: translate3d(0, 0, 0);

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    &--horizontal {
      @include media-breakpoint-up(md) {
        font-size: 40px;
      }

      @include media-breakpoint-down(sm) {
        font-size: 24px;
      }
    }

    &--hidden {
      visibility: hidden;

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    &--02 {
      @extend #{$this}__item;

      @at-root .sec-content__item.is-active & {
        transition-delay: 2s;
      }
    }

    &--03 {
      @extend #{$this}__item;

      @at-root .sec-content__item.is-active & {
        transition-delay: 3.4s;
      }
    }

    &--none-animation {
      @extend #{$this}__item;

      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  &__animation {
    transition: 1s $ease-base;
    transform: translate3d(0, 10px, 0);
    backface-visibility: hidden;

    @at-root .sec-content__item.is-active & {
      @include media-breakpoint-up(md) {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }

    @at-root .sec-content__item.is-intersected & {
      @include media-breakpoint-down(sm) {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }

    @for $i from 1 through 14 {
      &:nth-of-type(#{$i}) {
        $deray-second: #{$i * 0.06}s;

        transition-delay: $deray-second;
      }
    }

    @include media-breakpoint-up(md) {
      opacity: 0;
      transform: translate3d(5px, 0, 0);
    }
  }

  &__parentheses {
    @include media-breakpoint-up(md) {
      display: inline-block;
      transform: translateY(-13px);
    }
  }
}

.marker {
  @include media-breakpoint-up(md) {
    top: 0;
  }

  @include media-breakpoint-down(sm) {
    top: calc(50% + 120px);
    margin: auto;
  }
}
