<div class="c-form-wrapper">
  <div class="c-form-inner">
    <form action="" method="post" class="<%# needs-validation #%> h-adr is-input" novalidate>
      <span class="p-country-name" style="display:none;">Japan</span>

      <div class="c-form-flow">
        <div class="c-form-flow__item c-form-flow__item--input">
          <span>入力</span>
        </div>
        <div class="c-form-flow__item c-form-flow__item--confirm">
          <span>確認</span>
        </div>
        <div class="c-form-flow__item c-form-flow__item--complete">
          <span>完了</span>
        </div>
      </div>
      <div class="c-form-description u-center-md u-mb-50-md u-mb-35">
        <p>お問い合わせの前に、必ず下記の注意事項をお読みください。<br><span class="c-required u-mr-5">必須</span>はご記入必須項目です。</p>
      </div>
      <div class="c-form-annotation u-mb-100-md u-mb-30">
        <h3>お問い合わせ前にご確認ください</h3>
        <ul>
          <li>土日、祝日、年末年始のお問い合わせにつきましては、翌営業日以降のご返信となります。</li>
          <li>メールアドレスの記入に誤りがありますと、弊社よりご連絡が出来ない場合がございますので、ご注意ください。</li>
          <li>お問い合わせが混み合っております場合、ご返信までに2、3日頂戴する場合がございます。<br>あらかじめご了承いただきますようお願いいたします。</li>
          <li>メールフィルタをご利用されている場合は、[smile-39.com]ドメインからのメールを受信できるように設定してください。</li>
        </ul>
      </div>
      {% if err is not empty %}
      <div id="error-notice-line"></div>
      <div class="c-form-error-notice u-mb-50-md u-mb-30" id="error-notice" style="display:block;">
        <p><span class="c-form-error-notice__icon"></span>正しく入力されていない項目があります。下記フォームをご確認の上、再度「確認する」ボタンを押して下さい。</p>
      </div>
      {% endif %}
      <div class="c-form-groups">

        <div class="form-group c-form-group">
          <div class="c-form-item">
            <div class="c-form-head">
              <div class="c-form-head__label is-required">お名前</div>
            </div>
            <div class="c-form-input">
              {% set key = 'vfName' %}
              <input type="text" class="form-control {{ active(err[key], 'is-invalid') }}" name="{{ key }}" value="{{ item[key] }}" placeholder="例: 山田太郎">
              {% if err[key] is not empty %}<div class="invalid-feedback" style="display:block;"><span class="c-form-note">{{ err[key] }}</span></div>{% endif %}
            </div>
          </div>
        </div>

        <div class="form-group c-form-group">
          <div class="c-form-item">
            <div class="c-form-head">
              <div class="c-form-head__label is-required">フリガナ</div>
            </div>
            <div class="c-form-input">
              {% set key = 'vfNameKana' %}
              <input type="text" class="form-control {{ active(err[key], 'is-invalid') }}" name="{{ key }}" value="{{ item[key] }}" placeholder="例: ヤマダタロウ">
              {% if err[key] is not empty %}<div class="invalid-feedback" style="display:block;"><span class="c-form-note">{{ err[key] }}</span></div>{% endif %}
            </div>
          </div>
        </div>

        <div class="form-group c-form-group">
          <div class="c-form-item">
            <div class="c-form-head">
              <div class="c-form-head__label is-required">メールアドレス</div>
            </div>
            <div class="c-form-input">
              {% set key = 'vfEmail' %}
              <input type="email" class="form-control {{ active(err[key], 'is-invalid') }}" name="{{ key }}" value="{{ item[key] }}" placeholder="例: mail@example.com">
              {% if err[key] is not empty %}<div class="invalid-feedback" style="display:block;"><span class="c-form-note">{{ err[key] }}</span></div>{% endif %}
            </div>
            <div class="c-form-input u-mt-30-md">
              <p class="u-mb-10 u-mb-15-md u-fz-14-md u-fz-12">確認のため再入力してください</p>
              {% set key = 'vfEmailConf' %}
              <input type="email" class="form-control {{ active(err[key], 'is-invalid') }}" name="{{ key }}" value="{{ item[key] }}" placeholder="例: mail@example.com">
              {% if err[key] is not empty %}<div class="invalid-feedback" style="display:block;"><span class="c-form-note">{{ err[key] }}</span></div>{% endif %}
            </div>
          </div>
        </div>

        <div class="form-group c-form-group form-group-0">
          <div class="c-form-item">
            <div class="c-form-head">
              <div class="c-form-head__label">電話番号</div>
            </div>
            <div class="c-form-input">
              <div class="form-row">
                <div class="col-md-4">
                  {% set key = 'vfTel' %}
                  <input type="tel" class="form-control {{ active(err[key], 'is-invalid') }}" name="{{ key }}" value="{{ item[key] }}" placeholder="例：0354877177">
                  {% if err[key] is not empty %}<div class="invalid-feedback" style="display:block;"><span class="c-form-note">{{ err[key] }}</span></div>{% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group c-form-group form-group-0">
          <div class="c-form-item">
            <div class="c-form-head">
              <div class="c-form-head__label is-required">年齢</div>
            </div>
            <div class="c-form-input">
              <div class="form-row">
                <div class="col-md-4">
                  {% set key = 'vfAge' %}
                  <input type="text" class="form-control {{ active(err[key], 'is-invalid') }}" name="{{ key }}" value="{{ item[key] }}" placeholder="例：20">
                  {% if err[key] is not empty %}<div class="invalid-feedback" style="display:block;"><span class="c-form-note">{{ err[key] }}</span></div>{% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group c-form-group form-group-0">
          <div class="c-form-item">
            <div class="c-form-head">
              <div class="c-form-head__label">学校名</div>
            </div>
            <div class="c-form-input">
              {% set key = 'vfSchool' %}
              <input type="text" class="form-control {{ active(err[key], 'is-invalid') }}" name="{{ key }}" value="{{ item[key] }}" placeholder="">
              {% if err[key] is not empty %}<div class="invalid-feedback" style="display:block;"><span class="c-form-note">{{ err[key] }}</span></div>{% endif %}
            </div>
          </div>
        </div>

        <div class="form-group c-form-group form-group-0">
          <div class="c-form-item">
            <div class="c-form-head">
              <div class="c-form-head__label">卒業年</div>
            </div>
            <div class="c-form-input">
              <div class="form-row">
                <div class="col-md-4">
                  {% set key = 'vfGraduationYear' %}
                  <input type="text" class="form-control {{ active(err[key], 'is-invalid') }}" name="{{ key }}" value="{{ item[key] }}" placeholder="例：2020">
                  {% if err[key] is not empty %}<div class="invalid-feedback" style="display:block;"><span class="c-form-note">{{ err[key] }}</span></div>{% endif %}
                </div>
              </div>
              <div class="form-row" style="margin-top:30px;">
                {% set key = 'vfExpectedGraduation' %}
                {% for idx, label in fields[key].selection %}
                <div class="col-md-4 col-6">
                  <div class="custom-control custom-radio">
                    <input  data-index="{{ idx }}" type="radio" name="{{ key }}" value="{{ label }}" class="custom-control-input {{ active(err[key], 'is-invalid') }}" id="{{ key }}_{{ idx }}" {{ checked([item[key]], label) }}>
                    <label class="custom-control-label" for="{{ key }}_{{ idx }}">{{ label }}</label>
                  </div>
                </div>
                {% endfor %}
              </div>
              {% if err[key] is not empty %}<div class="invalid-feedback" style="display:block;"><span class="c-form-note">{{ err[key] }}</span></div>{% endif %}
            </div>
          </div>
        </div>

        <div class="form-group c-form-group form-group-0">
          <div class="c-form-item c-form-item--check">
            <div class="c-form-head">
              <div class="c-form-head__label">所有（見込み）資格</div>
            </div>
            <div class="c-form-input c-form-input--check">
              {% set key = 'vfLicense' %}
              {% for idx, label in fields[key].selection %}
              <div class="custom-control custom-checkbox">
                <input type="checkbox" name="{{ key~'[]' }}" value="{{ label }}" class="custom-control-input {{ active(err[key], 'is-invalid') }}" id="{{ key }}_{{ idx }}" {{ checked(item[key], label) }}>
                <label class="custom-control-label" for="{{ key }}_{{ idx }}">{{ label }}</label>
              </div>
              {% endfor %}
              {% if err[key] is not empty %}<div class="invalid-feedback" style="display:block;"><span class="c-form-note">{{ err[key] }}</span></div>{% endif %}

              <div class="form-row">
                {% set key = 'vfLicenseOther' %}
                <input type="tel" class="form-control {{ active(err[key], 'is-invalid') }}" name="{{ key }}" value="{{ item[key] }}" placeholder="その他、所有資格がある場合はご入力ください">
                {% if err[key] is not empty %}<div class="invalid-feedback" style="display:block;"><span class="c-form-note">{{ err[key] }}</span></div>{% endif %}
              </div>
            </div>
          </div>
        </div>

      </div>


      <%- include('./_policy') %>

      <div class="u-center c-form-agreement">
        {% set key = 'vfAgree' %}
        <input type="checkbox" id="agreement" class="c-form-agreement__input" name="{{ key }}" value="1" {{ checked([item[key]], 1) }}>
        <label for="agreement" class="c-form-agreement__label u-ml-25 u-ml-0-md u-fw-500">同意する</label>
        <button type="submit" class="c-form-button c-form-button--submit u-mt-40-md u-mt-30 u-mx-auto">内容を確認する</button>
        <input type="hidden" name="confirm">
      </div>

    </form>
  </div>
</div>
