<div class="page-hdg">
  <div class="c-form-wrapper">
    <h2 class="page-hdg__ttl">
      <picture>
        <source media="(min-width: 768px)" srcset="@img-contact/contact_ttl01_md.png">
        <img src="@img-contact/contact_ttl01.png" alt="CONTACT お問い合わせ" width="170" height="59">
      </picture>
    </h2>
  </div>
</div>
