.sec-step {
  $this: #{&};

  position: relative;
  padding: 90px 0 80px;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    padding: 0;
  }

  &--reverce {
    margin-top: 85px;

    @include media-breakpoint-up(md) {
      margin-top: 150px;
    }
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: calc(50% + 100px);
    height: 100%;
    content: '';
    background-color: $base-color03;

    @at-root #{$this}--reverce:after {
      right: 0;
      left: auto;
    }

    @include media-breakpoint-up(md) {
      width: calc(50% + 320px);
    }
  }

  &__wrapper {
    position: relative;
    z-index: 2;
  }
}

.step-item {
  $this: #{&};

  position: relative;

  @include media-breakpoint-up(md) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 100px;
  }

  &:first-child {
    @include media-breakpoint-up(md) {
      padding: 200px 0 0;
    }
  }

  &:last-child {
    @include media-breakpoint-up(md) {
      padding-bottom: 160px;
    }
  }

  &__md-typo {
    position: absolute;
    top: calc(50% - 108px);
    left: calc(50% - 90px);
    z-index: -1;
    font-family: $base-en-font01;
    font-size: 160px;
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
    opacity: 0;
    transition: 1.7s $ease-base;

    @include media-breakpoint-down(sm) {
      display: none;
    }

    &--first {
      top: calc(50% - 42px);
    }

    &--last {
      top: calc(50% - 189px);
    }

    &.is-active {
      @include media-breakpoint-up(md) {
        left: calc(50% - 50px);
        opacity: 1;
        transition-delay: 0.4s;
      }
    }
  }

  + #{$this} {
    padding-top: 70px;
  }

  &--reverce {
    @include media-breakpoint-up(md) {
      flex-direction: row-reverse;
    }
  }

  &__title {
    position: relative;
    z-index: 1;
    font-family: $base-jp-font01;
    font-size: 21px;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.1em;

    @include media-breakpoint-up(md) {
      flex: 1;
      font-size: 34px;
      line-height: 1.7;
      letter-spacing: 0.1em;
    }

    .sec-step--reverce & {
      &::before,
      &::after {
        position: absolute;
        top: -20px;
        left: -100px;
        z-index: -1;
        font-family: $base-en-font01;
        font-size: 75px;
        font-weight: 500;
        line-height: 1;
        color: #fff;
        letter-spacing: 0;
        content: attr(data-num) '';
        opacity: 0;
        transition: 1.7s $ease-base;

        @at-root #{$this}__title.is-active {
          &::before,
          &::after {
            left: -60px;
            opacity: 1;
          }
        }

        @include media-breakpoint-up(md) {
          display: none;
        }
      }

      &::after {
        right: calc(50% + 140px);
        overflow: hidden;
        color: $base-color03;
      }
    }

    .text {
      display: inline-block;
      opacity: 0;
      transition: 1.7s $ease-base;

      &.is-active {
        opacity: 1;
      }
    }
  }

  &__img {
    width: calc(100% - 24px);
    padding-top: 210px;
    margin: 25px 0 0 auto;
    transition: 1.7s $ease-base;

    @for $i from 1 through 4 {
      &--0#{$i} {
        background: url(@img-growth/index/step0#{$i}.jpg) center/cover;

        @include media-breakpoint-up(md) {
          background: url(@img-growth/index/step0#{$i}_md.jpg) center/cover;
        }
      }
    }

    @include media-breakpoint-up(md) {
      width: 500px;
      padding-top: 360px;
      margin: 0 auto 0 0;
      opacity: 0;
    }

    &.is-active {
      opacity: 1;
      transition-delay: 0.4s;
    }
  }

  &__wrap {
    padding-left: 85px;

    @include media-breakpoint-up(md) {
      width: 50%;
      padding-left: 80px;
    }
  }

  &__content {
    margin-top: 18px;
    font-size: 13px;
    line-height: 2.46;
    letter-spacing: 0.07em;
    opacity: 0;
    transition: 1.7s $ease-base;

    @include media-breakpoint-up(md) {
      margin-top: 25px;
      font-size: 14px;
      line-height: 2.5;
    }

    &.is-active {
      opacity: 1;
    }
  }

  .line {
    position: absolute;
    background: rgba(#373e42, 0.2);

    @include media-breakpoint-down(sm) {
      top: -140px;
      bottom: -80px;
      left: 0;
      width: 1px;
    }

    @include media-breakpoint-up(md) {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 1px;
      margin: auto;
    }
  }

  .js-line {
    background: #373e42;
    transition: height 0.1s linear;
  }
}

.circle {
  $this: #{&};

  position: absolute;
  z-index: 5;
  display: block;
  width: 15px;
  height: 15px;
  background: #fff;
  border: 1px solid rgba(#373e42, 0.2);
  border-radius: 50%;
  transition: 0.3s $ease-base;

  @include media-breakpoint-up(md) {
    top: 0;
    bottom: 0;
    left: -90px;
    width: 20px;
    height: 20px;
    margin: auto;
  }

  @include media-breakpoint-down(sm) {
    top: 10px;
    left: -92.5px;
  }

  &.is-active {
    border-color: #373e42;
  }

  &__line {
    position: absolute;
    display: inline-block;
    height: 1px;
    margin: auto;
    background: rgba(#373e42, 0.2);

    @include media-breakpoint-up(md) {
      top: 0;
      right: -50px;
      bottom: 0;
      width: 50px;
      margin: auto;
    }

    @include media-breakpoint-down(sm) {
      top: 0;
      right: -62.5px;
      bottom: 0;
      width: 62.5px;
    }

    #{$this}.is-active & {
      background: #373e42;
    }
  }

  &__line-vertical {
    position: absolute;
    top: -163.5px;
    right: 0;
    left: 0;
    width: 1px;
    height: 163.5px;
    margin: auto;
    background: #373e42;
  }
}
