.sec-head {
  position: relative;
  padding: 75px 0 0;

  @include media-breakpoint-up(md) {
    padding: 180px 0 0;
  }

  &__title {
    font-family: $base-jp-font01;
    font-size: 23px;
    font-weight: 500;
    line-height: 1.7;
    text-align: center;
    letter-spacing: 0.1em;

    @include media-breakpoint-up(md) {
      font-size: 34px;
    }
  }

  &__text {
    margin-top: 22px;
    font-size: 13px;
    line-height: 2.4;
    letter-spacing: 0.07em;

    @include media-breakpoint-up(md) {
      margin-top: 30px;
      font-size: 14px;
      line-height: 2.5;
    }
  }
}
