.sec-future {
  $this: #{&};

  position: relative;

  @include media-breakpoint-down(sm) {
    overflow: hidden;
  }

  .l-container {
    @include media-breakpoint-up(md) {
      width: 100%;
      max-width: 1760px;
    }
  }

  &__wrapper {
    position: relative;
    padding: 80px 0 0 25px;

    @include media-breakpoint-up(md) {
      padding: 128px 0 0 0;
    }

    .line {
      position: absolute;
      background: rgba(#373e42, 0.2);

      @include media-breakpoint-down(sm) {
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
      }

      @include media-breakpoint-up(md) {
        top: 0;
        right: 0;
        left: 0;
        width: 1px;
        height: 307px;
        margin: auto;
      }
    }

    .js-line {
      background: #373e42;
      transition: height 0.1s linear;

      @include media-breakpoint-up(md) {
        max-height: 307px;
      }
    }
  }

  &__title {
    position: relative;
    z-index: 1;
    font-family: $base-jp-font01;
    font-size: 23px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;

    @include media-breakpoint-up(md) {
      font-size: 34px;
      background-color: #fff;
    }

    .title-acc {
      position: absolute;
      top: 50%;
      left: calc(50% - 40px);
      z-index: -1;
      font-family: $base-en-font01;
      font-size: 75px;
      font-weight: 500;
      color: $base-color03;
      letter-spacing: 0;
      opacity: 0;
      transition: 1.7s $ease-base;
      transform: translate(-50%, -50%);

      @at-root #{$this}__title.is-active .title-acc {
        left: 50%;
        opacity: 1;
      }

      @include media-breakpoint-up(md) {
        font-size: 160px;
        line-height: 0.7em;
        background-color: #fff;
      }
    }

    .circle {
      position: absolute;
      z-index: 5;
      display: block;
      width: 15px;
      height: 15px;
      background: #fff;
      border: 1px solid rgba(#373e42, 0.2);
      border-radius: 50%;

      @include media-breakpoint-up(md) {
        top: -110px;
        left: 20px;
        width: 20px;
        height: 20px;
        margin: auto;
      }

      @include media-breakpoint-down(sm) {
        top: 0;
        bottom: 0;
        left: -32px;
        margin: auto;
      }

      &.is-active {
        border-color: #373e42;
      }

      &__line {
        position: absolute;
        display: inline-block;
        margin: auto;
        background: rgba(#373e42, 0.2);

        @at-root #{$this}__title .circle.is-active .circle__line {
          background: #373e42;
        }

        @include media-breakpoint-up(md) {
          top: 19px;
          right: 0;
          left: 0;
          width: 1px;
          height: 60px;
          margin: auto;
        }

        @include media-breakpoint-down(sm) {
          top: 0;
          right: -62.5px;
          bottom: 0;
          width: 62.5px;
          height: 1px;
          margin: auto;
        }
      }

      &__line-vertical {
        position: absolute;
        top: -163.5px;
        right: 0;
        left: 0;
        width: 1px;
        height: 163.5px;
        margin: auto;
        background: #373e42;
      }
    }
  }

  &__box {
    position: relative;
    margin-top: 49px;

    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: center;
      padding-top: 80px;
      margin: 130px -28px 0;
    }

    &::before {
      @include media-breakpoint-up(md) {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 66.7%;
        height: 1px;
        margin: auto;
        content: '';
        background: rgba(#373e42, 0.2);
      }
    }

    &::after {
      @include media-breakpoint-up(md) {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 0;
        height: 1px;
        margin: auto;
        content: '';
        transition: 1s $ease-base;
        transform-origin: center;

        @at-root #{$this}__box.is-active:after {
          width: 66.7%;
          background: #373e42;
        }
      }
    }
  }
}

.future-item {
  $this: #{&};

  position: relative;
  margin-top: 30px;

  @include media-breakpoint-up(md) {
    width: 33.33333333%;
    padding: 0 28px;
    margin-top: 0;
  }

  &__wrapper {
    padding: 40px 30px;
    border: 1px solid rgba(#373e42, 0.2);
    transition: 0.5s $ease-base;

    @include media-breakpoint-up(md) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 330px;
      transition-delay: 0.5s;
    }

    &.is-active {
      border: 1px solid #373e42;

      @include media-breakpoint-down(sm) {
        transition-delay: 0.6s;
      }
    }
  }

  &:first-child {
    margin-top: 0;
  }

  &__line {
    position: absolute;
    background: rgba(#373e42, 0.2);

    @include media-breakpoint-down(sm) {
      top: 0;
      bottom: 0;
      left: -25px;
      width: 25px;
      height: 1px;
      margin: auto;
    }

    @include media-breakpoint-up(md) {
      top: -80px;
      right: 0;
      left: 0;
      width: 1px;
      height: 80px;
      margin: auto;
    }

    &::after {
      @at-root #{$this}__wrapper.is-active #{$this}__line::after {
        @include media-breakpoint-up(md) {
          height: 100%;
        }
      }

      @at-root #{$this}__wrapper.is-active #{$this}__line::after {
        @include media-breakpoint-up(sm) {
          width: 100%;
        }
      }

      @include media-breakpoint-up(md) {
        position: absolute;
        top: 0;
        left: 1px;
        width: 100%;
        height: 0;
        content: '';
        background: #373e42;
        transition: 0.5s $ease-base;
        transform-origin: top;
      }

      @include media-breakpoint-up(sm) {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        content: '';
        background: #373e42;
        transition: 0.5s $ease-base;
        transform-origin: top;
      }
    }
  }

  &__hide-line {
    position: absolute;
    bottom: 0;
    left: -26px;
    z-index: 6;
    width: 2px;
    height: 50%;
    background: #fff;
  }

  &__num {
    font-family: $base-en-font01;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.05em;
    opacity: 0;
    transition: 1s $ease-base;

    .color-01 {
      color: $base-color02;
    }

    .color-02 {
      color: $base-color01;
    }

    #{$this}__wrapper.is-active & {
      opacity: 1;
    }
  }

  &__title {
    margin-top: 15px;
    font-family: $base-jp-font01;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 0.1em;
    opacity: 0;
    transition: 1s $ease-base;

    @include media-breakpoint-up(md) {
      margin-top: 25px;
      font-size: 30px;
    }

    #{$this}__wrapper.is-active & {
      opacity: 1;
    }
  }

  &__text {
    margin-top: 20px;
    font-size: 13px;
    line-height: 2.4;
    letter-spacing: 0.07em;
    opacity: 0;
    transition: 1s $ease-base;

    @include media-breakpoint-up(md) {
      font-size: 14px;
      line-height: 2.5;
      text-align: center;
    }

    #{$this}__wrapper.is-active & {
      opacity: 1;
    }
  }
}
