.sec-link {
  position: relative;
  z-index: 1;
  padding-bottom: 100px;
  margin-top: 95px;

  @include media-breakpoint-up(md) {
    padding-bottom: 200px;
    margin-top: 180px;
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: calc(100% - 100px);
    content: '';
    background: $base-color03;

    @include media-breakpoint-up(md) {
      height: calc(100% - 200px);
    }
  }
}

.link-box {
  $this: #{&};

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 270px;
  padding: 0 22.5px;
  margin: 0 auto;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    height: 540px;
    padding: 0;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(@img-growth/index/link_box_img01.jpg) center/cover;
    transition: 1.5s $ease-base;

    @include media-breakpoint-up(md) {
      background: url(@img-growth/index/link_box_img01_md.jpg) center/cover;
    }

    #{$this}:hover & {
      @include media-breakpoint-up(md) {
        transform: scale(1.05);
      }
    }
  }

  &__title {
    z-index: 1;
    color: #fff;
    text-align: center;
  }

  &__en {
    font-family: $base-en-font01;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.05em;

    @include media-breakpoint-up(md) {
      font-size: 60px;
    }
  }

  &__jp {
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.07em;

    @include media-breakpoint-up(md) {
      font-size: 14px;
    }
  }

  &__button {
    z-index: 1;
    width: 100%;
    max-width: 260px;
    margin: 30px auto 0;
    background: rgba(#fff, 0.2);
    border-color: #fff;

    @include media-breakpoint-up(md) {
      max-width: 280px;
      margin: 60px auto 0;
    }

    #{$this}:hover & {
      @include media-breakpoint-up(md) {
        color: #373e42;
        background: #fff;
      }
    }

    .icon {
      #{$this}:hover & {
        @include media-breakpoint-up(md) {
          fill: #373e42;
          transform: translate3d(5px, -50%, 0);
        }
      }
    }
  }
}
