<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>プライバシーポリシー｜スマイルアンドサンキュー株式会社 採用サイト</title>
  <meta name="description" content="整骨院・接骨院・鍼灸院のスマイルアンドサンキュー株式会社の採用情報サイト。プライバシーポリシーについて紹介しております。">

  <meta property="og:title" content="プライバシーポリシー｜スマイルアンドサンキュー株式会社 採用サイト"><!-- To support Twitter Cards you need to fill in the content. -->
  <meta property="og:type" content="article"><!-- You need to fill in the content with "website" for the top page, and "article" for the other pages. -->
  <meta property="og:image" content="http://recruit.smile-39.com/assets/images/ogp.png"><!-- You need to fill in the content with the production URL of the image. -->
  <meta property="og:url" content="http://recruit.smile-39.com/privacy/"><!-- You need to fill in the content with the production URL of this page. -->
  <meta property="og:description" content="整骨院・接骨院・鍼灸院のスマイルアンドサンキュー株式会社の採用情報サイト。プライバシーポリシーについて紹介しております。"><!-- To support Twitter Cards this tag is required, and you need to fill in the content. -->
  <meta name="twitter:card" content="summary">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

<!--#include virtual="/includes/gtm-head.inc" -->

  <link rel="stylesheet" href="/assets/styles/main.css">
  <link rel="stylesheet" href="/assets/styles/pages/common/style.css">
  <link rel="stylesheet" href="/assets/styles/pages/privacy/style.css">
</head>

<body class="head-contents-small head-bg-color header-black">

  <%- include('/functions') %>
  <!--#include virtual="/includes/gtm-body.inc" -->

  <div class="l-page">
    <!--#include virtual="/includes/header.inc" -->

    <main class="l-main">

      <%- include('/lower_page_head', {
      textEn01: 'PRI',
      textEn02: 'VACY',
      textJa: 'プライバシーポリシー',
      letterSpace: false
    }) %>

      <section class="sec-privacy">
        <div class="l-container">
          <div class="privacy">
            <p class="privacy__top-text">
              スマイルアンドサンキュー株式会社（以下「当社」）は、以下のとおり個人情報保護方針を定め、個人情報保護の仕組みを構築し、全従業員に個人情報保護の重要性の認識と取組みを徹底させることにより、個人情報の保護を推進致します。
            </p>

            <div class="privacy__item">
              <h2 class="privacy__ttl">個人情報の管理</h2>
              <p class="privacy__text">
                当社は、お客様の個人情報を正確に保ち、個人情報への不正アクセス・紛失・破損・改ざん・漏洩などを防止するため、セキュリティシステムの維持・管理体制の整備・社員教育の徹底等の必要な措置を講じ、安全対策を実施し厳重な管理を行ないます。
              </p>
            </div>

            <div class="privacy__item">
              <h2 class="privacy__ttl">個人情報の利用目的</h2>
              <p class="privacy__text">
                お客様からお預かりした個人情報は、当社からのご連絡や業務のご案内やご質問に対する回答として、電子メールや資料のご送付に利用いたします。
              </p>
            </div>

            <div class="privacy__item">
              <h2 class="privacy__ttl">個人情報の第三者への開示・提供の禁止</h2>
              <p class="privacy__text">
                当社は、お客様よりお預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。
              </p>
              <ul class="list">
                <li class="list__item">
                  お客様の同意がある場合
                </li>
                <li class="list__item">
                  お客様が希望されるサービスを行なうために当社が業務を委託する業者に対して開示する場合
                </li>
                <li class="list__item">
                  法令に基づき開示することが必要である場合
                </li>
              </ul>
            </div>

            <div class="privacy__item">
              <h2 class="privacy__ttl">個人情報の安全対策</h2>
              <p class="privacy__text">
                当社は、個人情報の正確性及び安全性確保のために、セキュリティに万全の対策を講じています。
              </p>
            </div>

            <div class="privacy__item">
              <h2 class="privacy__ttl">ご本人の照会</h2>
              <p class="privacy__text">
                お客様がご本人の個人情報の照会・修正・削除などをご希望される場合には、ご本人であることを確認の上、対応させていただきます。
              </p>
            </div>

            <div class="privacy__item">
              <h2 class="privacy__ttl">法令、規範の遵守と見直し</h2>
              <p class="privacy__text">
                当社は、保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。
              </p>
            </div>

            <div class="privacy__item">
              <h2 class="privacy__ttl">個人情報の取り扱いに関する問い合わせ窓口</h2>
              <p class="privacy__text privacy__text--no-indent">
                電話番号 : 03-5338-3188
              </p>
            </div>
          </div>
        </div><!-- .l-container -->
      </section>
    </main><!-- .l-main -->

    <!--#include virtual="/includes/footer.inc" -->

  <div class="u-d-none">
    <%- include('/_svg-symbols') %>
  </div>

  </div><!-- .l-page -->

  <script src="/assets/scripts/vendors.js" defer></script>
  <script src="/assets/scripts/pages/common.js" defer></script>

</body>

</html>
