<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>会社紹介｜スマイルアンドサンキュー株式会社 採用サイト</title>
  <meta name="description" content="整骨院・接骨院・鍼灸院のスマイルアンドサンキュー株式会社の採用情報サイト。代表メッセージや会社情報などについて紹介しております。">

  <meta property="og:title" content="会社紹介｜スマイルアンドサンキュー株式会社 採用サイト"><!-- To support Twitter Cards you need to fill in the content. -->
  <meta property="og:type" content="article"><!-- You need to fill in the content with "website" for the top page, and "article" for the other pages. -->
  <meta property="og:image" content="http://recruit.smile-39.com/assets/images/ogp.png"><!-- You need to fill in the content with the production URL of the image. -->
  <meta property="og:url" content="http://recruit.smile-39.com/company/"><!-- You need to fill in the content with the production URL of this page. -->
  <meta property="og:description" content="整骨院・接骨院・鍼灸院のスマイルアンドサンキュー株式会社の採用情報サイト。代表メッセージや会社情報などについて紹介しております。"><!-- To support Twitter Cards this tag is required, and you need to fill in the content. -->
  <meta name="twitter:card" content="summary">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

<!--#include virtual="/includes/gtm-head.inc" -->

  <link rel="stylesheet" href="/assets/styles/main.css">
  <link rel="stylesheet" href="/assets/styles/pages/common/style.css">
  <link rel="stylesheet" href="/assets/styles/pages/company/style.css">
</head>

<body>

  <%- include('/functions') %>
  <!--#include virtual="/includes/gtm-body.inc" -->

  <div class="l-page">
    <!--#include virtual="/includes/header.inc" -->

    <main class="l-main">

      <%- include('/lower_page_head', {
        textEn01: 'ABOUT',
        textEn02: 'US',
        textJa: '会社紹介',
        imagePathMd: '/assets/images/pages/company/head_bg01_md.jpg',
        imagePathSm: '/assets/images/pages/company/head_bg01.jpg',
        colorType: 'fff'
      }) %>

      <section class="sec-philosophy">
        <div class="sec-philosophy__wrapper">
          <h2 class="c-sec-ttl show-animation js-io-element">
            <span class="c-sec-ttl__jp">
              企業理念
            </span><br>
            <span class="c-sec-ttl__en">
              <span class="c-sec-ttl__color01">PHILO</span><span class="c-sec-ttl__color02">SOPHY</span>
            </span>
          </h2>
          <div class="sec-philosophy__head">
            <div class="philosophy-figure show-animation js-io-element">
              <picture>
                <source media="(min-width: 768px)" srcset="@img-company/philosophy_figure01_md.png">
                <img class="img" src="@img-company/philosophy_figure01.png" alt="" width="315" height="291">
              </picture>
              <span class="philosophy-figure__typo">
                SUMASAN&nbsp;<br class="u-d-md-none">VALUE
              </span>
            </div>
          </div>
          <div class="sec-philosophy__body">
            <div class="l-container">
              <ul class="philosophy-item">
                <li class="philosophy-item__ls show-animation js-io-element">
                  <h3 class="philosophy-item__title">
                    <span class="philosophy-item__text">ミッション（使命）</span>
                    <span class="philosophy-item__line"></span>
                  </h3>
                  <ul class="philosophy-item__descript">
                    <li class="descript-text">
                      最高の技術、チームワークと全人格で、最高の医療・サービスを提供し、<br class="u-d-md-block u-d-none">ひとりでも多くの患者様の笑顔、感謝、希望、喜び、感動、幸せを創造すること
                    </li>
                    <li class="descript-text">
                      ひとりの社会人として仕事や社内外の活動を通して社会に貢献すること
                    </li>
                    <li class="descript-text descript-text-md-position">
                      これらを通してチーム全員が幸せになること
                    </li>
                  </ul>
                </li>
                <li class="philosophy-item__ls show-animation js-io-element">
                  <h3 class="philosophy-item__title">
                    <span class="philosophy-item__text">一人ひとりが目指す姿</span>
                    <span class="philosophy-item__line"></span>
                  </h3>
                  <ul class="philosophy-item__descript">
                    <li class="descript-text">
                      一流の医療家になること
                    </li>
                    <li class="descript-text">
                      一流の経営者になること
                    </li>
                    <li class="descript-text">
                      一流の人間になること
                    </li>
                    <li class="descript-text">
                      その実現のために仲間の成長を支援すること
                    </li>
                  </ul>
                </li>
                <li class="philosophy-item__ls show-animation js-io-element">
                  <h3 class="philosophy-item__title">
                    <span class="philosophy-item__text">大事にする共有価値観</span>
                    <span class="philosophy-item__line"></span>
                  </h3>
                  <ul class="philosophy-item__descript">
                    <li class="descript-text">
                      より多くの患者様を幸せにすること
                    </li>
                    <li class="descript-text">
                      仲間に思いやりを持ち、成長を支援すること
                    </li>
                    <li class="descript-text">
                      チームワークを大事にすること
                    </li>
                    <li class="descript-text">
                      会社の成長を目指すこと
                    </li>
                    <li class="descript-text">
                      地域社会の役に立つこと
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section class="sec-interview sec-interview--reverce">
        <div class="l-container">
          <div class="sec-interview__wrapper">
            <h2 class="c-sec-ttl show-animation js-io-element">
              <span class="c-sec-ttl__jp">
                仕事内容
              </span><br>
              <span class="c-sec-ttl__en">
                <span class="c-sec-ttl__color01">JO</span><span class="c-sec-ttl__color02">B</span>
              </span>
            </h2>
            <div class="sec-interview__body">
              <div class="interview-item show-animation js-io-element">
                <div class="interview-item__img interview-item__img--01"></div>
                <div class="interview-item__wrap">
                  <h2 class="interview-item__title" data-num="01">
                    痛みから開放され<br>
                    整骨院に来る必要が<br class="u-d-md-none">
                    無くなる時まで<br>
                    “チーム”で患者様をサポート
                  </h2>
                  <p class="interview-item__content">
                    当社では、患者様の症状が根本的に治った状態である「根治」を目指しており、患者様を“担当制”ではなく“チーム”でサポートする体制を整えています。まずは患者様との対話を通して、「痛み・辛さ」の原因を正確に見極め、一人ひとりにあった治療計画を作成しながら、役職や柔整、鍼灸といった資格にとらわれず受付を含んだスタッフ一同がチームになり全員で患者様の「根治」に向けた施術サービスを提供しています。
                  </p>
                </div>
              </div>
              <div class="interview-item interview-item--reverce show-animation js-io-element">
                <div class="interview-item__img interview-item__img--02"></div>
                <div class="interview-item__wrap">
                  <h2 class="interview-item__title" data-num="02">
                    初めて患者様と接する<br class="u-d-md-none">
                    第一歩から<br>
                    「一流の医療家」になるまで<br>
                    成長するためのサポート環境
                  </h2>
                  <p class="interview-item__content">
                    当社では、あなたの「医療家」としてのデビューを安心して踏み出せる環境を用意しています。院内は、あえて施術台間の仕切りをなくしており、入社まもない時でもすぐに先輩がフォローに入ることができるので安心して患者様に向き合うことができます。また、実践的な研修以外にも各院で積極的に勉強会も実施しており、日々患者様と接する中で生じた悩みや、疑問点などをその日のうちに解消できるよう、全社員にiPadを支給し、コミュニケーションツールやシステムも整えております。また多くの先輩や仲間がいますので、しっかりと知識や技術を学べる環境があります。
                  </p>
                </div>
              </div>
              <div class="interview-item show-animation js-io-element">
                <div class="interview-item__img interview-item__img--03"></div>
                <div class="interview-item__wrap">
                  <h2 class="interview-item__title" data-num="03">
                    鍼灸整骨院の可能性を<br class="u-d-md-none">
                    広げるため<br>
                    研修制度と最新機器の設備を<br>
                    常にアップデート
                  </h2>
                  <p class="interview-item__content">
                    当社では、私たち柔整師・鍼灸師が鍼灸接骨院で治療できる症例・疾患を一つでも増やし、患者様を「根治」へ導けるよう、治療技術の研究や最新設備へのアップデートを行なっています。社内研修だけにとどまらず、外部講師の講習や、医師との勉強会や研修、各方面の学会への参加などによる技術研究を進めています。また効果の高い最新の施術機器を取り入れるなど、患者様の「根治」に常に全力で向き合っていきます。志高く「一流の医療家」を目指すための環境が「スマイルアンドサンキュー」にはあります。
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="sec-overview">
        <div class="l-container">
          <div class="sec-overview__wrapper">
            <h2 class="c-sec-ttl show-animation js-io-element">
              <span class="c-sec-ttl__jp">
                会社概要
              </span><br>
              <span class="c-sec-ttl__en">
                <span class="c-sec-ttl__color01">COM</span><span class="c-sec-ttl__color02">PANY</span>
              </span>
            </h2>
            <ul class="sec-overview__body show-animation js-io-element">
              <li class="overview-item">
                <dl class="overview-item__wrapper overview-item__wrapper--lg">
                  <dt class="overview-item__title">
                    社名
                  </dt>
                  <dd class="overview-item__descript">
                    スマイルアンドサンキュー株式会社
                  </dd>
                </dl>
              </li>
              <li class="overview-item">
                <dl class="overview-item__wrapper overview-item__wrapper--lg">
                  <dt class="overview-item__title">
                    住所
                  </dt>
                  <dd class="overview-item__descript">
                    〒141-0031<br>東京都品川区西五反田7-22-17　TOCビル8F
                  </dd>
                </dl>
              </li>
              <li class="overview-item">
                <dl class="overview-item__wrapper">
                  <dt class="overview-item__title">
                    電話番号
                  </dt>
                  <dd class="overview-item__descript">
                    03‐5487‐7177
                  </dd>
                </dl>
              </li>
              <li class="overview-item">
                <dl class="overview-item__wrapper">
                  <dt class="overview-item__title">
                    FAX番号
                  </dt>
                  <dd class="overview-item__descript">
                    03‐5487‐7178
                  </dd>
                </dl>
              </li>
              <li class="overview-item">
                <dl class="overview-item__wrapper">
                  <dt class="overview-item__title">
                    設立
                  </dt>
                  <dd class="overview-item__descript">
                    2006年8月
                  </dd>
                </dl>
              </li>
              <li class="overview-item">
                <dl class="overview-item__wrapper">
                  <dt class="overview-item__title">
                    代表取締役
                  </dt>
                  <dd class="overview-item__descript">
                    久保田 明史
                  </dd>
                </dl>
              </li>
              <li class="overview-item">
                <dl class="overview-item__wrapper">
                  <dt class="overview-item__title">
                    従業員数
                  </dt>
                  <dd class="overview-item__descript">
                    150名
                  </dd>
                </dl>
              </li>
              <li class="overview-item">
                <dl class="overview-item__wrapper">
                  <dt class="overview-item__title">
                    事業内容
                  </dt>
                  <dd class="overview-item__descript">
                    整骨院・治療院の経営
                  </dd>
                </dl>
              </li>
              <li class="overview-item">
                <dl class="overview-item__wrapper">
                  <dt class="overview-item__title">
                    整骨院数
                  </dt>
                  <dd class="overview-item__descript">
                    グループ院19院(2020年6月現在)
                  </dd>
                </dl>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="sec-access">
        <div class="sec-access__wrapper">
          <h2 class="c-sec-ttl show-animation js-io-element">
            <span class="c-sec-ttl__jp">
              本社アクセス
            </span><br>
            <span class="c-sec-ttl__en">
              <span class="c-sec-ttl__color01">AC</span><span class="c-sec-ttl__color02">CESS</span>
            </span>
          </h2>
          <div class="sec-access__map show-animation js-io-element">
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3243.2353072351684!2d139.71687391525722!3d35.62192518020809!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ae59ebd08f7%3A0x870cdc3e65ab531e!2z44CSMTQxLTAwMzEg5p2x5Lqs6YO95ZOB5bed5Yy66KW_5LqU5Y-N55Sw77yX5LiB55uu77yS77yS4oiS77yR77yXIFRPQ-ODk-ODqyA4Rg!5e0!3m2!1sja!2sjp!4v1604020011772!5m2!1sja!2sjp" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
          <div class="l-container">
            <div class="access-info">
              <div class="access-item--address access-item show-animation js-io-element">
                <h2 class="access-item__title">
                  本社住所
                </h2>
                <p class="access-item__descript">
                  〒141-0031<br>
                  東京都品川区西五反田7-22-17　TOCビル8F
                </p>
                <a href="https://www.google.co.jp/maps/place/%E3%80%92141-0031+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%93%81%E5%B7%9D%E5%8C%BA%E8%A5%BF%E4%BA%94%E5%8F%8D%E7%94%B0%EF%BC%97%E4%B8%81%E7%9B%AE%EF%BC%92%EF%BC%92%E2%88%92%EF%BC%91%EF%BC%97+TOC%E3%83%93%E3%83%AB+8F/@35.6219252,139.7168739,17z/data=!3m1!4b1!4m5!3m4!1s0x60188ae59ebd08f7:0x870cdc3e65ab531e!8m2!3d35.6219252!4d139.7190626?hl=ja" class="access-item__link" target="_blank">
                  <span class="access-item__arrow">
                    <svg class="icon icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>
                  </span>Googleマップ
                  <span class="link-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9"><path fill-rule="evenodd" fill="#373E42" d="M8 6.999V1H2V-.001h7v7H8zM7 2v7H0V2h7zM1 8h5V3H1v5z"/></svg>
                  </span>
                </a>
              </div>
              <div class="access-item--address access-item show-animation js-io-element">
                <h2 class="access-item__title">
                  アクセス
                </h2>
                <ul class="access-item__descript">
                  <li class="access-text">
                    JR・都営地下鉄 五反田駅より徒歩10分
                  </li>
                  <li class="access-text">
                    東急目黒線 不動前駅より徒歩6分
                  </li>
                  <li class="access-text">
                    東急池上線 大崎広小路駅より徒歩9分
                  </li>
                </ul>
                <p class="access-item__caution">
                  JR五反田駅からTOCビルへの無料シャトルバス（TOC EXPRESS）もご利用いただけます。<br>（第2TOC前にて下車して下さい。乗車はできません。）<br>平日8分間隔の運行で、土日祝日 年末年始は原則として運休です。
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="sec-clinic">
        <div class="l-container">
          <div class="sec-clinic__wrapper">
            <h2 class="c-sec-ttl show-animation js-io-element">
              <span class="c-sec-ttl__jp">
                店舗一覧
              </span><br>
              <span class="c-sec-ttl__en">
                <span class="c-sec-ttl__color01">CLI</span><span class="c-sec-ttl__color02">NIC</span>
              </span>
            </h2>
            <ul class="sec-clinic__contents">
              <li class="clinic show-animation js-io-element">
                <a href="https://www.kyodo-in.com/" class="clinic__item" target="_blank">
                  <div class="clinic__img-wrap">
                    <div class="clinic__img--1"></div>
                  </div>
                  <div class="clinic__body">
                    <p class="clinic__info">
                      <svg class="icon clinic__arrow icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>
                      <span class="clinic__name">
                        ハートフル農大通り<br class="u-d-md-none">中央<br class="u-d-md-block u-d-none">整骨院<svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9"><path fill-rule="evenodd" fill="#373E42" d="M8 6.999V1H2V-.001h7v7H8zM7 2v7H0V2h7zM1 8h5V3H1v5z"/></svg>
                      </span>
                    </p>
                  </div>
                </a>
              </li>
              <li class="clinic show-animation js-io-element">
                <a href="https://www.goutokuji-in.com/" class="clinic__item" target="_blank">
                  <div class="clinic__img-wrap">
                    <div class="clinic__img--2"></div>
                  </div>
                  <div class="clinic__body">
                    <p class="clinic__info">
                      <svg class="icon clinic__arrow icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>
                      <span class="clinic__name">
                        ごうとくじ駅前通り<br class="u-d-md-none">整骨院<svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9"><path fill-rule="evenodd" fill="#373E42" d="M8 6.999V1H2V-.001h7v7H8zM7 2v7H0V2h7zM1 8h5V3H1v5z"/></svg>
                      </span>
                    </p>
                  </div>
                </a>
              </li>
              <li class="clinic show-animation js-io-element">
                <a href="https://www.sengawa-in.com/" class="clinic__item" target="_blank">
                  <div class="clinic__img-wrap">
                    <div class="clinic__img--3"></div>
                  </div>
                  <div class="clinic__body">
                    <p class="clinic__info">
                      <svg class="icon clinic__arrow icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>
                      <span class="clinic__name">
                        ハーモニー仙川中央<br class="u-d-md-none">整骨院<svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9"><path fill-rule="evenodd" fill="#373E42" d="M8 6.999V1H2V-.001h7v7H8zM7 2v7H0V2h7zM1 8h5V3H1v5z"/></svg>
                      </span>
                    </p>
                  </div>
                </a>
              </li>
              <li class="clinic show-animation js-io-element">
                <a href="https://www.kouenji-in.com/" class="clinic__item" target="_blank">
                  <div class="clinic__img-wrap">
                    <div class="clinic__img--4"></div>
                  </div>
                  <div class="clinic__body">
                    <p class="clinic__info">
                      <svg class="icon clinic__arrow icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>
                      <span class="clinic__name">
                        高円寺すまさん<br class="u-d-md-none">整骨院<svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9"><path fill-rule="evenodd" fill="#373E42" d="M8 6.999V1H2V-.001h7v7H8zM7 2v7H0V2h7zM1 8h5V3H1v5z"/></svg>
                      </span>
                    </p>
                  </div>
                </a>
              </li>
              <li class="clinic show-animation js-io-element">
                <a href="https://www.sasazuka-in.com/" class="clinic__item" target="_blank">
                  <div class="clinic__img-wrap">
                    <div class="clinic__img--5"></div>
                  </div>
                  <div class="clinic__body">
                    <p class="clinic__info">
                      <svg class="icon clinic__arrow icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>
                      <span class="clinic__name">
                        ささづか十号通り<br class="u-d-md-none">整骨院<svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9"><path fill-rule="evenodd" fill="#373E42" d="M8 6.999V1H2V-.001h7v7H8zM7 2v7H0V2h7zM1 8h5V3H1v5z"/></svg>
                      </span>
                    </p>
                  </div>
                </a>
              </li>
              <li class="clinic show-animation js-io-element">
                <a href="https://www.nakanobu-in.com/" class="clinic__item" target="_blank">
                  <div class="clinic__img-wrap">
                    <div class="clinic__img--6"></div>
                  </div>
                  <div class="clinic__body">
                    <p class="clinic__info">
                      <svg class="icon clinic__arrow icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>
                      <span class="clinic__name">
                        なかのぶスキップ<br class="u-d-md-none">ロード<br class="u-d-md-block u-d-none">整骨院<svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9"><path fill-rule="evenodd" fill="#373E42" d="M8 6.999V1H2V-.001h7v7H8zM7 2v7H0V2h7zM1 8h5V3H1v5z"/></svg>
                      </span>
                    </p>
                  </div>
                </a>
              </li>
              <li class="clinic show-animation js-io-element">
                <a href="https://www.oyamadai-in.com/" class="clinic__item" target="_blank">
                  <div class="clinic__img-wrap">
                    <div class="clinic__img--7"></div>
                  </div>
                  <div class="clinic__body">
                    <p class="clinic__info">
                      <svg class="icon clinic__arrow icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>
                      <span class="clinic__name">
                        ハッピーロード<br class="u-d-md-none">尾山台整骨院<svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9"><path fill-rule="evenodd" fill="#373E42" d="M8 6.999V1H2V-.001h7v7H8zM7 2v7H0V2h7zM1 8h5V3H1v5z"/></svg>
                      </span>
                    </p>
                  </div>
                </a>
              </li>
              <li class="clinic show-animation js-io-element">
                <a href="https://www.togoshiginza-seikotsu.com/" class="clinic__item" target="_blank">
                  <div class="clinic__img-wrap">
                    <div class="clinic__img--8"></div>
                  </div>
                  <div class="clinic__body">
                    <p class="clinic__info">
                      <svg class="icon clinic__arrow icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>
                      <span class="clinic__name">
                        戸越銀座駅前<br class="u-d-md-none">整骨院<svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9"><path fill-rule="evenodd" fill="#373E42" d="M8 6.999V1H2V-.001h7v7H8zM7 2v7H0V2h7zM1 8h5V3H1v5z"/></svg>
                      </span>
                    </p>
                  </div>
                </a>
              </li>
              <li class="clinic show-animation js-io-element">
                <a href="https://www.sangenjaya-seikotsu.com/" class="clinic__item" target="_blank">
                  <div class="clinic__img-wrap">
                    <div class="clinic__img--9"></div>
                  </div>
                  <div class="clinic__body">
                    <p class="clinic__info">
                      <svg class="icon clinic__arrow icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>
                      <span class="clinic__name">
                        三茶しゃれなあど<br class="u-d-md-none">整骨院<svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9"><path fill-rule="evenodd" fill="#373E42" d="M8 6.999V1H2V-.001h7v7H8zM7 2v7H0V2h7zM1 8h5V3H1v5z"/></svg>
                      </span>
                    </p>
                  </div>
                </a>
              </li>
              <li class="clinic show-animation js-io-element">
                <a href="https://www.asagaya-seikotsu.com/" class="clinic__item" target="_blank">
                  <div class="clinic__img-wrap">
                    <div class="clinic__img--10"></div>
                  </div>
                  <div class="clinic__body">
                    <p class="clinic__info">
                      <svg class="icon clinic__arrow icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>
                      <span class="clinic__name">
                        阿佐ヶ谷すまさん<br class="u-d-md-none">整骨院<svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9"><path fill-rule="evenodd" fill="#373E42" d="M8 6.999V1H2V-.001h7v7H8zM7 2v7H0V2h7zM1 8h5V3H1v5z"/></svg>
                      </span>
                    </p>
                  </div>
                </a>
              </li>
              <li class="clinic show-animation js-io-element">
                <a href="https://www.higashinakano-seikotsu.com/" class="clinic__item" target="_blank">
                  <div class="clinic__img-wrap">
                    <div class="clinic__img--11"></div>
                  </div>
                  <div class="clinic__body">
                    <p class="clinic__info">
                      <svg class="icon clinic__arrow icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>
                      <span class="clinic__name">
                        東中野すまさん<br class="u-d-md-none">整骨院<svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9"><path fill-rule="evenodd" fill="#373E42" d="M8 6.999V1H2V-.001h7v7H8zM7 2v7H0V2h7zM1 8h5V3H1v5z"/></svg>
                      </span>
                    </p>
                  </div>
                </a>
              </li>
              <li class="clinic show-animation js-io-element">
                <a href="https://www.kamata-seikotsu.com/" class="clinic__item" target="_blank">
                  <div class="clinic__img-wrap">
                    <div class="clinic__img--12"></div>
                  </div>
                  <div class="clinic__body">
                    <p class="clinic__info">
                      <svg class="icon clinic__arrow icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>
                      <span class="clinic__name">
                        サンライズ蒲田<br class="u-d-md-none">整骨院<svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9"><path fill-rule="evenodd" fill="#373E42" d="M8 6.999V1H2V-.001h7v7H8zM7 2v7H0V2h7zM1 8h5V3H1v5z"/></svg>
                      </span>
                    </p>
                  </div>
                </a>
              </li>
              <li class="clinic show-animation js-io-element">
                <a href="https://www.daitabashi-seikotsu.com/" class="clinic__item" target="_blank">
                  <div class="clinic__img-wrap">
                    <div class="clinic__img--13"></div>
                  </div>
                  <div class="clinic__body">
                    <p class="clinic__info">
                      <svg class="icon clinic__arrow icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>
                      <span class="clinic__name">
                        代田橋北口整骨院<svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9"><path fill-rule="evenodd" fill="#373E42" d="M8 6.999V1H2V-.001h7v7H8zM7 2v7H0V2h7zM1 8h5V3H1v5z"/></svg>
                      </span>
                    </p>
                  </div>
                </a>
              </li>
              <li class="clinic show-animation js-io-element">
                <a href="https://www.kugahara-seikotsu.com/" class="clinic__item" target="_blank">
                  <div class="clinic__img-wrap">
                    <div class="clinic__img--14"></div>
                  </div>
                  <div class="clinic__body">
                    <p class="clinic__info">
                      <svg class="icon clinic__arrow icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>
                      <span class="clinic__name">
                        久が原駅前通り<br class="u-d-md-none">整骨院<svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9"><path fill-rule="evenodd" fill="#373E42" d="M8 6.999V1H2V-.001h7v7H8zM7 2v7H0V2h7zM1 8h5V3H1v5z"/></svg>
                      </span>
                    </p>
                  </div>
                </a>
              </li>
              <li class="clinic show-animation js-io-element">
                <a href="https://www.yaguchinowatashi-seikotsu.com/" class="clinic__item" target="_blank">
                  <div class="clinic__img-wrap">
                    <div class="clinic__img--15"></div>
                  </div>
                  <div class="clinic__body">
                    <p class="clinic__info">
                      <svg class="icon clinic__arrow icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>
                      <span class="clinic__name">
                        矢口渡中央整骨院<svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9"><path fill-rule="evenodd" fill="#373E42" d="M8 6.999V1H2V-.001h7v7H8zM7 2v7H0V2h7zM1 8h5V3H1v5z"/></svg>
                      </span>
                    </p>
                  </div>
                </a>
              </li>
              <li class="clinic show-animation js-io-element">
                <a href="https://tokyo-ange.com/" class="clinic__item" target="_blank">
                  <div class="clinic__img-wrap">
                    <div class="clinic__img--16"></div>
                  </div>
                  <div class="clinic__body">
                    <p class="clinic__info">
                      <svg class="icon clinic__arrow icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>
                      <span class="clinic__name">
                        東京アンジュ<br class="u-d-md-none">治療院<svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9"><path fill-rule="evenodd" fill="#373E42" d="M8 6.999V1H2V-.001h7v7H8zM7 2v7H0V2h7zM1 8h5V3H1v5z"/></svg>
                      </span>
                    </p>
                  </div>
                </a>
              </li>
              <li class="clinic show-animation js-io-element">
                <a href="https://www.itabashi-seikotsu.com/" class="clinic__item" target="_blank">
                  <div class="clinic__img-wrap">
                    <div class="clinic__img--17"></div>
                  </div>
                  <div class="clinic__body">
                    <p class="clinic__info">
                      <svg class="icon clinic__arrow icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>
                      <span class="clinic__name">
                        板橋仲宿<br class="u-d-md-none">整骨院・鍼灸院<svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9"><path fill-rule="evenodd" fill="#373E42" d="M8 6.999V1H2V-.001h7v7H8zM7 2v7H0V2h7zM1 8h5V3H1v5z"/></svg>
                      </span>
                    </p>
                  </div>
                </a>
              </li>
              <li class="clinic show-animation js-io-element">
                <a href="http://www.smile-39.com/clinic/izu-shinkyu/" class="clinic__item" target="_blank">
                  <div class="clinic__img-wrap">
                    <div class="clinic__img--18"></div>
                  </div>
                  <div class="clinic__body">
                    <p class="clinic__info">
                      <svg class="icon clinic__arrow icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>
                      <span class="clinic__name">
                        伊豆高原大室山<br class="u-d-md-none">鍼灸治療院<svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9"><path fill-rule="evenodd" fill="#373E42" d="M8 6.999V1H2V-.001h7v7H8zM7 2v7H0V2h7zM1 8h5V3H1v5z"/></svg>
                      </span>
                    </p>
                  </div>
                </a>
              </li>
              <li class="clinic show-animation js-io-element">
                <a href="https://goodbye-seikotsu.com/" class="clinic__item" target="_blank">
                  <div class="clinic__img-wrap">
                    <div class="clinic__img--19"></div>
                  </div>
                  <div class="clinic__body">
                    <p class="clinic__info">
                      <svg class="icon clinic__arrow icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>
                      <span class="clinic__name">
                        good bye<br>鍼灸院・整骨院・<br class="u-d-md-none">整体院<svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9"><path fill-rule="evenodd" fill="#373E42" d="M8 6.999V1H2V-.001h7v7H8zM7 2v7H0V2h7zM1 8h5V3H1v5z"/></svg>
                      </span>
                    </p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>

    </main><!-- .l-main -->

    <!--#include virtual="/includes/footer.inc" -->

  <div class="u-d-none">
    <%- include('/_svg-symbols') %>
  </div>

  </div><!-- .l-page -->

  <script src="/assets/scripts/vendors.js" defer></script>
  <script src="/assets/scripts/pages/common.js" defer></script>

</body>

</html>
