.news-nav {
  $this: #{&};

  display: flex;
  margin: 0 -7.5px;

  @include media-breakpoint-up(md) {
    margin: 0 -27.5px;
  }

  &__ls {
    width: 33.33333%;
    padding: 0 7.5px;

    @include media-breakpoint-up(md) {
      padding: 0 27.5px;
    }
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    font-family: $base-en-font01;
    color: rgba(#373e42, 0.2);
    transition: 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);

    @include media-breakpoint-up(md) {
      height: 72px;
    }

    &:hover {
      @include media-breakpoint-up(md) {
        color: rgba(#373e42, 1);
      }
    }

    &.current-category {
      color: rgba(#373e42, 1);
      pointer-events: none;
    }
  }

  &__line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    content: '';
    background: rgba(#373e42, 0.2);

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      background: #373e42;
      transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
      transform: scaleX(0);
      transform-origin: right;

      #{$this} #{$this}__item:hover & {
        @include media-breakpoint-up(md) {
          transform: scaleX(1);
          transform-origin: left;
        }
      }

      #{$this} #{$this}__item.current-category & {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }

  &__txt {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.05em;

    @include media-breakpoint-up(md) {
      font-size: 15px;
    }
  }
}

.news-item {
  $this: #{&};

  display: block;
  padding: 30px 0;
  border-bottom: 1px solid rgba(#373e42, 0.2);

  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;
    padding: 40px 0;
  }

  &__wrap {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: $base-en-font01;
    font-size: 13px;
    letter-spacing: 0.05em;

    @include media-breakpoint-up(md) {
      margin: 0 65px 0 0;
    }
  }

  &__create-at {
    margin-right: 20px;
    font-weight: 400;

    @include media-breakpoint-up(md) {
      width: 80px;
      margin-right: 60px;
    }
  }

  &__category {
    padding: 7px 26.5px 6px;
    font-size: 11px;
    line-height: 1;
    color: #9faaac;
    letter-spacing: 0.05em;
    background: $base-color03;
    border-radius: 11px;

    @include media-breakpoint-up(md) {
      flex: 1;
      padding: 9px 32px 8px;
      font-size: 13px;
      border-radius: 14px;
    }
  }

  &__text {
    font-size: 13px;
    line-height: 2.15;
    letter-spacing: 0.07em;

    @include media-breakpoint-up(md) {
      font-size: 14px;
    }

    #{$this}:hover & {
      @include media-breakpoint-up(md) {
        text-decoration: underline;
      }
    }
  }
}

.pagenation {
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
      max-width: 315px;
      margin: 0 auto;
    }
  }

  &__next,
  &__prev {
    width: 150px;

    @include media-breakpoint-up(md) {
      width: 280px;
    }
  }

  &__prev-button {
    font-weight: 500;

    @include media-breakpoint-down(sm) {
      justify-content: flex-end;
      padding-right: 23px;
    }

    .icon {
      right: auto;
      left: 30px;
      transform: rotate(180deg) translate3d(0, 50%, 0);
    }

    &:hover {
      @include media-breakpoint-up(md) {
        .icon {
          transform: rotate(180deg) translate3d(5px, 50%, 0);
        }
      }
    }
  }

  &__next-button {
    font-weight: 500;

    @include media-breakpoint-down(sm) {
      justify-content: end;
      padding-left: 23px;
    }
  }

  &__button-wrap {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin: 0 -7.5px;

    @include media-breakpoint-down(sm) {
      order: -1;
      width: 100%;
      margin-bottom: 30px;
    }
  }

  &__ls {
    padding: 0 7.5px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-family: $base-en-font01;
    font-weight: 400;
    color: #373e42;
    background: $base-color03;
    border-radius: 50%;

    &:hover {
      color: #fff;
      background: #373e42;

      @include media-breakpoint-up(md) {
        transition: 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
      }
    }

    &.current-num {
      color: #fff;
      background: #373e42;
    }
  }
}
