@charset "utf-8";

/*-----------------------------------------------------
Main -common-
-------------------------------------------------------*/

/* form
---------------------*/
#Main .section form {
	margin-bottom:50px;
}
#Main .section form p{
	margin-bottom:15px;
}

/* auth
---------------------*/
#Main .section.auth p span.auth-txt{
	float:left;
	display:block;
	width:100px;
}
#Main .section.auth p.keys{
}

#Main .section.auth p.keys span.label{
}
#Main .section.auth p.twitter{
	background:url(../../images/common/ico_twitter.gif) no-repeat 0 50%;
	padding-left:25px;
}
#Main .section.auth p.facebook{
	background:url(../../images/common/ico_facebook.gif) no-repeat 0 50%;
	padding-left:25px;
}



/*-----------------------------------------------------
Main -pc-
-------------------------------------------------------*/

/* form
---------------------*/
#Pc #Main .section form{
}
#Pc #Main .section form p{
	margin:20px 0;
}
#Pc #Main .section form .label{
	width:170px;
	display:inline-block;
	font-weight:bold;
}
#Pc #Main .section form .text{
	width:400px;
}
#Pc #Main .section.auth form .text{
	width:370px;
}
#Pc #Main .section form .btn-type01{
	margin:30px auto 0 auto;
}
/* auth
---------------------*/
#Pc #Main .section.auth{
	margin-bottom:20px;
}
#Pc #Main .section.auth p.keys span.label{
        padding-left: 20px;
}

#Main .section.auth p.twitter{
	margin:15px 0 20px 0;
}

/* btn
---------------------*/
#Pc #Main p.btn-type01,
#Pc #Modal p.btn-type01,
#Pc #Main p.btn-type01 input,
#Pc #Main p.btn-type01 span{
	width:158px;
}

/** IP制限用アラート */
#Pc #Main .section #ip-alert-container {
	position:relative;
	display:none;
}
#Pc #Main .section #ip-alert {
	position:absolute;
	top:-20px;
	font-size:0.85em;
	border:5px solid #e2dc58;
	padding:10px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	-pie-border-radius:5px;
	background:#fefdcc;
}

/*-----------------------------------------------------
Main -smp-
-------------------------------------------------------*/

/* form
---------------------*/
#Smp #Main .section form .label{
	width:auto;
	display:block;
	font-weight:bold;
}
#Smp #Main .section form input.text{
	width:95%;
}

/* btn-type01
---------------------*/
#Smp #Main .section .btn-type01{
	margin:0 auto 5px auto;
}

/** IP制限用アラート */
#Smp #Main .section #ip-alert-container {
	position:relative;
	margin-bottom:15px;
}
#Smp #Main .section #ip-alert {
	font-size:0.8em;
	border:4px solid #e2dc58;
	padding:6px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	-ms-border-radius:4px;
	-pie-border-radius:4px;
	background:#fefdcc;
}