<!DOCTYPE html>
<html lang="ja">
<% let page = {
    "name": "Form Template confirm",
    "title": "確認画面｜中途採用エントリーフォーム｜スマイルアンドサンキュー株式会社 採用サイト",
    "description": "整骨院・接骨院・鍼灸院のスマイルアンドサンキュー株式会社の採用情報サイト。中途採用エントリーフォームとなります。",
    "slug": "confirm",
    "path": ".",
    "level": "1",
    "parent": "",
    "form": true,
    "scripts": false
  }; _%>
<head prefix="og: http://ogp.me/ns#">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>確認画面｜中途採用エントリーフォーム｜スマイルアンドサンキュー株式会社 採用サイト</title>
<meta name="description" content="整骨院・接骨院・鍼灸院のスマイルアンドサンキュー株式会社の採用情報サイト。中途採用エントリーフォームとなります。">

<meta property="og:title" content="確認画面｜中途採用エントリーフォーム｜スマイルアンドサンキュー株式会社 採用サイト"><!-- To support Twitter Cards you need to fill in the content. -->
<meta property="og:type" content="article"><!-- You need to fill in the content with "website" for the top page, and "article" for the other pages. -->
<meta property="og:image" content="http://recruit.smile-39.com/assets/images/ogp.png"><!-- You need to fill in the content with the production URL of the image. -->
<meta property="og:url" content="http://recruit.smile-39.com/recruit/entry/career/"><!-- You need to fill in the content with the production URL of this page. -->
<meta property="og:description" content="整骨院・接骨院・鍼灸院のスマイルアンドサンキュー株式会社の採用情報サイト。中途採用エントリーフォームとなります。"><!-- To support Twitter Cards this tag is required, and you need to fill in the content. -->
<meta name="twitter:card" content="summary">

<meta name="viewport" content="width=device-width, initial-scale=1">

{% include('/includes/gtm-head.inc') %}
<script>
  dataLayer.push({
    'trackPageview': '/recruit/entry/career/confirm.html',
    'event': 'loadready'
  });
</script>
<link rel="stylesheet" href="/assets/styles/main.css">
<link rel="stylesheet" href="/assets/styles/pages/contact/main.css">
<link rel="stylesheet" href="/assets/styles/pages/contact/pages/index/style.css">
</head>

<body id="body" class="footer-none header-button-none">
  <%- include('/functions') %>
  {% include('/includes/gtm-body.inc') %}

  <div class="l-page">

    {% include('/includes/header.inc') %}

    <main class="l-main">

    <%- include('/lower_page_head', {
      textEn01: 'ENTRY',
      textEn02: 'FORM',
      textJa: '中途採用エントリーフォーム',
      imagePathMd: '/assets/images/pages/contact/contact_bg01_md.jpg',
      imagePathSm: '/assets/images/pages/contact/contact_bg01.jpg',
      colorType: 'fff'
    }) %>

      <%- include('./modules/_confirm') %>
    </main><!-- .l-main -->

    {% include('/includes/footer.inc') %}

    <div class="u-d-none">
      <%- include('/_svg-symbols') %>
    </div>

  </div><!-- .l-page -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="/assets/scripts/vendors.js" defer></script>
  <script src="/assets/scripts/pages/contact/index.js" defer></script>
  <script src="/assets/scripts/pages/common.js" defer></script>
</body>

</html>
