<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>研修制度｜成長環境について｜スマイルアンドサンキュー株式会社 採用サイト</title>
  <meta name="description" content="整骨院・接骨院・鍼灸院のスマイルアンドサンキュー株式会社の採用情報サイト。充実した研修制度について紹介しております。">

  <meta property="og:title" content="研修制度｜成長環境について｜スマイルアンドサンキュー株式会社 採用サイト"><!-- To support Twitter Cards you need to fill in the content. -->
  <meta property="og:type" content="article"><!-- You need to fill in the content with "website" for the top page, and "article" for the other pages. -->
  <meta property="og:image" content="http://recruit.smile-39.com/assets/images/ogp.png"><!-- You need to fill in the content with the production URL of the image. -->
  <meta property="og:url" content="http://recruit.smile-39.com/growth/training/"><!-- You need to fill in the content with the production URL of this page. -->
  <meta property="og:description" content="整骨院・接骨院・鍼灸院のスマイルアンドサンキュー株式会社の採用情報サイト。充実した研修制度について紹介しております。"><!-- To support Twitter Cards this tag is required, and you need to fill in the content. -->
  <meta name="twitter:card" content="summary">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

<!--#include virtual="/includes/gtm-head.inc" -->

  <link rel="stylesheet" href="/assets/styles/main.css">
  <link rel="stylesheet" href="/assets/styles/pages/common/style.css">
  <link rel="stylesheet" href="/assets/styles/pages/growth/training/style.css">
</head>

<body>

  <%- include('/functions') %>
  <!--#include virtual="/includes/gtm-body.inc" -->

  <div class="l-page">
    <!--#include virtual="/includes/header.inc" -->

    <main class="l-main">

      <%- include('/lower_page_head', {
        textEn01: 'TRAINING',
        textJa: '研修制度',
        imagePathMd: '/assets/images/pages/growth/training/head_bg01_md.jpg',
        imagePathSm: '/assets/images/pages/growth/training/head_bg01.jpg',
        colorType: 'fff'
      }) %>

      <section class="sec-head">
        <div class="l-container">
          <h2 class="sec-head__title show-animation js-io-element">
            一年後の自分に驚く<br>圧倒的スピードで<br class="u-d-md-none">医療家として成長
          </h2>
          <p class="sec-head__text show-animation js-io-element">
            地域で1番の整骨院であるためには、的確に効果を出すための治療技術はもちろん、患者様に安心して治療を受けていただき、また来たくなるような接客術、いつも気持ちのよい整骨院であるためのマネージメント力、そしてなにより患者様に心を配ることのできる人間力向上が必要不可欠です。当社の教育制度では、これらについて学び、実践し、体得していくように実践的なプログラムを作り、スタッフの成長を本気で支援しています。患者様へ「感動の治療体験」を提供するべく常に努力しています。
          </p>
        </div>
      </section>

      <section class="sec-program">
        <div class="l-container">
          <div class="sec-program__wrapper">
            <h2 class="c-sec-ttl show-animation js-io-element">
              <span class="c-sec-ttl__jp">
                教育プログラム
              </span><br>
              <span class="c-sec-ttl__en">
                <span class="c-sec-ttl__color01">TRAINING</span>&nbsp;<span class="c-sec-ttl__color02">PROGRAM</span>
              </span>
            </h2>
            <div class="sec-program__body js-io-element">

              <div class="step">
                <span class="line"><span class="js-line js-line--01"></span></span>
                <p class="step__num">
                  STEP 01
                  <span class="js-circle circle circle--01"><span class="circle__line circle__line--01"></span></span>
                </p>
                <h3 class="step__title">
                  新人研修
                </h3>
                <ul class="step__list">
                  <li class="step__descript">
                    ・接遇研修
                  </li>
                  <li class="step__descript">
                    ・治療技術研修
                  </li>
                  <li class="step__descript">
                    ・会社理念研修
                  </li>
                  <li class="step__descript">
                    ・治療方針の理解
                  </li>
                </ul>
              </div>

              <div class="step">
                <span class="line"><span class="js-line js-line--02"></span></span>
                <p class="step__num">
                  STEP 02
                  <span class="js-circle circle circle--02"><span class="circle__line circle__line--02"></span></span>
                </p>
                <h3 class="step__title">
                  スタッフ
                </h3>
                <ul class="step__list">
                  <li class="step__descript">
                    ・治療技術基礎
                  </li>
                  <li class="step__descript">
                    ・院内事務
                  </li>
                  <li class="step__descript">
                    ・受付業務全般
                  </li>
                </ul>
              </div>

              <div class="step">
                <span class="line"><span class="js-line js-line--03"></span></span>
                <p class="step__num">
                  STEP 03
                  <span class="js-circle circle circle--03"><span class="circle__line circle__line--03"></span></span>
                </p>
                <h3 class="step__title">
                  副院長
                </h3>
                <ul class="step__list">
                  <li class="step__descript">
                    ・院長代行業務
                  </li>
                  <li class="step__descript">
                    ・問診
                  </li>
                  <li class="step__descript">
                    ・治療技術応用
                  </li>
                  <li class="step__descript">
                    ・スタッフ育成
                  </li>
                </ul>
              </div>

              <div class="step">
                <p class="step__num">
                  STEP 04
                  <span class="js-circle circle circle--04"><span class="circle__line circle__line--04"></span></span>
                </p>
                <h3 class="step__title">
                  院長
                </h3>
                <ul class="step__list step__list--colum">
                  <li class="step__descript">
                    ・院全体のマネジメント
                  </li>
                  <li class="step__descript">
                    ・院の方針
                  </li>
                  <li class="step__descript">
                    ・院内経営計画作成
                  </li>
                  <li class="step__descript">
                    ・レセプト業務
                  </li>
                  <li class="step__descript">
                    ・副院長スタッフ育成
                  </li>
                </ul>
              </div>

              <div class="step">
                <p class="step__num">
                  OTHER
                  <span class="circle circle--05 js-circle"><span class="circle__line circle__line--05"></span></span>
                </p>
                <h3 class="step__title">
                  随時研修
                </h3>
                <ul class="step__list step__list--colum">
                  <li class="step__descript">
                    ・レベル別勉強会
                  </li>
                  <li class="step__descript">
                    ・久保田塾
                  </li>
                  <li class="step__descript">
                    ・eラーニング
                  </li>
                  <li class="step__descript white-space">
                    ・OJT（On-the-Job Training）
                  </li>
                  <li class="step__descript">
                    ・院内勉強会
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </section>

      <section class="sec-rookie">
        <div class="l-container">
          <div class="sec-rookie__wapper">
            <h2 class="c-sec-ttl show-animation js-io-element">
              <span class="c-sec-ttl__jp">
                新人2ヶ月研修
              </span><br>
              <span class="c-sec-ttl__en">
                <span class="c-sec-ttl__color01">ROO</span><span class="c-sec-ttl__color02">KIE</span>
              </span>
            </h2>
            <div class="sec-rookie__body show-animation js-io-element">
              <div class="sec-rookie__img"></div>
              <div class="sec-rookie__box">
                <h3 class="sec-rookie__title">
                  初心者から医療家に！<br>充実の2ヶ月研修
                </h3>
                <p class="sec-rookie__text">
                  新卒者は研修センターと現場で2ヶ月集中トレーニングで現場で必要な知識、技術をバッチリ教育します。検査法からマッサージ、テーピング、耳ツボまで必要な知識を習得し、6月の現場デビューまでにしっかりと一人前の先生に育て上げます。充実した新卒者研修は中途入社した経験2年の先生が「この研修が受けられるなら4月まで待ってから入社したかった」というほどの高レベル！ここでの経験は、必ず医療家としての財産になります。
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="sec-top-notch">
        <div class="l-container">
          <div class="sec-top-notch__wrapper">
            <h2 class="c-sec-ttl show-animation js-io-element">
              <span class="c-sec-ttl__jp">
                一流の―――であるために
              </span><br>
              <span class="c-sec-ttl__en">
                <span class="c-sec-ttl__color01">TOP</span>&nbsp;<span class="c-sec-ttl__color02">NOTCH</span>
              </span>
            </h2>
            <div class="sec-top-notch__content">

              <div class="content-item show-animation js-io-element">
                <div class="content-item__img--01"></div>
                <div class="content-item__box">
                  <h3 class="content-item__title">
                    全体勉強会<span class="title-line"></span>
                  </h3>
                  <p class="content-item__text">
                    整骨院スタッフが全員揃って時には外部の方を招いて、一流の医療家、一流の経営者、一流の人間になる為の勉強会を開いています。
                  </p>
                </div>
                <div class="content-item__box">
                  <h3 class="content-item__title">
                    医療家勉強会<span class="title-line"></span>
                  </h3>
                  <p class="content-item__text">
                    整骨院スタッフが全員揃って時には外部の方を招いて、一流の医療家、一流の経営者、一流の人間になる為の勉強会を開いています。
                  </p>
                </div>
              </div>

              <div class="content-item show-animation js-io-element">
                <div class="content-item__img--02"></div>
                <div class="content-item__box">
                  <h3 class="content-item__title">
                    久保田塾<span class="title-line"></span>
                  </h3>
                  <p class="content-item__text">
                    弊社の代表は2001年に世界的な起業家表彰制度アントレプレナー・オブ・ザ・イヤーのセミファイナリストにまで選ばれた経営者。プロの経営者である代表が、経営の初歩、財務諸表の見方、リーダシップなど経営の要諦を教える「久保田塾」を開催しています。
                  </p>
                </div>
                <div class="content-item__box">
                  <h3 class="content-item__title">
                    院長会議<span class="title-line"></span>
                  </h3>
                  <p class="content-item__text">
                    院長と本部スタッフが集まり、月に1回会議をしています。先週の反省から、今週のやるべきことの確認など仲間のアイデアも共有しながら具体的な行動計画にします。これは当社オリジナルのツールを使い行う会議ですが、最も実践的な勉強でもあり、個人や院の成長につながっているものです。医療家と同時に経営者としての視点も学んでいます。
                  </p>
                </div>
              </div>

              <div class="content-item show-animation js-io-element">
                <div class="content-item__img--03"></div>
                <div class="content-item__box">
                  <h3 class="content-item__title">
                    特別セミナー<span class="title-line"></span>
                  </h3>
                  <p class="content-item__text">
                    患者さんは信頼する先生に診てもらいたいものです。患者さんに信頼してもらうには一人ひとりが人間力を向上させる必要があります。年に何度か著名な外部講師をお招きして、コミュニケーション能力の向上や、接客術、心理学などを勉強し、患者様とのより深い信頼関係が築けるよう努めております。
                  </p>
                </div>
                <div class="content-item__box">
                  <h3 class="content-item__title">
                    朝礼（毎朝）<span class="title-line"></span>
                  </h3>
                  <p class="content-item__text">
                    毎朝、朝礼で人間力を向上させる考え方や倫理について学んでいます。
                  </p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>

      <section class="sec-link">
        <div class="l-container">
            <a href="/growth/" class="link-box show-animation js-io-element">
              <div class="link-box__bg"></div>
              <h2 class="link-box__title">
                  <span class="link-box__en">CAREER</span><br>
                <span class="link-box__jp">
                  成長環境
                </span>
              </h2>
              <div class="c-button--arrow link-box__button"><svg class="icon icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>詳しく見る</div>
            </a>
        </div>
      </section>

    </main><!-- .l-main -->

    <!--#include virtual="/includes/footer.inc" -->

  <div class="u-d-none">
    <%- include('/_svg-symbols') %>
  </div>

  </div><!-- .l-page -->

  <script src="/assets/scripts/vendors.js" defer></script>
  <script src="/assets/scripts/pages/common.js" defer></script>
  <script src="/assets/scripts/pages/growth/index.js" defer></script>

</body>

</html>
