@charset "utf-8";
/* PC用 */

/*-----------------------------------------------------
Pc
-------------------------------------------------------*/
#Pc .smp{display:none !important;}
#Pc .pc{display:block;}


/*-----------------------------------------------------
Ccontainer
-------------------------------------------------------*/
#Pc #Container{
	width:100%;
	min-width:1020px;
}

/*-----------------------------------------------------
Ie6Update
-------------------------------------------------------*/
#Ie6Update{
	width:100%;
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
	z-index:100;
	text-align:center;
	border-bottom:2px solid #6F6F6F;
}
#Ie6Update div.bg{
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:101;
	background:#FFFFFF;
}
#Ie6Update p{
	position:relative;
	z-index:102;
	padding:10px 0 10px 0;
}


/*-----------------------------------------------------
GlobalHeader
-------------------------------------------------------*/
#Pc #GlobalHeader{
	width:100%;
	height:30px;
	position:relative;
	overflow:hidden;
	margin:0 auto 20px auto;
	padding:10px 0 10px 0;
	background:url("../../images/common/header_bg.gif") repeat-x 0 0;
}

/* h1,logo
---------------------*/
#Pc #GlobalHeader p.logo,
#Pc #GlobalHeader h1{
	width:166px;
	height:31px;
	float:left;
	display:inline;
	margin:0 0 0 47px;
}
#Pc #GlobalHeader p.logo img,
#Pc #GlobalHeader h1 img{
	width:166px;
}
/* FunctionNav
---------------------*/
#Pc #GlobalHeader .FunctionNav{
	display:inline;
	float:right;
	margin:5px 37px 5px 0;
}
#Pc #GlobalHeader .FunctionNav ul{
	overflow:hidden;
}
#Pc #GlobalHeader .FunctionNav ul li{
	float:left;
	display:inline;
	padding:0 15px 0 20px;
	font-size:93%;
}
#Pc #GlobalHeader .FunctionNav ul li a{
	color:#FFFFFF;
	text-decoration:none;
}
/* ico */
#Pc #GlobalHeader .icon {
	margin-right: 5px;
}
#Pc #Side .icon {
	margin-right: 10px;
}

#Pc #GlobalHeader .FunctionNav ul li a:hover:before {
	opacity: 1;
}

#Pc #GlobalHeader .FunctionNav ul li a{
	position: relative;
	display: inline-block;
	line-height: 1;
}

#Pc #GlobalHeader .FunctionNav ul li a:before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #fff;
	opacity: 0;
	content: '';
}

/*-----------------------------------------------------
Content
-------------------------------------------------------*/
#Pc .content-outline{
	max-width:1600px;
	margin:0 auto 0 auto;
}
#Pc #Content{
	overflow:hidden;
	margin:0 20px 0 20px;

	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;

	box-shadow:0 0 5px #C3C8D0;
	-moz-box-shadow:0 0 5px #C3C8D0;
	-webkit-box-shadow:0 0 5px #C3C8D0;
	-o-box-shadow:0 0 5px #C3C8D0;
	-ms-box-shadow:0 0 5px #C3C8D0;

	background:url("../../images/common/side_bg.gif") repeat-y 0 0 #FFFFFF;
}


/*-------------------------------------
Main
---------------------------------------*/
#Pc #Main{
	width:80%;
	float:left;
	display:inline;
	position:relative;
	padding:30px 0 40px 0;

	border-radius:0 5px 5px 0;
	-moz-border-radius:0 5px 5px 0;
	-webkit-border-radius:0 5px 5px 0;
	-o-border-radius:0 5px 5px 0;
	-ms-border-radius:0 5px 5px 0;

	box-shadow:-3px 0 3px #d6d5d5;
	-moz-box-shadow:-3px 0 3px #d6d5d5;
	-webkit-box-shadow:-3px 0 3px #d6d5d5;
	-o-box-shadow:-3px 0 3px #d6d5d5;
	-ms-box-shadow:-3px 0 3px #d6d5d5;

	background:#FFFFFF;
	z-index:2;

}

/* section
---------------------*/
#Pc #Main .section{
	width:auto;
	overflow:hidden;
	margin:0 30px 0 30px;
}

/* head-line
---------------------*/
#Pc #Main .head-line01{
	margin:0 0 15px 0;
	padding:10px 15px 10px 15px;
	font-size:185%;
	font-weight:blod;
	border-bottom:2px solid #6996d4;
	background:#eaf1f7;
}
#Pc #Main .head-line02{
	margin:35px 0 30px 0;
	padding:0 0 10px 0;
	font-size:139%;
	font-weight:blod;
	border-bottom:2px solid #6996d4;
}

/* p
---------------------*/
#Pc #Main p.load{
	margin:0 0 15px 0;
	padding:0 3px 0 3px;
}

/* alert
---------------------*/
#Pc #Main .alert,
#Pc #Modal .alert{
	clear:both;
	overflow:hidden;
	margin:0 0 15px 0;
	padding:8px 15px 8px 0;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
#Pc #Main .alert p,
#Pc #Modal .alert p{
	float:none;
	margin-left:37px;
}
/* toolTip
---------------------*/
#Pc #Main p.toolTip{
	width:210px;
	display:none;
	position:absolute;
	top:0;
	left:0;
	z-index:100;
}
#Pc #Main p.toolTip span.arrow{
	width:0;
	height:0;
	display:block;
	_display:none;
	position:absolute;
	top:-5px;
	left:16px;
	border:5px solid transparent;
	border-bottom-color:#2a2a3a;
}
#Pc #Main p.toolTip span.text{
	display:block;
	text-align:left;
	margin:5px 0 0 0;
	padding:5px;
	font-size:85%;
	color:#FFFFFF;
	border:1px solid #262626;

	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	-pie-border-radius:5px;

	box-shadow:0 1px 4px #000;
	-moz-box-shadow:0 1px 4px #000;
	-webkit-box-shadow:0 1px 4px #000;
	-o-box-shadow:0 1px 4px #000;
	-ms-box-shadow:0 1px 4px #000;
	-pie-box-shadow:0 1px 4px #000;

	background:#2a2a3a;
	z-index:100;
}
*:first-child+html #Pc #Main p.toolTip span.text{
	position:relative;
	top:5px;
}



/*-------------------------------------
Side
---------------------------------------*/
#Pc #Side{
	width:220px;
	float:left;
	display:inline;
	position:relative;
	z-index:1;
}

/* name
---------------------*/
#Pc #Side p.name{
	padding:20px 20px 15px;
	border-bottom:1px solid #bcbdbf;
}


/* GlobalNav
---------------------*/
#Pc #GlobalNav ul,
#Pc #GlobalNav li{
	width:100%;
}
#Pc #GlobalNav li a,
#Pc #GlobalNav dt a{
	width:220px;
	display:block;
	color:#343c47;
	cursor:pointer;
	font-size:108%;
	text-decoration:none;
	border-top:1px solid #FFFFFF;
	border-bottom:1px solid #a4b4c4;
	background-color:#f0f7ff;

	background-image:url("../svg4ie9.php?t=EEF7FF&b=E1EEFE");
	background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#EEF7FF),to(#E1EEFE));
	background-image:-webkit-linear-gradient(top,#EEF7FF,#E1EEFE);
	background-image:-moz-linear-gradient(top,#EEF7FF,#E1EEFE);
	background-image:-ms-linear-gradient(top,#EEF7FF,#E1EEFE);
	background-image:-o-linear-gradient(top,#EEF7FF,#E1EEFE);
	-pie-background:linear-gradient(top,#EEF7FF,#E1EEFE);
}
#Pc #GlobalNav li a span,
#Pc #GlobalNav dt a span{
	display:block;
	padding:10px 20px;
}
#Pc #GlobalNav li.active a,
#Pc #GlobalNav li a:hover,
#Pc #GlobalNav .active dt a,
#Pc #GlobalNav dt a:hover{
	color:#FFFFFF;
	border-top:1px solid #a8ccf2;
	border-bottom:1px solid #4978af;
	background-color:#6eaae9;

	background-image:url("../svg4ie9.php?t=45ABEB&b=5288C7");
	background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#45ABEB),to(#5288C7));
	background-image:-webkit-linear-gradient(top,#45ABEB,#6586c3);
	background-image:-moz-linear-gradient(top,#45ABEB,#6586c3);
	background-image:-ms-linear-gradient(top,#45ABEB,#6586c3);
	background-image:-o-linear-gradient(top,#45ABEB,#6586c3);
	-pie-background:linear-gradient(top,#45ABEB,#6586c3);
}

#Pc #GlobalNav dd{
	display:none;
}
#Pc #GlobalNav .active dd{
	display:block;
}

#Pc #GlobalNav dd a{
	width:220px;
	display:block;
	padding:10px 20px;
	color:#FFFFFF;
	cursor:pointer;
	text-decoration:none;
	border-top:1px solid #6d747d;
	border-bottom:1px solid #393f48;
	background: #44505c;
}
#Pc #GlobalNav dd a.active,
#Pc #GlobalNav dd a:hover{
	background-color: #575f69;
}

#Pc #GlobalNav dd a.active span:before,
#Pc #GlobalNav dd a:hover span:before {
	opacity: 1;
}

#Pc #GlobalNav dd a span{
	position: relative;
	display: inline-block;
	line-height: 1;
}

#Pc #GlobalNav dd a span:before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #fff;
	opacity: 0;
	content: '';
}


/*-------------------------------------
Common
---------------------------------------*
/* pagetop
---------------------*/
#Pc p.pagetop{
	clear:both;
	padding:0 40px 15px 40px;
	text-align:right;
	position:absolute;
	right:0;
	bottom:0;
}


/*-----------------------------------------------------
GlobalFooter
-------------------------------------------------------*/
#Pc #GlobalFooter{
	width:100%;
	height:40px;
	margin:20px auto 0 auto;
	background:url("../../images/common/footer_bg.gif") repeat-x 0 0;
}
#Pc #GlobalFooter p.copyright{
	width:100%;
	height:40px;
	line-height:40px;
	text-align:center;
	color:#FFFFFF;
}

/*-----------------------------------------------------
Modal
-------------------------------------------------------*/
#Pc #Modal .box{
	width:600px;
}
#Pc #Modal .box-inside{
	padding:40px 40px;
}

/* パスワード定期変更アラート用 */
#Pc #Modal.passchange-alert .box div.btn{
	width:350px;
	margin:40px auto 0 auto;
	overflow:hidden;
}
#Pc #Modal.passchange-alert .box div.btn p{
	float:left;
}
#Pc #Modal.passchange-alert .box div.btn p.btn-type02{
	margin-left:30px;
}
#Pc #Modal.passchange-alert p.btn-type01,
#Pc #Modal.passchange-alert p.btn-type01 input,
#Pc #Modal.passchange-alert p.btn-type01 span,
#Pc #Modal.passchange-alert p.btn-type02,
#Pc #Modal.passchange-alert p.btn-type02 input,
#Pc #Modal.passchange-alert p.btn-type02 span{
	width:158px !important;
}
