@charset "utf-8";

/*
======== table of content. =================================

File name: module.css
Summary: 個別要素定義設定（アルファベット順）

- ALIGN
- BG
- BORDER
- BOX
- DISPLAY
- DL
- FLOAT & CLEAR & CLEARFIX
- FONT SETTINGS
  - FONT SIZE
- ERROR TEXT
- HR
- IMG
- INPUT
- HEADING
- HR
- SUB
- IMG
- INPUT
- LINK
- LINK ICON
- LIST
- MARGIN
- PADDING

============================================================
*/


/*-----------------------------------------------------
ALIGN
-------------------------------------------------------*/
.alignleft {
	text-align:left!important;
}

.aligncenter {
	text-align:center!important;
}

.alignright {
	text-align:right!important;
}

/*-----------------------------------------------------
BG
-------------------------------------------------------*/

.bg-grey01 {
	background-color:#f1f1f1;
}

/*-----------------------------------------------------
BORDER
-------------------------------------------------------*/
.wrap-border img {
	padding:3px;
	border:1px solid #CCC;
	background:#FFF;
}
.wrap-border:hover img {
}

/*-----------------------------------------------------
BOX
-------------------------------------------------------*/


/*-----------------------------------------------------
DISPLAY
-------------------------------------------------------*/
.block {
	display:block!important;
}

.inline {
	display:inline!important;
}

/*-----------------------------------------------------
DL
-------------------------------------------------------*/


/*-----------------------------------------------------
FLOAT & CLEAR & CLEARFIX
-------------------------------------------------------*/
.fl {
	float:left;
}

.fr {
	float:right;
}
.clearer { 
	clear:both;
	display:block;
	height:0;
	margin:0;
	padding:0;
	line-height:1px;
	font-size:1px;
}

.clearer img {
	position:absolute;
	top:0;
	left:0;
	border:none;
}

.clear {
	overflow:hidden;
}

/*-----------------------------------------------------
FONT-SETTINGS
-------------------------------------------------------*/

/* FONT-COLOR
------------------------------------*/
.txt-light-g { color:#bbb!important; }
.txt-g { color:#666!important; }
.txt-r { color:#ff3300!important; }

/* FONT-SIZE
------------------------------------*/
.txt-xs { font-size:76%!important; }
.txt-s { font-size:84%!important; }
.txt-m { font-size:92%!important; }
.txt-l { font-size:109%!important; }
.txt-xl { font-size:117%!important; }
.txt-xxl { font-size:125%!important; }
.txt-xxxl { font-size:134%!important; }

/*----------------------------------
FONT-WEIGHT
------------------------------------*/
.weight-normal {
	font-weight:normal!important;
}
.weight-bold {
	font-weight:bold!important;
}

/*----------------------------------
TEXT-INDENT
------------------------------------*/
.txt-notes {
	padding-left:1em;
	text-indent:-1em;
}

/*-----------------------------------------------------
ERROR TEXT
-------------------------------------------------------*/
.error span {
	color:#FF3300;
}	

/*-----------------------------------------------------
HR
-------------------------------------------------------*/

/*-----------------------------------------------------
SUB
-------------------------------------------------------*/
sub{
   vertical-align:-1px;
}

/*-----------------------------------------------------
IMG
-------------------------------------------------------*/



/*-----------------------------------------------------
INPUT
-------------------------------------------------------*/
input.input-area,
textarea.input-area {
	font-family: "メイリオ",Meiryo","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro W3,Osaka,"ＭＳ Ｐゴシック","MS P Gothic",sans-serif;
	border:1px solid #515151;
}

input.input-area:focus,
textarea.input-area:focus {
	border-color:#bb3c24;
	background-color:#f7e2de;
}
input.btn {
	padding:3px;
	cursor:pointer;
}

/*-----------------------------------------------------
LINK
-------------------------------------------------------*/

/*-----------------------------------------------------
LINK-ICON
-------------------------------------------------------*/
/* リンクアイコン */
a.link-arrow,
.link-arrow {
	padding-left:12px;
	text-indent:0;
	background: transparent 
		url(../../images/common/ico_cursor_blue.gif) 
		no-repeat left 4px;
}
.link-arrow {
	cursor:pointer;
}
a.link-arrow.ico-arrow-white,
.link-arrow.ico-arrow-white {
	background-image:url(../../images/common/ico_cursor_white.gif);
}
a.link-arrow:hover,
.link-arrow:hover {
	background-image:url(../../images/common/ico_cursor_red.gif);
}

/* ブランクアイコン */
a.link-blank,
.link-blank {
	padding-right:16px;
	background:transparent 
		url(../../images/common/ico_blank.gif) 
		no-repeat right 2px;
	cursor:pointer;
}
* html a.link-blank,
* html .link-blank {
	background-position: right 3px;
	zoom:1;
}
*:first-child+html a.link-blank,
*:first-child+html .link-blank {
	background-position: right 4px;
	zoom:1;
}
a.link-blank.ico-white,
.link-blank.ico-white {
	background-image:url(../../images/common/ico_blank_white.gif);
}
a.link-blank:hover,
.link-blank:hover {
	background-image:url(../../images/common/ico_blank_on.gif);
}



/* アンカーリンクアイコン */
a.link-anchor,
.link-anchor {
	padding-left:12px;
	text-indent:0;
	background: transparent 
		url(../../images/common/ico_anchorlink_blue.gif) 
		no-repeat left 5px;
}
a.link-anchor:hover,
.link-anchor:hover {
	background-image:url(../../images/common/ico_anchorlink_red.gif);
}

/* PDFリンクアイコン */
a.link-pdf, 
.link-pdf {
	padding-right:16px;
	text-indent:0;
	background:transparent 
		url(../../images/common/ico_pdf.gif) 
		no-repeat right 0;
	cursor:pointer;
	min-height:16px;
	_height:16px;
}
* html a.link-pdf,
* html .link-pdf {
	background-position: right 1px;
	zoom:1;
}
*:first-child+html a.link-pdf,
*:first-child+html .link-pdf {
	background-position: right 3px;
	
	zoom:1;
}
html>/**/body a.link-pdf,
html>/**/body .link-pdf {
	background-position: right -3px;
}
/* EXCELリンクアイコン */
a.link-excel, 
.link-excel {
	padding-right:16px;
	text-indent:0;
	background:transparent 
		url(../../images/common/ico_excel.gif) 
		no-repeat right 0;
}
* html a.link-excel,
* html .link-excel {
	background-position: right 1px;
	zoom:1;
}
*:first-child+html a.link-excel,
*:first-child+html .link-excel {
	background-position: right 3px;
	zoom:1;
}

/* MAILリンクアイコン */
a.link-mail, 
.link-mail {
	padding-left:16px;
	text-indent:0;
	background:transparent 
		url(../../images/common/ico_mail.gif) 
		no-repeat 0 0;
}
* html a.link-mail,
* html .link-mail {
	background-position: 0 1px;
	zoom:1;
}
*:first-child+html a.link-mail,
*:first-child+html .link-mail {
	background-position: 0 1px;
	zoom:1;
}
a.link-mail:hover,
.link-mail:hover {
	background-image:url(../../images/common/ico_mail_red.gif);
}


/*-----------------------------------------------------
LIST
-------------------------------------------------------*/

/* 円 */
ul.circle {
	padding:0 0 0 15px;
}
ul.circle li {
	list-style:circle;
}

ul.circle-image li {
	padding:0 0 0 12px;
	background:
		url(../../images/common/ico_circle_blue.gif) 
		no-repeat 0 5px;
}

/* 四角 */
ul.square {
	padding:0 0 0 15px;
}
ul.square li {
	list-style:square;
}


/*ローマ数字（小文字） */
ol.lower-roman {
	padding:0 0 0 15px;
}
ol.lower-roman li {
	list-style:lower-roman;
}

/*ローマ数字（大文字） */
ol.upper-roman {
	padding:0 0 0 15px;
}
ol.upper-roman li {
	list-style:upper-roman;
}

/* アルファベット（小文字） */
ol.lower-alpha {
	padding:0 0 0 25px;
}
ol.lower-alpha li {
	list-style:lower-alpha;
}

/* アルファベット（大文字） */
ol.upper-alpha {
	padding:0 0 0 25px;
}
ol.upper-alpha li {
	list-style:upper-alpha;
}

/* 数字 */
ol.decimal {
	padding:0 0 0 32px;
}
ol.decimal li {
	list-style:decimal;
}

/* リスト無し */
ul.lsn,
ul.lsn li {
	list-style-type:none;
}

ul.lsn {
	margin-left:0;
	padding:0;
}


/*-----------------------------------------------------
WIDTH
-------------------------------------------------------*/
.w730 {	width:730px!important; }
.w600 {	width:600px!important; }
.w575 {	width:575px!important; }
.w550 {	width:550px!important; }
.w525 {	width:525px!important; }
.w500 {	width:500px!important; }
.w475 {	width:475px!important; }
.w450 {	width:450px!important; }
.w425 {	width:425px!important; }
.w400 {	width:400px!important; }
.w375 {	width:375px!important; }
.w355 {	width:355px!important; }
.w350 {	width:350px!important; }
.w325 {	width:325px!important; }
.w300 {	width:300px!important; }
.w275 {	width:275px!important; }
.w250 {	width:250px!important; }
.w225 {	width:225px!important; }
.w200 {	width:200px!important; }
.w150 {	width:150px!important; }
.w100 {	width:100px!important; }


/*-----------------------------------------------------
MARGIN
-------------------------------------------------------*/
/* MARGIN-TOP */
.mt00 { margin-top:0px!important; }
.mt05 { margin-top:5px!important; }
.mt10 { margin-top:10px!important; }
.mt15 { margin-top:15px!important; }
.mt20 { margin-top:20px!important; }
.mt25 { margin-top:25px!important; }
.mt30 { margin-top:30px!important; }
.mt40 { margin-top:40px!important; }
.mt50 { margin-top:50px!important; }

/* MARGIN-RIGHT */
.mr00 { margin-right:0px!important; }
.mr05 { margin-right:5px!important; }
.mr10 { margin-right:10px!important; }
.mr15 { margin-right:15px!important; }
.mr20 { margin-right:20px!important; }
.mr25 { margin-right:25px!important; }
.mr30 { margin-right:30px!important; }
.mr40 { margin-right:40px!important; }
.mr50 { margin-right:50px!important; }

/* MARGIN-BOTTOM */
.mb00 { margin-bottom:0; }
.mb05 { margin-bottom:5px!important; }
.mb10 { margin-bottom:10px!important; }
.mb15 { margin-bottom:15px!important; }
.mb20 { margin-bottom:20px!important; }
.mb25 { margin-bottom:25px!important; }
.mb30 { margin-bottom:30px!important; }
.mb40 { margin-bottom:40px!important; }
.mb50 { margin-bottom:50px!important; }
.mb60 { margin-bottom:60px!important; }

/* MARGIN-LEFT */
.ml00 { margin-left:0px!important; }
.ml05 { margin-left:5px!important; }
.ml10 { margin-left:10px!important; }
.ml15 { margin-left:15px!important; }
.ml20 { margin-left:20px!important; }
.ml25 { margin-left:25px!important; }
.ml30 { margin-left:30px!important; }
.ml40 { margin-left:40px!important; }
.ml50 { margin-left:50px!important; }

/* MARGIN-ALL */
.ma00 { margin:0px!important; }
.ma05 { margin:5px!important; }
.ma10 { margin:10px!important; }
.ma15 { margin:15px!important; }
.ma20 { margin:20px!important; }
.ma25 { margin:25px!important; }
.ma30 { margin:30px!important; }
.ma40 { margin:40px!important; }
.ma50 { margin:50px!important; }


/*-----------------------------------------------------
PADDING
-------------------------------------------------------*/
/* PADDING-TOP */
.pt00 { padding-top:0px!important; }
.pt05 { padding-top:5px!important; }
.pt10 { padding-top:10px!important; }
.pt15 { padding-top:15px!important; }
.pt20 { padding-top:20px!important; }
.pt30 { padding-top:30px!important; }
.pt40 { padding-top:40px!important; }
.pt50 { padding-top:50px!important; }

/* PADDING-BOTTOM */
.pb06 { padding-bottom:0px!important; }
.pb05 { padding-bottom:5px!important; }
.pb10 { padding-bottom:10px!important; }
.pb15 { padding-bottom:15px!important; }
.pb20 { padding-bottom:20px!important; }
.pb30 { padding-bottom:30px!important; }
.pb40 { padding-bottom:40px!important; }
.pb50 { padding-bottom:50px!important; }

/* PADDING-LEFT */
.pl00 { padding-left:0px!important; }
.pl05 { padding-left:5px!important; }
.pl10 { padding-left:10px!important; }
.pl15 { padding-left:15px!important; }
.pl20 { padding-left:20px!important; }
.pl30 { padding-left:30px!important; }
.pl40 { padding-left:40px!important; }
.pl50 { padding-left:50px!important; }

/* PADDING-RIGHT */
.pr06 { padding-right:0px!important; }
.pr05 { padding-right:5px!important; }
.pr10 { padding-right:10px!important; }
.pr15 { padding-right:15px!important; }
.pr20 { padding-right:20px!important; }
.pr30 { padding-right:30px!important; }
.pr40 { padding-right:40px!important; }
.pr50 { padding-right:50px!important; }

/* PADDING-ALL */
.pa00 { padding:0px!important; }
.pa05 { padding:5px!important; }
.pa10 { padding:10px!important; }
.pa15 { padding:15px!important; }
.pa20 { padding:20px!important; }
.pa30 { padding:30px!important; }
.pa40 { padding:40px!important; }
.pa50 { padding:50px!important; }
