.sec-people {
  position: relative;
  margin-bottom: 75px;
  background: #fff;

  @include media-breakpoint-up(md) {
    margin-bottom: 100px;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    margin: 80px 0 0;

    @include media-breakpoint-up(md) {
      margin: 190px -20px 0;
    }

    > *:last-child {
      margin-bottom: 25px;

      @include media-breakpoint-up(md) {
        margin-bottom: 100px;
      }
    }
  }

  &__bottom {
    margin-top: 56px;

    @include media-breakpoint-up(md) {
      margin-top: 110px;
    }
  }

  &__button {
    width: 260px;
    margin: 0 auto;

    @include media-breakpoint-up(md) {
      width: 280px;
    }
  }
}

.people-item {
  $this: #{&};

  width: 100%;
  margin-bottom: 56px;

  @include media-breakpoint-up(md) {
    width: 50%;
    padding: 0 20px;
    margin-bottom: 100px;
  }

  &__wrap {
    &--no-link {
      pointer-events: none;

      .people-item__img {
        padding-top: 65.714%;

        @include media-breakpoint-up(md) {
          padding-top: 56.279%;
        }
      }

      .img {
        background-image: url(@img-common/staff/people_img_coming-soon.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @include media-breakpoint-up(md) {
          background-image: url(@img-common/staff/people_img_coming-soon_md.jpg);
        }
      }
    }
  }

  &__heading {
    position: relative;
    margin-bottom: 25px;

    @include media-breakpoint-up(md) {
      margin-bottom: 50px;
    }
  }

  &__img {
    position: relative;
    width: 100%;
    padding-top: 52.84%;
    overflow: hidden;

    @include media-breakpoint-up(md) {
      padding-top: 56.28%;
    }

    .img {
      position: absolute;
      top: 50%;
      width: 100%;
      height: 100%;
      transform: translate(0, -50%);

      @at-root #{$this}__wrap:hover .img {
        @include media-breakpoint-up(md) {
          transform: translate(0, -50%) scale(1.05);
        }
      }

      @include media-breakpoint-up(md) {
        transition: 1.5s $ease-base;
      }
    }
  }

  &__info {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;

    @include media-breakpoint-up(md) {
      padding-bottom: 20px;
    }

    &::after,
    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      content: '';
      background: #d7d8d9;

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    &::after {
      background: #373e42;
      transition: transform 0.5s $ease-base;
      transform: scaleX(0);
      transform-origin: right;

      #{$this}:hover & {
        @include media-breakpoint-up(md) {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }
  }

  &__icon {
    margin-right: 15px;

    @include media-breakpoint-up(md) {
      margin-right: 20px;
      transition: transform 0.3s $ease-base;

      #{$this}:hover & {
        transform: translate(5px, 0);
      }
    }
  }

  &__name {
    font-family: $base-jp-font01;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.07em;

    @include media-breakpoint-up(md) {
      padding-right: 20px;
      font-size: 30px;
    }
  }

  &__career {
    @include media-breakpoint-down(sm) {
      width: 100%;
      margin-top: 5px;
      font-size: 12px;
    }
  }
}

.message-wrap {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 280px;
  font-family: $base-jp-font01;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.8;
  letter-spacing: 0.2em;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;

  @include media-breakpoint-up(md) {
    top: 17%;
    right: 9.5%;
    height: 620px;
    font-size: 1.65vw;
  }

  &__txt {
    padding: 16px 0 10px;
    background-color: #fff;
  }
}

.sec-people .coming-soon {
  position: relative;
  height: 0;
  padding-bottom: 65.714%;
  background: #ecf3f4;

  @include media-breakpoint-up(md) {
    padding-bottom: 56.279%;
  }

  &__body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__icon {
    text-align: center;

    img {
      @include media-breakpoint-up(md) {
        width: auto;
        height: auto;
      }
    }
  }

  &__text {
    text-align: center;
    white-space: nowrap;

    &--main,
    &--sub {
      @extend .coming-soon__text;
    }

    &--main {
      margin: 10px 0 0;
      font-family: $base-en-font01;
      font-size: 32px;
      font-weight: 500;
      letter-spacing: 0.05rem;

      @include media-breakpoint-up(md) {
        margin: 25px 0 0;
        font-size: 48px;
      }
    }

    &--sub {
      font-size: 12px;
      letter-spacing: 0.07em;

      @include media-breakpoint-up(md) {
        margin: 5px 0 0;
        font-size: 14px;
      }
    }
  }
}
