.sec-news {
  position: relative;
  margin: 65px 0 100px;

  @include media-breakpoint-up(md) {
    margin: 130px 0 200px;
  }

  &__body {
    @include media-breakpoint-up(md) {
      margin-top: 52px;
    }
  }

  &__pagenation {
    margin-top: 50px;

    @include media-breakpoint-up(md) {
      margin-top: 100px;
    }
  }
}
