.sec-recruitment {
  position: relative;

  @include media-breakpoint-up(md) {
    background: $base-color03;
  }

  &__button {
    width: 50%;
  }
}

.recruitment-button {
  $this: #{&};

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  // transition: 0.5s $ease-base;

  @include media-breakpoint-up(md) {
    height: 80px;
    font-size: 17px;
  }

  &:focus {
    outline: none;
  }

  &::after {
    position: absolute;
    right: 0;
    bottom: -6.5px;
    left: 0;
    z-index: 2;
    width: 17px;
    height: 17px;
    margin: auto;
    content: '';
    background: #fff;
    opacity: 0;
    transform: rotate(45deg);

    @at-root #{$this}.is-active:after {
      opacity: 1;
      transition-delay: 0.25s;

      @include media-breakpoint-down(sm) {
        transition: 2s $ease-base;
      }

      @include media-breakpoint-up(md) {
        transition-delay: 0.25s;
      }
    }

    @include media-breakpoint-up(md) {
      transition: 0.25s $ease-base;
    }
  }

  &--01 {
    @extend #{$this};

    background: $base-color02;

    &.is-active {
      color: $base-color02;
    }
  }

  &--02 {
    @extend #{$this};

    background: $base-color01;

    &.is-active {
      color: $base-color01;
    }
  }

  &.is-active {
    background: #fff;
  }

  .icon {
    margin-right: 10px;
    fill: #fff;

    @at-root #{$this}--01.is-active .icon {
      fill: $base-color02;
    }

    @at-root #{$this}--02.is-active .icon {
      fill: $base-color01;
    }

    @include media-breakpoint-up(md) {
      width: 15px;
      height: 9px;
    }
  }
}

.tab-list {
  @include media-breakpoint-up(md) {
    width: 100%;
    max-width: calc(100% - 160px);
    margin: 0 auto;
  }

  &__nav {
    display: flex;

    @include media-breakpoint-up(md) {
      transform: translate(0, -40px);
    }
  }
}

.tab-wrap {
  position: relative;
  overflow: hidden;
  transition: height 0.5s $ease-out-circ;
}

.tab-content {
  $this: #{&};

  background: $base-color03;
  transition: opacity 0.5s $ease-out-circ;

  &:not(.is-active) {
    display: none;
  }

  &__inner {
    padding: 65px 30px 100px;

    @include media-breakpoint-up(md) {
      padding: 120px 0 200px;
    }
  }

  &__body {
    margin-top: 40px;

    @include media-breakpoint-up(md) {
      width: 1160px;
      margin: 73px auto 0;
    }
  }

  &.is-ready {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
  }

  .no_search {
    display: flex;
    align-items: center;
    padding: 25px 0;
    font-weight: 300;

    @include media-breakpoint-up(md) {
      height: 109px;
      padding: 40px;
    }
  }

  &__button {
    width: 260px;
    margin: 50px auto 0;

    @include media-breakpoint-up(md) {
      margin: 80px auto 0;
    }

    &--01 {
      background: $base-color02;
      border-color: $base-color02;

      &:hover {
        @include media-breakpoint-up(md) {
          color: $base-color02;
        }
      }
    }

    &--02 {
      background: $base-color01;
      border-color: $base-color01;

      &:hover {
        @include media-breakpoint-up(md) {
          color: $base-color01;
        }
      }
    }
  }
}

.tab-item {
  $this: #{&};

  position: relative;

  &__wrapper {
    padding: 25px 0;
    font-size: 13px;
    line-height: 1.9;
    letter-spacing: 0.07em;
    border-bottom: 1px solid rgba(#373e42, 0.2);

    @include media-breakpoint-up(md) {
      display: flex;
      align-items: flex-start;
      width: 100%;
      padding: 32px 0;
      font-size: 14px;
    }

    #{$this}:first-child & {
      border-top: 1px solid rgba(#373e42, 0.2);
    }
  }

  &__title {
    font-weight: 500;

    @include media-breakpoint-up(md) {
      width: 200px;
      font-size: 14px;
      letter-spacing: 0.07em;
    }
  }

  &__descript {
    margin-top: 15px;

    @include media-breakpoint-up(md) {
      flex: 1;
      margin-top: 0;
      font-size: 14px;
      letter-spacing: 0.07em;
    }
  }

  .text-block {
    font-size: 13px;
    line-height: 1.9;
    letter-spacing: 0.07em;

    @include media-breakpoint-up(md) {
      font-size: 14px;
      line-height: 2;
    }

    + .text-block {
      margin-top: 30px;
    }
  }
}
