.sec-benefit {
  position: relative;
  padding-top: 90px;

  @include media-breakpoint-up(md) {
    padding-top: 190px;
  }

  &__lead {
    margin-top: 35px;
    font-family: $base-jp-font01;
    font-size: 23px;
    font-weight: 500;
    line-height: 1.7;
    text-align: center;
    letter-spacing: 0.1em;

    @include media-breakpoint-up(md) {
      margin-top: 90px;
      font-size: 34px;
    }
  }

  &__sub-lead {
    margin-top: 28px;
    font-size: 13px;
    line-height: 2.4;
    letter-spacing: 0.07em;

    @include media-breakpoint-up(md) {
      margin-top: 58px;
      font-size: 14px;
      text-align: center;
    }
  }

  &__body {
    margin-top: 45px;

    @include media-breakpoint-up(md) {
      margin-top: 75px;
    }
  }
}

.benefit {
  position: relative;
  border: 1px solid #d7d8d9;
}

.benefit-item {
  position: relative;
  padding: 45px 30px 30px;
  border-bottom: 1px solid #d7d8d9;

  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;
    width: 100%;
    height: 190px;
    padding: 20px 60px 20px 60px;
  }

  &:last-child {
    border-bottom: none;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    font-family: $base-en-font01;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0.05em;
    content: attr(data-num) '';
    background: #373e42;

    @include media-breakpoint-up(md) {
      width: 40px;
      height: 40px;
      font-size: 16px;
    }
  }

  &__titile {
    font-family: $base-jp-font01;
    font-size: 21px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;

    @include media-breakpoint-up(md) {
      display: flex;
      align-items: center;
      width: 390px;
      font-size: 30px;
    }
  }

  &__descript {
    margin-top: 20px;
    font-size: 13px;
    line-height: 2.4;
    letter-spacing: 0.05em;

    @include media-breakpoint-up(md) {
      flex: 1;
      margin-top: 0;
      font-size: 14px;
      line-height: 2.5;
    }
  }

  &__img {
    @include media-breakpoint-up(md) {
      margin-left: 50px;
    }

    @include media-breakpoint-down(sm) {
      float: right;
      padding: 0 0 0 12px;
    }
  }
}
