.sec-faq {
  position: relative;
  padding: 90px 0 100px;
  margin-top: 100px;
  background: $base-color03;

  @include media-breakpoint-up(md) {
    padding: 180px 0 200px;
    margin-top: 200px;
  }
}

.faq-item {
  margin-top: 45px;

  @include media-breakpoint-up(md) {
    margin-top: 85px;
  }

  &__ls {
    background: #fff;
    border-top: 1px solid #e2e0dd;

    &:first-child {
      border-top: 0;
    }
  }
}

.question {
  $this: #{&};

  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 25px 34px 25px 20px;

  @include media-breakpoint-up(md) {
    padding: 40px 60px 40px 50px;
  }

  &:focus {
    outline: none;
  }

  &__ttl {
    flex: 1;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
    text-align: left;
    letter-spacing: 0.25em;

    @include media-breakpoint-up(md) {
      padding-left: 20px;
      font-size: 16px;
      line-height: 2.6;
    }
  }

  &__acc {
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
    width: 11px;
    height: 11px;
    margin: auto;

    @include media-breakpoint-up(md) {
      right: 60px;
      width: 15px;
      height: 15px;
    }

    .line {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      margin: auto;
      background-color: #373e42;

      &::after {
        @extend .line;

        content: '';
        transition: 0.3s ease;
        transform: rotate(90deg);
      }
    }
  }

  &[aria-expanded='true'] {
    #{$this}__acc {
      .line::after {
        transform: rotate(0);
      }
    }
  }
}

.answer {
  &__wrap {
    display: flex;
    padding: 0 20px 25px 20px;

    @include media-breakpoint-up(md) {
      padding: 0 50px 40px 50px;
    }
  }

  &__txt {
    flex: 1;
    padding: 5px 0 0 10px;
    font-size: 13px;
    line-height: 2;
    letter-spacing: 0.185em;

    @include media-breakpoint-up(md) {
      padding: 8px 0 0 20px;
      font-size: 14px;
      line-height: 2.3;
    }
  }

  &__link {
    text-decoration: underline;

    &:hover {
      @include media-breakpoint-up(md) {
        text-decoration: none;
      }
    }
  }
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  font-family: $base-en-font01;
  font-size: 13px;
  font-weight: 500;
  border-radius: 50%;

  @include media-breakpoint-up(md) {
    width: 50px;
    height: 50px;
    font-size: 18px;
  }

  &--q {
    color: #fff;
    background: #373e42;
  }

  &--a {
    color: #373e42;
    background: #fff;
    border: 1px solid #373e42;
  }
}
