html {
  min-width: map-get($grid-breakpoints, xs);

  @include media-breakpoint-up(md) {
    min-width: map-get($grid-breakpoints, xl);
  }
}

body {
  font-family: 'Noto Sans JP', 'YakuHanJP', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #373e42;
  letter-spacing: 1px;
  font-feature-settings: 'palt' 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  @include media-breakpoint-down(sm) {
    overflow: hidden;
  }

  @include media-breakpoint-up(md) {
    font-size: 16px;
  }
}

a {
  color: currentColor;
  text-decoration: none;
}

img,
svg {
  vertical-align: middle;
}

ol,
ul {
  list-style: none;
}

// Eliminate extra whitespace caused by img element that inserted by access analysis script
body > img {
  display: block;
  // stylelint-disable-next-line declaration-no-important
  height: 0 !important;
  font-size: 0;
}
