@charset "utf-8";

/*-----------------------------------------------------
Main -common-
-------------------------------------------------------*/



/*-----------------------------------------------------
Main -pc-
-------------------------------------------------------*/


/* input
---------------------*/
#Pc #Main .section form{
	padding:0 12px;
}

#Pc #Main .section div.input{
	margin:36px 0px 45px 0px;
}
#Pc #Main .section div.input p{
	margin:23px 0;
}
#Pc #Main .section div.input p span.label{
	font-weight:bold;
	display:inline-block;
	width:120px;
}
#Pc #Main .section div.input p input{
	width:280px;
}
#Pc #Main .section div.input .req {
	font-weight:bold;
	font-size:92%;
	display:block;
	color:#D26F6F;
}
/* btn
---------------------*/
#Pc #Main .section div.btn{
	width:350px;
	margin:20px auto 0 auto;
	overflow:hidden;
}
#Pc #Main .section div.btn p{
	float:left;
}
#Pc #Main .section div.btn p.btn-type02{
	margin-left:30px;
}
#Pc #Main .section p.btn-type01,
#Pc #Main .section p.btn-type01 input,
#Pc #Main .section p.btn-type01 span,
#Pc #Main .section p.btn-type02,
#Pc #Main .section p.btn-type02 input,
#Pc #Main .section p.btn-type02 span{
	width:158px;
}

/** IP制限用アラート */
#Pc #Main .section #ip-alert-container {
	position:relative;
	display:none;
}
#Pc #Main .section #ip-alert {
	position:absolute;
	top:-20px;
	font-size:0.85em;
	border:5px solid #e2dc58;
	padding:10px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	-pie-border-radius:5px;
	background:#fefdcc;
}

/*-----------------------------------------------------
Main -smp-
-------------------------------------------------------*/

#Smp #Main .section form{
	padding:10px;
	padding-bottom:50px;
}
#Smp #Main .section .error {
	margin-top:10px;
}

#Smp #Main .section div.input p span.label{
	display:block;
	font-weight:bold;
	margin-top:10px;
}

/* btn
---------------------*/
#Smp #Main .section p.btn-type01,
#Smp #Main .section p.btn-type01 input,
#Smp #Main .section p.btn-type01 span,
#Smp #Main .section p.btn-type02,
#Smp #Main .section p.btn-type02 input,
#Smp #Main .section p.btn-type02 span{
	width:100px;
}
#Smp #Main .section div.btn{
	width:245px;
	margin:25px auto 10px auto;
	overflow:hidden;
}
#Smp #Main .section div.btn p{
	float:left;
	margin:0 10px;
}

#Smp #Main .section input[type=text],
#Smp #Main .section input[type=password]{
	width:82%;
}
#Smp #Main .section div.input .req {
	font-size:0.8em;
	padding:2px 4px;
	background-color:#D26F6F;
	color:#FFF;
}

/** IP制限用アラート */
#Smp #Main .section #ip-alert-container {
	position:relative;
	display:none;
}
#Smp #Main .section #ip-alert {
	position:absolute;
	top:0;
	font-size:0.7em;
	border:4px solid #e2dc58;
	padding:6px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	-ms-border-radius:4px;
	-pie-border-radius:4px;
	background:#fefdcc;
}