@charset "UTF-8";
// stylelint-disable
$border-radius-width: 6px;

button,
input,
select,
textarea {
  font-family: inherit;
}

.c-form-wrapper {
  width: 100%;
  max-width: 1160px;
  padding-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  font-weight: 300;
  color: $dark;
  letter-spacing: 0.06em;
  word-break: break-all;

  @include media-breakpoint-up(md) {
    padding-bottom: 120px;
  }

  fieldset {
    border: none;
  }
}

.c-form-inner {
  box-shadow: 0px 0px 20px 0px rgba(47, 51, 55, 0.1);
  padding: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 12px;
  line-height: (54 / 24);
  background: $white;

  @include md() {
    margin-top: 160px;
    padding: 80px;
    padding-top: 120px;
    padding-bottom: 120px;
    font-size: 15px;
    line-height: (34 / 14);
  }
}

.c-form-flow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;

  @include md_max() {
    margin-right: -20px;
    margin-left: -20px;
  }
}

$flow-item-width: 90px;
$flow-item-width-sp: 77px;
$flow-item-margin: 60px;
$flow-item-margin-sp: 30px;
$flow-arrow-width: 7px;
$flow-arrow-height: 12px;
$flow-arrow-width-sp: 6.5px;
$flow-arrow-height-sp: 11px;

.c-form-flow__item {
  position: relative;
  display: flex;
  justify-content: center;
  width: $flow-item-width-sp;
  height: $flow-item-width-sp;
  margin-right: ($flow-item-margin-sp / 2);
  margin-left: ($flow-item-margin-sp / 2);
  // color: $border-color-2;
  font-size: 12px;
  line-height: $flow-item-width-sp;
  text-align: center;
  white-space: nowrap;
  background: $white;
  border-radius: $flow-item-width;
  // box-shadow: inset 0 0 0 1px $border-color-2;
  box-shadow: inset 0 0 0 1px $text-color;
  opacity: 0.2;

  @include md() {
    width: $flow-item-width;
    height: $flow-item-width;
    margin-right: ($flow-item-margin / 2);
    margin-left: ($flow-item-margin / 2);
    font-size: 15px;
    line-height: $flow-item-width;
  }

  &::before {
    position: absolute;
    top: (($flow-item-width-sp / 2) - ($flow-arrow-width-sp / 2));
    right: -($flow-item-margin-sp / 2);
    // transform: rotate(45deg);
    display: inline-block;
    width: $flow-arrow-width;
    height: $flow-arrow-height;
    content: '';
    // border: 1px solid transparent;
    // border-top-color: $dark;
    // border-right-color: $dark;
    background-image: str-replace(
      url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 22'%3e%3cpath fill='#{$dark3}' d='M10.579,13.410 L10.579,13.409 L3.359,21.140 L0.953,18.562 L8.173,10.833 L0.953,3.102 L3.359,0.528 L12.986,10.831 L10.579,13.410 Z'/%3e%3c/svg%3e"),
      '#',
      '%23'
    );
    background-repeat: no-repeat;
    background-size: 6.5px 11px;

    // opacity: 0.2;
    @include md() {
      top: (($flow-item-width / 2) - ($flow-arrow-height / 2));
      right: -($flow-item-margin / 2);
      background-size: 7px 12px;
    }
  }

  &--input {
    .is-input & {
      background: $gray2;
      box-shadow: inset 0 0 0 1px $gray2;
      opacity: 1;
      // color: $text-color;
      &::before {
        opacity: 1;
      }
    }
  }

  &--confirm {
    .is-confirm & {
      background: $gray2;
      box-shadow: inset 0 0 0 1px $gray2;
      opacity: 1;
      // color: $text-color;
      &::before {
        opacity: 1;
      }
    }
  }

  &--complete {
    // margin-right: 0;
    &::before {
      content: none;
    }

    .is-complete &,
    .is-finish &,
    .is-thanks & {
      background: $gray2;
      box-shadow: inset 0 0 0 1px $gray2;
      opacity: 1;
      // color: $text-color;
    }
  }
}

%c-required {
  display: inline-block;
  padding: 8px 12px;
  padding-left: 18px;
  font-size: 11px;
  font-weight: 500;
  line-height: 1;
  color: $white;
  text-align: center;
  letter-spacing: 8px;
  white-space: nowrap;
  background: $salmon;
  border-radius: 4px;

  @include md() {
    padding: 10px 18px;
    padding-left: 26px;
    letter-spacing: 8px;
  }
}

.c-required {
  @extend %c-required;
}

.c-form-description {
  font-size: 12px;
  // line-height: (54 / 24);
  @include md() {
    font-size: 14px;
    // line-height: (34 / 14);
  }
}

.c-form-annotation {
  padding: 35px 20px;
  border: 1px solid $border-color;
  border-radius: $border-radius-width;

  @include md() {
    padding: 35px 35px;
  }

  h2,
  h3,
  h4 {
    margin-bottom: 20px;
    font-weight: 500;

    @include md() {
      margin-bottom: 20px;
    }
  }

  ul {
    padding-left: 20px;
    list-style-type: disc;

    @include md() {
      font-size: 14px;
      line-height: (34 / 14);
    }
  }
}

.c-form-error-notice {
  position: relative;
  display: none;
  padding: 20px;
  font-size: 12px;
  color: $salmon;
  background: $pink-light;
  border: 1px solid $salmon;
  border-radius: $border-radius-width;

  @include md_max() {
    padding-left: 70px;
  }

  @include md() {
    font-size: 14px;
    line-height: (38 / 14);
    text-align: center;
  }

  .is-error &,
  .was-validated & {
    display: block;
  }
}

.c-form-error-notice__icon {
  text-align: center;

  @include md_max() {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
  }

  &::before {
    position: relative;
    left: -8px;
    display: inline-block;
    width: 36px;
    height: 36px;
    vertical-align: middle;
    // content: '!';
    content: '';
    background-image: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAACrUlEQVRYhcWYS2sTURSAvxkrtMW2qMQHqKVuEu1GhFK06qqoBd0q1aWlLnz8EVdqN+2i3bXg1oUWu/JJF0UQH82mYsVNCy1NYpKFZeTEMyHOnYTMI5kPhpZ75575uJN77j1jFe+ME5AB4ApwATgF9AM9GiIP/AC+AW+BReB7kPAdRos/e4AbwH3gHGD53gUH9ToL3AYc4AMwBTwDdo0RHmyjxWQU+AzMA+cbyPhh6Zh5jTHqc89/NBLqBKaBV0DG6A1ORmNNa2xf6gmlgNfApNETnUmNnfKL5CckN74Bhlog4zKkzzCkvELdwHMgbYSIn7Q+q7uR0GNguA0yLsP6TF8hWQETxpDWM1G7+uyav08SkHF5qrmuKnRTs25SZDTxVoXuJSjjIrtARWhAs2ko7PQgnY+mKpfV2xdFSLakk7KXXQ24HRhY+w/8a+rpg9yO0d9sGNm0ZYZGjK4AOIV8lOFeRkRo0GgOI1Yu4fxaN9oDclqEjschRKlkNIWg3645XIUjr7+Zrq44hPY1e0Cri5PbwdnewolnhirLPtZfZUQKIvQzapTK7JRjmaF1eWVfgTNGVwD+LL3E+V2IQ+iLrdVBaCQ7W6nD2IeOxCH0rkNLFSdstraOHmPv2LXK/7ufPkbJReKwKDO0Brw3uoNEklW2vWW0B0TKpTW3UBzXUiVJbgEL7vFDirjVBGVW1aF6HpKK8oFxW/t46Fa1tWfqJWAuAZlZLSDxCqGntmVjSOtY9r4Zr1ARuA5k2yCT1WcVGwkJm8AlYKWFMiv6jE1vh5+QsAFcBGaMnujM6LelDb9I9YQE2S3vApdjeoVZjSUxy0ZvE0IusgLkmCuJS7KppPggyBj5eCUxqqupHs0e0CRHLOglZdOYTrsUeCeAXr0vJ0cITXSyab8I9EkP+Av8NY5ozOgJSgAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    // line-height: 36px;
    border-radius: 18px;
    // background: $salmon;
    // color: $white;
    // font-size: 18px;
  }
}

.c-form-group {
  border-bottom: 1px solid $border-color-3;

  @include md_max() {
    margin-bottom: 0;
  }

  &:first-of-type {
    border-top: 1px solid $border-color-3;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

$form-head-padding: 20px;

.c-form-item {
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 1.5;
  // border-top: 1px solid $border-color-3;

  @include md() {
    display: flex;
    flex-wrap: wrap;
    padding-top: 52px;
    padding-bottom: 52px;
  }

  & + .c-form-item {
    padding-top: 0;
  }

  .is-confirm & {
    padding-top: 26px;
    padding-bottom: 26px;

    @include md() {
      padding-top: 45px;
      padding-bottom: 45px;
    }
  }

  &.c-form-item--check {
    padding-bottom: 10px;

    @include md() {
      padding-bottom: (20px + $form-head-padding);
    }
  }
}

.c-form-item--check {
  .custom-radio,
  .custom-checkbox {
    margin-bottom: 20px;

    @include md() {
      margin-bottom: 30px;
    }
  }
}

.c-form-head {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  @include md_max() {
    padding-bottom: 15px;
    font-weight: 500;
  }

  @include md() {
    width: (230px + 135px);
    padding-top: $form-head-padding;
  }

  .is-confirm & {
    line-height: (54 / 24);

    @include md_max() {
      padding-bottom: 4px;
    }

    @include md() {
      // padding-top: $form-head-padding;
      padding-top: 0;
      line-height: (38 / 14);
    }
  }
}

.c-form-head__label {
  position: relative;
  font-weight: 500;

  @include md_max() {
    font-size: 13px;
  }

  @include md() {
    // width: 100%;
    // width: 230px;
  }

  &.is-required {
    width: 100%;
    padding-right: 80px;

    @include md() {
      padding-right: 135px;
    }

    form:not(.is-confirm) & {
      &::after {
        @extend %c-required;

        position: absolute;
        content: '\5FC5\9808';
        // font-weight: normal;

        @include md_max() {
          top: 50%;
          right: 0;
          transform: translateY(-50%);
        }

        @include md() {
          top: -5px;
          right: 53px;
        }
      }
    }
  }
}

.c-form-head__label--address {
  @include md() {
    width: 120px;
  }
}

.c-form-head__label--address-02 {
  font-size: 12px;
  font-weight: 500;

  @include md() {
    width: 240px;
    margin-left: auto;
    font-size: 14px;

    &.is-required {
      width: 240px;
    }
  }
}

.c-form-input,
.c-form-body {
  @include md() {
    width: calc(100% - (230px + 135px));
    margin-left: auto;
  }

  & + .c-form-input,
  & + .c-form-body {
    margin-top: 40px;
  }
}

.c-form-body {
  .is-confirm & {
    line-height: (54 / 24);

    @include md() {
      // padding-top: $form-head-padding;
      line-height: (38 / 14);
    }
  }
}

.c-form-input--check {
  @include md() {
    padding-top: $form-head-padding;
  }

  .custom-radio,
  .custom-checkbox {
    &:not(.custom-control-inline) {
      &:not(:last-of-type) {
        @include md() {
          margin-bottom: 30px;
        }
      }
    }
  }
}

.c-form-note {
  position: relative;
  display: inline-block;
  padding-left: 1.2em;
  // font-size: 13px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 1.3em;
    content: '\203B';
  }
}

.c-form-policy {
  height: 340px;
  overflow: hidden;
  overflow-y: auto;
  font-size: 12px;
  line-height: 2;
  background: $white;
  border: 1px solid $border-color;
  border-radius: $border-radius-width;

  @include md_max() {
    padding: 40px 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  @include md() {
    padding: 50px 40px;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 14px;
  }

  h2,
  h3,
  h4 {
    font-weight: 500;

    @include md_max() {
      font-size: 13px;
    }

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  p {
    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  ol,
  ul {
    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  li {
    position: relative;

    &:not(:first-child) {
      margin-top: 5px;
    }
  }

  & > ol {
    padding-left: 20px;
    list-style-type: decimal;

    & > li {
      & > dl {
        & > dt {
          font-weight: 500;
        }

        & > dd {
          position: relative;

          & > ol {
            counter-reset: num;

            & > li {
              padding-left: 24px;
              counter-increment: num;

              &::before {
                position: absolute;
                top: 0;
                left: 0;
                display: inline-block;
                width: 24px;
                content: counter(num) ')';
                // margin-left: -30px;
              }

              ol {
                counter-reset: num;

                li {
                  padding-left: 24px;
                  counter-increment: num;

                  &::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: inline-block;
                    width: 24px;
                    content: '(' counter(num) ')';
                    // margin-left: -30px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  ul {
    padding-left: 20px;
    font-size: 14px;
    line-height: (34 / 14);
    list-style-type: disc;
  }
}

$form-button-width: 350px;
$form-button-width-sp: 295px;
$form-button-height: 80px;
$form-button-height-sp: 65px;
$form-button-padding-x: 50px;
$form-button-padding-y: 30px;
$form-button-padding-x-sp: 30px;
$form-button-padding-y-sp: 25px;
$form-button-arrow-width: 8px;
$form-button-arrow-width-sp: 8px;

$form-button-bg: #abcd2a;

.c-form-agreement {
  @include md_max() {
    line-height: (64 / 24);
  }

  @include md() {
    font-size: 14px;
  }

  a {
    text-decoration: underline;
  }
}
// $custom-control-indicator-checked-color: $salmon;
.c-form-agreement__input {
  $agreement-font-size: 1.0625rem;
  $agreement-font-size-sm: 0.85rem;

  position: absolute;
  z-index: -1;
  opacity: 0;

  & + label {
    position: relative;
    font-size: $agreement-font-size-sm;
    cursor: pointer;

    @include md() {
      font-size: $agreement-font-size;
    }

    &::before,
    &::after {
      position: absolute;
      // top: 0.25rem;
      // left: -1.5rem;
      // top: 0.075rem;
      // left: -2rem;
      display: block;
      content: '';
      // width: 1rem;
      // height: 1rem;
      // width: 1.3rem;
      // height: 1.3rem;

      @include md() {
        // top: 0.1rem;
        // width: 1.5rem;
        // height: 1.5rem;
      }
    }

    &::before {
      // background-color: #fff;
      // background-color: $gray4;
      top: (
          $agreement-font-size-sm * $line-height-base -
            $custom-control-indicator-size-sm
        ) / 2;
      left: -($custom-control-gutter + $custom-control-indicator-size-sm);
      width: $custom-control-indicator-size-sm;
      height: $custom-control-indicator-size-sm;
      pointer-events: none;
      background-color: $custom-control-indicator-bg;
      border: $custom-control-indicator-border-color solid
        $custom-control-indicator-border-width;
      // border: #adb5bd solid 1px;
      border-radius: 0.25rem;

      @include box-shadow($custom-control-indicator-box-shadow);

      @include md() {
        top: (
            $agreement-font-size * $line-height-base -
              $custom-control-indicator-size
          ) / 2;
        left: -($custom-control-gutter + $custom-control-indicator-size);
        width: $custom-control-indicator-size;
        height: $custom-control-indicator-size;
      }
    }

    &::after {
      position: absolute;
      top: (
          $font-size-sm * $line-height-base - $custom-control-indicator-size-sm
        ) / 2;
      left: -($custom-control-gutter + $custom-control-indicator-size-sm);
      display: block;
      width: $custom-control-indicator-size-sm;
      height: $custom-control-indicator-size-sm;
      content: '';
      background: no-repeat 50% / #{$custom-control-indicator-bg-size};

      // background: no-repeat 50%/50% 50%;
      @include md() {
        top: (
            $font-size-base * $line-height-base - $custom-control-indicator-size
          ) / 2;
        left: -($custom-control-gutter + $custom-control-indicator-size);
        width: $custom-control-indicator-size;
        height: $custom-control-indicator-size;
      }
    }
  }

  & ~ {
    .c-form-button--submit,
    .c-form-button {
      color: #bbb;
      // opacity: 0.5;
      pointer-events: none;
      background-color: #f4f4f4;
      border-color: #f4f4f4;
      // cursor: default;
    }
  }

  &:disabled {
    &:checked ~ label::before {
      background-color: $custom-control-indicator-checked-disabled-bg;
    }

    &:indeterminate ~ label::before {
      background-color: $custom-control-indicator-checked-disabled-bg;
    }
  }

  &:checked {
    & ~ {
      label {
        &::before {
          color: #fff;
          // border-color: $dark3;
          // border-color: $gray;
          // border: #adb5bd solid 1px;
          // background-color: $dark3;
          background-color: $gray4;
        }

        &::after {
          background-image: $custom-checkbox-indicator-icon-checked;
          // background-image: str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='#{$dark3}' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e"), "#", "%23");
          // background-image: $custom-checkbox-indicator-icon-checked;
          // background-size: .9rem;
          @include md() {
            // background-size: 1rem;
          }
        }
      }

      .c-form-submit,
      .c-form-button {
        color: $white;
        pointer-events: auto;
        cursor: pointer;
        background-color: $form-button-bg;
        border-color: $form-button-bg;
        opacity: 1;

        &--orange {
          background-color: #f7ba2b;
          border: none;
          box-shadow: none;
        }
      }
    }
  }
}

.c-form-buttons {
  display: flex;
  justify-content: center;

  @include md_max() {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .c-form-button {
    @include md() {
      margin-right: 10px;
      margin-left: 10px;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.c-form-button {
  $this: #{&};

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $form-button-height-sp;
  font-weight: 500;
  line-height: 1;
  color: $white;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background: $form-button-bg;
  border: none;
  border: 1px solid;
  border-color: $form-button-bg;
  border-radius: $form-button-height;
  outline: none;
  transition: $transition-duration;

  @include md_max() {
    width: 100%;
    max-width: $form-button-width-sp;
    font-size: 14px;
  }

  @include md() {
    min-width: $form-button-width;
    height: $form-button-height;
    padding: $form-button-padding-y $form-button-padding-x;
    font-size: 15px;
  }

  &::after {
    position: absolute;
    top: calc(
      #{$form-button-height-sp} / 2 - #{$form-button-arrow-width-sp} / 2
    );
    right: 30px;
    display: inline-block;
    width: $form-button-arrow-width;
    height: $form-button-arrow-width;
    content: '';
    border-top: 2px solid;
    border-right: 2px solid;
    transition: transform $transition-duration;
    transform: rotate(45deg);

    @include md() {
      top: calc(#{$form-button-height} / 2 - #{$form-button-arrow-width} / 2);
    }
  }

  &:hover {
    @include media-breakpoint-up(md) {
      color: $text-color;
      background-color: $white;
      box-shadow: inset 0 0 0 1px $form-button-bg;

    @at-root #{$this}--orange:hover {
      @include media-breakpoint-up(md) {
        box-shadow: inset 0 0 0 1px #f7ba2b;
      }
    }

      &::after {
        transform: translateX(8px) rotate(45deg);
      }
    }
  }

   &--orange {
    background-color: #f7ba2b;
    border-color: #f7ba2b;
    box-shadow: none;
  }

  &.c-form-button--pageback {
    color: $dark3;
    background: $white;
    border-color: $border-color;

    @include md_max() {
      order: 1;
      max-width: 200px;
    }

    &::after {
      position: absolute;
      top: calc(
        #{$form-button-height-sp} / 2 - #{$form-button-arrow-width-sp} / 2
      );
      right: auto;
      left: 30px;
      display: inline-block;
      width: $form-button-arrow-width;
      height: $form-button-arrow-width;
      content: '';
      border-top: 2px solid;
      border-right: 0;
      border-left: 2px solid;
      transition: transform $transition-duration;
      transform: rotate(-45deg);

      @include md() {
        top: calc(#{$form-button-height} / 2 - #{$form-button-arrow-width} / 2);
      }
    }

    &:hover {
      // box-shadow: inset  0 0 0 1px $border-color;
      @include media-breakpoint-up(md) {
        color: $text-color;
        background-color: $border-color;
        box-shadow: none;

        &::after {
          transform: translateX(-8px) rotate(-45deg);
        }
      }
    }
  }
}

// .c-form-button--submit {

// }

.c-form-lead {
  font-size: 20px;
  font-weight: 300;
  line-height: (70 / 40);
  letter-spacing: 0.16em;

  @include md() {
    font-size: 28px;
    line-height: (34 / 28);
  }

  .is-sp {
    @include md() {
      display: none;
    }
  }
}

// $input-padding-x: $input-padding-y;
//
// Textual form controls
//

$input-border-color: transparent;
$input-focus-border-color: lighten($gray-500, 25%);

.form-control {
  display: block;
  // height: $input-height;
  // height: calc(#{$font-size-base} * 2 * #{$line-height-base} + #{$input-border-width} * 2);
  width: 100%;
  height: 50px;
  padding-right: 15px;
  padding-left: 15px;
  // padding: $input-padding-y-lg $input-padding-x-lg;
  font-family: $input-font-family;
  font-weight: $input-font-weight;
  line-height: $input-line-height;
  color: $input-color;
  background-color: $input-bg;
  background-clip: padding-box;
  border: $input-border-width solid $input-border-color;

  @include md_max() {
    // width: 133.333333%;
    // height: (50px * 1.3333333);
    @include font-size(16px);
    // transform: scale(0.75);
    // transform-origin: 0 0;
  }

  @include md() {
    width: 100%;
    height: 60px;
    padding-right: 30px;
    // height: calc(#{$font-size-base} * 2 * #{$line-height-base} + #{$input-border-width} * 2);
    // padding: 30px;
    padding-left: 30px;

    @include font-size(14px);
  }

  // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
  @include border-radius($input-border-radius, 0);

  @include box-shadow($input-box-shadow);
  @include transition($input-transition);

  // Customize the `:focus` state to imitate native WebKit styles.
  @include form-control-focus();

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  // Placeholder
  &::placeholder {
    color: $input-placeholder-color;
    opacity: 1;
  }

  &:placeholder-shown {
    color: $input-placeholder-color;
    opacity: 1;
  }

  &::-webkit-input-placeholder {
    color: $input-placeholder-color;
    opacity: 1;
  }

  &::-moz-placeholder {
    color: $input-placeholder-color;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: $input-placeholder-color;
    opacity: 1;
  }

  &::-ms-input-placeholder {
    color: $input-placeholder-color;
    opacity: 1;
    // color: red;
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    // opacity: 1;
    // opacity: 0.3;
  }
  // &:-ms-input-placeholder,&::-ms-input-placeholder {
  //   color: $gray-300;
  // }
  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &:disabled,
  &[readonly] {
    background-color: $input-disabled-bg;
    // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
    opacity: 1;
  }

  &[name='postal-code'] {
    @include md() {
      max-width: 200px;
    }
  }
}

select.form-control {
  height: 50px;
  padding-top: 0;
  padding-bottom: 0;

  @include md() {
    height: 60px;
  }

  [disabled] {
    opacity: 0.3;
  }

  &:focus::-ms-value {
    // Suppress the nested default white text on blue background highlight given to
    // the selected option text when the (still closed) <select> receives focus
    // in IE and (under certain conditions) Edge, as it looks bad and cannot be made to
    // match the appearance of the native widget.
    // See https://github.com/twbs/bootstrap/issues/19398.
    color: $input-color;
    background-color: $input-bg;
  }
}

// Make file inputs better match text inputs by forcing them to new lines.
.form-control-file,
.form-control-range {
  display: block;
  width: 100%;
}

//
// Labels
//

// For use with horizontal and inline forms, when you need the label (or legend)
// text to align with the form controls.
.col-form-label {
  padding-top: calc(#{$input-padding-y} + #{$input-border-width});
  padding-bottom: calc(#{$input-padding-y} + #{$input-border-width});
  margin-bottom: 0; // Override the `<label>/<legend>` default
  line-height: $input-line-height;

  @include font-size(inherit); // Override the `<legend>` default
}

.col-form-label-lg {
  padding-top: calc(#{$input-padding-y-lg} + #{$input-border-width});
  padding-bottom: calc(#{$input-padding-y-lg} + #{$input-border-width});
  line-height: $input-line-height-lg;

  @include font-size($input-font-size-lg);
}

.col-form-label-sm {
  padding-top: calc(#{$input-padding-y-sm} + #{$input-border-width});
  padding-bottom: calc(#{$input-padding-y-sm} + #{$input-border-width});
  line-height: $input-line-height-sm;

  @include font-size($input-font-size-sm);
}

// Readonly controls as plain text
//
// Apply class to a readonly input to make it appear like regular plain
// text (without any border, background color, focus indicator)

.form-control-plaintext {
  display: block;
  width: 100%;
  padding-top: $input-padding-y;
  padding-bottom: $input-padding-y;
  margin-bottom: 0; // match inputs if this class comes on inputs with default margins
  line-height: $input-line-height;
  color: $input-plaintext-color;
  background-color: transparent;
  border: solid transparent;
  border-width: $input-border-width 0;

  &.form-control-sm,
  &.form-control-lg {
    padding-right: 0;
    padding-left: 0;
  }
}

// Form control sizing
//
// Build on `.form-control` with modifier classes to decrease or increase the
// height and font-size of form controls.
//
// Repeated in `_input_group.scss` to avoid Sass extend issues.

.form-control-sm {
  height: $input-height-sm;
  padding: $input-padding-y-sm $input-padding-x-sm;
  line-height: $input-line-height-sm;

  @include font-size($input-font-size-sm);

  @include border-radius($input-border-radius-sm);
}

.form-control-lg {
  height: $input-height-lg;
  padding: $input-padding-y-lg $input-padding-x-lg;
  line-height: $input-line-height-lg;

  @include font-size($input-font-size-lg);

  @include border-radius($input-border-radius-lg);
}

select.form-control {
  &[size],
  &[multiple] {
    height: auto;
  }
}

textarea.form-control {
  height: auto;
  padding: 15px;

  @include md() {
    padding: 30px;
    // padding-top: 30px;
    // padding-bottom: 30px;
  }
}

// Form groups
//
// Designed to help with the organization and spacing of vertical forms. For
// horizontal forms, use the predefined grid classes.

// .form-group {
// margin-bottom: $form-group-margin-bottom;
// }

.form-text {
  display: block;
  margin-top: $form-text-margin-top;
}

// Form grid
//
// Special replacement for our grid system's `.row` for tighter form layouts.

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -$form-grid-gutter-width / 2;
  margin-left: -$form-grid-gutter-width / 2;

  > .col,
  > [class*='col-'] {
    padding-right: $form-grid-gutter-width / 2;
    padding-left: $form-grid-gutter-width / 2;

    .c-form-input--check & {
      padding-right: 35px;
    }
  }
}

// Checkboxes and radios
//
// Indent the labels to position radios/checkboxes as hanging controls.

.form-check {
  position: relative;
  display: block;
  padding-left: $form-check-input-gutter;
}

.form-check-input {
  position: absolute;
  margin-top: $form-check-input-margin-y;
  margin-left: -$form-check-input-gutter;

  &:disabled ~ .form-check-label {
    color: $text-muted;
  }
}

.form-check-label {
  margin-bottom: 0; // Override default `<label>` bottom margin
}

.form-check-inline {
  display: inline-flex;
  align-items: center;
  padding-left: 0; // Override base .form-check
  margin-right: $form-check-inline-margin-x;

  // Undo .form-check-input defaults and add some `margin-right`.
  .form-check-input {
    position: static;
    margin-top: 0;
    margin-right: $form-check-inline-input-margin-x;
    margin-left: 0;
  }
}

// Form validation
//
// Provide feedback to users when form field values are valid or invalid. Works
// primarily for client-side validation via scoped `:invalid` and `:valid`
// pseudo-classes but also includes `.is-invalid` and `.is-valid` classes for
// server side validation.

@each $state, $data in $form-validation-states {
  // @include form-validation-state($state, map-get($data, color), map-get($data, icon));
  @include form-validation-state(
    $state,
    map-get($data, color),
    map-get($data, icon)
  );
}

// Inline forms
//
// Make forms appear inline(-block) by adding the `.form-inline` class. Inline
// forms begin stacked on extra small (mobile) devices and then go inline when
// viewports reach <768px.
//
// Requires wrapping inputs and labels with `.form-group` for proper display of
// default HTML form controls and our custom form controls (e.g., input groups).

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center; // Prevent shorter elements from growing to same height as others (e.g., small buttons growing to normal sized button height)

  // Kick in the inline
  @include media-breakpoint-up(sm) {
    label {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;
    }

    // Inline-block all the things for "inline"
    .form-group {
      display: flex;
      flex: 0 0 auto;
      flex-flow: row wrap;
      align-items: center;
      margin-bottom: 0;
    }

    // Allow folks to *not* use `.form-group`
    .form-control {
      display: inline-block;
      width: auto; // Prevent labels from stacking above inputs in `.form-group`
      vertical-align: middle;
    }

    // Make static controls behave like regular ones
    .form-control-plaintext {
      display: inline-block;
    }

    .input-group,
    .custom-select {
      width: auto;
    }

    // Remove default margin on radios/checkboxes that were used for stacking, and
    // then undo the floating of radios and checkboxes to match.
    .form-check {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      padding-left: 0;
    }

    .form-check-input {
      position: relative;
      flex-shrink: 0;
      margin-top: 0;
      margin-right: $form-check-input-margin-x;
      margin-left: 0;
    }

    .custom-control {
      align-items: center;
      justify-content: center;
    }

    .custom-control-label {
      margin-bottom: 0;
    }
  }

  // Because we use flex, the initial sizing of checkboxes is collapsed and
  // doesn't occupy the full-width (which is what we want for xs grid tier),
  // so we force that here.
  .form-check {
    width: 100%;
  }
}

/* purgecss start ignore */
.invalid-feedback {
  font-size: 12px;
  font-weight: 400;

  @include md() {
    font-size: 13px;
  }
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  background-color: $pink-light;
  border: none;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  background-color: $pink-light;
  border: none;
}
.custom-control-input.is-invalid ~ .custom-control-label {
}
.custom-control-input.is-invalid:checked ~ .custom-control-label::before,
.custom-control-input.is-invalid ~ .custom-control-label::before {
  background-color: $pink-light;
  border: none;
}

.custom-control-input.is-valid:checked ~ .custom-control-label::before {
  background-color: $gray4;
}

.was-validated {
  .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background-image: str-replace(
      url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='#{$success}'/%3e%3c/svg%3e"),
      '#',
      '%23'
    );
  }

  .custom-checkbox
    .custom-control-input:checked
    ~ .custom-control-label::after {
    background-image: str-replace(
      url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='#{$success}' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e"),
      '#',
      '%23'
    );
  }
}

.was-validated .form-control:valid,
.form-control.is-valid {
  border-color: transparent;
}

.was-validated .form-control:valid:focus,
.form-control.is-valid:focus {
  border-color: transparent;
  box-shadow: 0 0 2px $input-btn-focus-color;
}

.was-validated .custom-control-input:valid ~ .custom-control-label,
.custom-control-input.is-valid ~ .custom-control-label {
  color: inherit;
}

.was-validated .custom-control-input:valid ~ .custom-control-label::before,
.custom-control-input.is-valid ~ .custom-control-label::before {
  border-color: transparent;
}

.was-validated
  .custom-control-input:valid:checked
  ~ .custom-control-label::before,
.custom-control-input.is-valid:checked ~ .custom-control-label::before {
  border-color: transparent;
}

.was-validated
  .custom-control-input:valid:focus
  ~ .custom-control-label::before,
.custom-control-input.is-valid:focus ~ .custom-control-label::before {
  box-shadow: 0 0 2px $input-btn-focus-color;
}

.was-validated
  .custom-control-input:valid:focus:not(:checked)
  ~ .custom-control-label::before,
.custom-control-input.is-valid:focus:not(:checked)
  ~ .custom-control-label::before {
  border-color: #e3e3e3;
}

.was-validated
  .custom-radio
  .custom-control-input:checked
  ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%231f1f1f'/%3e%3c/svg%3e");
}

.was-validated
  .custom-checkbox
  .custom-control-input:checked
  ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 13'%3e%3cpath fill='%231f1f1f' d='M16.000,1.966 L13.962,0.001 L5.449,8.578 L2.362,4.084 L0.001,5.659 L5.042,13.001 L5.045,12.997 L5.048,13.001 L16.000,1.966 Z'/%3e%3c/svg%3e");
}

/* purgecss end ignore */
