// stylelint-disable

@include _responsive('.u-center') {
  text-align: center;
}

@include _responsive('.u-right') {
  text-align: right;
}

@include _responsive('.u-left') {
  text-align: left;
}

@include _responsive('.u-content-right') {
  display: flex;
  justify-content: flex-end;
}
