// stylelint-disable
$use_spacing_classes: true;

@if $use_spacing_classes {
  @for $i from 0 through 30 {
    @include _responsive('.u-m-#{$i * 5}') {
      margin: 5px * $i !important;
    }
    @include _responsive('.u-my-#{$i * 5}') {
      margin-top: 5px * $i !important;
      margin-bottom: 5px * $i !important;
    }
    @include _responsive('.u-mx-#{$i * 5}') {
      margin-left: 5px * $i !important;
      margin-right: 5px * $i !important;
    }
    @include _responsive('.u-mxn-#{$i * 5}') {
      margin-left: -5px * $i !important;
      margin-right: -5px * $i !important;
    }
    @include _responsive('.u-mt-#{$i * 5}') {
      margin-top: 5px * $i !important;
    }
    @include _responsive('.u-mtn-#{$i * 5}') {
      margin-top: -5px * $i !important;
    }
    @include _responsive('.u-mb-#{$i * 5}') {
      margin-bottom: 5px * $i !important;
    }
    @include _responsive('.u-mbn-#{$i * 5}') {
      margin-bottom: -5px * $i !important;
    }
    @include _responsive('.u-ml-#{$i * 5}') {
      margin-left: 5px * $i !important;
    }
    @include _responsive('.u-mr-#{$i * 5}') {
      margin-right: 5px * $i !important;
    }

    @include _responsive('.u-p-#{$i * 5}') {
      padding: 5px * $i !important;
    }
    @include _responsive('.u-py-#{$i * 5}') {
      padding-top: 5px * $i !important;
      padding-bottom: 5px * $i !important;
    }
    @include _responsive('.u-px-#{$i * 5}') {
      padding-left: 5px * $i !important;
      padding-right: 5px * $i !important;
    }
    @include _responsive('.u-pt-#{$i * 5}') {
      padding-top: 5px * $i !important;
    }
    @include _responsive('.u-pb-#{$i * 5}') {
      padding-bottom: 5px * $i !important;
    }
    @include _responsive('.u-pl-#{$i * 5}') {
      padding-left: 5px * $i !important;
    }
    @include _responsive('.u-pr-#{$i * 5}') {
      padding-right: 5px * $i !important;
    }
  }
}

@include _responsive('.u-ml-auto') {
  margin-left: auto !important;
}
@include _responsive('.u-mr-auto') {
  margin-right: auto !important;
}
@include _responsive('.u-mx-auto') {
  margin-left: auto !important;
  margin-right: auto !important;
}
