@charset "utf-8";

/*-----------------------------------------------------
Main -common-
-------------------------------------------------------*/
body{
	background:none;
}
#Pc #Content{
	overflow:hidden;
	margin:0 20px 0 20px;
	
	border-radius:0 !important;
	-moz-border-radius:0 !important;
	-webkit-border-radius:0 !important;
	-o-border-radius:0 !important;
	-ms-border-radius:0 !important;
	
	box-shadow:none !important;
	-moz-box-shadow:none !important;
	-webkit-box-shadow:none !important;
	-o-box-shadow:none !important;
	-ms-box-shadow:none !important;
	
	background:none !important;
}
/* section
---------------------*/
#Pc #Main .section{
	margin:0;
}

header .FunctionNav {
    display:none !important;
}
#Pc #GlobalHeader{
	margin-bottom:10px !important;
}

#Content #Side {
    display:none;
}

#Main .section ul.list-media{
	margin-bottom:40px;
	overflow:hidden;
}
#Main .section ul.list-media li{
	float:left;
	margin:20px 20px 0 0;
}
#Main .section ul.list-media li p{
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}
#Main .section ul.list-media li p.img img {
    padding:5px;
    border:3px solid #EFEFEF;
}
#Main .section p.note{
	margin:10px 0 15px 0;
	padding:12px;
	background:#EEE;
	font-size:92%;
}
#Main h2 {
	display:none;
}
#Main .section label.labelstr {
	font-weight: bold;
	padding-right:5px;
}
#Main .section .btn-tagsearch {
	padding:3px;
	margin-left:5px;
	cursor:pointer;
}

#Main .section .taglist {
	margin:7px 0 0 5.5em;
}
#Main .section .taglist span {
	padding:0 5px 0 0;
}
#Main .section .taglist a,more {
	padding-left:3px;
}

#Main .section table.upload-ui{
    border-collapse: collapse;
    margin-bottom:20px;
}
#Main .section table.upload-ui thead{
    border-bottom:1px solid #ddd;
}
#Main .section table.upload-ui tbody{
    border-bottom:1px solid #ddd;
}
#Main .section table.upload-ui thead th{
    padding:10px 5px;
}
#Main .section table.upload-ui tbody td{
    padding:5px 5px;
    vertical-align: middle;
}
#Main .section table.upload-ui tbody td.upload-cancel{
    padding-left:10px;
}
#Main .section table.upload-ui tbody td input[type=file]{
	width:270px;
}
#Main .section table.upload-ui tbody td input[type=text]{
	width:120px;
}
#Main .section p.btn-type01{
	margin-top:20px;
}

/* スマホ */
#Main .section .smp table.upload-ui{
    border-collapse: collapse;
    margin-bottom:20px;
    width:100%;
}
#Main .section .smp table.upload-ui thead{
    border-bottom:1px solid #ddd;
}
#Main .section .smp table.upload-ui tbody{
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
}
#Main .section .smp table.upload-ui tbody th{
    padding:5px 5px;
    vertical-align: middle;
    text-align: left;
    display: block;
}
#Main .section .smp table.upload-ui tbody td{
    padding:5px 5px;
    vertical-align: middle;
    display: inline-block;
}
#Main .section .smp table.upload-ui tbody td.upload-cancel{
    vertical-align: middle;
    padding:10px 0 0 20px;
}


/*-----------------------------------------------------
Main -pc-
-------------------------------------------------------*/

#Pc #Container {
    margin-top:10px;
    min-width: 94%;
}
#Pc #Content {
    width:94%;
    background:#FFF;
}
#Pc #Main {
    float:none;
    width:97%;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -o-box-shadow:none;
    -ms-box-shadow:none;
    background:none;
}
#Pc #GlobalFooter {
    display: none;
}

/*close btn */
#Pc #Main div.btn.btn-one{
    width:115px;
    margin:25px auto 15px auto;
    overflow:hidden;
    position:relative;
}
#Pc #Main p.btn-type01.close_btn,
#Pc #Main p.btn-type01.close_btn span,
#Pc #Main p.btn-type02.close_btn,
#Pc #Main p.btn-type02.close_btn span {
    width:110px !important;
    height:35px !important;
    font-size:97%;
    margin-left:0;
}

/*-----------------------------------------------------
Main -smp-
-------------------------------------------------------*/
---------------------*/
#Smp #Main .section{
	margin:0 10px !important;
}
/* pager */
#Smp #Main .section .pager-foot div.pager{
	float:none;
	display:block;
	padding:10px 0 0 0;
	border-top:1px solid #cbd9e3;
}
#Smp #Main .section .pager-foot div.pager ul li{
	float:none;
}
#Smp #Main .section .pager-foot div.pager ul li.count{
	border:none;
}
#Smp #Main .section .pager-foot div.pager ul li.count a,
#Smp #Main .section .pager-foot div.pager ul li.count span{
	display:inline-block;
}
#Smp #Main .section .pager-foot div.pager ul li.count{
	display:none;
}
#Smp #Main .section .pager-foot div.pager ul li.count.active{
	display:inline;
}

/*close btn */
#Smp #Main div.btn.btn-one{
    width:115px;
    margin:25px auto 15px auto;
    overflow:hidden;
}
#Smp #Main p.btn-type01.close_btn,
#Smp #Main p.btn-type01.close_btn span,
#Smp #Main p.btn-type02.close_btn,
#Smp #Main p.btn-type02.close_btn span {
    width:110px !important;
    height:35px !important;
    font-size:97%;
    margin-left:0;
}