.sec-mv {
  &__bg {
    background: url(@img-staff/voice02/mv_img01.jpg) center/cover;

    @include media-breakpoint-up(md) {
      background: url(@img-staff/voice02/mv_img01_md.jpg) center/cover;
    }
  }
}
