.show-animation {
  opacity: 0;
  transition: opacity 0.8s $ease-base, transform 0.6s $ease-base;
  transform: translate(0, 20px);

  &.is-intersected {
    opacity: 1;
    transform: translate(0, 0);
  }
}
