.c-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.07em;
  background: #373e42;
  border: 1px solid #373e42;
  border-radius: 30px;

  @include media-breakpoint-up(md) {
    height: 64px;
    font-size: 13px;
    border-radius: 32px;
    transition: 0.4s $ease-base;
  }

  &:hover {
    @include media-breakpoint-up(md) {
      color: #373e42;
      background-color: #fff;
    }
  }

  &--orange {
    @extend .c-button;

    background: $base-color01;
    border: 1px solid $base-color01;

    &:hover {
      @include media-breakpoint-up(md) {
        color: $base-color01;
      }
    }
  }

  &--green {
    @extend .c-button;

    background: $base-color02;
    border: 1px solid $base-color02;

    &:hover {
      @include media-breakpoint-up(md) {
        color: $base-color02;
      }
    }
  }

  &--arrow {
    @extend .c-button;

    position: relative;

    .icon {
      position: absolute;
      top: 50%;
      right: 30px;
      fill: #fff;
      transition: 0.4s $ease-base;
      transform: translate3d(0, -50%, 0);
    }

    &:hover {
      .icon {
        fill: #373e42;
        transform: translate3d(5px, -50%, 0);
      }
    }
  }
}
