.c-main-ttl {
  display: inline-block;
  font-family: $base-en-font01;
  font-size: 40px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.05em;

  @include media-breakpoint-up(md) {
    font-size: 60px;
  }

  &__color01 {
    color: $base-color02;
  }

  &__color02 {
    color: $base-color01;
  }

  &__jp {
    display: block;
    margin-top: 15px;
    font-size: 12px;
    letter-spacing: 0.07em;

    @include media-breakpoint-up(md) {
      margin-top: 25px;
      font-size: 14px;
    }
  }

  &--center {
    @extend .c-main-ttl;

    text-align: center;
  }
}
