.c-sec-ttl {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
  color: #373e42;
  text-align: center;
  letter-spacing: 0.1em;

  @include media-breakpoint-up(md) {
    font-size: 38px;
  }

  &__en {
    font-family: $base-en-font01;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.05em;

    @include media-breakpoint-up(md) {
      font-size: 15px;
    }
  }

  &__color {
    &01 {
      color: $base-color02;
    }

    &02 {
      color: $base-color01;
    }
  }
}
