.c-sec-head {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 320px;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    height: 620px;
  }

  .l-cintainer {
    height: 100%;
  }

  &__wrap {
    position: absolute;
    top: calc(50% + 28px);
    left: 50%;
    transform: translate3d(-50%, -50%, 0);

    @include media-breakpoint-up(md) {
      top: calc(50% + 48px);
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: auto;
      transform: translate(-50%, -50%);

      @include media-breakpoint-up(md) {
        width: auto;
        height: 100%;
      }

      @include media-breakpoint-up(1920px) {
        width: 100%;
        height: auto;
      }
    }
  }
}

.head-contents-small {
  .c-sec-head {
    height: 260px;

    @include media-breakpoint-up(md) {
      height: 440px;
    }
  }
}

.c-page-title {
  position: relative;
  z-index: 1;
  font-weight: 400;
  text-align: center;

  &__en {
    display: inline-block;
    font-family: $base-en-font01;
    font-size: 40px;
    font-weight: 500;
    line-height: 1;

    @include media-breakpoint-up(md) {
      font-size: 60px;
      letter-spacing: 0.05em;
    }
  }

  &__color {
    &01 {
      color: $base-color02;
    }

    &02 {
      color: $base-color01;
    }
  }

  &__jp {
    display: inline-block;
    margin-top: 2.5px;
    font-size: 12px;
    letter-spacing: 0.07em;

    @include media-breakpoint-up(md) {
      margin-top: 5px;
      font-size: 14px;
    }
  }
}

.head-bg-color {
  .c-sec-head {
    background: $base-color03;
  }
}
