.l-container {
  padding: 0 30px;

  @include media-breakpoint-up(md) {
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
  }

  &--wide {
    @extend .l-container;

    @include media-breakpoint-up(md) {
      width: 1800px;
      max-width: 100%;
      padding: 0 40px;
    }
  }
}
