.l-footer {
  position: relative;
}

.footer-message {
  $this: #{&};

  position: relative;
  height: 535.5px;
  overflow: hidden;
  color: #fff;

  @include media-breakpoint-up(md) {
    height: 740px;
  }

  &__bg {
    &--top {
      display: none;
    }
  }

  &__wrap {
    position: absolute;
    top: calc(50% - 40px);
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);

    @include media-breakpoint-down(sm) {
      width: calc(100% - 55px);
      margin: 0 auto;
    }
  }

  &__ttl {
    font-family: $base-jp-font01;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.15em;

    @include media-breakpoint-up(md) {
      font-size: 54px;
      line-height: 1.6;
    }
  }

  &__acc {
    position: relative;
    padding-bottom: 5px;

    @at-root #{$this}__ttl.is-intersected {
      #{$this}__acc {
        &::after {
          width: 100%;
        }
      }
    }

    @include media-breakpoint-up(md) {
      padding-bottom: 15px;
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      content: '';
      background: rgba(#fff, 0.3);
      transition: 1s $ease-base;
      transition-delay: 0.5s;
    }
  }

  &__lead {
    margin-top: 35px;
    font-size: 13px;
    line-height: 2.46;
    letter-spacing: 0.05em;

    @include media-breakpoint-down(sm) {
      text-align: left;
    }

    @include media-breakpoint-up(md) {
      margin-top: 70px;
      font-size: 16px;
      line-height: 2.75;
      letter-spacing: 0.07em;
    }
  }
}

.footer-entry {
  position: relative;
  background: #fff;

  &__wrapper {
    display: flex;
    margin: 0 -15px;
    transform: translateY(-75px);

    @include media-breakpoint-up(md) {
      margin: 0 -1px;
      transform: translateY(-100px);
    }
  }

  &__ls {
    width: 50%;
    padding: 0 1px;
    text-align: center;
  }
}

.footer-entry-button {
  $this: #{&};

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  color: #fff;
  transition: 0.3s $ease-base;

  @include media-breakpoint-up(md) {
    height: 200px;
    margin-bottom: 0;
  }

  &--new-graduates {
    @extend .footer-entry-button;

    background: $base-color02;
    border: 1px solid $base-color02;

    &:hover {
      @include media-breakpoint-up(md) {
        color: $base-color02;
        background-color: #fff;
      }
    }
  }

  &--mid-career {
    @extend .footer-entry-button;

    background: $base-color01;
    border: 1px solid $base-color01;

    &:hover {
      @include media-breakpoint-up(md) {
        color: $base-color01;
        background-color: #fff;
      }
    }
  }

  &__ttl {
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.07em;

    @include media-breakpoint-up(md) {
      font-size: 18px;
    }
  }

  &__en {
    font-family: $base-en-font01;
    font-size: 32px;
    letter-spacing: 0.05em;
    transition: 0.3s $ease-base;

    @include media-breakpoint-up(md) {
      font-size: 50px;
    }

    #{$this}:hover & {
      @include media-breakpoint-up(md) {
        letter-spacing: 0.1em;
      }
    }
  }

  .icon {
    position: absolute;
    bottom: 0;
    margin: auto;
    fill: #fff;
    transition: 0.3s $ease-base;

    @at-root #{$this}--mid-career:hover .icon {
      @include media-breakpoint-up(md) {
        right: 55px;
        fill: $base-color01;
      }
    }

    @at-root #{$this}--new-graduates:hover .icon {
      @include media-breakpoint-up(md) {
        right: 55px;
        fill: $base-color02;
      }
    }

    @include media-breakpoint-up(md) {
      top: 0;
      right: 60px;
    }

    @include media-breakpoint-down(sm) {
      right: 15px;
      bottom: 15px;
    }
  }
}

.entry-offering {
  $this: #{&};

  position: relative;
  display: inline-block;

  @include media-breakpoint-down(sm) {
    padding-bottom: 5px;
    margin-top: 25px;
    line-height: 2;
  }

  @include media-breakpoint-up(md) {
    display: inline-flex;
    align-items: center;
    padding-bottom: 15px;
    margin-top: 34px;
  }

  &::after,
  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    content: '';
    background: #d7d8d9;
  }

  &::after {
    background: #373e42;
    transition: transform 0.5s $ease-base;
    transform: scaleX(0);
    transform-origin: right;

    @at-root #{$this}:hover:after {
      @include media-breakpoint-up(md) {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }

  .icon {
    margin-right: 7.5px;

    @include media-breakpoint-up(md) {
      margin-right: 15px;
      transition: 0.3s $ease-base;

      @at-root #{$this}:hover .icon {
        transform: translate(5px, 0);
      }
    }
  }
}

.footer-body {
  position: relative;
  background: $base-color03;

  @include media-breakpoint-up(md) {
    padding: 100px 0 90px;
  }

  .l-container {
    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }

  &__wrapper {
    @include media-breakpoint-down(sm) {
      padding-bottom: 60px;
    }
  }
}

.footer-item {
  $this: #{&};

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include media-breakpoint-up(md) {
    flex-direction: row;
    margin: 0 -20px;
  }

  &__ls {
    width: 100%;

    @include media-breakpoint-up(md) {
      width: 20%;
      padding: 0 20px;
    }

    > *:last-child {
      margin-bottom: 0;
    }

    &--accordion {
      @include media-breakpoint-down(sm) {
        border-bottom: 1px solid #c8cfd0;
      }
    }
  }

  &__link {
    display: block;
    padding: 24px 30px;
    font-size: 13px;
    font-weight: 500;
    border-bottom: 1px solid #c8cfd0;

    @include media-breakpoint-down(sm) {
      position: relative;
      width: 100%;
      letter-spacing: 0.07em;

      &:focus {
        outline: 0;
      }
    }

    @include media-breakpoint-up(md) {
      padding: 0;
      margin-bottom: 30px;
      border-bottom: none;
    }

    &:hover {
      @include media-breakpoint-up(md) {
        text-decoration: underline;
      }
    }

    &--button {
      @include media-breakpoint-down(sm) {
        text-align: left;
        border-bottom: none;
      }

      @include media-breakpoint-up(md) {
        margin-bottom: 25px;
      }
    }

    &:not(#{$this}__link--button) {
      &::after {
        position: absolute;
        top: 0;
        right: 30px;
        bottom: 0;
        width: 11px;
        height: 7px;
        margin: auto;
        content: '';
        background: url(@img-common/arrow_icon01.svg) center/contain;

        @include media-breakpoint-up(md) {
          display: none;
        }
      }
    }
  }
}

.footer-accordion {
  $this: #{&};

  @include media-breakpoint-up(md) {
    padding: 0 0 0 10px;
  }

  > *:last-child {
    #{$this}__ls {
      margin-bottom: 0;
    }
  }

  &__wrap {
    padding: 0 37.5px 37px;

    @include media-breakpoint-up(md) {
      padding: 0;
    }
  }

  &__ls {
    margin-bottom: 20px;

    &:last-child {
      #{$this}__link {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    display: block;
    margin-bottom: 15px;
    font-size: 13px;

    &:hover {
      @include media-breakpoint-up(md) {
        text-decoration: underline;
      }
    }
  }
}

.footer-logo {
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  @include media-breakpoint-up(md) {
    flex-direction: row;
  }

  &__icon {
    display: block;
    width: 290px;
    height: 58px;

    .icon {
      width: 100%;
      height: 100%;
    }
  }

  &__to-cp {
    display: flex;
    margin-top: 22.5px;
    font-size: 13px;

    @include media-breakpoint-up(md) {
      margin: 0 0 0 50px;
    }

    span {
      padding-left: 10px;
    }
  }
}

.footer-sns {
  $this: #{&};

  @include media-breakpoint-down(sm) {
    padding: 40px 30px 0;
    text-align: center;
  }

  @include media-breakpoint-up(md) {
    padding: 0;
  }

  &__ttl {
    font-size: 13px;
    font-weight: 500;
  }

  &__item {
    display: flex;
    margin: 24px -15px 0;

    @include media-breakpoint-up(md) {
      margin: 20px -10px 0;
    }

    @include media-breakpoint-down(sm) {
      justify-content: center;
    }
  }

  &__ls {
    padding: 0 15px;

    @include media-breakpoint-up(md) {
      padding: 0 10px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background: #373e42;
    border: 1px solid #373e42;
    border-radius: 50%;
    transition: 0.3s $ease-base;

    @include media-breakpoint-up(md) {
      width: 40px;
      height: 40px;
    }

    .icon {
      fill: #fff;
      transition: 0.3s $ease-base;

      &--twitter {
        width: 19px;
        height: 17px;
      }

      &--insta {
        width: 20px;
        height: 20px;
      }

      &--facebook {
        width: 10px;
        height: 19px;
      }
    }

    &:hover {
      @include media-breakpoint-up(md) {
        background: #fff;
      }

      .icon {
        @include media-breakpoint-up(md) {
          fill: #373e42;
        }
      }
    }
  }
}

.footer-bottom {
  padding: 55px 0 65px;
  font-size: 13px;
  background: #fff;

  @include media-breakpoint-up(md) {
    padding: 40px 0;
  }

  &__logo {
    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }

  &__wrapper {
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-up(md) {
      display: flex;
    }
  }
}

.footer-copyright {
  margin-top: 60px;
  font-family: $base-en-font01;
  font-size: 9px;
  letter-spacing: 0.025em;

  @include media-breakpoint-up(md) {
    margin-top: 0;
    font-size: 13px;
    letter-spacing: 0.05em;
  }
}

.f-toggle-line {
  position: absolute;
  top: 0;
  right: 30px;
  bottom: 0;
  width: 11px;
  height: 1px;
  margin: auto;
  background: #373e42;

  @include media-breakpoint-up(md) {
    display: none;
  }

  &::after {
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: #373e42;
    transition: 0.3s $ease-base;
    transform: rotate(90deg);
  }

  [aria-expanded='true'] & {
    &::after {
      transform: rotate(0);
    }
  }
}

.footer-none {
  .footer-message,
  .footer-entry {
    display: none;
  }
}

.footer-slider {
  $this: #{&};

  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;

  &__img {
    position: relative;
    height: 100%;

    @for $i from 1 through 3 {
      &--0#{$i} {
        @extend #{$this}__img;

        background: url(@img-index/mv_slider_item0#{$i}.jpg) center/cover;

        @include media-breakpoint-up(md) {
          background: url(@img-index/mv_slider_item0#{$i}_md.jpg) center/cover;
        }
      }
    }

    @include media-breakpoint-up(md) {
      height: 100%;
    }
  }
}

.footer-slider-none {
  .footer-slider {
    display: none;
  }
}

.swiper-slide-active .footer-slider__img,
.swiper-slide-duplicate-active .footer-slider__img,
.swiper-slide-prev .footer-slider__img {
  animation: zoomUp 12s linear 0s;
  animation-fill-mode: both;
}
