.l-header {
  $this: #{&};

  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 60px;
  background: transparent;
  transition: 0.3s $ease-base;

  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 1300px;
    height: 120px;
    border-bottom: 1px solid rgba(#fff, 0.3);
  }

  &.is-style-change {
    @include media-breakpoint-up(md) {
      height: 90px;
      background: #fff;
      border-bottom: none;
    }
  }

  &__menu-inner {
    @include media-breakpoint-up(md) {
      display: flex;
    }
  }

  &__menu {
    display: flex;
    transition: 0.5s $ease-base;

    @include media-breakpoint-up(md) {
      align-items: center;
    }

    @include media-breakpoint-down(sm) {
      position: fixed;
      top: 60px;
      left: 0;
      z-index: -2;
      flex-direction: column;
      width: 100%;
      overflow: auto;
      visibility: hidden;
      background: #fff;
      opacity: 0;
      transition: 0.8s $ease-base;
    }

    @include media-breakpoint-between(md, 1500px) {
      padding: 0 20px;
    }

    @include media-breakpoint-up(md) {
      height: 100%;
      padding: 0 40px;
    }

    .is-style-change & {
      padding: 0 0;
    }

    .entry-list {
      display: flex;
      width: 100%;
      margin: auto -1px 0 0;

      @include media-breakpoint-up(md) {
        position: absolute;
        top: 120px;
        right: 30px;
        display: flex;
        width: 700px;
        padding: 20px 0;
        margin: 0;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s;

        &.is-active {
          visibility: visible;
          opacity: 1;
        }
      }

      &__item {
        width: 100%;

        @include media-breakpoint-up(md) {
          flex: 1 1 auto;
          width: 50%;
          margin: 0;
          background: #fff;

          &:first-child {
            border-right: 1px solid #fff;
          }
        }
        /* stylelint-disable-line */
        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          color: #fff;
          letter-spacing: 0.15em;
          background: #222;

          @include media-breakpoint-down(sm) {
            width: 100%;
            height: 75px;
          }

          @include media-breakpoint-up(md) {
            padding: 30px 20px;
            font-size: 20px;
            text-align: center;
            transition: 0.3s;

            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }

    .menu-list {
      font-size: 18px;
      text-align: center;

      @include media-breakpoint-down(sm) {
        width: 100%;
      }

      @include media-breakpoint-up(md) {
        display: flex;
        flex: 1 1 auto;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-right: 30px;
        font-size: 15px;
      }

      &__item {
        line-height: 1;
        letter-spacing: 0.15em;

        @include media-breakpoint-down(sm) {
          width: 100%;
          border-top: 1px solid #d7d8d9;
        }

        a {
          position: relative;
          display: block;
          padding: 20px 30px;
          font-size: 13px;
          text-align: left;

          @include media-breakpoint-between(md, 1500px) {
            padding: 10px 12px;
          }

          @include media-breakpoint-up(md) {
            padding: 10px 18px;
            color: #fff;
            text-align: center;
            letter-spacing: 0.07em;
            border-top: none;
          }

          #{$this}.is-style-change & {
            @include media-breakpoint-up(md) {
              color: #373e42;
            }
          }

          &::before {
            @include media-breakpoint-up(md) {
              position: absolute;
              right: 18px;
              bottom: 0;
              left: 18px;
              width: 0;
              height: 1px;
              margin: auto;
              content: '';
              background: #fff;
              transition: width 0.6s $ease-out-expo;

              #{$this}.is-style-change & {
                @include media-breakpoint-up(md) {
                  background: #373e42;
                }
              }
            }
          }

          &:not(.header-accordion__link--staff) {
            &::after {
              position: absolute;
              top: 0;
              right: 30px;
              bottom: 0;
              width: 11px;
              height: 7px;
              margin: auto;
              content: '';
              background: url(@img-common/arrow_icon01.svg) center/contain;

              @include media-breakpoint-up(md) {
                display: none;
              }
            }
          }
        }

        .header-accordion {
          &__link {
            @include media-breakpoint-down(sm) {
              padding: 12.5px 0 12.5px 45px;
            }
          }

          &__ls {
            &:last-child {
              .header-accordion__link {
                padding-bottom: 35px;
              }
            }
          }
        }

        &:last-child {
          border-bottom: 1px solid #d7d8d9;

          @include media-breakpoint-up(md) {
            border-bottom: none;
          }
        }

        a:hover::before {
          @include media-breakpoint-up(md) {
            width: calc(100% - 36px);
            transition: width 0.6s $ease-out-expo;
          }
        }
      }
    }
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    &.is-active {
      background: #fff;

      + .l-header__menu {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background: #fff;

    @include media-breakpoint-between(md, 1480px) {
      width: 340px;
    }

    @include media-breakpoint-up(md) {
      width: 390px;
    }

    .icon {
      @include media-breakpoint-down(sm) {
        width: 150px;
        height: 29px;
      }
    }
  }

  &__button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background: #373e42;

    @include media-breakpoint-up(md) {
      display: none;
    }

    &::before,
    &::after,
    .line {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 25px;
      height: 1px;
      margin: auto;
      overflow: hidden;
      content: '';
      background: #fff;
      transition: 0.6s $ease-out-quint;
    }

    &::before {
      top: -18px;
    }

    &::after {
      top: 18px;
    }
  }

  .is-active {
    .l-header__menu {
      position: relative;

      .menu-list__item {
        color: #373e42;
      }
    }
  }
}

.entry-button {
  $this: #{&};

  display: flex;
  align-items: center;
  color: #fff;

  @include media-breakpoint-down(sm) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  @include media-breakpoint-between(md, 1366px) {
    margin: 0 -5px;
  }

  @include media-breakpoint-up(md) {
    margin: 0 -10px;
  }

  .is-style-change & {
    height: 90px;

    @include media-breakpoint-up(md) {
      margin: 0 -0.5px;
    }
  }

  &__ls {
    @include media-breakpoint-between(md, 1366px) {
      padding: 0 5px;
    }

    @include media-breakpoint-up(md) {
      padding: 0 10px;
    }

    @include media-breakpoint-down(sm) {
      width: 50%;
    }

    .is-style-change & {
      height: 100%;

      @include media-breakpoint-up(md) {
        padding: 0 0.5px;
      }
    }
  }

  &__item {
    width: 190px;
    font-weight: 500 !important; /* stylelint-disable-line */

    @include media-breakpoint-between(md, 1600px) {
      width: 160px;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
      height: 100px;
      font-size: 13px;
      text-align: center;
      letter-spacing: 0.07em;
      border-radius: 0;
    }

    @include media-breakpoint-up(md) {
      height: 100% !important; /* stylelint-disable-line */
      padding: 21px 0;
    }

    .is-style-change & {
      position: relative;
      height: 100%;
      border-radius: 0;
    }

    .en {
      font-family: $base-en-font01;
      font-size: 32px;
      font-weight: 500;
      letter-spacing: 0.05em;
    }
  }

  &:hover {
    background-position: 100% 0;
  }
}

.l-header__button.is-active {
  @include media-breakpoint-down(sm) {
    &::before,
    &::after,
    .line {
      top: 0;
      width: 30px;
      transform: rotate(45deg);
    }

    &::after {
      opacity: 0;
    }

    .line {
      transform: rotate(-45deg);
    }
  }
}

.header-acc-btn {
  position: relative;
  width: 100%;
  font-size: 13px;
  text-align: left;
  letter-spacing: 0.15em;

  @include media-breakpoint-down(sm) {
    padding: 20px 30px;
  }

  @include media-breakpoint-up(md) {
    padding: 24px 18px;
  }

  &::after,
  &::before {
    position: absolute;
    top: 0;
    right: 30px;
    bottom: 0;
    width: 11px;
    height: 1px;
    margin: auto;
    content: '';
    background: #373e42;
    transition: 0.3s $ease-base;
    transform: rotate(90deg);
  }

  &::before {
    transform: rotate(0);
  }

  &[aria-expanded='true'] {
    &::after {
      transform: rotate(0);
    }
  }
}

.head-sns {
  display: block;
  padding-bottom: 130px;
  margin-top: 40px;
  overflow: hidden;
  text-align: center;

  @include media-breakpoint-up(md) {
    display: none;
  }

  &__wrap {
    display: flex;
    justify-content: center;
    margin: 0 -7.5px;
  }

  &__ls {
    padding: 0 7.5px;
  }

  &__ttl {
    margin-bottom: 20px;
    font-size: 13px;
    letter-spacing: 0.07em;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background: #373e42;
    border-radius: 50%;
  }

  .icon {
    fill: #fff;

    &--twitter {
      width: 22px;
      height: 19px;
    }

    &--insta {
      width: 22px;
      height: 22px;
    }

    &--facebook {
      width: 12px;
      height: 22px;
    }
  }
}

.header-black {
  .l-header__menu .menu-list__item a {
    color: #373e42;

    &::before {
      @include media-breakpoint-up(md) {
        background: #373e42;
      }
    }
  }
}

.header-button-none {
  .entry-button {
    display: none;
  }
}

.head-bg-color {
  .l-header {
    @include media-breakpoint-up(md) {
      border: 1px solid #fff;
    }
  }
}

.header-bg-gray {
  .l-header {
    @include media-breakpoint-up(md) {
      background: rgba(#373e42, 0.3);
    }

    &.is-style-change {
      @include media-breakpoint-up(md) {
        background: #fff;
      }
    }
  }
}
