<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{{ post.title }}｜お知らせ・イベント｜スマイルアンドサンキュー株式会社 採用サイト</title>
  <meta name="description" content="整骨院・接骨院・鍼灸院のスマイルアンドサンキュー株式会社の採用情報サイト。お知らせ・イベント情報について紹介しております。">

  <meta property="og:title" content="{{ post.title }}｜お知らせ・イベント｜スマイルアンドサンキュー株式会社 採用サイト"><!-- To support Twitter Cards you need to fill in the content. -->
  <meta property="og:type" content="article"><!-- You need to fill in the content with "website" for the top page, and "article" for the other pages. -->
  <meta property="og:image" content="http://recruit.smile-39.com/assets/images/ogp.png"><!-- You need to fill in the content with the production URL of the image. -->
  <meta property="og:url" content="http://recruit.smile-39.com/news/"><!-- You need to fill in the content with the production URL of this page. -->
  <meta property="og:description" content="整骨院・接骨院・鍼灸院のスマイルアンドサンキュー株式会社の採用情報サイト。お知らせ・イベント情報について紹介しております。"><!-- To support Twitter Cards this tag is required, and you need to fill in the content. -->
  <meta name="twitter:card" content="summary">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

{% include('/includes/gtm-head.inc') %}

  <link rel="stylesheet" href="/assets/styles/main.css">
  <link rel="stylesheet" href="/assets/styles/pages/common/style.css">
  <link rel="stylesheet" href="/assets/styles/pages/news/common/style.css">
  <link rel="stylesheet" href="/assets/styles/pages/news/detail/style.css">
</head>

<body class="header-black head-contents-small head-bg-color">

  {% include('/includes/gtm-body.inc') %}

  <div class="l-page">

    {% include('/includes/header.inc') %}

    <main class="l-main">

    <%- include('/lower_page_head', {
      textEn01: 'NEWS',
      textEn02: 'EVENT',
      textJa: 'お知らせ'
    }) %>

      <section class="sec-news-detail">
        <div class="l-container">
          <div class="sec-news-detail__wrap">
            <div class="sec-news-detail__head">
              <div class="head-item">
                <p class="head-item__create-at">
                  {{ post.outputDate }}
                </p>
                <p class="head-item__category">
                  <span class="category">{{ post.categoryName }}</span>
                </p>
              </div>
              <h1 class="head-ttl">
                {{ post.title }}
              </h1>
            </div>
            <div class="sec-news-detail__body">
              <div class="sentence">
                {{ post.body|raw }}
              </div>
            </div>
            <div class="sec-news-detail__lower">
              <a href="/news/" class="c-button news-list-button">
                <svg class="news-list-button__icon" xmlns="http://www.w3.org/2000/svg" width="14" height="12" viewBox="0 0 14 12"><path fill-rule="evenodd" d="M4 12v-2h10v2H4zm0-7h10v2H4V5zm0-5h10v2H4V0zM0 10h2v2H0v-2zm0-5h2v2H0V5zm0-5h2v2H0V0z"/></svg>
                ニュース一覧
              </a>
            </div>
          </div>
        </div>
      </section>
    </main><!-- .l-main -->

    {% include('/includes/footer.inc') %}
  <div class="u-d-none">
    <%- include('/_svg-symbols') %>
  </div>

  </div><!-- .l-page -->

  <script src="/assets/scripts/vendors.js" defer></script>
  <script src="/assets/scripts/pages/common.js" defer></script>

</body>

</html>
