<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>お知らせ・イベント｜スマイルアンドサンキュー株式会社 採用サイト</title>
  <meta name="description" content="整骨院・接骨院・鍼灸院のスマイルアンドサンキュー株式会社の採用情報サイト。お知らせ・イベント情報について紹介しております。">

  <meta property="og:title" content="お知らせ・イベント｜スマイルアンドサンキュー株式会社 採用サイト"><!-- To support Twitter Cards you need to fill in the content. -->
  <meta property="og:type" content="article"><!-- You need to fill in the content with "website" for the top page, and "article" for the other pages. -->
  <meta property="og:image" content="http://recruit.smile-39.com/assets/images/ogp.png"><!-- You need to fill in the content with the production URL of the image. -->
  <meta property="og:url" content="http://recruit.smile-39.com/news/"><!-- You need to fill in the content with the production URL of this page. -->
  <meta property="og:description" content="整骨院・接骨院・鍼灸院のスマイルアンドサンキュー株式会社の採用情報サイト。お知らせ・イベント情報について紹介しております。"><!-- To support Twitter Cards this tag is required, and you need to fill in the content. -->
  <meta name="twitter:card" content="summary">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

{% include('/includes/gtm-head.inc') %}

  <link rel="stylesheet" href="/assets/styles/main.css">
  <link rel="stylesheet" href="/assets/styles/pages/common/style.css">
  <link rel="stylesheet" href="/assets/styles/pages/news/common/style.css">
  <link rel="stylesheet" href="/assets/styles/pages/news/style.css">
</head>

<body class="header-black head-contents-small head-bg-color">

  {% include('/includes/gtm-body.inc') %}

  <div class="l-page">

    {% include('/includes/header.inc') %}

    <main class="l-main">

    <%- include('/lower_page_head', {
      textEn01: 'NEWS',
      textEn02: 'EVENT',
      textJa: 'お知らせ',
    }) %>

      <section class="sec-news">
        <div class="l-container">
          <div class="sec-news__wrap">
            <nav class="sec-news__nav">
              <ul class="news-nav">
                <li class="news-nav__ls">
                  {% set addStyle = (spec.category is empty) ? 'current-category' : '' %}
                  <a href="/news/" class="news-nav__item {{ addStyle }}">
                    <p class="news-nav__txt">
                      ALL
                    </p>
                    <span class="news-nav__line"></span>
                  </a>
                </li>
                <li class="news-nav__ls">
                  {% set addStyle = (spec.category == 1) ? 'current-category' : '' %}
                  <a href="/news/?category=1" class="news-nav__item {{ addStyle }}">
                    <p class="news-nav__txt">
                      NEWS
                    </p>
                    <span class="news-nav__line"></span>
                  </a>
                </li>
                <li class="news-nav__ls">
                  {% set addStyle = (spec.category == 2) ? 'current-category' : '' %}
                  <a href="/news/?category=2" class="news-nav__item {{ addStyle }}">
                    <p class="news-nav__txt">
                      EVENT
                    </p>
                    <span class="news-nav__line"></span>
                  </a>
                </li>
              </ul>
            </nav>
            <ul class="sec-news__body">
              {% for post in posts %}
              <li class="sec-news__ls">
                <a href="{{ post.detailLinkUrl }}" target="{{ post.detailLinkTarget }}" class="news-item">
                  <div class="news-item__wrap">
                    <p class="news-item__create-at">
                      {{ post.outputDate }}
                    </p>
                    <p class="news-item__category">
                      {{ post.categoryName }}
                    </p>
                  </div>
                  <p class="news-item__text">
                    {{ post.title }}
                  </p>
                </a>
              </li>
              {% endfor %}
            </ul>
            {% if pager.isPageSplitted %}
            <div class="sec-news__pagenation">
              <div class="pagenation">
                <div class="pagenation__wrap">
                  <div class="pagenation__prev">
                    {% if pager.existsPrevPage %}
                    <a href="{{ pager.prevPageLink }}" class="c-button--arrow pagenation__prev-button"><svg class="icon icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>前の10件</a>
                    {% endif %}
                  </div>
                  <ul class="pagenation__button-wrap">
                    {% for page in pager.pageList(5) %}
                    <li class="pagenation__ls">
                      {% set addStyle = pager.isCurrentPage(page) ? 'current-num' : '' %}
                      <a href="{{ pager.pageLink(page) }}" class="pagenation__button {{ addStyle }}">
                        <span class="pagenation__num">{{ page }}</span>
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
                  <div class="pagenation__next">
                    {% if pager.existsNextPage %}
                    <a href="{{ pager.nextPageLink }}" class="c-button--arrow pagenation__next-button"><svg class="icon icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>次の10件</a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </section>
    </main><!-- .l-main -->

    {% include('/includes/footer.inc') %}
  <div class="u-d-none">
    <%- include('/_svg-symbols') %>
  </div>

  </div><!-- .l-page -->

  <script src="/assets/scripts/vendors.js" defer></script>
  <script src="/assets/scripts/pages/common.js" defer></script>

</body>

</html>
