<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>お知らせ・イベント｜スマイルアンドサンキュー株式会社 採用サイト</title>
  <meta name="description" content="整骨院・接骨院・鍼灸院のスマイルアンドサンキュー株式会社の採用情報サイト。お知らせ・イベント情報について紹介しております。">

  <meta property="og:title" content="お知らせ・イベント｜スマイルアンドサンキュー株式会社 採用サイト"><!-- To support Twitter Cards you need to fill in the content. -->
  <meta property="og:type" content="article"><!-- You need to fill in the content with "website" for the top page, and "article" for the other pages. -->
  <meta property="og:image" content="http://recruit.smile-39.com/assets/images/ogp.png"><!-- You need to fill in the content with the production URL of the image. -->
  <meta property="og:url" content=""><!-- You need to fill in the content with the production URL of this page. -->
  <meta property="og:description" content="整骨院・接骨院・鍼灸院のスマイルアンドサンキュー株式会社の採用情報サイト。お知らせ・イベント情報について紹介しております。"><!-- To support Twitter Cards this tag is required, and you need to fill in the content. -->
  <meta name="twitter:card" content="summary">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

<!--#include virtual="/includes/gtm-head.inc" -->

  <link rel="stylesheet" href="/assets/styles/main.css">
  <link rel="stylesheet" href="/assets/styles/pages/common/style.css">
  <link rel="stylesheet" href="/assets/styles/pages/news/common/style.css">
  <link rel="stylesheet" href="/assets/styles/pages/news/style.css">
</head>

<body class="header-black head-contents-small head-bg-color">

  <!--#include virtual="/includes/gtm-body.inc" -->

  <div class="l-page">

    <!--#include virtual="/includes/header.inc" -->

    <main class="l-main">

    <%- include('/lower_page_head', {
      textEn01: 'NEWS',
      textEn02: 'EVENT',
      textJa: 'お知らせ',
    }) %>

      <section class="sec-news">
        <div class="l-container">
          <div class="sec-news__wrap">
            <nav class="sec-news__nav">
              <ul class="news-nav">
                <li class="news-nav__ls">
                  <a href="" class="news-nav__item current-category">
                    <p class="news-nav__txt">
                      ALL
                    </p>
                    <span class="news-nav__line"></span>
                  </a>
                </li>
                <li class="news-nav__ls">
                  <a href="" class="news-nav__item">
                    <p class="news-nav__txt">
                      NEWS
                    </p>
                    <span class="news-nav__line"></span>
                  </a>
                </li>
                <li class="news-nav__ls">
                  <a href="" class="news-nav__item">
                    <p class="news-nav__txt">
                      EVENT
                    </p>
                    <span class="news-nav__line"></span>
                  </a>
                </li>
              </ul>
            </nav>
            <ul class="sec-news__body">
              <li class="sec-news__ls">
                <a href="" class="news-item">
                  <div class="news-item__wrap">
                    <p class="news-item__create-at">
                      2020.03.02
                    </p>
                    <p class="news-item__category">
                      NEWS
                    </p>
                  </div>
                  <p class="news-item__text">
                    この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。文字の大きさ、量、字間、行間等を確認。
                  </p>
                </a>
              </li>
              <li class="sec-news__ls">
                <a href="" class="news-item">
                  <div class="news-item__wrap">
                    <p class="news-item__create-at">
                      2020.03.02
                    </p>
                    <p class="news-item__category">
                      EVENT
                    </p>
                  </div>
                  <p class="news-item__text">
                    この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。文字の大きさ、量、字間、行間等を確認。
                  </p>
                </a>
              </li>
              <li class="sec-news__ls">
                <a href="" class="news-item">
                  <div class="news-item__wrap">
                    <p class="news-item__create-at">
                      2020.03.02
                    </p>
                    <p class="news-item__category">
                      NEWS
                    </p>
                  </div>
                  <p class="news-item__text">
                    この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。文字の大きさ、量、字間、行間等を確認。
                  </p>
                </a>
              </li>
              <li class="sec-news__ls">
                <a href="" class="news-item">
                  <div class="news-item__wrap">
                    <p class="news-item__create-at">
                      2020.03.02
                    </p>
                    <p class="news-item__category">
                      EVENT
                    </p>
                  </div>
                  <p class="news-item__text">
                    この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。文字の大きさ、量、字間、行間等を確認。
                  </p>
                </a>
              </li>
              <li class="sec-news__ls">
                <a href="" class="news-item">
                  <div class="news-item__wrap">
                    <p class="news-item__create-at">
                      2020.03.02
                    </p>
                    <p class="news-item__category">
                      NEWS
                    </p>
                  </div>
                  <p class="news-item__text">
                    この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。文字の大きさ、量、字間、行間等を確認。
                  </p>
                </a>
              </li>
              <li class="sec-news__ls">
                <a href="" class="news-item">
                  <div class="news-item__wrap">
                    <p class="news-item__create-at">
                      2020.03.02
                    </p>
                    <p class="news-item__category">
                      EVENT
                    </p>
                  </div>
                  <p class="news-item__text">
                    この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。文字の大きさ、量、字間、行間等を確認。
                  </p>
                </a>
              </li>
              <li class="sec-news__ls">
                <a href="" class="news-item">
                  <div class="news-item__wrap">
                    <p class="news-item__create-at">
                      2020.03.02
                    </p>
                    <p class="news-item__category">
                      NEWS
                    </p>
                  </div>
                  <p class="news-item__text">
                    この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。文字の大きさ、量、字間、行間等を確認。
                  </p>
                </a>
              </li>
              <li class="sec-news__ls">
                <a href="" class="news-item">
                  <div class="news-item__wrap">
                    <p class="news-item__create-at">
                      2020.03.02
                    </p>
                    <p class="news-item__category">
                      EVENT
                    </p>
                  </div>
                  <p class="news-item__text">
                    この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。文字の大きさ、量、字間、行間等を確認。
                  </p>
                </a>
              </li>
              <li class="sec-news__ls">
                <a href="" class="news-item">
                  <div class="news-item__wrap">
                    <p class="news-item__create-at">
                      2020.03.02
                    </p>
                    <p class="news-item__category">
                      NEWS
                    </p>
                  </div>
                  <p class="news-item__text">
                    この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。文字の大きさ、量、字間、行間等を確認。
                  </p>
                </a>
              </li>
              <li class="sec-news__ls">
                <a href="" class="news-item">
                  <div class="news-item__wrap">
                    <p class="news-item__create-at">
                      2020.03.02
                    </p>
                    <p class="news-item__category">
                      EVENT
                    </p>
                  </div>
                  <p class="news-item__text">
                    この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。文字の大きさ、量、字間、行間等を確認。
                  </p>
                </a>
              </li>
            </ul>
            <div class="sec-news__pagenation">
              <div class="pagenation">
                <div class="pagenation__wrap">
                  <div class="pagenation__prev">
                    <a href="" class="c-button--arrow pagenation__prev-button"><svg class="icon icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>前の10件</a>
                  </div>
                  <ul class="pagenation__button-wrap">
                    <li class="pagenation__ls">
                      <a href="" class="pagenation__button">
                        <span class="pagenation__num">1</span>
                      </a>
                    </li>
                    <li class="pagenation__ls">
                      <a href="" class="pagenation__button current-num">
                        <span class="pagenation__num">2</span>
                      </a>
                    </li>
                    <li class="pagenation__ls">
                      <a href="" class="pagenation__button">
                        <span class="pagenation__num">3</span>
                      </a>
                    </li>
                    <li class="pagenation__ls">
                      <a href="" class="pagenation__button">
                        <span class="pagenation__num">4</span>
                      </a>
                    </li>
                  </ul>
                  <div class="pagenation__next">
                    <a href="" class="c-button--arrow pagenation__next-button"><svg class="icon icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>次の10件</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main><!-- .l-main -->

    <!--#include virtual="/includes/footer.inc" -->
  <div class="u-d-none">
    <%- include('/_svg-symbols') %>
  </div>

  </div><!-- .l-page -->

  <script src="/assets/scripts/vendors.js" defer></script>
  <script src="/assets/scripts/pages/common.js" defer></script>

</body>

</html>
