.career-training {
  position: relative;
  z-index: 0;
  padding: 100px 0;
  background: #fff;

  @include media-breakpoint-up(md) {
    padding: 200px 0 334px;
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: calc(50% + 102.5px);
    content: '';
    background: $base-color03;

    @include media-breakpoint-up(md) {
      width: calc(50% + 320px);
    }
  }

  &__wrapper {
    padding: 0 30px;

    @include media-breakpoint-up(md) {
      padding: 0;
    }
  }

  &__heading {
    position: relative;
    text-align: center;
  }

  &__body {
    margin-top: 58px;

    @include media-breakpoint-up(md) {
      margin-top: 120px;
    }
  }
}

.descript-item {
  $this: #{&};

  max-width: 1760px;
  margin: 0 auto;

  &:last-child {
    margin-top: 80px;

    @include media-breakpoint-up(md) {
      margin-top: 187px;
    }
  }

  &__ttl {
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    height: 56px;
    margin-bottom: 27.5px;
    font-family: $base-jp-font01;
    font-size: 23px;
    font-weight: 500;

    @include media-breakpoint-up(md) {
      top: -22px;
      height: 95px;
      margin-bottom: 0;
      font-size: 34px;
      letter-spacing: 0.1em;
    }

    &.is-intersected {
      &::before,
      &::after {
        @include media-breakpoint-up(md) {
          left: -140px;
        }
      }
    }

    &::before,
    &::after {
      position: absolute;
      top: -15px;
      right: 0;
      left: -22px;
      z-index: -1;
      font-family: $base-en-font01;
      font-size: 80px;
      font-weight: 500;
      line-height: 1;
      color: #fff;
      letter-spacing: 0;
      content: attr(data-text) '';
      transition: 1.7s $ease-base;

      @include media-breakpoint-up(md) {
        top: -30px;
        left: -200px;
        font-size: 160px;
      }
    }

    &::after {
      right: 260px;
      overflow: hidden;
      color: $base-color03;

      @include media-breakpoint-up(md) {
        right: 190px;
      }
    }
  }

  &__body {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column-reverse;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
  }

  &__wrapper {
    position: relative;
  }

  &__bg {
    position: relative;
    height: 100%;
    background: #fff;

    @include media-breakpoint-up(md) {
      position: absolute;
      top: 0;
      right: calc(50% + 320px);
      left: 0;
    }
  }

  &__typo {
    font-family: $base-en-font01;
    font-size: 80px;
    font-weight: 500;
    letter-spacing: 0;

    @include media-breakpoint-up(md) {
      position: absolute;
      top: 30px;
      left: calc(100% - 540px);
      font-size: 160px;
    }

    &.white {
      color: #fff;
    }

    &.gray {
      color: $base-color03;
    }
  }

  &__en {
    z-index: -1;
  }

  &__jp {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 8;
    font-family: $base-jp-font01;
    font-size: 23px;
    color: #222;
    transform: translate(-50%, -50%);

    @include media-breakpoint-up(md) {
      font-size: 34px;
    }
  }

  &__content {
    @include media-breakpoint-up(md) {
      width: 50%;
      padding: 70px 130px 0;
    }
  }

  &__txt {
    font-size: 13px;
    font-weight: 400;
    line-height: 2.5;
    letter-spacing: 0.07em;

    @include media-breakpoint-up(md) {
      font-size: 14px;
      line-height: 2.4;
    }
  }

  &__img {
    padding-top: 61.27%;

    @for $i from 1 through 2 {
      &--0#{$i} {
        @extend #{$this}__img;

        background: url(@img-index/career_training0#{$i}.jpg) center/cover;

        @include media-breakpoint-up(md) {
          background: url(@img-index/career_training0#{$i}_md.jpg) center/cover;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 40px;
    }

    @include media-breakpoint-up(md) {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      padding-top: 540px;
    }
  }

  &__button {
    width: 260px;
    margin: 24px auto 0;

    @include media-breakpoint-up(md) {
      width: 280px;
      margin: 60px auto 0 0;
    }
  }
}

.bg-mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
