.sec-news {
  position: relative;
  padding: 95px 0 100px;
  background: #fff;

  @include media-breakpoint-up(md) {
    padding: 180px 0;
  }

  &__heading {
    text-align: center;

    @include media-breakpoint-up(md) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: left;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 45px;
    border-bottom: 1px solid #d7d8d9;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      margin: 100px -27.5px -70px;
      border-bottom: none;
    }
  }

  &__link-sm {
    margin-top: 50px;
  }

  &__button {
    width: 260px;
    margin: 0 auto;

    @include media-breakpoint-up(md) {
      width: 280px;
    }
  }
}

.news-item {
  $this: #{&};

  margin-bottom: 35px;

  @include media-breakpoint-up(md) {
    width: 33.33333%;
    padding: 0 27.5px;
    margin-bottom: 70px;
  }

  &__link {
    position: relative;
    display: block;
    padding-top: 40px;
    font-weight: 400;

    &::after,
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      content: '';
      background: #d7d8d9;
    }

    &::after {
      background: #373e42;
      transition: transform 0.5s $ease-base;
      transform: scaleX(0);
      transform-origin: right;

      #{$this}:hover & {
        @include media-breakpoint-up(md) {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }
  }

  &__heading {
    display: flex;
    align-items: center;

    @include media-breakpoint-up(md) {
      justify-content: space-between;
    }
  }

  &__createat {
    font-family: $base-en-font01;
    font-size: 12px;

    @include media-breakpoint-up(md) {
      font-size: 13px;
      letter-spacing: 0.05em;
    }
  }

  &__category {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 83px;
    height: 23px;
    margin-left: 20px;
    font-family: $base-en-font01;
    font-size: 11px;
    line-height: 1;
    color: rgba(#373e42, 0.5);
    letter-spacing: 0.05em;
    background: $base-color03;
    border-radius: 14px;

    @include media-breakpoint-up(md) {
      width: 100px;
      height: 28px;
      margin-left: 0;
      font-size: 13px;
      letter-spacing: 0.07em;
    }
  }

  &__body {
    margin-top: 20px;

    @include media-breakpoint-up(md) {
      margin-top: 30px;
    }
  }

  &__txt {
    font-size: 13px;
    line-height: 2.1;
    letter-spacing: 0.07em;

    @include media-breakpoint-up(md) {
      font-size: 14px;
      line-height: 2.4;
    }
  }
}
