.sec-message {
  position: relative;
  background-color: #fff;

  @include media-breakpoint-down(sm) {
    padding-top: 80px;
  }

  &__wrapper {
    position: relative;
    display: flex;

    @include media-breakpoint-down(sm) {
      flex-direction: column-reverse;
      padding: 0 30px;
    }
  }

  &__img {
    top: 0;
    margin: 0 -30px;

    @include media-breakpoint-up(md) {
      position: sticky;
      position: -webkit-sticky;
      width: 50%;
      height: 1080px;
      margin: 0;
      overflow: hidden;
    }
  }

  &__img-item {
    padding-top: 422px;
    background: url(@img-index/message_img01.jpg) center/cover;

    @include media-breakpoint-up(md) {
      padding-top: 1080px;
      background: url(@img-index/message_img01_md.jpg) center/cover;
    }
  }

  &__body {
    margin-bottom: 80px;
    text-align: center;

    @include media-breakpoint-up(md) {
      width: 50%;
      padding: 150px 0 200px;
      margin-bottom: 0;
    }
  }
}

.message-content {
  $this: #{&};

  margin-bottom: 52px;

  @include media-breakpoint-up(md) {
    margin-bottom: 0;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__line {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 1px;
    height: 160px;
    margin: auto;
    overflow: hidden;
    background: #d7d8d9;

    @include media-breakpoint-up(md) {
      transition-delay: 1.6s;
    }

    .line {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: #373e42;
      transform: translateY(-100%);
      animation: lineLoopAnimation 3s infinite $ease-out-sine 0s;
    }
  }

  &__ttl {
    position: relative;
    padding-bottom: 155px;
    font-family: $base-jp-font01;
    font-size: 31px;
    font-weight: 400;
    font-weight: 500;
    line-height: 2;
    text-align: left;
    letter-spacing: 0.35em;
    writing-mode: vertical-rl;

    @at-root #{$this}__ttl.is-intersected {
      &::after {
        transform: scaleY(1);
      }
    }

    @include media-breakpoint-up(md) {
      padding-bottom: 180px;
      margin-bottom: 60px;
      font-size: 42px;
    }

    .message-typo {
      opacity: 0;
      transition: 0.95s $ease-base;

      @for $i from 1 through 17 {
        $deray-second: #{$i * 0.08}s;

        &:nth-of-type(#{$i}) {
          transition-delay: $deray-second;
        }
      }
    }

    &.is-intersected {
      .message-typo {
        opacity: 1;
      }
    }
  }

  &__body {
    > *:last-child {
      margin-bottom: 0;
    }
  }

  &__txt {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 2.5;
    text-align: left;
    letter-spacing: 0.12em;

    @include media-breakpoint-up(md) {
      margin-bottom: 55px;
      font-size: 16px;
      line-height: 2.75;
      text-align: center;
      letter-spacing: 0.12em;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__button {
    width: 260px;
    margin: 40px auto 0;

    @include media-breakpoint-up(md) {
      width: 280px;
      margin: 75px auto 0;
    }
  }
}

.message-en {
  margin-bottom: 50px;
  font-family: $base-en-font01;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.05em;

  @include media-breakpoint-up(md) {
    margin-bottom: 80px;
    font-size: 18px;
  }

  &__color01 {
    color: $base-color02;
  }

  &__color02 {
    color: $base-color01;
  }
}
