.sec-mv {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100vh;

  @include media-breakpoint-up(md) {
    overflow: hidden;
  }

  &__wrapper {
    position: relative;
    height: 100%;
  }
}

.mv-slider {
  $this: #{&};

  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;

  // width: 100%;
  // height: 100vh;

  &__slide {
    position: relative;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  &__img {
    position: relative;
    padding-top: 100vh;

    @for $i from 1 through 3 {
      &--0#{$i} {
        @extend #{$this}__img;

        background: url(@img-index/mv_slider_item0#{$i}.jpg) center/cover;

        @include media-breakpoint-up(md) {
          background: url(@img-index/mv_slider_item0#{$i}_md.jpg) center/cover;
        }
      }
    }
  }

  img {
    width: 100%;
  }
}

// mv-animation
.swiper-slide-active .mv-slider__img,
.swiper-slide-duplicate-active .mv-slider__img,
.swiper-slide-prev .mv-slider__img {
  animation: zoomUp 12s linear 0s;
  animation-fill-mode: both;
}

.mv-typo {
  $this: #{&};

  position: absolute;
  bottom: 105px;
  left: 30px;
  z-index: 5;
  z-index: 3;
  width: 100%;
  margin-right: auto;
  font-family: $base-jp-font01;
  color: #fff;

  @include media-breakpoint-between(md, 1366px) {
    bottom: 60px;
    left: 80px;
    width: 50%;
  }

  @include media-breakpoint-up(md) {
    bottom: 123px;
    left: 88px;
    width: 50%;
  }

  &__wrapper {
    width: 100%;

    @include media-breakpoint-up(md) {
      bottom: 128px;
      left: 80px;
    }
  }

  &__vertical {
    font-size: 35px;
    letter-spacing: 0.25em;
    writing-mode: vertical-rl;
    text-orientation: upright;

    @include media-breakpoint-up(md) {
      font-size: 70px;
    }

    @include media-breakpoint-between(md, 1366px) {
      font-size: 50px;
    }
  }

  &__horizontal {
    position: relative;
    height: 75px;
    font-size: 70px;
    font-weight: 400;
    letter-spacing: 0.2em;

    @include media-breakpoint-up(md) {
      height: 150px;
      font-size: 140px;
    }

    @include media-breakpoint-between(md, 1366px) {
      font-size: 120px;
    }
  }
}

.heading-typo {
  $this: #{&};
  $lineColor: rgba(#fff, 0.3);

  position: absolute;
  display: inline-block;
  line-height: 1;
  opacity: 0;

  &.is-show {
    opacity: 1;
    transition: opacity 1.2s $ease-base;
  }

  &__txt {
    display: block;
    opacity: 0;
    transition: opacity 1.2s $ease-base, transform 1s $ease-base;
    transform: translate3d(-50px, 0, 0);

    #{$this}.is-show & {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  &__lines {
    opacity: 0;
    transition: opacity 0.5s $ease-base, transform 3s $ease-base;
    transform: translate3d(0, -50%, 0);

    #{$this}.is-show & {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  &__line {
    position: absolute;
    left: 0;
    width: 95%;
    height: 1px;
    margin: auto;
    background-color: $lineColor;

    &:nth-of-type(1) {
      top: 7px;
    }

    &:nth-of-type(2) {
      top: 0;
      bottom: 0;
    }

    &:nth-of-type(3) {
      bottom: 0;
    }
  }
}

.mv-circle {
  $this: #{&};

  position: absolute;
  right: calc(50% - 75px);
  bottom: 222px;
  z-index: 99;

  @include media-breakpoint-up(md) {
    right: 200px;
    bottom: 170px;
  }

  &__item {
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      content: '';
      border-color: transparent transparent transparent #fff;
      border-style: solid;
      border-width: 3.75px 0 3.75px 6px;
      transform: translate(-50%, -50%);

      @include media-breakpoint-up(md) {
        border-width: 6px 0 6px 10px;
      }
    }
  }

  &__txt {
    position: absolute;
    top: 50%;
    right: -58px;
    width: 100%;
    font-family: $base-en-font01;
    font-size: 10px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0.05em;
    white-space: nowrap;
    transform: translate(0, -50%);

    @include media-breakpoint-up(md) {
      right: -95px;
      font-size: 15px;
    }
  }

  svg {
    position: relative;
    width: 75px;
    height: 75px;

    @include media-breakpoint-up(md) {
      width: 150px;
      height: 150px;
    }
  }

  circle {
    fill: transparent;
    stroke: #fff;
    stroke-dasharray: 526 597;
    stroke-width: 2;
    transition: 0.3s $ease-base;
    transform: rotate(17deg);

    @at-root #{$this}:hover circle {
      @include media-breakpoint-up(md) {
        opacity: 1;
      }
    }

    @include media-breakpoint-up(md) {
      opacity: 0.3;
      stroke-dasharray: 440 470;
      transform: rotate(11deg);
    }
  }
}

.mv-news {
  $this: #{&};

  position: relative;
  z-index: 3;
  width: 100%;
  margin: -60px 0 0;

  @include media-breakpoint-up(md) {
    width: 50%;
    margin: -100px 0 0 auto;
  }

  &__wrapper {
    padding: 0 30px;
    overflow: hidden;
    background: #fff;

    @include media-breakpoint-up(md) {
      display: flex;
      padding: 0 0 0 60px;
    }
  }

  &__container {
    @include media-breakpoint-up(md) {
      padding: 20px 0;
    }
  }

  &__head {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      width: 100%;
      height: 60px;
      padding: 0 90px 0 0;
    }
  }

  &__body {
    font-size: 12px;
    line-height: 2.1;

    @include media-breakpoint-up(md) {
      margin: 0 -15px;
      font-size: 13px;
    }
  }

  &__slide {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    background: #fff;
  }

  &__createat {
    margin-right: 19px;
    font-family: $base-en-font01;
    font-weight: 400;

    @include media-breakpoint-up(md) {
      margin-right: 0;
    }
  }

  &__label {
    font-family: $base-en-font01;
    font-weight: 400;

    .txt {
      padding: 7px 26px 6px;
      color: #9faaac;
      background: $base-color03;
      border-radius: 14px;
      transition: 0.3s $ease-base;
    }
  }

  &__ttl {
    margin-top: 25px;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
    letter-spacing: 0.07em;
    white-space: nowrap;

    @include media-breakpoint-up(md) {
      margin-top: 0;
    }

    #{$this}__slide:hover & {
      @include media-breakpoint-up(md) {
        text-decoration: underline;
      }
    }
  }

  &__item {
    @include media-breakpoint-up(md) {
      width: auto;
      padding: 0 15px;
    }
  }

  &__button {
    z-index: 3;
    display: flex;
    margin: 0 -0.5px;

    @include media-breakpoint-up(md) {
      padding-left: 40px;
    }

    @include media-breakpoint-down(sm) {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0 -1px;
    }
  }
}

.news-btn {
  $this: #{&};

  width: 60px;
  height: 60px;
  padding: 0 0.5px;

  @include media-breakpoint-up(md) {
    width: 100px;
    height: 100px;
    padding: 0 1px;
  }

  .icon {
    @include media-breakpoint-up(md) {
      transition: 0.3s $ease-base;
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: $base-color03;
    border: 2px solid $base-color03;
  }

  &--prev,
  &--next {
    @extend .news-btn;
  }

  &--prev {
    .icon {
      transform: rotate(180deg);
    }

    &:hover {
      .icon {
        transform: translate(-5px, 0) rotate(180deg);
      }
    }
  }

  &--next {
    &:hover {
      .icon {
        transform: translate(5px, 0);
      }
    }
  }
}
