/* 全体 */
body {
	font-family: sans-serif, Arial, Verdana, "Trebuchet MS";
	font-size: 14px;
	color: #373e42;
	background-color: #fff;
	margin: 20px;
}
a {
	text-decoration: none;
	color: #373e42;
}

img {
	max-width:100%;
}

/* 大見出しスタイル */
h2.sentence__ttl {
	margin-bottom: 15px;
	font-size: 24px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.07em;
}
/* 中見出しスタイル */
h3.sentence__ttl-h3 {
	margin-bottom: 15px;
	font-size: 20px;
	line-height: 1.5;
	font-weight: 400;
	letter-spacing: 0.07em;
}
/* 段落スタイル */
p.sentence__text {
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: 0.07em;
}
/* 画像スタイル */
p.sentence__img {
	margin: 10px auto;
	text-align: center;
}
/* リンクスタイル1 */
a.sentence__text-link {
	border-bottom: 1px solid #d7d8d9;
}
/* リンクスタイル2 */
p.blocklink a.sentence__text-link::before {
	content: "";
	width:15px;
	height:9px;
	margin-right:8px;
	display:inline-block;
	background-position: 0 50%;
	background-repeat: no-repeat;
	background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M12.8%204.2H.5c-.3%200-.5-.3-.5-.5s.2-.5.5-.5h12.2c.3%200%20.5.2.5.5s-.2.5-.4.5z%22%2F%3E%3Cpath%20d%3D%22M9.5%207.4c-.1%200-.3%200-.4-.1-.1-.3-.1-.6.1-.8L12%203.7%209.2.9C9%20.7%209%20.3%209.2.1s.5-.2.7%200l3.2%203.2c.2.2.2.5%200%20.7L9.9%207.2c-.1.1-.2.2-.4.2z%22%2F%3E%3C%2Fsvg%3E');
}
p.blocklink a.sentence__text-link::after {
	content: "";
	width:9px;
	height:9px;
	margin-left:8px;
	display:inline-block;
	background-position: 0 50%;
	background-repeat: no-repeat;
	background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20fill%3D%22%23373E42%22%20d%3D%22M8%206.999V1H2V-.001h7v7H8zM7%202v7H0V2h7zM1%208h5V3H1v5z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
}