<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>柔道整復師・鍼灸師 採用サイト｜スマイルアンドサンキュー株式会社</title>
  <meta name="description" content="整骨院・接骨院・鍼灸院のスマイルアンドサンキュー株式会社の採用情報サイト。東京で就職をお考えならスマイルアンドサンキューへ。採用情報をはじめ、スタッフ紹介や、エピソードなど、様々な情報を掲載しております。">

  <meta property="og:title" content="柔道整復師・鍼灸師 採用サイト｜スマイルアンドサンキュー株式会社"><!-- To support Twitter Cards you need to fill in the content. -->
  <meta property="og:type" content="website"><!-- You need to fill in the content with "website" for the top page, and "article" for the other pages. -->
  <meta property="og:image" content="http://recruit.smile-39.com/assets/images/ogp.png"><!-- You need to fill in the content with the production URL of the image. -->
  <meta property="og:url" content="http://recruit.smile-39.com/"><!-- You need to fill in the content with the production URL of this page. -->
  <meta property="og:description" content="整骨院・接骨院・鍼灸院のスマイルアンドサンキュー株式会社の採用情報サイト。東京で就職をお考えならスマイルアンドサンキューへ。採用情報をはじめ、スタッフ紹介や、エピソードなど、様々な情報を掲載しております。"><!-- To support Twitter Cards this tag is required, and you need to fill in the content. -->
  <meta name="twitter:card" content="summary">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

  {% include('/includes/gtm-head.inc') %}

  <link rel="stylesheet" href="/assets/styles/main.css">
  <link rel="stylesheet" href="/assets/styles/pages/common/style.css">
  <link rel="stylesheet" href="/assets/styles/pages/index/style.css">
</head>

<body class="footer-slider-none">

  <%- include('/functions') %>
  {% include('/includes/gtm-body.inc') %}

  <div class="l-page">
    <%- include('/page-loading') %>
    {% include('/includes/header.inc') %}

    <main class="l-main">

      <section class="sec-mv" id="js-mv">
        <div class="sec-mv__wrapper">
          <div class="mv-slider" id="js-mv-slider">
            <div class="swiper-container mv-slider__container" id="js-mv-swiper">
              <div class="swiper-wrapper mv-slider__wrapper">

                <div class="swiper-slide mv-slider__slide" js-mv-slide>
                  <div class="mv-slider__img--01"></div>
                </div>

                <div class="swiper-slide mv-slider__slide" js-mv-slide>
                  <div class="mv-slider__img--02"></div>
                </div>

                <div class="swiper-slide mv-slider__slide" js-mv-slide>
                  <div class="mv-slider__img--03"></div>
                </div>

              </div>
            </div>
          </div>
          <div class="mv-typo">
            <div class="mv-typo__wrapper">
              <p class="mv-typo__vertical">
                一流の
              </p>
              <p class="mv-typo__horizontal">
                <span js-mv-typo class="heading-typo is-show">
                  <span class="heading-typo__item">
                    <span class="heading-typo__txt">
                      医療家
                    </span>
                    <span class="heading-typo__lines">
                      <span class="heading-typo__line"></span><span class="heading-typo__line"></span><span class="heading-typo__line"></span>
                    </span>
                </span>
                </span>

                <span js-mv-typo class="heading-typo">
                  <span class="heading-typo__item">
                    <span class="heading-typo__txt">
                      人間
                    </span>
                    <span class="heading-typo__lines">
                      <span class="heading-typo__line"></span><span class="heading-typo__line"></span><span class="heading-typo__line"></span>
                    </span>
                </span>
                </span>

                <span js-mv-typo class="heading-typo">
                  <span class="heading-typo__item">
                    <span class="heading-typo__txt">
                      経営者
                    </span>
                    <span class="heading-typo__lines">
                      <span class="heading-typo__line"></span><span class="heading-typo__line"></span><span class="heading-typo__line"></span>
                    </span>
                </span>
                </span>
              </p>
            </div>
          </div>
          <!-- <button class="mv-circle">
            <div class="mv-circle__wrapper">
              <div class="mv-circle__item">
                <svg viewBox="-100 -100 200 200">
                  <circle class="u-d-md-none" cx='0' cy='0' r='93'/>
                  <circle class="u-d-md-block u-d-none" cx='0' cy='0' r='75'/>
                </svg>
              </div>
              <p class="mv-circle__txt">
                <span>WATCH THE VIDEO</span>
              </p>
            </div>
          </button> -->
        </div>
      </section>

      {% if posts is not empty %}
      <div class="mv-news">
        <div class="mv-news__wrapper">
          <div class="swiper-container mv-news__container" id="js-mv-news-swiper">
            <div class="mv-news__body swiper-wrapper">

              {% for post in posts|slice(0,3) %}
              <a href="{{ post.detailLinkUrl }}" target="{{ post.detailLinkTarget }}" class="swiper-slide mv-news__slide">
                <div class="mv-news__head">
                  <p class="mv-news__createat mv-news__item">
                    {{ post.outputDate }}
                  </p>
                  <p class="mv-news__label mv-news__item">
                    <span class="txt">{{ post.categoryName }}</span>
                  </p>
                </div>
                <p class="mv-news__ttl mv-news__item" js-text-target>
                  {{ post.title }}
                </p>
              </a>
              {% endfor %}

            </div>
          </div>
          <div class="mv-news__button">
            <button class="news-btn--prev mv-news-swiper-button-prev">
              <div class="news-btn__wrap">
                <svg class="icon icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>
              </div>
            </button>
            <button class="news-btn--next mv-news-swiper-button-next">
              <div class="news-btn__wrap">
                <svg class="icon icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>
              </div>
            </button>
          </div>
        </div>
      </div>
      {% endif %}

      <section class="sec-message">
        <div class="sec-message__wrapper">
          <div class="sec-message__img sticky" id="js-sticky">
            <div class="sec-message__img-item"></div>
          </div>
          <div class="sec-message__body">
            <div class="message-content">
              <div class="message-content__heading">
                <p class="message-en">
                  <span class="message-en__color01">OUR</span> <span class="message-en__color02">MESSAGE</span>
                </p>
                <h2 class="message-content__ttl js-io-element">
                  <span class="message-content__line">
                    <span class="line"></span>
                  </span>
                  <span class="message-typo">君</span><span class="message-typo">の</span><span class="message-typo">志</span><span class="message-typo">は、</span><br><span class="message-typo">人</span><span class="message-typo">々</span><span class="message-typo">の</span><span class="message-typo">希</span><span class="message-typo">望</span><span class="message-typo">に</span><br><span class="message-typo">直</span><span class="message-typo">結</span><span class="message-typo">し</span><span class="message-typo">て</span><span class="message-typo">い</span><span class="message-typo">る。</span>
                </h2>
              </div>
            </div>
            <div class="message-content__body">
              <p class="message-content__txt show-animation js-io-element">
                たったひとつのケガが、<br class="u-d-none u-d-md-block">そのアスリートの夢を奪ってしまうことがある。<br class="u-d-none u-d-md-block">もし自らのチカラを蘇らせることができたら、<br class="u-d-none u-d-md-block">その人はあきらめかけていた試合で活躍できるかもしれない。<br class="u-d-none u-d-md-block">その人は再び夢を手にして、<br class="u-d-none u-d-md-block">笑顔を取り戻すかもしれない。
              </p>
              <p class="message-content__txt show-animation js-io-element">
                症状を診るだけではない。<br class="u-d-none u-d-md-block">さりげない会話から、<br class="u-d-none u-d-md-block">痛みの中に埋もれようとしている夢を読み取る。<br class="u-d-none u-d-md-block">その人の人生を見つめる。<br class="u-d-none u-d-md-block">どんな小さな可能性もあきらめない。<br class="u-d-none u-d-md-block">その人がふたたび希望を手にするために。
              </p>
              <p class="message-content__txt show-animation js-io-element">
                君が取り組もうとしている仕事は、<br class="u-d-none u-d-md-block">つまり、そういう仕事だ。<br class="u-d-none u-d-md-block">君の志は、人々の希望に直結している。
              </p>
              <a href="/message/" class="c-button--arrow message-content__button"><svg class="icon icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>採用メッセージ</a>
            </div>
          </div>
        </div>
      </section>

      <section class="career-training">
        <div class="career-training__bg">
          <div class="bg"></div>
        </div>
        <div class="career-training__wrapper">
          <div class="career-training__heading">
            <h2 class="js-io-element c-main-ttl--center career-training__ttl show-animation">
              <span class="c-main-ttl__color01">CAREER</span><br class="u-d-block u-d-md-none"><span class="c-main-ttl__color02"><span class="u-d-md-inline u-d-none">&nbsp;</span>& TRAINING</span><br>
              <span class="c-main-ttl__jp">成長環境と研修制度</span>
            </h2>
          </div>
          <div class="career-training__body">

            <div class="training-item descript-item">
              <div class="descript-item__wrapper">
                <div class="descript-item__body">
                  <div class="descript-item__content">
                    <h3 class="descript-item__ttl js-io-element show-animation " data-text="CAREER">
                      成長環境について
                    </h3>
                    <div class="descript-item__box">
                      <div class="descript-item__img--01 js-io-element show-animation"></div>
                    </div>
                    <p class="descript-item__txt js-io-element show-animation">
                      あなたの技術と経験を、存分に活かせる場所があります。一人ひとりが「一流の医療家」「一流の経営者」「一流の人間」を目指せるように、多様なセミナーや研修プログラムを用意しているので、自然と成長できる場所があります。
                    </p>
                    <a href="/growth/" class="c-button--arrow descript-item__button js-io-element show-animation"><svg class="icon icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>詳しく見る</a>
                  </div>
                </div>
              </div>
            </div>


            <div class="training-item descript-item">
              <div class="descript-item__wrapper">
                <div class="descript-item__body">
                  <div class="descript-item__content">
                    <h3 class="descript-item__ttl js-io-element show-animation " data-text="TRAINING">
                      研修制度について
                    </h3>
                    <div class="descript-item__box">
                    <div class="descript-item__img--02 js-io-element show-animation"></div>
                    </div>
                    <p class="descript-item__txt js-io-element show-animation">
                      多彩な講師陣と教育制度で自然と成長できる環境があります。月に1度の定期的な勉強会や医療機関との提携により、特別講義など、未経験の方でも、一流の医療家としての治療技術や接遇力を身に着ける環境があります。
                    </p>
                    <a href="/growth/training/" class="c-button--arrow descript-item__button js-io-element show-animation"><svg class="icon icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>詳しく見る</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>

      <section class="sec-people">
        <div class="l-container--wide">
          <div class="sec-people__wrapper">
            <div class="sec-people__heading">
              <h2 class="c-main-ttl--center js-io-element show-animation">
                <span class="c-main-ttl__color01">PEO</span><span class="c-main-ttl__color02">PLE</span><br>
                <span class="c-main-ttl__jp">スタッフ紹介</span>
              </h2>
            </div>
            <ul class="sec-people__body">
              <% data.forEach(staff => { %>
              <li class="people-item js-io-element show-animation">
                <a href="<%- staff.pageLink %>" class="people-item__wrap">
                  <div class="people-item__heading">
                    <div class="people-item__img">
                      <div class="img" style="background: url(<%- staff.imgs.md %>) center/cover;"></div>
                    </div>
                    <p class="message-wrap"><% staff.texts.forEach(txt => { %><span class="message-wrap__txt"><%- txt %></span><br><% }) %></p>
                  </div>
                  <div class="people-item__info">
                    <svg class="people-item__icon icon icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>
                    <h3 class="people-item__name">
                      <%- staff.name %>
                    </h3>
                    <p class="people-item__career">
                      <%- staff.career %>
                    </p>
                  </div>
                </a>
              </li>
              <% }) %>
            </ul>
            <div class="sec-people__bottom">
              <a href="/staff/" class="c-button--arrow sec-people__button"><svg class="icon icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>スタッフ紹介</a>
            </div>
          </div>
        </div>
      </section>

      <section class="sec-story js-io-element" id="js-sec-story">
        <div class="sec-story__heading">
          <div class="l-container--wide">
            <div class="story-heading-wrap">
              <h2 class="story-heading-wrap__ttl js-io-element">
                <span class="story-heading-wrap__text">スマサンストーリー</span>
                <svg version="1.1" id="svg-animation" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 436 264" style="enable-background:new 0 0 436 264;" xml:space="preserve" width="436" height="264">
                  <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="@img-index/typo_animation01.svg" mask="url(#clipmask)" width="100%" height="100%"></image>
                  <mask id="clipmask">
                    <path class="sts" d="M143.7 55.1S166 59.6 181 42.5c15-17.2-8.2-31.3-8.2-31.3s-50.9-23.7-124 6.3c0 0-69.6 22.6-35.1 55l49 24.2 85.4 28.7s54.1 17.4-1.5 39.2S19 141.8 19 141.8"/><path class="sts" d="M158 68.5l112-.1-56.8-18.9-9.6 72.9s-5.6 57.6 34.9 28.5l10.6-12.1 11.8-26.1-11.5 36.3s5.6 26.2 23.6 12.6l8.8-15.1 3-19.1s.8-22.2-12.9-21.8-4.4 21.2-4.4 21.2 9.7 25 44.2 10.7l12-20.3 4.9-21.7-2.9 25.9s26.6-23 17.2 1.6l-2.2 18.4s5.7 34.2 32.1 11.6l13.2-14.8 8.1-24.5-5.7 36.5s2.8 24.2 22.5 3l15.1-28.9 7.1-16.8-10.7 48.8-3.8 62.8-5.3 24s-26.1 39.7-32.7-5.4C374 192.6 436 165 436 165"/>
                  </mask>
                </svg>
              </h2>
              <p class="story-heading-wrap__lead">
                一人ひとりの志を通じて、本物の医療家集団を目指すスマイルアンドサンキューのストーリーを紹介します。
              </p>
            </div>
          </div>
        </div>
        <div class="sec-story__body">
          <div class="story-slider-box">
            <div class="swiper-container" id="js-story-swiper">
              <div class="swiper-wrapper story-slider-box__swiper swiper-no-swiping">

                <div class="swiper-slide story-slider-box__slide">
                  <div class="story-slider-box__wrapper">
                    <div class="story-slider-box__bg">
                      <picture>
                        <source media="(min-width: 768px)" srcset="@img-index/story_slide01_md.jpg">
                        <img src="@img-index/story_slide01.jpg" class="img" alt="">
                      </picture>
                    </div>
                    <div class="story-slider-box__content">
                      <div class="story-slider-box__typo">
                        <h3 class="story-slider-box__ttl">
                          スタートラインに<br class="u-d-md-none">立った日
                        </h3>
                        <div class="sec-story__btn-wrap">
                          <a href="/message/story01.shtml" class="c-button--arrow sec-story__button"><svg class="icon icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>このストーリーを見る</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="swiper-slide story-slider-box__slide">
                  <div class="story-slider-box__wrapper">
                    <div class="story-slider-box__bg">
                      <picture>
                        <source media="(min-width: 768px)" srcset="@img-index/story_slide02_md.jpg">
                        <img src="@img-index/story_slide02.jpg" class="img" alt="">
                      </picture>
                    </div>
                    <div class="story-slider-box__content">
                      <div class="story-slider-box__typo">
                        <h3 class="story-slider-box__ttl">
                          人生で<br class="u-d-md-none">今がいちばん充実
                        </h3>
                        <a href="/message/story02.shtml" class="c-button--arrow sec-story__button"><svg class="icon icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>このストーリーを見る</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="swiper-slide story-slider-box__slide">
                  <div class="story-slider-box__wrapper">
                    <div class="story-slider-box__bg">
                      <picture>
                        <source media="(min-width: 768px)" srcset="@img-index/story_slide03_md.jpg">
                        <img src="@img-index/story_slide03.jpg" class="img" alt="">
                      </picture>
                    </div>
                    <div class="story-slider-box__content">
                      <div class="story-slider-box__typo">
                        <h3 class="story-slider-box__ttl">
                          聞きたかった言葉
                        </h3>
                        <a href="/message/story03.shtml" class="c-button--arrow sec-story__button"><svg class="icon icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>このストーリーを見る</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="swiper-slide story-slider-box__slide">
                  <div class="story-slider-box__wrapper">
                    <div class="story-slider-box__bg">
                      <picture>
                        <source media="(min-width: 768px)" srcset="@img-index/story_slide04_md.jpg">
                        <img src="@img-index/story_slide04.jpg" class="img" alt="">
                      </picture>
                    </div>
                    <div class="story-slider-box__content">
                      <div class="story-slider-box__typo">
                        <h3 class="story-slider-box__ttl">
                          ひと夏の小さな約束
                        </h3>
                        <a href="/message/story04.shtml" class="c-button--arrow sec-story__button"><svg class="icon icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>このストーリーを見る</a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="sec-story__controller -sm">
                <button class="story-arw story-arw--prev story-swiper-button-prev">
                  <svg class="icon icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>
                </button>
                <div class="story-pagenation story-swiper-pagination"></div>
                <button class="story-arw story-arw--next story-swiper-button-next">
                  <svg class="icon icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="sec-story__pagenation story-swiper-pagination-md -md"></div>
        <div class="sec-story__bottom">
          <a href="https://www.instagram.com/smileandthankyou/?hl=ja" class="to-insta" target="_blank" id="C_SNS_IG">
            <div class="to-insta__icon">
              <svg class="icon icon--sns"><use xlink:href="#svg-sns-icon01"></use></svg>
            </div>
            <div class="to-insta__txts">
              <p class="to-insta__ttl">
                INSTAGRAM
              </p>
              <p class="to-insta__txt">
                その他のスマサンストーリーも<br class="u-d-md-none">公式インスタグラムでぞくぞく紹介中！
              </p>
              <div class="entry-offering u-d-md-none">
                <span class="entry-offering__arrow"><svg class="icon" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg></span>Instagramを見る
              </div>
            </div>
            <svg class="icon icon--arrow u-d-none u-d-md-block" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>
          </a>
        </div>
      </section>

      {% if posts is not empty %}
      <section class="sec-news">
        <div class="l-container">
          <div class="sec-news__heading">
            <h2 class="c-main-ttl sec-news__ttl js-io-element show-animation">
              <span class="c-main-ttl__color01">NEWS</span>&nbsp;<span class="c-main-ttl__color02">EVENT</span><br>
              <span class="c-main-ttl__jp">お知らせ</span>
            </h2>
            <div class="sec-news__link-area u-d-none u-d-md-block js-io-element show-animation">
              <a href="/news/" class="c-button--arrow sec-news__button"><svg class="icon icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>一覧を見る</a>
            </div>
          </div>
          <ul class="sec-news__body js-io-element show-animation">
            {% for post in posts %}
            <li class="news-item" js-index-news>
              <a href="{{ post.detailLinkUrl }}" target="{{ post.detailLinkTarget }}" class="news-item__link">
                <div class="news-item__heading">
                  <p class="news-item__createat">{{ post.outputDate }}</p>
                  <p class="news-item__category">{{ post.categoryName }}</p>
                </div>
                <div class="news-item__body">
                  <p class="news-item__txt">
                    {{ post.title }}
                  </p>
                </div>
              </a>
            </li>
            {% endfor %}
          </ul>
          <div class="sec-news__link-sm u-d-md-none">
            <a href="/news/" class="c-button--arrow sec-news__button"><svg class="icon icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>一覧を見る</a>
          </div>
        </div>
      </section>
      {% endif %}

    </main><!-- .l-main -->

    {% include('/includes/footer.inc') %}
  <div class="u-d-none">
    <%- include('/_svg-symbols') %>
  </div>

  </div><!-- .l-page -->

  <script src="/assets/scripts/vendors.js" defer></script>
  <script src="/assets/scripts/pages/common.js" defer></script>
  <script src="/assets/scripts/pages/index.js" defer></script>

</body>

</html>
