新卒採用フォームより以下のメールの送信がありました。
---------------------------------------------------------------------------

お名前：{{ item.vfName }}
フリガナ：{{ item.vfNameKana }}
メールアドレス：{{ item.vfEmail }}
電話番号：{{ item.vfTel }}
年齢：{{ item.vfAge }}
学校名：{{ item.vfSchool }}
卒業年：{% if item.vfGraduationYear is not empty %}{{ item.vfGraduationYear }}年{% endif %} {% if item.vfExpectedGraduation is not empty %}（{{ item.vfExpectedGraduation }}）{% endif %}

所有資格（見込み）：{% for value in item.vfLicense %}{{ value }} {% endfor %} {% if item.vfLicenseOther is not empty %}その他：{{ item.vfLicenseOther }}{% endif %}

