@charset "utf-8";


/*-----------------------------------------------------
SOCIAL POST
-------------------------------------------------------*/
#tweet-sub-area {
    width:400px;
    margin:0;
    padding:0;
}
#tweet-sub-area p {
    margin:0;
    padding:0;
    font-size:90%;
}

#tweet-sub-area .comment {
    padding:0 0 0 0px;
    color:#fff;
    background-color:#4A6F00;
}

.tweet-input-area{
    padding:15px 0 0 0px;
}

.tweet-label{
    font-weight:bold;
    color:#000;
}

.tweet-cnt{
    text-align:right;
}
.tweet-err{
    padding-left:80px;
    font-weight:bold;
    color:#ff0000;
}

.tweet-btn{
    padding:30px 0 0 0;
    text-align:center;
}

.tweet-btn2{
    padding-left:20px;
}