.sec-overview {
  position: relative;
  margin-top: 90px;

  @include media-breakpoint-up(md) {
    margin-top: 190px;
  }

  &__body {
    margin-top: 40px;

    @include media-breakpoint-up(md) {
      display: flex;
      flex-wrap: wrap;
      margin: 90px -20px 0;
    }
  }
}

.overview-item {
  $this: #{&};

  position: relative;

  @include media-breakpoint-up(md) {
    width: 50%;
    padding: 0 20px;
  }

  &__wrapper {
    padding: 25px 0;
    font-size: 13px;
    line-height: 1.9;
    letter-spacing: 0.07em;
    border-bottom: 1px solid rgba(#373e42, 0.2);

    @include media-breakpoint-up(md) {
      display: flex;
      align-items: center;
      width: 100%;
      height: 94px;
      padding: 0;
      font-size: 14px;
    }

    &--lg {
      @include media-breakpoint-up(md) {
        height: 125px;
      }
    }

    #{$this}:first-child & {
      border-top: 1px solid rgba(#373e42, 0.2);
    }

    #{$this}:nth-of-type(2) & {
      @include media-breakpoint-up(md) {
        border-top: 1px solid rgba(#373e42, 0.2);
      }
    }
  }

  &__title {
    font-weight: 500;

    @include media-breakpoint-up(md) {
      width: 155px;
    }
  }

  &__descript {
    margin-top: 15px;

    @include media-breakpoint-up(md) {
      flex: 1;
      margin-top: 0;
      line-height: 2.14;
    }
  }
}
