.sec-interview {
  $this: #{&};

  position: relative;
  padding: 90px 0 124px;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    padding: 190px 0 280px;
  }

  &--reverce {
    margin-top: 90px;

    @include media-breakpoint-up(md) {
      margin-top: 190px;
    }
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: calc(50% + 100px);
    height: 100%;
    content: '';
    background-color: $base-color03;

    @at-root #{$this}--reverce:after {
      right: 0;
      left: auto;
    }

    @include media-breakpoint-up(md) {
      width: calc(50% + 320px);
    }
  }

  &__wrapper {
    position: relative;
    z-index: 2;
  }

  &__body {
    margin-top: 55px;

    @include media-breakpoint-up(md) {
      margin-top: 90px;
    }
  }
}

.interview-item {
  $this: #{&};

  position: relative;

  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;
    margin-top: 118px;
  }

  + #{$this} {
    margin-top: 55px;

    @include media-breakpoint-up(md) {
      margin-top: 240px;
    }
  }

  &--reverce {
    @include media-breakpoint-up(md) {
      flex-direction: row-reverse;
    }
  }

  &__title {
    position: relative;
    z-index: 1;
    font-family: $base-jp-font01;
    font-size: 21px;
    line-height: 1.75;
    letter-spacing: 0.1em;

    @include media-breakpoint-up(md) {
      flex: 1;
      font-size: 34px;
      line-height: 1.7;
      letter-spacing: 0.04em;
    }

    #{$this}.is-intersected & {
      &::before,
      &::after {
        transition: transform 1.7s $ease-base;
        transform: translate3d(0, 0, 0);
      }
    }

    .sec-interview--reverce & {
      &::before,
      &::after {
        position: absolute;
        top: -30px;
        left: -25px;
        z-index: -1;
        font-family: $base-en-font01;
        font-size: 100px;
        font-weight: 500;
        line-height: 1;
        color: #fff;
        letter-spacing: 0;
        content: attr(data-num) '';
        transform: translate3d(-60px, 0, 0);

        @include media-breakpoint-up(md) {
          top: -50px;
          left: -70px;
          font-size: 160px;
        }
      }

      &::after {
        right: calc(50% + 100px);
        overflow: hidden;
        color: $base-color03;

        @at-root #{$this}--reverce #{$this}__title::after {
          @include media-breakpoint-up(md) {
            display: none;
          }
        }
      }
    }
  }

  &__img {
    width: 100%;
    padding-top: 61.269%;

    @for $i from 1 through 3 {
      &--0#{$i} {
        background: url(@img-company/interview_item_img0#{$i}.jpg) center/cover;
      }
    }

    @include media-breakpoint-up(md) {
      position: absolute;
      top: 50%;
      right: -300px;
      width: 770px;
      padding-top: 470px;
      transform: translateY(-50%);
    }

    #{$this}--reverce & {
      @include media-breakpoint-up(md) {
        right: auto;
        left: -300px;
      }
    }
  }

  &__wrap {
    margin-top: 40px;

    @include media-breakpoint-up(md) {
      width: 50%;
      margin-top: 0;
    }
  }

  &__content {
    margin-top: 15px;
    font-size: 13px;
    line-height: 2.46;
    letter-spacing: 0.07em;

    @include media-breakpoint-up(md) {
      margin-top: 25px;
      font-size: 14px;
      line-height: 2.5;
    }
  }
}
