.sec-access {
  margin-top: 95px;

  @include media-breakpoint-up(md) {
    margin-top: 190px;
  }

  &__wrapper {
    position: relative;
  }

  &__map {
    margin: 40px auto 0;

    @include media-breakpoint-up(md) {
      width: 100%;
      max-width: 1760px;
      margin: 90px auto 0;
    }

    .map {
      width: 100%;
      height: 270px;

      @include media-breakpoint-up(md) {
        height: 480px;
      }
    }
  }
}

.access-info {
  @include media-breakpoint-up(md) {
    display: flex;
    margin-top: 50px;
  }
}

.access-item {
  $this: #{&};

  margin-top: 35px;

  @include media-breakpoint-up(md) {
    width: 50%;
    margin-top: 0;
  }

  + #{$this} {
    @include media-breakpoint-down(sm) {
      margin-top: 45px;
    }
  }

  &__title {
    font-family: $base-jp-font01;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 0.1em;

    @include media-breakpoint-up(md) {
      font-size: 26px;
    }
  }

  &__descript {
    margin-top: 10px;
    font-size: 13px;
    line-height: 2.46;
    letter-spacing: 0.07em;

    @include media-breakpoint-up(md) {
      margin-top: 40px;
      font-size: 14px;
    }
  }

  &__link {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding-bottom: 5px;
    margin-top: 10px;
    font-size: 13px;
    letter-spacing: 0.07em;

    @include media-breakpoint-up(md) {
      font-size: 14px;
    }

    &::after,
    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      content: '';
      background: #d7d8d9;
    }

    &::after {
      background: #373e42;
      transition: transform 0.5s $ease-base;
      transform: scaleX(0);
      transform-origin: right;

      @at-root #{$this}__link:hover:after {
        @include media-breakpoint-up(md) {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }

    .icon {
      @include media-breakpoint-down(sm) {
        width: 11px;
        height: 7px;
      }

      @include media-breakpoint-up(md) {
        transition: 0.3s $ease-base;

        @at-root #{$this}__link:hover .icon {
          transform: translate(5px, 0);
        }
      }
    }

    .link-icon {
      padding-left: 6px;
    }
  }

  &__arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;

    @include media-breakpoint-up(md) {
      padding-right: 15px;
    }
  }

  &__caution {
    font-size: 13px;
    line-height: 2.4;
  }
}

.access-text {
  position: relative;
  padding-left: 15px;
  font-size: 13px;
  line-height: 2.4;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    font-size: 13px;
    content: '・';
  }
}
