.sec-philosophy {
  position: relative;
  margin-top: 90px;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    margin-top: 190px;
  }

  &__head {
    position: relative;
    margin-top: 42px;

    @include media-breakpoint-up(md) {
      margin-top: 90px;
    }
  }

  &__body {
    margin-top: 53px;

    @include media-breakpoint-up(md) {
      margin-top: 120px;
    }
  }
}

.philosophy-figure {
  $this: #{&};

  position: relative;
  text-align: center;

  .img {
    position: relative;
    z-index: 1;

    @include media-breakpoint-up(md) {
      width: auto;
      height: auto;
    }
  }

  &__typo {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    font-family: $base-en-font01;
    font-size: 85px;
    font-weight: 500;
    line-height: 1;
    color: $base-color03;
    letter-spacing: 0;
    white-space: nowrap;
    opacity: 0;
    transform: translate3d(-55%, -50%, 0);

    @include media-breakpoint-up(md) {
      font-size: 160px;
    }

    #{$this}.is-intersected & {
      opacity: 1;
      transition: opacity 1.7s $ease-base, transform 1.7s $ease-base;
      transform: translate3d(-50%, -50%, 0);
    }
  }
}

.philosophy-item {
  &__ls {
    margin-top: 45px;

    @include media-breakpoint-up(md) {
      margin-top: 90px;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    font-family: $base-jp-font01;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 0.1em;

    @include media-breakpoint-up(md) {
      font-size: 36px;
    }
  }

  &__line {
    display: block;
    flex: 1;
    height: 1px;
    margin-left: 15px;
    background: #373e42;

    @include media-breakpoint-up(md) {
      margin-left: 38px;
    }
  }

  &__descript {
    position: relative;
    margin-top: 20px;

    @include media-breakpoint-up(md) {
      display: flex;
      flex-wrap: wrap;
      margin-top: 30px;
    }
  }
}

.descript-text {
  position: relative;
  padding-left: 15px;
  font-size: 13px;
  line-height: 2.4;

  @include media-breakpoint-up(md) {
    width: 50%;
    font-size: 14px;
  }

  &-md-position {
    @include media-breakpoint-up(md) {
      position: absolute;
      top: 32px;
      right: 0;
    }
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    font-size: 13px;
    content: '・';

    @include media-breakpoint-up(md) {
      font-size: 14px;
    }
  }
}
