.sec-clinic {
  position: relative;
  padding: 90px 0 100px;
  margin-top: 90px;
  background: $base-color03;

  @include media-breakpoint-up(md) {
    padding: 200px 0;
    margin-top: 190px;
  }

  &__contents {
    margin-top: 42px;

    @include media-breakpoint-up(md) {
      display: flex;
      flex-wrap: wrap;
      margin: 87px -10px -20px;
    }
  }
}

.clinic {
  $this: #{&};

  margin-top: 15px;

  @include media-breakpoint-up(md) {
    width: 25%;
    padding: 0 10px;
    margin: 0 0 20px;
  }

  &:first-child {
    margin-top: 0;
  }

  &__item {
    display: flex;
    background: #fff;

    @include media-breakpoint-up(md) {
      flex-direction: column;
    }
  }

  &__img-wrap {
    width: 137.5px;
    height: 100px;
    overflow: hidden;

    @include media-breakpoint-up(md) {
      width: 100%;
      height: 200px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    transition: 1.5s $ease-base;

    @for $i from 1 through 19 {
      &--#{$i} {
        @extend #{$this}__img;

        background: url(@img-company/clinic_#{$i}.jpg) center/cover;
      }
    }

    #{$this}__item:hover & {
      @include media-breakpoint-up(md) {
        transform: scale(1.05);
      }
    }
  }

  &__body {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    padding: 0 35px 0 15px;
    font-size: 12px;
    letter-spacing: 0.07em;

    @include media-breakpoint-up(md) {
      min-height: 80px;
      padding: 0 28px 0 50px;
    }

    .icon {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      transition: 0.5s $ease-base;

      @include media-breakpoint-down(sm) {
        right: 20px;
        width: 11px;
        height: 7px;
      }

      @include media-breakpoint-up(md) {
        left: 20px;
      }

      #{$this}__item:hover & {
        @include media-breakpoint-up(md) {
          left: 25px;
        }
      }
    }
  }

  &__name {
    font-weight: 500;
    line-height: 1.9;

    svg {
      margin-left: 8px;
    }
  }
}
