※このメールはシステムからの自動返信です。

{{ item.vfName }} 様

この度は資料請求いただきまして、誠にありがとうございます。
本日より2～3営業日以内に内容を確認し、追って担当者からご連絡差し上げますので、
今しばらくお待ちくださいますようお願いいたします。

尚、3営業日経っても弊社からの連絡がない場合は
正しく送信されていない可能性がございます。
その際はお手数ではございますが、再度ご連絡いただけますようお願いいたします。

【入力内容】
---------------------------------------------------------------------------
内容: {{ item.vfCategory }}
お名前: {{ item.vfName }}
フリガナ: {{ item.vfNameKana }}
住所: 〒 {{ item.vfPostalCode }} {{ item.vfPref }} {{ item.vfLocality }} {{ item.vfStreetAddress }} {{ item.vfExtendedAddress }}
メールアドレス: {{ item.vfEmail }}
ご意見・ご相談: {{ item.vfContent }}
---------------------------------------------------------------------------


▼▼▼お問い合わせ先▼▼▼
人事部担当：大城 昌孝
メール：job39@smile-39.com もしくは ooshiro@smile-39.com どちらか
電話番号：03-4850-7177 もしくは 080-4850-1006 ＜平日：10時～18時＞