.sec-top-notch {
  position: relative;
  margin-top: 95px;

  @include media-breakpoint-up(md) {
    margin-top: 190px;
  }

  .l-container {
    @include media-breakpoint-up(md) {
      width: 100%;
      min-width: 1160px;
      max-width: 1760px;
    }
  }

  &__content {
    margin-top: 50px;

    @include media-breakpoint-up(md) {
      display: flex;
      margin: 0 -27.5px;
      margin-top: 90px;
    }
  }
}

.content-item {
  $this: #{&};

  position: relative;

  @for $i from 1 through 3 {
    $deray-second: #{$i * 0.3}s;

    @include media-breakpoint-up(md) {
      &:nth-of-type(#{$i}) {
        transition-delay: $deray-second;
      }
    }
  }

  @include media-breakpoint-up(md) {
    display: flex;
    flex-direction: column;
    width: 33.333333%;
    width: 100%; /* IE11のバグ対策 */
    padding: 0 27.5px;
  }

  + #{$this} {
    margin-top: 45px;

    @include media-breakpoint-up(md) {
      margin-top: 0;
    }
  }

  &__img {
    padding-top: 218px;

    @for $i from 1 through 3 {
      &--0#{$i} {
        @extend #{$this}__img;

        background: url(@img-growth/training/top_notch_img0#{$i}.jpg)
          center/cover;

        @include media-breakpoint-up(md) {
          background: url(@img-growth/training/top_notch_img0#{$i}_md.jpg)
            center/cover;
        }
      }
    }

    @include media-breakpoint-up(md) {
      padding-top: 70.81%;
    }
  }

  &__box {
    margin-top: 25px;

    @include media-breakpoint-up(md) {
      min-height: 250px;
      margin-top: 60px;
    }

    + #{$this}__box {
      @include media-breakpoint-up(md) {
        margin-top: 30px;
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;
    font-family: $base-jp-font01;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 0.1em;

    @include media-breakpoint-up(md) {
      font-size: 30px;
    }

    .title-line {
      display: block;
      flex: 1;
      height: 1px;
      margin-left: 20px;
      background: #373e42;

      @include media-breakpoint-up(md) {
        margin-left: 30px;
      }
    }
  }

  &__text {
    margin-top: 15px;
    font-size: 13px;
    line-height: 2.46;
    letter-spacing: 0.07em;

    @include media-breakpoint-up(md) {
      margin-top: 28px;
      font-size: 14px;
      line-height: 2.5;
    }
  }
}
