.sec-program {
  position: relative;
  margin-top: 90px;

  @include media-breakpoint-up(md) {
    margin-top: 190px;
  }

  &__body {
    margin-top: 60px;

    @include media-breakpoint-up(md) {
      display: flex;
      margin: 90px -45px 0;
    }
  }
}

.step {
  $this: #{&};

  position: relative;
  padding: 0 0 50px 70px;
  letter-spacing: 0.05em;

  @include media-breakpoint-down(sm) {
    overflow: hidden;
  }

  @include media-breakpoint-up(md) {
    width: 25%;
    padding: 110px 45px 0;
  }

  .line {
    position: absolute;
    background: rgba(#373e42, 0.2);

    @include media-breakpoint-down(sm) {
      top: 0;
      bottom: 0;
      left: 6.5px;
      width: 1px;
    }

    @include media-breakpoint-up(md) {
      top: 10px;
      right: 0;
      left: 0;
      height: 1px;
      transform: translate(65px, 0);
    }
  }

  .js-line {
    @for $i from 1 through 3 {
      &--0#{$i} {
        @include media-breakpoint-up(md) {
          $line-deray-second: #{$i * 0.45}s;

          transition: 0.5s $line-deray-second linear;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      display: block;
      background: #373e42;
      transition: height 0.1s linear;
    }

    @include media-breakpoint-up(md) {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 1px;
      max-height: 1px;
      background: #373e42;
      transform-origin: left;

      @at-root .sec-program__body.is-intersected .js-line {
        width: 100%;
      }
    }
  }

  &:first-child {
    margin-top: 0;
  }

  &__num {
    position: relative;
    font-family: $base-en-font01;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.12em;

    @include media-breakpoint-up(md) {
      font-size: 15px;
    }
  }

  &__title {
    margin-top: 14px;
    font-family: $base-jp-font01;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 0.1em;

    @include media-breakpoint-up(md) {
      margin-top: 18px;
      font-size: 30px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

    @include media-breakpoint-up(md) {
      flex-direction: column;
      margin-top: 35px;
    }

    &--colum {
      flex-direction: column;
    }
  }

  &__descript {
    width: 50%;
    font-size: 13px;
    line-height: 2.46;
    letter-spacing: 0.07em;

    @include media-breakpoint-up(md) {
      width: 100%;
      font-size: 14px;
    }

    #{$this}__list--colum & {
      width: 100%;
    }

    &.white-space {
      @include media-breakpoint-up(md) {
        white-space: nowrap;
      }
    }
  }
}

.circle {
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  background: #fff;
  border: 1px solid rgba(#373e42, 0.2);
  border-radius: 50%;
  transition: 0.5s $ease-base;

  @for $i from 1 through 5 {
    &--0#{$i} {
      @include media-breakpoint-up(md) {
        $deray-second: #{$i * 1.5}s;

        transition: $deray-second;
      }
    }
  }

  @at-root .sec-program__body.is-intersected .circle {
    @include media-breakpoint-up(md) {
      border: 1px solid #373e42;
    }
  }

  @include media-breakpoint-up(md) {
    top: -110px;
    left: 20px;
    width: 20px;
    height: 20px;
    margin: auto;
  }

  @include media-breakpoint-down(sm) {
    top: 0;
    bottom: 0;
    left: -70px;
  }

  &.is-active {
    @include media-breakpoint-down(sm) {
      border: 1px solid #373e42;
    }
  }

  &__line {
    position: absolute;
    display: inline-block;
    margin: auto;
    background: rgba(#373e42, 0.2);
    transition: 0.5s $ease-base;

    @for $i from 1 through 5 {
      &--0#{$i} {
        @include media-breakpoint-up(md) {
          $deray-second: #{$i * 1.5}s;

          transition: $deray-second;
        }
      }
    }

    @at-root .circle.is-active .circle__line {
      @include media-breakpoint-down(sm) {
        background: #373e42;
      }
    }

    @at-root .sec-program__body.is-intersected .circle__line {
      @include media-breakpoint-up(md) {
        background: #373e42;
      }
    }

    @include media-breakpoint-up(md) {
      top: 19px;
      right: 0;
      left: 0;
      width: 1px;
      height: 60px;
      margin: auto;
    }

    @include media-breakpoint-down(sm) {
      top: 0;
      right: -50px;
      bottom: 0;
      width: 50px;
      height: 1px;
    }
  }

  &__line-vertical {
    position: absolute;
    top: -163.5px;
    right: 0;
    left: 0;
    width: 1px;
    height: 163.5px;
    margin: auto;
    background: #373e42;
  }
}
