.sec-rookie {
  position: relative;
  z-index: 0;
  padding: 95px 0 87px;
  margin-top: 95px;

  @include media-breakpoint-up(md) {
    padding: 190px 0 300px;
    margin-top: 190px;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: calc(50% + 100px);
    height: 100%;
    content: '';
    background: $base-color03;

    @include media-breakpoint-up(md) {
      width: calc(50% + 320px);
    }
  }

  &__body {
    margin-top: 45px;

    @include media-breakpoint-up(md) {
      position: relative;
      display: flex;
      margin-top: 90px;
    }
  }

  &__box {
    @include media-breakpoint-up(md) {
      width: 50%;
      margin-top: 65px;
    }
  }

  &__img {
    padding-top: 193px;
    background: url(@img-growth/training/rookie_img01.jpg) center/cover;

    @include media-breakpoint-up(md) {
      position: absolute;
      top: 0;
      right: -260px;
      width: calc(50% + 190px);
      padding-top: 472px;
    }
  }

  &__title {
    margin-top: 37px;
    font-family: $base-jp-font01;
    font-size: 23px;
    font-weight: 500;
    line-height: 1.7;
    letter-spacing: 0.1em;

    @include media-breakpoint-up(md) {
      margin-top: 0;
      font-size: 34px;
    }
  }

  &__text {
    margin-top: 27px;
    font-size: 13px;
    line-height: 2.4;
    letter-spacing: 0.07em;

    @include media-breakpoint-up(md) {
      font-size: 14px;
    }
  }
}
