※このメールはシステムからの自動返信です。

{{ item.vfName }} 様

この度はエントリーいただきまして、誠にありがとうございます。
本日より2～3営業日以内に内容を確認し、追って担当者からご連絡差し上げますので、
今しばらくお待ちくださいますようお願いいたします。

尚、3営業日経っても弊社からの連絡がない場合は
正しく送信されていない可能性がございます。
その際はお手数ではございますが、再度ご連絡いただけますようお願いいたします。

【エントリー内容】
---------------------------------------------------------------------------
お名前：{{ item.vfName }}
フリガナ：{{ item.vfNameKana }}
メールアドレス：{{ item.vfEmail }}
電話番号：{{ item.vfTel }}
年齢：{{ item.vfAge }}
学校名：{{ item.vfSchool }}
卒業年：{% if item.vfGraduationYear is not empty %}{{ item.vfGraduationYear }}年{% endif %} {% if item.vfExpectedGraduation is not empty %}（{{ item.vfExpectedGraduation }}）{% endif %}

所有資格（見込み）：{% for value in item.vfLicense %}{{ value }} {% endfor %} {% if item.vfLicenseOther is not empty %}その他：{{ item.vfLicenseOther }}{% endif %}

---------------------------------------------------------------------------


▼▼▼お問い合わせ先▼▼▼
人事部担当：大城 昌孝
メール：job39@smile-39.com もしくは ooshiro@smile-39.com どちらか
電話番号：03-4850-7177 もしくは 080-4850-1006 ＜平日：10時～18時＞