<svg xmlns="http://www.w3.org/2000/svg">
  <symbol viewBox="0 0 13.2 7.4" id="svg-arrow-icon">
    <path d="M12.8 4.2H.5c-.3 0-.5-.3-.5-.5s.2-.5.5-.5h12.2c.3 0 .5.2.5.5s-.2.5-.4.5z"/><path d="M9.5 7.4c-.1 0-.3 0-.4-.1-.1-.3-.1-.6.1-.8L12 3.7 9.2.9C9 .7 9 .3 9.2.1s.5-.2.7 0l3.2 3.2c.2.2.2.5 0 .7L9.9 7.2c-.1.1-.2.2-.4.2z"/>
  </symbol>
</svg>

<svg version="1.1" id="objects" xmlns="http://www.w3.org/2000/svg" x="0" y="0" xml:space="preserve">
  <symbol viewBox="0 0 157.8 157.8" id="svg-sns-icon01">
    <path d="M112.9 157.8h-68C20.2 157.8 0 137.7 0 112.9v-68C0 20.2 20.2 0 44.9 0h68c24.8 0 44.9 20.2 44.9 44.9v68c0 24.8-20.1 44.9-44.9 44.9zm-68-144.3c-17.3 0-31.4 14.1-31.4 31.4v68c0 17.3 14.1 31.4 31.4 31.4h68c17.3 0 31.4-14.1 31.4-31.4v-68c0-17.3-14.1-31.4-31.4-31.4h-68zm34 105.8c-22.3 0-40.4-18.1-40.4-40.4 0-22.3 18.1-40.4 40.4-40.4s40.4 18.1 40.4 40.4c0 22.3-18.1 40.4-40.4 40.4zm0-67.3C64.1 52 52 64.1 52 78.9s12.1 26.9 26.9 26.9 26.9-12.1 26.9-26.9S93.7 52 78.9 52zm42.2-25.5c-5.4 0-9.7 4.3-9.7 9.7s4.3 9.7 9.7 9.7c5.4 0 9.7-4.3 9.7-9.7s-4.4-9.7-9.7-9.7z"/>
  </symbol>
</svg>

<svg version="1.1" id="objects" xmlns="http://www.w3.org/2000/svg" x="0" y="0" xml:space="preserve">
  <symbol viewBox="0 0 273.4 222.2" id="svg-sns-icon02">
    <path d="M273.4 26.3c-10.1 4.5-20.9 7.5-32.2 8.8 11.6-6.9 20.5-17.9 24.7-31-10.9 6.4-22.9 11.1-35.7 13.6A55.919 55.919 0 00189.3 0c-31 0-56.1 25.1-56.1 56.1 0 4.4.5 8.7 1.5 12.8C88 66.5 46.7 44.2 19 10.3c-4.8 8.3-7.6 17.9-7.6 28.2 0 19.5 9.9 36.6 25 46.7-9.2-.3-17.8-2.8-25.4-7v.7c0 27.2 19.3 49.8 45 55-4.7 1.3-9.7 2-14.8 2-3.6 0-7.1-.4-10.6-1 7.1 22.3 27.9 38.5 52.4 39-19.2 15-43.4 24-69.7 24-4.5 0-9-.3-13.4-.8 24.8 15.9 54.3 25.2 86 25.2 103.2 0 159.6-85.5 159.6-159.6 0-2.4-.1-4.9-.2-7.3 11.1-8 20.6-17.9 28.1-29.1z"/>
  </symbol>
</svg>

<svg version="1.1" id="objects" xmlns="http://www.w3.org/2000/svg" x="0" y="0" xml:space="preserve">
  <symbol viewBox="0 0 33.5 64.6" id="svg-sns-icon03">
    <path d="M31.7 35.1l1.5-11.5H21.8v-7.3c0-3.3.9-5.6 5.7-5.6h6.1V.5c-1-.1-4.7-.5-8.9-.5C15.9 0 9.9 5.4 9.9 15.2v8.5H0v11.5h9.9v29.5h11.9V35.1h9.9z"/>
  </symbol>
</svg>

<svg version="1.1" id="レイヤー_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" xml:space="preserve">
  <symbol viewBox="0 0 169.9 32.4" id="svg-footer-logo">
  <path d="M10.8 13.8c0 1.2-.9 2.1-2.1 2.1-1.2 0-2.1-.9-2.1-2.1s.9-2.1 2.1-2.1c1.1 0 2.1.9 2.1 2.1zM25.9 13.8c0 1.2-.9 2.1-2.1 2.1-1.2 0-2.1-.9-2.1-2.1s.9-2.1 2.1-2.1c1.1 0 2.1.9 2.1 2.1z"/><path class="st0" d="M31.3 26.7c-2.9 0-5.2-2.3-5.2-5.2 0-.5.4-1 1-1h8.5c.5 0 1 .4 1 1-.1 2.9-2.4 5.2-5.3 5.2zm-3.1-4.2c.4 1.3 1.6 2.2 3.1 2.2 1.4 0 2.7-.9 3.1-2.2h-6.2zM16.2 27.4c-1.2 0-2.4-.2-3.6-.7-1.1-.5-2.1-1.1-2.9-2-.8-.8-1.5-1.8-2-2.9-.2-.5 0-1.1.5-1.3.5-.2 1.1 0 1.3.5.4.9.9 1.6 1.5 2.3.7.7 1.4 1.2 2.3 1.5 1.8.7 3.8.7 5.6 0 .9-.4 1.6-.9 2.3-1.5.7-.7 1.2-1.4 1.5-2.3.2-.5.8-.7 1.3-.5.5.2.7.8.5 1.3-.5 1.1-1.1 2.1-2 2.9-.8.8-1.8 1.5-2.9 2-1 .5-2.2.7-3.4.7z"/><path d="M16.2 32.4C7.3 32.4 0 25.2 0 16.2 0 7.3 7.3 0 16.2 0c1.1 0 2.2.1 3.3.3.6.1 1 .7.9 1.3-.1.6-.7 1-1.3.9-.9-.2-1.9-.3-2.8-.3-7.7 0-14 6.3-14 14s6.3 14 14 14c2.5 0 4.9-.6 7-1.9.5-.3 1.2-.1 1.5.4.3.5.1 1.2-.4 1.5-2.5 1.5-5.3 2.2-8.2 2.2z" fill="#abcd2a"/><path d="M41.1 13.8c0-.5-.4-1-1-1h-1l.9-.8c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0l-2.5 2.5c-.2.2-.3.4-.3.7 0 .3.1.5.3.7l2.5 2.5c.2.2.4.3.7.3.3 0 .5-.1.7-.3.4-.4.4-1 0-1.4l-.8-.8h1c.5 0 .9-.5.9-1z"/><path d="M41.1 3.3c1.6-.7 3.4-1.1 5.3-1.1.6 0 1.1-.5 1.1-1.1C47.5.5 47 0 46.4 0c-2.7 0-5.3.7-7.5 1.9C36.6.7 34 0 31.3 0c-8.9 0-16.2 7.3-16.2 16.2v3.1c0 .6.5 1.1 1.1 1.1s1.1-.5 1.1-1.1v-3.1c0-7.7 6.3-14 14-14 1.9 0 3.7.4 5.3 1.1-3.9 3-6.4 7.7-6.4 12.9v1.1c0 .6.5 1.1 1.1 1.1.6 0 1.1-.5 1.1-1.1v-1.1c0-4.9 2.6-9.3 6.4-11.8 3.9 2.5 6.4 6.8 6.4 11.8 0 7.7-6.3 14-14 14-2.5 0-4.9-.6-7-1.9-.5-.3-1.2-.1-1.5.4-.3.5-.1 1.2.4 1.5 2.5 1.4 5.3 2.2 8.1 2.2 8.9 0 16.2-7.3 16.2-16.2.1-5.3-2.4-9.9-6.3-12.9z" fill="#f8bd05"/><path d="M60.5 11c.9-1.2 1.5-2.2 1.9-3.2.1-.3.2-.6.2-.8 0-.3-.1-.6-.2-.8-.3-.4-.8-.6-1.4-.6l-6.5.1c-.5 0-.8.3-.8.8s.3.9.8.9l6.1-.1h.2v.2c-.5 1.4-1.5 2.8-2.8 4.1-1.6 1.4-3.3 2.3-4.5 2.7-.4.1-.6.5-.6.8 0 .1 0 .2.1.3.1.3.4.5.8.5.2 0 .3 0 .4-.1 2.1-.8 4-2 5.4-3.4 1.3 1 2.2 1.9 3.1 3 .2.2.4.3.7.3.3 0 .5-.1.7-.3.2-.2.2-.4.2-.6 0-.2-.1-.4-.3-.6-1.2-1.3-2.1-2.1-3.5-3.2zM73.8 5.8h-8.7c-.4 0-.7.4-.7.9s.3.8.7.8h8.5s0 .1-.1.2c-.7 1.3-2.1 2.7-3.6 3.7-.7-.8-1.5-1.6-2.3-2.2-.4-.3-.8-.3-1.1 0-.3.1-.5.3-.5.6 0 .2.1.4.3.6 1.5 1.3 3.1 3.2 4.4 5 .2.3.5.4.8.4.2 0 .3 0 .5-.2.3-.2.4-.5.4-.8 0-.2 0-.3-.2-.5-.4-.6-.8-1.1-1.3-1.6 1.9-1.3 3.4-2.9 4.2-4.4.2-.4.3-.7.3-1.1 0-.3-.1-.6-.3-.9-.2-.3-.7-.5-1.3-.5zM85.7 4.9c-.2-.1-.4-.2-.6-.2-.2 0-.5.1-.7.3-1 1.1-2 2-3.4 2.9-1.6 1-3.2 1.8-4.9 2.4-.4.1-.6.4-.6.8v.4c.2.4.5.5.8.5.1 0 .3 0 .4-.1 1.4-.4 2.8-1.1 4.2-1.9v5.3c0 .5.3.8.9.8.5 0 .9-.3.9-.8V8.9c1.2-.9 2.3-1.8 3.2-2.8.1-.1.2-.3.2-.5s-.1-.5-.4-.7zM89.7 5.1c-.5 0-.9.3-.9.8v2.7c0 2-.2 3-.6 3.9-.3.8-.8 1.4-1.5 1.9-.3.2-.4.4-.4.7 0 .2.1.4.2.6.2.2.4.3.7.3.2 0 .5-.1.7-.2.8-.6 1.4-1.4 1.9-2.5.5-1.2.7-2.6.7-4.5V6c.1-.5-.2-.9-.8-.9zM98 10.5c-.1-.1-.3-.1-.4-.1-.2 0-.5.1-.7.5-.7 1.4-1.4 2.5-2.7 3-.1 0-.2.1-.3.1V5.9c0-.5-.4-.8-.9-.8s-.9.3-.9.8l-.1 8.3c0 1 .5 1.5 1.4 1.5.2 0 .4 0 .7-.1 1.6-.4 3.3-2 4.1-4.1 0-.1.1-.2.1-.3.2-.3 0-.6-.3-.7zM103.9 7.5c-.5 0-.9.3-.9.9 0 1.8-.2 2.9-.6 3.9-.5 1-1.4 1.8-2.6 2.2-.4.1-.6.4-.6.7 0 .1 0 .3.1.4.1.3.4.5.7.5.1 0 .3 0 .4-.1 1.6-.5 2.8-1.6 3.5-3 .6-1.2.8-2.6.8-4.7.1-.4-.2-.8-.8-.8z"/><path d="M108.2 5.3h-8.7c-.5 0-.8.3-.8.8.1.6.3.9.8.9h8.6s0 .1-.1.2c-.5 1-1.5 1.9-2.7 2.4-.3.1-.5.4-.5.8 0 .1 0 .3.1.4.1.3.4.4.7.4.1 0 .3 0 .4-.1 1.5-.6 2.9-1.9 3.5-3.3.1-.3.2-.6.2-.9 0-.3-.1-.6-.3-.9-.1-.5-.6-.7-1.2-.7zM121.1 6.6h-.3c-.2 0-.6.1-.8.7-.5 1.9-1.6 3.7-3 4.8-1.2 1-3.4 1.7-5.2 1.8-.5 0-.8.4-.8.9v.1c0 .5.4.8.9.8 2.1-.1 4.5-.9 6.1-2.1 1.8-1.3 3.1-3.4 3.7-5.8v-.3c0-.4-.2-.8-.6-.9zM111.5 7.1c.9.6 2 1.5 2.6 2.3.3.3.5.3.7.3.2 0 .5-.1.6-.3.2-.2.3-.4.3-.6 0-.2-.1-.4-.2-.6-1-1.2-2.5-2.2-2.9-2.5-.4-.3-.9-.2-1.2.1-.1.2-.2.4-.2.6-.1.3.1.5.3.7zM131.9 11.1c-1.8-.9-4.1-1.7-6.1-2.3V5.4c0-.5-.3-.8-.9-.8-.5 0-.9.3-.9.8v10c0 .5.3.8.9.8.5 0 .9-.3.9-.8v-4.8c1.7.5 3.7 1.3 5.4 2.2.5.2 1 0 1.2-.5 0-.1.1-.3.1-.4-.1-.4-.3-.7-.6-.8zM129.6 8.5c.1.2.4.3.6.3.2 0 .3-.1.5-.2s.3-.4.3-.6c0-.2-.1-.3-.1-.5-.3-.4-.7-.9-1.1-1.3-.2-.1-.3-.2-.5-.2s-.4.1-.5.2c-.2.1-.3.4-.3.6 0 .2.1.3.2.5.2.2.6.7.9 1.2zM131.5 5.2c-.3-.2-.7-.3-1-.1-.2.1-.3.4-.3.6 0 .2.1.3.2.5.3.3.6.6.9 1.1.2.2.4.3.6.3.1 0 .3 0 .5-.2.2-.1.3-.4.3-.6 0-.2-.1-.3-.2-.5-.3-.3-.7-.7-1-1.1zM63.4 21h-1.7v-1.7c0-.5-.4-.8-.9-.8s-.8.3-.8.8V21h-3.6v-1.7c0-.5-.4-.8-.9-.8s-.8.3-.8.8V21H53c-.5 0-.8.3-.8.8s.3.8.8.8h1.7v2.9c0 .5.3.8.8.8s.9-.3.9-.8v-2.9H60v.9c0 1.4-.2 2.4-.7 3.1-.6.8-1.7 1.5-2.9 1.7-.4.1-.7.4-.7.8v.2c.1.4.4.6.8.6h.2c1.7-.3 3.2-1.2 4-2.4.7-1 1-2.3 1-3.9v-1.1h1.7c.5 0 .8-.3.8-.8 0-.4-.3-.7-.8-.7zM65.8 20.9c.9.6 2 1.5 2.6 2.3.3.3.5.3.7.3.2 0 .5-.1.6-.3.3-.2.3-.4.3-.6 0-.2-.1-.4-.2-.6-1-1.2-2.5-2.2-2.9-2.5-.4-.3-.9-.2-1.2.1-.1.2-.2.4-.2.6 0 .3.1.5.3.7zM75.4 20.4h-.3c-.2 0-.6.1-.8.7-.5 1.9-1.6 3.7-3 4.8-1.2 1-3.4 1.7-5.2 1.8-.5 0-.8.4-.8.9v.1c0 .5.4.8.9.8 2.1-.1 4.5-.9 6.1-2.1 1.8-1.3 3.1-3.4 3.7-5.8v-.3c.1-.5-.2-.8-.6-.9zM87.5 23.4h-.2l-3.7.6-.4-1.9 3.5-.6c.4-.1.6-.4.6-.7v-.2c-.1-.4-.4-.7-.7-.7l-3.7.6-.4-1.5c-.1-.6-.5-.6-.7-.6h-.2c-.4.1-.7.4-.7.8v.2l.3 1.4-3.4.5c-.4.1-.6.4-.6.8v.2c.1.4.4.6.7.6l3.6-.6.4 2-4.1.7c-.4.1-.6.4-.6.8v.2c.1.4.4.6.8.6l4.3-.7.7 3.4c.1.4.4.6.8.6H84.1c.6-.1.6-.5.6-.7V29l-.7-3.3 3.7-.6c.4-.1.6-.4.6-.8v-.2c-.1-.4-.4-.7-.8-.7zM97.4 27.7h-1.8c.4-1.6.6-3.2.7-4.4V23c0-.4-.1-.7-.3-1-.2-.3-.6-.4-1-.4h-4.6c-.4 0-.7.4-.7.8s.3.8.7.8h4.3v.1c-.1 1.3-.4 2.8-.7 4.3h-4.5c-.4 0-.7.3-.7.8s.3.8.7.8h8c.4 0 .7-.3.7-.8-.1-.4-.4-.7-.8-.7zM108.3 23.4h-9.1c-.5 0-.8.4-.8.9s.3.9.8.9h9.1c.5 0 .8-.3.8-.9 0-.5-.3-.9-.8-.9zM123 28c-1.2-.9-2.2-1.9-2.9-3.1h2.4c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7h-2.9v-1.4h2.5c.4 0 .7-.3.7-.8 0-.4-.3-.7-.7-.7h-2.5V19c0-.3-.2-.6-.8-.6-.6 0-.8.3-.8.6v1.6h-.7c.1-.3.2-.6.2-.9v-.2c0-.3-.3-.6-.6-.7h-.2c-.4 0-.6.2-.7.6-.1.7-.4 1.4-.7 2.1 0-.4-.3-.6-.6-.6h-.6V19c0-.4-.3-.7-.8-.7s-.8.3-.8.7v1.9h-1.1c-.4 0-.6.3-.6.7 0 .4.3.7.6.7h.9c-.4 1.4-1.1 2.8-1.7 3.7-.1.1-.2.3-.2.5s.1.4.3.6c.1.1.3.2.5.2.3 0 .5-.1.6-.4.2-.3.5-.8.7-1.3v4.5c0 .4.3.7.7.7.5 0 .8-.3.8-.7V25v-.2c.2.4.6.5 1 .2.1-.1.1-.2.2-.2.1.1.2.1.4.1h1.6c-.7 1.2-1.8 2.4-2.9 3.1-.2.2-.4.4-.4.7 0 .2.1.3.2.5.3.4.8.4 1.1.1.9-.7 1.8-1.6 2.5-2.7V30c0 .4.3.7.8.7s.8-.3.8-.7v-3.4c.7 1 1.6 2 2.5 2.6.4.3.9.1 1.1-.2.1-.1.2-.3.2-.5.2-.1.1-.4-.1-.5zm-7-4.5l.2-.2.6-1.2h1.2v1.4h-2zm-.7.4c-.3-.4-.6-1-.9-1.6H115c0 .1-.1.1-.1.2-.1.1-.1.3-.1.5 0 .3.1.5.3.6.1.1.2.1.4.1-.1 0-.2.1-.2.2z"/><g><path d="M131.4 27.2h-.2c-.6.2-1.3.3-2 .5V25h1.8c.4 0 .7-.3.7-.8 0-.4-.3-.7-.7-.7h-5.1c-.4 0-.6.3-.6.7 0 .4.3.8.6.8h1.7v3c-.8.2-1.6.3-2.2.4-.4 0-.6.3-.6.7v.2c.1.4.3.7.7.7h.1c1.9-.3 4-.7 5.8-1.2.4-.1.6-.4.6-.8v-.2c0-.4-.3-.6-.6-.6z"/><path d="M136.2 26.8c-.5 0-.8.2-.8.7-.1.6-.2 1-.3 1.2v.1l-.1-.1c-.5-.5-1.1-1.6-1.5-3.3-.2-.9-.3-1.9-.4-3.2h3c.4 0 .7-.3.7-.8 0-.4-.3-.8-.7-.8h-.4c.1-.1.1-.3.1-.4 0-.2-.1-.3-.2-.5-.3-.3-.8-.8-1.2-1.1-.3-.2-.7-.2-1 0-.2.1-.3.3-.3.6 0 .2.1.4.3.6.3.2.7.6 1 .8H133V19c0-.4-.3-.7-.8-.7s-.8.3-.8.7v1.6h-6.1c-.4 0-.7.3-.7.8s.3.8.7.8h6.1c.1 1.5.2 2.7.5 3.7.4 1.9 1.1 3.3 2 4.1.4.3.7.5 1.1.5.5 0 .9-.3 1.2-.7.3-.5.6-1.4.7-2.2v-.1c0-.4-.2-.7-.7-.7z"/></g><g><path d="M149.3 24.7H139c-.4 0-.7.3-.7.8 0 .4.3.8.7.8h2.9c-.3.8-.8 1.6-1.3 2.4-.5 0-1 0-1.5.1-.4 0-.7.3-.7.8v.1c0 .4.4.8.8.8 3.1-.2 5.8-.4 8-.8.2.3.4.6.6.8.1.2.4.3.6.3.2 0 .4-.1.5-.2.2-.2.3-.4.3-.6 0-.2-.1-.3-.1-.4-.7-1-1.8-2.3-2.7-3.1l-.1-.1h2.9c.4 0 .7-.3.7-.8.1-.6-.2-.9-.6-.9zm-3.8 1.6c-.2.1-.3.3-.3.6 0 .2.1.4.2.5.3.3.6.6.8.9-1.1.1-2.3.3-3.7.4.5-.8.8-1.6 1.2-2.3l1.8-.1zM150 22.4c-2-.9-3.7-2.2-4.9-3.7-.2-.2-.6-.4-1-.4s-.7.1-1 .4c-1.2 1.6-2.8 2.8-4.8 3.8-.3.1-.5.4-.5.7 0 .1 0 .2.1.4.2.3.4.5.7.5.1 0 .2 0 .3-.1.6-.3 1.3-.7 1.9-1.1v.1c0 .4.3.8.7.8h5.2c.4 0 .7-.3.7-.8v-.2c.6.4 1.2.7 1.8 1 .1.1.3.1.5.1.3 0 .6-.2.7-.5.1-.1.1-.2.1-.4 0-.1-.2-.4-.5-.6zm-8.2-.1c.9-.7 1.7-1.5 2.3-2.3.6.8 1.5 1.6 2.4 2.3h-4.7z"/></g><g><path d="M163 28.6h-2.7v-4.9h2.3c.4 0 .7-.3.7-.8 0-.4-.3-.8-.7-.8h-2.3V19c0-.4-.3-.7-.8-.7s-.8.3-.8.7v3.2h-1.8c-.4 0-.7.3-.7.8 0 .4.3.8.7.8h1.8v4.9h-2.5c-.4 0-.7.3-.7.8s.3.8.7.8h6.8c.4 0 .7-.3.7-.8 0-.6-.3-.9-.7-.9z"/><path d="M155.8 26.5c.1.1.3.2.5.2s.5-.1.6-.3c.1-.2.1-.3.1-.5 0-.3-.1-.5-.3-.6-.5-.3-1-.8-1.5-1.3.5-.7 1-1.3 1.3-2 .1-.2.1-.4.1-.6 0-.6-.5-1-1.1-1h-.6V19c0-.3-.2-.7-.8-.7-.5 0-.8.3-.8.7v1.5h-1.2c-.4 0-.7.3-.7.7 0 .4.3.7.7.7h2.7c-.7 1.2-1.9 2.4-3.3 3.5-.2.1-.4.4-.4.6 0 .2.1.3.2.5.2.2.4.3.6.3.2 0 .3-.1.5-.2.3-.2.5-.4.8-.7V30c0 .4.3.7.8.7.4 0 .8-.3.8-.7v-3.9-.5c.4.4.7.7 1 .9z"/></g>
  </symbol>
</svg>

<svg version="1.1" id="レイヤー_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" xml:space="preserve">
  <symbol viewBox="0 0 169.9 32.4" id="svg-logo-icon">
  <style>.st0{fill:#ea6a68}</style><path d="M10.8 13.8c0 1.2-.9 2.1-2.1 2.1-1.2 0-2.1-.9-2.1-2.1s.9-2.1 2.1-2.1c1.1 0 2.1.9 2.1 2.1zM25.9 13.8c0 1.2-.9 2.1-2.1 2.1-1.2 0-2.1-.9-2.1-2.1s.9-2.1 2.1-2.1c1.1 0 2.1.9 2.1 2.1z"/><path class="st0" d="M31.3 26.7c-2.9 0-5.2-2.3-5.2-5.2 0-.5.4-1 1-1h8.5c.5 0 1 .4 1 1-.1 2.9-2.4 5.2-5.3 5.2zm-3.1-4.2c.4 1.3 1.6 2.2 3.1 2.2 1.4 0 2.7-.9 3.1-2.2h-6.2zM16.2 27.4c-1.2 0-2.4-.2-3.6-.7-1.1-.5-2.1-1.1-2.9-2-.8-.8-1.5-1.8-2-2.9-.2-.5 0-1.1.5-1.3.5-.2 1.1 0 1.3.5.4.9.9 1.6 1.5 2.3.7.7 1.4 1.2 2.3 1.5 1.8.7 3.8.7 5.6 0 .9-.4 1.6-.9 2.3-1.5.7-.7 1.2-1.4 1.5-2.3.2-.5.8-.7 1.3-.5.5.2.7.8.5 1.3-.5 1.1-1.1 2.1-2 2.9-.8.8-1.8 1.5-2.9 2-1 .5-2.2.7-3.4.7z"/><path d="M16.2 32.4C7.3 32.4 0 25.2 0 16.2 0 7.3 7.3 0 16.2 0c1.1 0 2.2.1 3.3.3.6.1 1 .7.9 1.3-.1.6-.7 1-1.3.9-.9-.2-1.9-.3-2.8-.3-7.7 0-14 6.3-14 14s6.3 14 14 14c2.5 0 4.9-.6 7-1.9.5-.3 1.2-.1 1.5.4.3.5.1 1.2-.4 1.5-2.5 1.5-5.3 2.2-8.2 2.2z" fill="#abcd2a"/><path d="M41.1 13.8c0-.5-.4-1-1-1h-1l.9-.8c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0l-2.5 2.5c-.2.2-.3.4-.3.7 0 .3.1.5.3.7l2.5 2.5c.2.2.4.3.7.3.3 0 .5-.1.7-.3.4-.4.4-1 0-1.4l-.8-.8h1c.5 0 .9-.5.9-1z"/><path d="M41.1 3.3c1.6-.7 3.4-1.1 5.3-1.1.6 0 1.1-.5 1.1-1.1C47.5.5 47 0 46.4 0c-2.7 0-5.3.7-7.5 1.9C36.6.7 34 0 31.3 0c-8.9 0-16.2 7.3-16.2 16.2v3.1c0 .6.5 1.1 1.1 1.1s1.1-.5 1.1-1.1v-3.1c0-7.7 6.3-14 14-14 1.9 0 3.7.4 5.3 1.1-3.9 3-6.4 7.7-6.4 12.9v1.1c0 .6.5 1.1 1.1 1.1.6 0 1.1-.5 1.1-1.1v-1.1c0-4.9 2.6-9.3 6.4-11.8 3.9 2.5 6.4 6.8 6.4 11.8 0 7.7-6.3 14-14 14-2.5 0-4.9-.6-7-1.9-.5-.3-1.2-.1-1.5.4-.3.5-.1 1.2.4 1.5 2.5 1.4 5.3 2.2 8.1 2.2 8.9 0 16.2-7.3 16.2-16.2.1-5.3-2.4-9.9-6.3-12.9z" fill="#f8bd05"/><path d="M57.6 7.4c.6-.7.9-1.3 1.2-1.9.1-.2.1-.4.1-.5 0-.2 0-.3-.1-.5-.2-.3-.5-.4-.8-.4h-4c-.3 0-.5.2-.5.5s.2.5.5.5H57.8v.1c-.4.8-1 1.7-1.8 2.5-1 .9-2 1.4-2.7 1.7-.2.1-.4.3-.4.5v.2c.1.2.2.3.5.3h.3c1.3-.5 2.4-1.2 3.3-2.1.8.6 1.3 1.2 1.9 1.8.1.1.3.2.4.2.2 0 .3-.1.4-.2.1-.1.1-.2.1-.4 0-.1-.1-.3-.2-.4-.6-.7-1.2-1.2-2-1.9zM65.7 4.3h-5.3c-.3 0-.4.2-.4.5s.2.5.4.5h5.1v.1c-.4.8-1.3 1.6-2.2 2.2-.5-.5-.9-1-1.4-1.4-.2-.2-.5-.2-.7 0-.2.2-.2.4-.2.5 0 .1 0 .2.2.4.9.8 1.9 1.9 2.7 3 .1.2.3.3.5.3.1 0 .2 0 .3-.1.2-.1.2-.3.2-.5 0-.1 0-.2-.1-.3-.2-.3-.5-.7-.8-1 1.1-.8 2.1-1.7 2.6-2.7.1-.2.2-.4.2-.6 0-.2-.1-.4-.2-.5-.2-.3-.5-.4-.9-.4zM72.9 3.8c-.1-.1-.2-.1-.3-.1-.1 0-.3.1-.4.2-.6.7-1.2 1.2-2.1 1.8-.9.6-2 1.1-3 1.4-.2.1-.4.3-.4.5v.2c.1.3.3.3.5.3h.2c.8-.3 1.7-.7 2.5-1.1v3.2c0 .3.2.5.5.5s.5-.2.5-.5v-4c.7-.5 1.4-1.1 1.9-1.7.1-.1.1-.2.1-.3.2-.2.1-.3 0-.4zM75.3 3.9c-.3 0-.5.2-.5.5V6c0 1.2-.1 1.8-.4 2.4-.2.5-.5.9-.9 1.1-.2.1-.2.3-.2.4 0 .1 0 .3.1.3.1.1.2.2.4.2.1 0 .3-.1.4-.1.5-.3.9-.9 1.2-1.5.3-.7.4-1.6.4-2.8V4.4c.1-.3-.1-.5-.5-.5zM80.4 7.2c-.1 0-.2-.1-.3-.1-.1 0-.3 0-.4.3-.4.9-.8 1.5-1.6 1.8h-.2V4.3c0-.3-.2-.5-.5-.5s-.5.2-.5.5v5.1c0 .6.3.9.9.9.1 0 .3 0 .4-.1 1-.2 2-1.2 2.5-2.5v-.2c-.1-.1-.2-.3-.3-.3zM84 5.4c-.3 0-.5.2-.5.5 0 1.1-.1 1.8-.4 2.4-.3.6-.8 1.1-1.6 1.3-.2.1-.4.2-.4.5v.2c.1.2.2.3.4.3h.2c1-.3 1.7-1 2.1-1.8.4-.7.5-1.6.5-2.8.2-.4 0-.6-.3-.6z"/><path d="M86.5 4h-5.3c-.3 0-.5.2-.5.5.1.3.3.5.6.5H86.5v.1c-.3.6-.9 1.1-1.6 1.4-.2.1-.3.3-.3.5 0 .1 0 .2.1.3.1.2.2.2.4.2.1 0 .2 0 .2-.1.9-.3 1.7-1.1 2.1-2 .1-.2.1-.4.1-.6 0-.2-.1-.4-.2-.6-.1-.1-.4-.2-.8-.2z"/><g><path d="M94.4 4.8h-.2c-.1 0-.4 0-.5.4-.3 1.2-1 2.2-1.8 2.9-.7.6-2 1-3.2 1.1-.3 0-.5.2-.5.5v.1c0 .3.2.5.5.5 1.3-.1 2.8-.5 3.7-1.3 1.1-.8 1.9-2.1 2.2-3.5v-.2c.2-.2 0-.4-.2-.5zM88.5 5.1c.6.4 1.2.9 1.6 1.4.2.2.3.2.4.2.1 0 .3-.1.4-.2.1-.1.2-.2.2-.4 0-.1 0-.3-.1-.4-.6-.7-1.5-1.3-1.8-1.5-.3-.2-.6-.1-.7.1-.1.1-.1.2-.1.3-.1.2 0 .4.1.5z"/></g><g><path d="M100.9 7.5c-1.1-.5-2.5-1-3.7-1.4v-2c0-.3-.2-.5-.5-.5s-.5.2-.5.5v6.1c0 .3.2.5.5.5s.5-.2.5-.5v-3c1 .3 2.3.8 3.3 1.3.3.1.6 0 .7-.3V8c0-.2-.1-.4-.3-.5zM99.5 5.9c.1.1.2.2.4.2.1 0 .2 0 .3-.1.1-.1.2-.2.2-.4 0-.1 0-.2-.1-.3-.2-.3-.4-.5-.7-.8-.1-.1-.2-.1-.3-.1-.1 0-.2.1-.3.1-.1.1-.2.2-.2.4 0 .1 0 .2.1.3.2.2.4.4.6.7zM100.7 3.9c-.2-.1-.4-.2-.6-.1-.1.1-.2.2-.2.4 0 .1 0 .2.1.3.2.2.3.4.5.7.1.1.2.2.4.2.1 0 .2 0 .3-.1.1-.1.2-.2.2-.4 0-.1 0-.2-.1-.3-.2-.2-.4-.4-.6-.7z"/></g><g><path d="M108.8 5.1h-1v-1c0-.3-.2-.5-.5-.5s-.5.2-.5.5v1.1h-2.2V4.1c0-.3-.2-.5-.5-.5s-.5.2-.5.5v1.1h-1c-.3 0-.5.2-.5.5s.2.5.5.5h1v1.7c0 .3.2.5.5.5s.5-.2.5-.5V6.1h2.2v.5c0 .9-.1 1.5-.4 1.9-.4.5-1.1.9-1.8 1.1-.3 0-.4.2-.4.5v.1c.1.2.2.4.5.4h.1c1-.2 1.9-.7 2.4-1.5.4-.6.6-1.4.6-2.3v-.7h1c.3 0 .5-.2.5-.5s-.2-.5-.5-.5zM110.3 5.1c.6.4 1.2.9 1.6 1.4.2.2.3.2.4.2.1 0 .3-.1.4-.2.1-.1.2-.2.2-.4 0-.1 0-.3-.1-.4-.6-.7-1.5-1.3-1.8-1.5-.3-.2-.6-.1-.7.1-.1.1-.1.2-.1.3-.1.2 0 .4.1.5zM116.1 4.8h-.2c-.1 0-.4 0-.5.4-.3 1.2-1 2.2-1.8 2.9-.8.6-2 1-3.2 1.1-.3 0-.5.2-.5.5v.1c0 .3.2.5.6.5 1.3 0 2.8-.5 3.7-1.3 1.1-.8 1.9-2.1 2.2-3.5v-.2c.1-.3 0-.4-.3-.5zM123.4 6.6h-.1l-2.2.4-.3-1.2 2.2-.3c.2 0 .4-.2.4-.4V5c-.1-.2-.2-.4-.5-.4l-2.3.4-.2-.9c-.1-.3-.3-.4-.5-.4h-.1c-.3.1-.4.2-.4.5v.1l.2.9-2.1.3c-.2 0-.4.2-.4.5v.1c0 .2.2.4.5.4l2.2-.3.3 1.2-2.5.4c-.2 0-.4.2-.4.5v.1c0 .2.2.4.5.4l2.6-.4.4 2.1c.1.2.2.4.5.4h.1c.3-.1.4-.3.4-.5v-.1l-.4-2 2.3-.4c.2 0 .4-.2.4-.5v-.1c-.1-.5-.3-.7-.6-.7zM129.5 9.2h-1.1c.2-1 .4-1.9.4-2.6v-.2c0-.2-.1-.4-.2-.6-.1-.2-.4-.3-.6-.3h-2.8c-.2 0-.4.2-.4.5s.2.5.4.5h2.7v.1c-.1.8-.2 1.7-.4 2.6h-2.7c-.3 0-.4.2-.4.5s.2.5.4.5h4.9c.3 0 .4-.2.4-.5-.2-.3-.4-.5-.6-.5zM136 6.6h-5.5c-.3 0-.5.2-.5.5s.2.5.5.5h5.5c.3 0 .5-.2.5-.5s-.2-.5-.5-.5zM145 9.4c-.8-.5-1.3-1.2-1.8-1.9h1.5c.2 0 .4-.2.4-.5s-.2-.4-.4-.4h-1.8v-.8h1.5c.2 0 .4-.2.4-.5s-.2-.4-.4-.4h-1.5v-1c0-.2-.1-.4-.5-.4-.3 0-.5.2-.5.4v1h-.4c.1-.2.1-.4.1-.6v-.1c0-.2-.2-.4-.4-.4h-.1c-.2 0-.4.1-.4.4-.1.4-.2.9-.4 1.3 0-.3-.2-.4-.4-.4h-.4V3.9c0-.2-.2-.4-.5-.4s-.5.2-.5.4V5h-.7c-.2 0-.4.2-.4.4 0 .3.2.4.4.4h.6c-.2.9-.7 1.7-1 2.2-.1.1-.1.2-.1.3 0 .1.1.3.2.4.1.1.2.1.3.1.2 0 .3-.1.4-.2.1-.2.3-.5.4-.8V10.6c0 .2.2.4.5.4s.5-.2.5-.4v-3-.1c.1.2.4.3.6.1l.1-.1c.1 0 .1.1.2.1h1c-.4.7-1.1 1.4-1.8 1.9-.1.1-.2.3-.2.4 0 .1 0 .2.1.3.2.2.5.2.7.1.6-.4 1.1-1 1.5-1.6v2.1c0 .2.2.4.5.4s.5-.2.5-.4V8.6c.4.6 1 1.2 1.5 1.6.3.2.5.1.7-.1.1-.1.1-.2.1-.3.1-.2 0-.3-.1-.4zm-4.3-2.8l.1-.1c.1-.3.3-.5.4-.7h.7v.9h-1.2zm-.4.3c-.2-.3-.4-.6-.5-1h.4s0 .1-.1.1c-.1.1-.1.2-.1.3 0 .2.1.3.2.4.1 0 .1.1.2.1 0 0-.1 0-.1.1zM150.1 8.9h-.1l-1.2.3V7.6h1.1c.2 0 .4-.2.4-.5s-.2-.5-.4-.5h-3.1c-.2 0-.4.2-.4.5s.2.5.4.5h1v1.8c-.5.1-.9.2-1.3.2-.2 0-.4.2-.4.4v.1c0 .3.2.4.5.4h.1c1.1-.2 2.4-.4 3.5-.7.2-.1.4-.2.4-.5v-.1c-.2-.2-.3-.3-.5-.3z"/><path d="M153 8.6c-.3 0-.5.2-.5.4 0 .4-.1.6-.2.7-.3-.3-.7-.9-.9-2-.1-.5-.2-1.1-.2-1.9h1.8c.2 0 .4-.2.4-.5s-.2-.5-.4-.5h-.3c.1-.1.1-.2.1-.3 0-.1 0-.2-.1-.3-.2-.2-.5-.5-.8-.6-.2-.1-.4-.1-.6 0-.1.1-.2.2-.2.3 0 .1.1.3.2.3.2.2.4.3.6.5h-.8v-1c0-.2-.2-.4-.5-.4s-.5.2-.5.4v1h-3.7c-.2 0-.4.2-.4.5s.2.5.4.5h3.7c.1.9.1 1.6.3 2.2.3 1.1.7 2 1.2 2.5.2.2.4.3.7.3.3 0 .5-.2.7-.4.2-.3.3-.8.4-1.3 0-.1-.1-.3-.4-.4z"/><g><path d="M160.9 7.4h-6.3c-.2 0-.4.2-.4.5s.2.5.4.5h1.8c-.2.5-.5 1-.8 1.5h-.9c-.3 0-.4.2-.4.5s.2.5.5.5c1.9-.1 3.5-.3 4.8-.5.1.2.3.3.4.5.1.1.2.2.4.2.1 0 .2 0 .3-.1.1-.1.2-.2.2-.4 0-.1 0-.2-.1-.3-.4-.6-1.1-1.4-1.6-1.9l-.1-.1h1.7c.2 0 .4-.2.4-.5.1-.2 0-.4-.3-.4zm-2.3 1c-.1.1-.2.2-.2.3 0 .1 0 .2.1.3l.5.5c-.7.1-1.4.2-2.2.2.3-.5.5-.9.7-1.4l1.1.1c0-.1 0 0 0 0zM161.4 6c-1.2-.6-2.3-1.4-3-2.3-.1-.2-.4-.2-.6-.2-.2 0-.5.1-.6.2-.7.9-1.7 1.7-2.9 2.3-.2.1-.3.3-.3.5 0 .1 0 .1.1.2.1.2.3.3.4.3h.2c.4-.2.8-.4 1.1-.6v.1c0 .3.2.5.4.5h3.2c.2 0 .4-.2.4-.5v-.1c.3.2.7.4 1.1.6h.3c.2 0 .3-.1.4-.3v-.2c.1-.2-.1-.4-.2-.5zm-5-.1c.6-.4 1-.9 1.4-1.4.4.5.9 1 1.5 1.4h-2.9z"/></g><g><path d="M169.3 9.8h-1.6v-3h1.4c.2 0 .4-.2.4-.5s-.2-.5-.4-.5h-1.4V3.9c0-.3-.2-.4-.5-.4s-.5.2-.5.4v1.9h-1.1c-.2 0-.4.2-.4.5s.2.5.4.5h1.1v3h-1.5c-.2 0-.4.2-.4.5s.2.5.4.5h4.1c.2 0 .4-.2.4-.5s-.2-.5-.4-.5z"/><path d="M164.9 8.5c.1.1.2.1.3.1.1 0 .3-.1.4-.2.1-.1.1-.2.1-.3 0-.2-.1-.3-.2-.4-.3-.2-.6-.5-.9-.8.3-.4.6-.8.8-1.2.1-.1.1-.2.1-.4 0-.4-.3-.6-.7-.6h-.4v-.8c0-.2-.1-.4-.5-.4-.3 0-.5.2-.5.4v.9h-.7c-.2 0-.4.2-.4.4 0 .3.2.5.4.5h1.6c-.4.7-1.1 1.5-2 2.1-.1.1-.2.2-.2.4 0 .1 0 .2.1.3.1.1.2.2.4.2.1 0 .2 0 .3-.1.2-.1.3-.3.5-.4v2.5c0 .2.2.4.5.4s.5-.2.5-.4V8.3 8c.1.2.3.4.5.5z"/></g></g><g><path d="M53.7 27.4c-.1 0-.2 0-.3-.1-.1-.1-.1-.2-.1-.3V16.1c0-.1 0-.2.1-.3.1-.1.2-.1.3-.1h4.4c1.4 0 2.4.3 3.2.9s1.2 1.5 1.2 2.7c0 .8-.2 1.5-.6 2.1-.4.5-1 .9-1.6 1.2l2.5 4.3c0 .1.1.1.1.2s0 .2-.1.3c-.1.1-.2.1-.2.1h-1.5c-.2 0-.3-.1-.4-.2-.1-.1-.2-.2-.2-.3L58 23h-2.3v4c0 .1 0 .2-.1.3-.1.1-.2.1-.3.1h-1.6zm2-6.3H58c.7 0 1.2-.2 1.5-.5.3-.3.5-.7.5-1.3s-.2-1-.5-1.3c-.3-.3-.8-.5-1.5-.5h-2.4v3.6zM65.2 27.4c-.1 0-.2 0-.3-.1-.1-.1-.1-.2-.1-.3V16.1c0-.1 0-.2.1-.3.1-.1.2-.1.3-.1h7.4c.1 0 .2 0 .3.1.1.1.1.2.1.3v1.1c0 .1 0 .2-.1.3-.1.1-.2.1-.3.1h-5.5v3h5.2c.1 0 .2 0 .3.1.1.1.1.2.1.3v1c0 .1 0 .2-.1.3-.1.1-.2.1-.3.1h-5.2v3.1h5.7c.1 0 .2 0 .3.1.1.1.1.2.1.3V27c0 .1 0 .2-.1.3-.1.1-.2.1-.3.1h-7.6zM80 27.6c-1 0-1.9-.2-2.6-.5-.7-.4-1.3-.9-1.7-1.6-.4-.7-.6-1.5-.7-2.5v-1.5V20c0-.9.3-1.8.6-2.4.4-.7.9-1.2 1.7-1.6.7-.4 1.6-.5 2.6-.5.8 0 1.4.1 2 .3s1.1.5 1.5.8c.4.4.8.8 1 1.2.2.5.4 1 .4 1.5 0 .1 0 .2-.1.3-.1.1-.2.1-.3.1H83c-.1 0-.2 0-.3-.1-.1-.1-.1-.2-.2-.3-.2-.7-.5-1.2-.9-1.5-.4-.3-1-.4-1.6-.4-.8 0-1.4.2-1.8.6-.4.4-.7 1.1-.7 2.1v2.8c0 1 .3 1.7.7 2.1.4.4 1 .6 1.8.6.6 0 1.2-.1 1.6-.4.4-.3.7-.8.9-1.5 0-.2.1-.3.2-.3.1-.1.2-.1.3-.1h1.6c.1 0 .2 0 .3.1s.1.2.1.3c0 .5-.1 1.1-.4 1.5-.2.5-.6.9-1 1.2-.4.4-.9.6-1.5.8s-1.4.4-2.1.4zM87.5 27.4c-.1 0-.2 0-.3-.1-.1-.1-.1-.2-.1-.3V16.1c0-.1 0-.2.1-.3.1-.1.2-.1.3-.1h4.4c1.4 0 2.4.3 3.2.9s1.2 1.5 1.2 2.7c0 .8-.2 1.5-.6 2.1-.4.5-1 .9-1.6 1.2l2.5 4.3c0 .1.1.1.1.2s0 .2-.1.3c-.1.1-.2.1-.2.1h-1.5c-.2 0-.3-.1-.4-.2-.1-.1-.2-.2-.2-.3l-2.2-4h-2.3v4c0 .1 0 .2-.1.3-.1.1-.2.1-.3.1h-1.9zm1.9-6.3h2.4c.7 0 1.2-.2 1.5-.5.3-.3.5-.7.5-1.3s-.2-1-.5-1.3c-.3-.3-.8-.5-1.5-.5h-2.4v3.6zM103.3 27.6c-1 0-1.8-.2-2.5-.5s-1.3-.8-1.7-1.5-.6-1.6-.6-2.6v-6.8c0-.1 0-.2.1-.3.1-.1.2-.1.3-.1h1.5c.1 0 .2 0 .3.1.1.1.1.2.1.3V23c0 .9.2 1.6.7 2 .4.4 1 .7 1.8.7s1.4-.2 1.8-.7c.4-.4.6-1.1.6-2v-6.8c0-.1 0-.2.1-.3.1-.1.2-.1.3-.1h1.5c.1 0 .2 0 .3.1.1.1.1.2.1.3V23c0 1.1-.2 2-.6 2.6-.4.7-.9 1.2-1.6 1.5s-1.6.5-2.5.5zM111.1 27.4c-.1 0-.2 0-.3-.1-.1-.1-.1-.2-.1-.3V16c0-.1 0-.2.1-.3.1-.1.2-.1.3-.1h1.6c.1 0 .2 0 .3.1.1.1.1.2.1.3v11c0 .1 0 .2-.1.3-.1.1-.2.1-.3.1h-1.6zM118.9 27.4c-.1 0-.2 0-.3-.1-.1-.1-.1-.2-.1-.3v-9.3h-3.1c-.1 0-.2 0-.3-.1-.1-.1-.1-.2-.1-.3v-1.2c0-.1 0-.2.1-.3.1-.1.2-.1.3-.1h8.6c.1 0 .2 0 .3.1.1.1.1.2.1.3v1.2c0 .1 0 .2-.1.3-.1.1-.2.1-.3.1h-3.1V27c0 .1 0 .2-.1.3-.1.1-.2.1-.3.1h-1.6zM130.8 27.4c-.1 0-.2 0-.3-.1-.1-.1-.1-.2-.1-.3v-.9c0-.1 0-.2.1-.4.1-.1.2-.3.3-.4l2.7-2.6c.7-.6 1.3-1.1 1.8-1.5.5-.4.8-.8 1-1.1.2-.3.3-.7.3-1 0-.5-.1-.9-.4-1.2-.3-.3-.7-.5-1.3-.5-.4 0-.7.1-1 .2-.3.2-.5.4-.6.6-.2.3-.3.6-.3.9 0 .1-.1.2-.2.3s-.2.1-.3.1H131c-.1 0-.2 0-.3-.1-.1-.1-.1-.1-.1-.2 0-.5.1-.9.3-1.4.2-.5.5-.9.8-1.2.4-.4.8-.6 1.3-.8.5-.2 1.1-.3 1.8-.3.9 0 1.7.2 2.3.5.6.3 1.1.7 1.4 1.3s.5 1.1.5 1.8c0 .5-.1 1-.3 1.5-.2.4-.5.9-.9 1.3s-.8.8-1.4 1.3l-2.4 2.4h4.8c.1 0 .2 0 .3.1s.1.2.1.3v1c0 .1 0 .2-.1.3-.1.1-.2.1-.3.1h-8zM145.7 27.6c-.8 0-1.5-.1-2-.4-.6-.2-1-.6-1.4-1-.4-.4-.6-.9-.8-1.4-.2-.5-.3-1.1-.3-1.7v-1V21v-1c0-.6.1-1.2.3-1.7.2-.5.5-1 .8-1.4s.8-.7 1.4-1c.6-.2 1.2-.4 2-.4s1.5.1 2 .4c.6.2 1 .6 1.4 1 .4.4.6.9.8 1.4.2.5.3 1.1.3 1.7v3.1c0 .6-.1 1.2-.3 1.7-.2.5-.4 1-.8 1.4-.4.4-.8.7-1.4 1-.5.3-1.2.4-2 .4zm0-2c.7 0 1.3-.2 1.6-.7.3-.5.5-1.1.5-1.9v-1-1-1c0-.8-.2-1.4-.5-1.9s-.9-.7-1.6-.7c-.7 0-1.2.2-1.6.7s-.5 1.1-.5 1.9v3c0 .8.2 1.5.6 1.9.3.5.8.7 1.5.7zM152.6 27.4c-.1 0-.2 0-.3-.1-.1-.1-.1-.2-.1-.3v-.9c0-.1 0-.2.1-.4.1-.1.2-.3.3-.4l2.7-2.6c.7-.6 1.3-1.1 1.8-1.5.5-.4.8-.8 1-1.1.2-.3.3-.7.3-1 0-.5-.1-.9-.4-1.2-.3-.3-.7-.5-1.3-.5-.4 0-.7.1-1 .2-.3.2-.5.4-.6.6-.2.3-.3.6-.3.9 0 .1-.1.2-.2.3s-.2.1-.3.1h-1.5c-.1 0-.2 0-.3-.1-.1-.1-.1-.1-.1-.2 0-.5.1-.9.3-1.4.2-.5.5-.9.8-1.2.4-.4.8-.6 1.3-.8.5-.2 1.1-.3 1.8-.3.9 0 1.7.2 2.3.5.6.3 1.1.7 1.4 1.3s.5 1.1.5 1.8c0 .5-.1 1-.3 1.5-.2.4-.5.9-.9 1.3s-.8.8-1.4 1.3l-2.4 2.4h4.8c.1 0 .2 0 .3.1s.1.2.1.3v1c0 .1 0 .2-.1.3-.1.1-.2.1-.3.1h-8zM166.6 27.4c-.1 0-.2 0-.3-.1-.1-.1-.1-.2-.1-.3v-8.7l-2.6 2c-.1.1-.2.1-.3.1-.1 0-.2-.1-.3-.2l-.7-.9c-.1-.1-.1-.2-.1-.3 0-.1.1-.2.2-.3l3.8-2.9c.1-.1.1-.1.2-.1h1.7c.1 0 .2 0 .3.1.1.1.1.2.1.3v11c0 .1 0 .2-.1.3-.1.1-.2.1-.3.1h-1.5z"/></g>
</symbol>
</svg>