<%
  splitMessageTypo = function(text, animation = true) {
    const splitedTexts = text.split('\n').filter(Boolean)
    const wrapedTexts = splitedTexts.map(_text => {
      if(animation) {
        return `<br><span class="message-typo__animation">${_text.replace(/^ */, '')}</span>`
      } else {
        return `<br>${_text.replace(/^ */, '')}`
      }
    });

    let resultText = '';

    wrapedTexts.forEach(_text => {
      resultText = resultText + _text
    });

    return resultText.replace('<br>', '')
  }
%>