<%
  if (typeof textEn01 === 'undefined') { var textEn01 = ''; }
  if (typeof textEn02 === 'undefined') { var textEn02 = ''; }
  if (typeof textJa === 'undefined') { var textJa = ''; }
  if (typeof imagePathMd === 'undefined') { var imagePathMd = ''; }
  if (typeof imagePathSm === 'undefined') { var imagePathSm = ''; }
  if (typeof colorType === 'undefined') { var colorType = ''; }
  if (typeof letterSpace === 'undefined') { var letterSpace = true; }

  const COLOR = colorType ? `style="color: #${colorType}"` : ''
%>

<section class="c-sec-head">
  <div class="c-sec-head__bg">
    <picture>
      <source media="(min-width: 768px)" srcset="<%- imagePathMd  %>">
      <img class="img" src="<%- imagePathSm %>" alt="">
    </picture>
  </div>
  <div class="l-container">
    <div class="c-sec-head__wrap">
      <h2 class="c-page-title">
        <span class="c-page-title__en">
          <span class="c-page-title__color01" <%- COLOR %>><%- textEn01 %></span><% if(textEn02) { %><% if(letterSpace) { %>&nbsp;<% } %><span class="c-page-title__color02" <%- COLOR %>><%- textEn02 %></span>
          <% } %>
        </span><br>
        <span class="c-page-title__jp" <%- COLOR %>>
          <%- textJa %>
        </span>
      </h2>
    </div>
  </div>
</section>