<section class="sec-story" id="js-sec-story">
  <div class="sec-story__wrapper">
    <div class="sec-story__heading">
      <div class="l-container--wide">
        <div class="story-heading-wrap">
          <h2 class="story-heading-wrap__ttl js-io-element">
            スマサンストーリー
            <svg version="1.1" id="svg-animation" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 436 264" style="enable-background:new 0 0 436 264;" xml:space="preserve" width="436" height="264">
              <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="@img-index/typo_animation01.svg" mask="url(#clipmask)" width="100%" height="100%"></image>
              <mask id="clipmask">
                <style>.sts{fill:none;stroke:#fff;stroke-width:11;stroke-miterlimit:10}</style>
                <path class="sts" d="M143.7 55.1S166 59.6 181 42.5c15-17.2-8.2-31.3-8.2-31.3s-50.9-23.7-124 6.3c0 0-69.6 22.6-35.1 55l49 24.2 85.4 28.7s54.1 17.4-1.5 39.2S19 141.8 19 141.8"/><path class="sts" d="M158 68.5l112-.1-56.8-18.9-9.6 72.9s-5.6 57.6 34.9 28.5l10.6-12.1 11.8-26.1-11.5 36.3s5.6 26.2 23.6 12.6l8.8-15.1 3-19.1s.8-22.2-12.9-21.8-4.4 21.2-4.4 21.2 9.7 25 44.2 10.7l12-20.3 4.9-21.7-2.9 25.9s26.6-23 17.2 1.6l-2.2 18.4s5.7 34.2 32.1 11.6l13.2-14.8 8.1-24.5-5.7 36.5s2.8 24.2 22.5 3l15.1-28.9 7.1-16.8-10.7 48.8-3.8 62.8-5.3 24s-26.1 39.7-32.7-5.4C374 192.6 436 165 436 165"/>
              </mask>
            </svg>
          </h2>
          <p class="story-heading-wrap__lead">
            一人ひとりの志を通じて、本物の医療家集団を目指すスマイルアンドサンキューのストーリーを紹介します。
          </p>
        </div>
      </div>
    </div>
    <div class="sec-story__body">
      <div class="story-grid">
        <ul class="story-grid__wrapper">
          <li class="story-grid__item">
            <a href="/message/story01.shtml" class="story-item">
              <div class="story-item__bg--01"></div>
              <div class="story-item__wrapper">
                <p class="story-item__number">
                  EPISODE 01
                </p>
                <h3 class="story-item__ttl">
                  スタートラインに立った日
                </h3>
                <div href="" class="c-button--arrow story-item__button"><svg class="icon icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>このストーリーを見る</div>
              </div>
            </a>
          </li>
          <li class="story-grid__item">
            <a href="/message/story02.shtml" class="story-item">
              <div class="story-item__bg--02"></div>
              <div class="story-item__wrapper">
                <p class="story-item__number">
                  EPISODE 02
                </p>
                <h3 class="story-item__ttl">
                  人生で今がいちばん充実
                </h3>
                <div href="" class="c-button--arrow story-item__button"><svg class="icon icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>このストーリーを見る</div>
              </div>
            </a>
          </li>
          <li class="story-grid__item">
            <a href="/message/story03.shtml" class="story-item">
              <div class="story-item__bg--03"></div>
              <div class="story-item__wrapper">
                <p class="story-item__number">
                  EPISODE 03
                </p>
                <h3 class="story-item__ttl">
                  聞きたかった言葉
                </h3>
                <div href="" class="c-button--arrow story-item__button"><svg class="icon icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>このストーリーを見る</div>
              </div>
            </a>
          </li>
          <li class="story-grid__item">
            <a href="/message/story04.shtml" class="story-item">
              <div class="story-item__bg--04"></div>
              <div class="story-item__wrapper">
                <p class="story-item__number">
                  EPISODE 04
                </p>
                <h3 class="story-item__ttl">
                  ひと夏の小さな約束
                </h3>
                <div href="" class="c-button--arrow story-item__button"><svg class="icon icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>このストーリーを見る</div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="sec-story__pagenation story-swiper-pagination-md -md"></div>
    <div class="sec-story__bottom">
      <a href="https://www.instagram.com/smileandthankyou/?hl=ja" class="to-insta" target="_blank" id="C_SNS_IG">
        <div class="to-insta__icon">
          <svg class="icon icon--sns"><use xlink:href="#svg-sns-icon01"></use></svg>
        </div>
        <div class="to-insta__txts">
          <p class="to-insta__ttl">
            INSTAGRAM
          </p>
          <p class="to-insta__txt">
            その他のスマサンストーリーも<br class="u-d-md-none">公式インスタグラムでぞくぞく紹介中！
          </p>
          <div class="entry-offering u-d-md-none">
            <span class="entry-offering__arrow"><svg class="icon" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg></span>Instagramを見る
          </div>
        </div>
        <svg class="icon icon--arrow u-d-none u-d-md-block" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>
      </a>
    </div>
  </div>
</section>