<div class="page-loading" id="js-loading">
  <div class="page-loading__progress">
    <div class="progress" id="js-loading-progress"></div>
  </div>
  <div class="page-loading__body">
    <p class="logo">
      <svg version="1.1" id="レイヤー_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 47.5 32.4" xml:space="preserve"><style>.st0{fill:#ea6a68}</style><path d="M10.8 13.8c0 1.2-.9 2.1-2.1 2.1-1.2 0-2.1-.9-2.1-2.1s.9-2.1 2.1-2.1c1.1 0 2.1.9 2.1 2.1zM25.9 13.8c0 1.2-.9 2.1-2.1 2.1-1.2 0-2.1-.9-2.1-2.1s.9-2.1 2.1-2.1c1.1 0 2.1.9 2.1 2.1z"/><path class="st0" d="M31.3 26.7c-2.9 0-5.2-2.3-5.2-5.2 0-.5.4-1 1-1h8.5c.5 0 1 .4 1 1-.1 2.9-2.4 5.2-5.3 5.2zm-3.1-4.2c.4 1.3 1.6 2.2 3.1 2.2 1.4 0 2.7-.9 3.1-2.2h-6.2zM16.2 27.4c-1.2 0-2.4-.2-3.6-.7-1.1-.5-2.1-1.1-2.9-2-.8-.8-1.5-1.8-2-2.9-.2-.5 0-1.1.5-1.3.5-.2 1.1 0 1.3.5.4.9.9 1.6 1.5 2.3.7.7 1.4 1.2 2.3 1.5 1.8.7 3.8.7 5.6 0 .9-.4 1.6-.9 2.3-1.5.7-.7 1.2-1.4 1.5-2.3.2-.5.8-.7 1.3-.5.5.2.7.8.5 1.3-.5 1.1-1.1 2.1-2 2.9-.8.8-1.8 1.5-2.9 2-1 .5-2.2.7-3.4.7z"/><path d="M16.2 32.4C7.3 32.4 0 25.2 0 16.2 0 7.3 7.3 0 16.2 0c1.1 0 2.2.1 3.3.3.6.1 1 .7.9 1.3-.1.6-.7 1-1.3.9-.9-.2-1.9-.3-2.8-.3-7.7 0-14 6.3-14 14s6.3 14 14 14c2.5 0 4.9-.6 7-1.9.5-.3 1.2-.1 1.5.4.3.5.1 1.2-.4 1.5-2.5 1.5-5.3 2.2-8.2 2.2z" fill="#abcd2a"/><path d="M41.1 13.8c0-.5-.4-1-1-1h-1l.9-.8c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0l-2.5 2.5c-.2.2-.3.4-.3.7 0 .3.1.5.3.7l2.5 2.5c.2.2.4.3.7.3.3 0 .5-.1.7-.3.4-.4.4-1 0-1.4l-.8-.8h1c.5 0 .9-.5.9-1z"/><path d="M41.1 3.3c1.6-.7 3.4-1.1 5.3-1.1.6 0 1.1-.5 1.1-1.1C47.5.5 47 0 46.4 0c-2.7 0-5.3.7-7.5 1.9C36.6.7 34 0 31.3 0c-8.9 0-16.2 7.3-16.2 16.2v3.1c0 .6.5 1.1 1.1 1.1s1.1-.5 1.1-1.1v-3.1c0-7.7 6.3-14 14-14 1.9 0 3.7.4 5.3 1.1-3.9 3-6.4 7.7-6.4 12.9v1.1c0 .6.5 1.1 1.1 1.1.6 0 1.1-.5 1.1-1.1v-1.1c0-4.9 2.6-9.3 6.4-11.8 3.9 2.5 6.4 6.8 6.4 11.8 0 7.7-6.3 14-14 14-2.5 0-4.9-.6-7-1.9-.5-.3-1.2-.1-1.5.4-.3.5-.1 1.2.4 1.5 2.5 1.4 5.3 2.2 8.1 2.2 8.9 0 16.2-7.3 16.2-16.2.1-5.3-2.4-9.9-6.3-12.9z" fill="#f8bd05"/></svg>
    </p>
    <p class="text"><span class="color-green">NOW</span> <span class="color-orange">LOADING</span></p>
  </div>
</div>
