.cv {
  position: relative;
  z-index: 90;
  padding: 60px 0;
  background: #ecf3f4;

  @include media-breakpoint-up(md) {
    padding: 120px 0;
  }

  &__heading {
    text-align: center;
  }

  &__content {
    margin-top: 10px;

    @include media-breakpoint-up(md) {
      display: flex;
      margin: 70px -15px 0;
    }
  }

  &__button {
    padding-top: 25px;

    @include media-breakpoint-up(md) {
      width: 50%;
      padding: 0 15px;
    }

    a {
      flex-direction: column;
      height: 80px;
      font-size: 18px;
      border-radius: 80px;

      @include media-breakpoint-up(md) {
        height: 100px;
        font-size: 22px;
        border-radius: 80px;
      }
    }

    p {
      font-weight: 600;
      text-align: center;
    }

    span {
      font-size: 14px;
      font-weight: 400;

      @include media-breakpoint-up(md) {
        font-size: 16px;
      }
    }
  }

  .c-button--graduate {
    background-color: #abcd2a;
    border-color: #abcd2a;

    &:hover {
      @include media-breakpoint-up(md) {
        color: #abcd2a;
        background: #fff;
      }
    }
  }

  .c-button--career {
    background-color: #f7ba2b;
    border-color: #f7ba2b;

    &:hover {
      @include media-breakpoint-up(md) {
        color: #f7ba2b;
        background: #fff;
      }
    }
  }
}
