.page-loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #fff;

  &__progress {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #d7d8d9;

    .progress {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: #373e42;
      transition: width 0.8s $ease-out-sine;
    }
  }

  &__body {
    position: relative;
    padding: 0 15px;
    text-align: center;
    background: #fff;

    .logo {
      svg {
        width: 90px;
        height: 62px;

        @include media-breakpoint-up(md) {
          width: 130px;
          height: 90px;
        }
      }
    }

    .text {
      margin: 10px 0 0;
      font-family: $base-en-font01;
      font-size: 11px;
      font-weight: 500;
      letter-spacing: 0.05em;

      @include media-breakpoint-up(md) {
        margin: 15px 0 0;
        font-size: 16px;
      }

      .color-green {
        color: $base-color02;
      }

      .color-orange {
        color: $base-color01;
      }
    }
  }
}

/* ------------------------------------------------
* loading-state done
------------------------------------------------ */

[loading-state='done'] {
  .page-loading {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s $ease-out-sine, visibility 0.5s $ease-out-sine;
  }

  .page-loading__progress {
    opacity: 0;
    transition: opacity 0.5s $ease-out-sine, transform 0.5s $ease-out-sine;
    transform: translate3d(100%, 0, 0);
  }

  .page-loading__progress {
    transition-delay: 1.5s;
  }

  .page-loading {
    transition-delay: 2s;
  }
}
