<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>採用情報｜スマイルアンドサンキュー株式会社 採用サイト</title>
  <meta name="description" content="整骨院・接骨院・鍼灸院のスマイルアンドサンキュー株式会社の採用情報サイト。詳細な採用情報について紹介しております。">

  <meta property="og:title" content="採用情報｜スマイルアンドサンキュー株式会社 採用サイト"><!-- To support Twitter Cards you need to fill in the content. -->
  <meta property="og:type" content="article"><!-- You need to fill in the content with "website" for the top page, and "article" for the other pages. -->
  <meta property="og:image" content="http://recruit.smile-39.com/assets/images/ogp.png"><!-- You need to fill in the content with the production URL of the image. -->
  <meta property="og:url" content="http://recruit.smile-39.com/recruit/graduate.shtml"><!-- You need to fill in the content with the production URL of this page. -->
  <meta property="og:description" content="整骨院・接骨院・鍼灸院のスマイルアンドサンキュー株式会社の採用情報サイト。詳細な採用情報について紹介しております。"><!-- To support Twitter Cards this tag is required, and you need to fill in the content. -->
  <meta name="twitter:card" content="summary">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

<!--#include virtual="/includes/gtm-head.inc" -->

  <link rel="stylesheet" href="/assets/styles/main.css">
  <link rel="stylesheet" href="/assets/styles/pages/common/style.css">
  <link rel="stylesheet" href="/assets/styles/pages/recruit/style.css">
</head>

<body>

  <%- include('/functions') %>
  <!--#include virtual="/includes/gtm-body.inc" -->

  <div class="l-page">
    <!--#include virtual="/includes/header.inc" -->

    <main class="l-main">

      <%- include('/lower_page_head', {
        textEn01: 'RECRUIT',
        textJa: '採用情報',
        imagePathMd: '/assets/images/pages/recruit/head_bg01_md.jpg',
        imagePathSm: '/assets/images/pages/recruit/head_bg01.jpg',
        colorType: 'fff'
      }) %>

      <section class="sec-recruitment" id="sec-recruitment">
        <div class="sec-recruitment__wrapper">
          <div id="js-tab">
            <div class="tab-list">
              <div class="tab-list__nav">
                <div class="recruitment-button--01 is-active" data-tab-target="new-graduates">
                  <svg class="icon icon--arrow" width="11" height="7"><use xlink:href="#svg-arrow-icon"></use></svg>新卒採用 募集要項
                </div>
                <a href="/recruit/career.shtml" class="recruitment-button--02" data-tab-target="mid-career">
                  <svg class="icon icon--arrow" width="11" height="7"><use xlink:href="#svg-arrow-icon"></use></svg>中途採用 募集要項
                </a>
              </div>
            </div><!-- .c-tab-selector -->

            <div class="tab-wrap js-tab-wrapper">

              <div class="tab-content is-active" id="new-graduates">
                <div class="tab-content__inner">
                  <h2 class="c-sec-ttl tab-content__title show-animation js-io-element">
                    <span class="c-sec-ttl__jp">
                      新卒採用 募集要項
                    </span><br>
                    <span class="c-sec-ttl__en">
                      <span class="c-sec-ttl__color01">RECRUITMENT</span>
                    </span>
                  </h2>
                  <ul class="tab-content__body">
                    <li class="tab-item show-animation js-io-element">
                      <dl class="tab-item__wrapper">
                        <dt class="tab-item__title">募集内容</dt>
                        <dd class="tab-item__descript">
                          <p class="text-block">
                            当社整骨院の医療スタッフ<br>院長、副院長など昇進は全て立候補制、頑張る人に待遇で応えます！
                          </p>
                        </dd>
                      </dl>
                    </li>
                    <li class="tab-item show-animation js-io-element">
                      <dl class="tab-item__wrapper">
                        <dt class="tab-item__title">雇用形態</dt>
                        <dd class="tab-item__descript">
                          <p class="text-block">
                            正社員
                          </p>
                        </dd>
                      </dl>
                    </li>
                    <li class="tab-item show-animation js-io-element">
                      <dl class="tab-item__wrapper">
                        <dt class="tab-item__title">仕事内容</dt>
                        <dd class="tab-item__descript">
                          <p class="text-block">
                            整骨院での施術、アシスタント<br>院長に昇格されると治療院管理業務、レセプト、経営管理等も経験出来ます。
                          </p>
                        </dd>
                      </dl>
                    </li>
                    <li class="tab-item show-animation js-io-element">
                      <dl class="tab-item__wrapper">
                        <dt class="tab-item__title">応募資格</dt>
                        <dd class="tab-item__descript">
                          <p class="text-block">
                            【施術スタッフ】<br>
                            国家資格取得予定の学生（柔道整復師、鍼灸師、マッサージ師）
                          </p>
                          <p class="text-block">
                            【補助スタッフ】<br>
                            ・専門学校の1年生、2年生、大学の1年生～3年生<br>
                            ・明るく前向きな人。<br>
                            ・素直な人。<br>
                            ・まずはやってみるという人。<br>
                            ・成長したいと心から思っている人。
                          </p>
                          <p class="text-block">
                            いまの技術は問いません。未経験者歓迎、お気軽にご相談ください！
                          </p>
                        </dd>
                      </dl>
                    </li>
                    <li class="tab-item show-animation js-io-element">
                      <dl class="tab-item__wrapper">
                        <dt class="tab-item__title">勤務地</dt>
                        <dd class="tab-item__descript">
                          <p class="text-block">
                            【勤務エリア】<br>
                            世田谷区、杉並区、品川区、渋谷区、中野区、大田区、板橋区、調布市
                          </p>
                          <p class="text-block">
                            【最寄駅】<br>
                            小田急線（祖師ヶ谷大蔵駅、経堂駅、豪徳寺駅）京王線（仙川駅、笹塚駅、代田橋）中央線（高円寺駅、阿佐ヶ谷駅、東中野駅）東急池上線（戸越銀座駅、久が原駅、矢口渡駅）東急大井町線（中延駅、尾山台駅）東急田園都市線（三軒茶屋駅）京浜東北線（蒲田駅）三田線（板橋区役所前駅）
                          </p>
                          <p class="text-block">
                            ※更に今後続々オープン予定！
                          </p>
                        </dd>
                      </dl>
                    </li>
                    <li class="tab-item show-animation js-io-element">
                      <dl class="tab-item__wrapper">
                        <dt class="tab-item__title">勤務時間</dt>
                        <dd class="tab-item__descript">
                          <p class="text-block">
                            平日 8:30～12：05 / 14：55～20：05<br>
                            土曜・日曜・祝日 8：30～12：05 / 14：55～18：05<br>※週休2日制のシフト勤務。夏休み等は調整して取得できます。
                          </p>
                        </dd>
                      </dl>
                    </li>
                    <li class="tab-item show-animation js-io-element">
                      <dl class="tab-item__wrapper">
                        <dt class="tab-item__title">給与</dt>
                        <dd class="tab-item__descript">
                          <p class="text-block">
                            柔道整復師・鍼灸師・マッサージ師：月給24万9520円 ＋ 業績に応じた賞与<br>
                            ※昇給年1回+役職に応じて昇給あり<br>
                            ※賞与：年2回<br>
                            ※2ヶ月の研修中も同給与<br>
                            ※ワークシフト制度を利用した場合、新人でも最大＋約5万円
                          </p>
                        </dd>
                      </dl>
                    </li>
                    <li class="tab-item show-animation js-io-element">
                      <dl class="tab-item__wrapper">
                        <dt class="tab-item__title">待遇</dt>
                        <dd class="tab-item__descript">
                          <p class="text-block">
                            社保完備、社員寮完備、近所手当<br>交通費、各種報奨金、各種手当などユニークで手厚い福利厚生
                          </p>
                          <p class="text-block">
                            月に１度、終日使って社員全員で勉強会を実施中<br>
                            技術、経営、人間力を磨く各種勉強会を開催。<br>
                            整形外科の医師の講義や心理学の講義等も定期的に開催
                          </p>
                          <p class="text-block">
                            新卒者は2ヶ月間の研修を実施後に現場配属になります。<br>必要な知識・技術をしっかり学んでからの配属ですので、未経験の方もご安心ください。
                          </p>
                        </dd>
                      </dl>
                    </li>
                    <li class="tab-item show-animation js-io-element">
                      <dl class="tab-item__wrapper">
                        <dt class="tab-item__title">休日休暇</dt>
                        <dd class="tab-item__descript">
                          <p class="text-block">
                            年末年始<br>シフト制による週休2日体制。もちろん有給休暇もあります。<br>1週間の海外旅行や帰省など充実したプライベートを満喫中！
                          </p>
                        </dd>
                      </dl>
                    </li>
                    <li class="tab-item show-animation js-io-element">
                      <dl class="tab-item__wrapper">
                        <dt class="tab-item__title">募集人数</dt>
                        <dd class="tab-item__descript">
                          <p class="text-block">
                            50名
                          </p>
                        </dd>
                      </dl>
                    </li>
                    <li class="tab-item show-animation js-io-element">
                      <dl class="tab-item__wrapper">
                        <dt class="tab-item__title">応募方法</dt>
                        <dd class="tab-item__descript">
                          <p class="text-block">
                            エントリーフォームまたはメールや電話にて受け付けております。<br>
                            メール：<a href="mailto:job39@smile-39.com" class="">job39@smile-39.com</a><br>
                            電話：<a href="tel:0354877177" class="">03-5487-7177 （担当：人事部）</a>
                          </p>
                        </dd>
                      </dl>
                    </li>
                  </ul>
                  <a href="/recruit/entry/graduate/" class="c-button--arrow tab-content__button tab-content__button--01 show-animation js-io-element" id="C_N_ENTRY"><svg class="icon icon--arrow" width="11" height="7"><use xlink:href="#svg-arrow-icon"></use></svg>新卒採用エントリー</a>
                </div>
              </div><!-- .tab-content -->

            </div><!-- tab-wrap -->
          </div>
        </div>
      </section>

      <section class="sec-benefit" id="welfare-benefits">
        <div class="l-container">
          <div class="sec-benefit__wrapper">
            <h2 class="c-sec-ttl sec-benefit__title show-animation js-io-element">
              <span class="c-sec-ttl__jp">
                福利厚生
              </span><br>
              <span class="c-sec-ttl__en">
                <span class="c-sec-ttl__color01">BENE</span>&nbsp;<span class="c-sec-ttl__color02">FIT</span>
              </span>
            </h2>
            <div class="sec-benefit__head">
              <h3 class="sec-benefit__lead show-animation js-io-element">
                仕事が楽しくなる！<br class="u-d-md-none">皆が成長できる！<br>それをバックアップする<br class="u-d-md-none">制度があります！
              </h3>
              <p class="sec-benefit__sub-lead show-animation js-io-element">
                当社は楽しく働くことを大事にしています。そして皆で成長することを目指しています。<br>頑張る人、成長した人は評価し、報酬と待遇で応えます。
              </p>
            </div>
            <div class="sec-benefit__body">
              <div class="benefit">
                <dl class="benefit-item show-animation js-io-element" data-num="01">
                  <dt class="benefit-item__titile">
                    週休２日制 / シフト制
                  </dt>
                  <dd class="benefit-item__descript">
                    シフト制による週休２日制なので、個人の都合に合わせて休日を組むことが可能です。また社内定期勉強会（１回/月）は出勤日に実施しており、休日を返上した勉強会はありません。
                  </dd>
                </dl>
                <dl class="benefit-item show-animation js-io-element" data-num="02">
                  <dt class="benefit-item__titile">
                    社会保険完備
                  </dt>
                  <dd class="benefit-item__descript">
                    社員とその家族を大切にしたいという想いで、健康保険、厚生年金、雇用保険、労働保険と一般的に企業が備える保険はすべて加入しております。
                  </dd>
                </dl>
                <dl class="benefit-item show-animation js-io-element" data-num="03">
                  <dt class="benefit-item__titile">
                    近隣手当 15,000円/月
                  </dt>
                  <dd class="benefit-item__descript">
                    配属院周辺に住むと毎月15,000円の手当てが出ます。仕事で遅くなったとき、院の皆で飲んだときなど家が近いと便利ですよね。 便利な上に、手当ても出る嬉しい制度です。
                  </dd>
                </dl>
                <dl class="benefit-item show-animation js-io-element" data-num="04">
                  <dt class="benefit-item__titile">
                    産休及び育児休暇
                  </dt>
                  <dd class="benefit-item__descript">
                    安心して子育てができるように、産休及び育児休暇を取得することが可能です。また、社会保険に加入しているので、休業に伴う各種給付金も受け取ることができます。
                  </dd>
                </dl>
                <dl class="benefit-item show-animation js-io-element" data-num="05">
                  <dt class="benefit-item__titile">
                    チームワーク助成金
                  </dt>
                  <dd class="benefit-item__descript">
                    当社は「仲間」と「チームワーク」をとても大事にしています。院内のチームワークを良くするために、各院に補助金を支給しております。飲み会、BBQ、野球、ボーリング等…皆でやるなら何でもOK。コミュニケーションを図れる機会を支援します。
                  </dd>
                </dl>
                <dl class="benefit-item show-animation js-io-element" data-num="06">
                  <dt class="benefit-item__titile">
                    iPad支給
                    <figure class="u-d-md-block u-d-none benefit-item__img">
                      <img src="@img-recruit/ipad01_md.png" alt="">
                    </figure>
                  </dt>
                  <dd class="benefit-item__descript">
                    <figure class="u-d-md-none benefit-item__img">
                      <img src="@img-recruit/ipad01.png" alt="" width="93" height="120">
                    </figure>
                    <p class="benefit-item__text">
                      社員間のコミュニケーションツールとして、またキャリアアップのサポートツールとしてiPadを支給。社内研修での活用はもちろん、社外での使用も可能。各自のキャリアアップやライフサポートに活用して下さい。
                    </p>
                  </dd>
                </dl>
                <dl class="benefit-item show-animation js-io-element" data-num="07">
                  <dt class="benefit-item__titile">
                    独立開業支援制度
                  </dt>
                  <dd class="benefit-item__descript">
                    弊社の代表は2001年に世界的な起業家表彰制度アントレプレナー・オブ・ザ・イヤーのセミファイナリストにまで選ばれた経営者。プロの経営者である代表が、経営の初歩、財務諸表の見方、リーダシップなど経営の要諦を教える研修を開催しています。多用な経営ノウハウを身につけることができる研修と開業を支援する制度を整えております。
                  </dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="sec-faq">
        <div class="l-container">
          <h2 class="c-sec-ttl sec-benefit__title show-animation js-io-element">
            <span class="c-sec-ttl__jp">
              よくあるご質問
            </span><br>
            <span class="c-sec-ttl__en">
              <span class="c-sec-ttl__color01">FA</span><span class="c-sec-ttl__color02">Q</span>
            </span>
          </h2>
          <ul class="faq-item js-scroll-active">
            <li class="faq-item__ls show-animation js-io-element">
              <button class="question" js-gtm-trigger id="faq-toggler-01" aria-controls="faq-collapsible-01" data-collapse-toggler>
                <span class="circle circle--q">Q</span>
                <h3 class="question__ttl" js-gtm-trigger-child>
                  応募してから内定をもらえるまでの流れを教えて下さい。
                </h3>
                <div class="question__acc">
                  <span class="line"></span>
                </div>
              </button>
              <div class="answer" id="faq-collapsible-01" aria-labelledby="faq-collapse-toggler-01">
                <div class="answer__wrap">
                  <span class="circle circle--a">A</span>
                  <p class="answer__txt">
                    基本的な流れ：会社説明＆院見学→面接選考（１～２回）。<br>会社説明会＆院見学は選考でなく職場見学がメインです。面接選考実施後、1週間以内に選考結果のご連絡をさせていただきます。
                  </p>
                </div>
              </div>
            </li>
            <li class="faq-item__ls show-animation js-io-element">
              <button class="question" js-gtm-trigger id="faq-toggler-02" aria-controls="faq-collapsible-02" data-collapse-toggler>
                <span class="circle circle--q">Q</span>
                <h3 class="question__ttl" js-gtm-trigger-child>
                  院見学の実施時期について知りたいです。
                </h3>
                <div class="question__acc">
                  <span class="line"></span>
                </div>
              </button>
              <div class="answer" id="faq-collapsible-02" aria-labelledby="faq-collapse-toggler-02">
                <div class="answer__wrap">
                  <span class="circle circle--a">A</span>
                  <p class="answer__txt">
                    ご都合に合わせて調整いたしますので、お気軽にご連絡ください。
                  </p>
                </div>
              </div>
            </li>
            <li class="faq-item__ls show-animation js-io-element">
              <button class="question" js-gtm-trigger id="faq-toggler-03" aria-controls="faq-collapsible-03" data-collapse-toggler>
                <span class="circle circle--q">Q</span>
                <h3 class="question__ttl" js-gtm-trigger-child>
                  どのようなキャリアがありますか？
                </h3>
                <div class="question__acc">
                  <span class="line"></span>
                </div>
              </button>
              <div class="answer" id="faq-collapsible-03" aria-labelledby="faq-collapse-toggler-03">
                <div class="answer__wrap">
                  <span class="circle circle--a">A</span>
                  <p class="answer__txt">
                    基本的なキャリアアップ：スタッフ→副院長→院長<br>その後はエリアマネージャー、独立開業、本部スタッフなど幅広い経験が可能です。<br>詳しくは<a href="/growth/" class="answer__link">こちらのページ</a>をご参照ください。
                  </p>
                </div>
              </div>
            </li>
            <li class="faq-item__ls show-animation js-io-element">
              <button class="question" js-gtm-trigger id="faq-toggler-04" aria-controls="faq-collapsible-04" data-collapse-toggler>
                <span class="circle circle--q">Q</span>
                <h3 class="question__ttl" js-gtm-trigger-child>
                  どのような研修・勉強会がありますか？
                </h3>
                <div class="question__acc">
                  <span class="line"></span>
                </div>
              </button>
              <div class="answer" id="faq-collapsible-04" aria-labelledby="faq-collapse-toggler-04">
                <div class="answer__wrap">
                  <span class="circle circle--a">A</span>
                  <p class="answer__txt">
                    月1回、出勤日にて研修を実施しております。定期的な研修によって継続的なキャリアアップができます。<br>その他にもキャリアに合わせた研修や勉強会を多岐にわたって実施しております。<br>詳しくは<a href="/growth/training" class="answer__link">こちらのページ</a>をご参照ください。
                  </p>
                </div>
              </div>
            </li>
            <li class="faq-item__ls show-animation js-io-element">
              <button class="question" js-gtm-trigger id="faq-toggler-05" aria-controls="faq-collapsible-05" data-collapse-toggler>
                <span class="circle circle--q">Q</span>
                <h3 class="question__ttl" js-gtm-trigger-child>
                  どのような福利厚生がありますか？
                </h3>
                <div class="question__acc">
                  <span class="line"></span>
                </div>
              </button>
              <div class="answer" id="faq-collapsible-05" aria-labelledby="faq-collapse-toggler-05">
                <div class="answer__wrap">
                  <span class="circle circle--a">A</span>
                  <p class="answer__txt">
                    一般的な企業が加入している社会保険、住宅手当や産休及び育児休暇などさまざまな福利厚生制度を導入しております。<br>詳しくは<a data-target="welfare-benefits" href="#welfare-benefits" class="js-scroller answer__link">こちらのページ</a>をご参照ください。
                  </p>
                </div>
              </div>
            </li>
            <li class="faq-item__ls show-animation js-io-element">
              <button class="question" js-gtm-trigger id="faq-toggler-06" aria-controls="faq-collapsible-06" data-collapse-toggler>
                <span class="circle circle--q">Q</span>
                <h3 class="question__ttl" js-gtm-trigger-child>
                  採用基準について教えて下さい。
                </h3>
                <div class="question__acc">
                  <span class="line"></span>
                </div>
              </button>
              <div class="answer" id="faq-collapsible-06" aria-labelledby="faq-collapse-toggler-06">
                <div class="answer__wrap">
                  <span class="circle circle--a">A</span>
                  <p class="answer__txt">
                    実務未経験でもご安心ください。<br>大切な事は「医療家として患者様に貢献したい気持ちがどのくらいあるか」です。面接ではその点を重視させていただきます。
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>


    </main><!-- .l-main -->

    <!--#include virtual="/includes/footer.inc" -->

  <div class="u-d-none">
    <%- include('/_svg-symbols') %>
  </div>

  </div><!-- .l-page -->

  <script src="/assets/scripts/vendors.js" defer></script>
  <script src="/assets/scripts/pages/common.js" defer></script>
  <script src="/assets/scripts/pages/recruit/index.js" defer></script>


  <!-- ここから 構造化データ -->
  <script type="application/ld+json">
      {
          "@context": "http://schema.org",
          "@type": "JobPosting",
          "title": "スマイルアンドサンキュー株式会社 整骨院の医療スタッフ",
          "datePosted": "2021-02-05",
          "employmentType": "正社員",
          "hiringOrganization": {
              "@type": "Organization",
              "name": "スマイルアンドサンキュー株式会社",
              "sameAs" : "https://www.smile-39.com/",
              "logo": "https://recruit.smile-39.com/assets/images/pages/common/smile_39_logo.png"
          },
          "jobLocation": [
              {
                  "@type": "Place",
                  "address": {
                      "@type": "PostalAddress",
                      "addressCountry": "JP",
                      "addressRegion": "東京都",
                      "addressLocality": "世田谷区"
                  }
              },
              {
                  "@type": "Place",
                  "address": {
                      "@type": "PostalAddress",
                      "addressCountry": "JP",
                      "addressRegion": "東京都",
                      "addressLocality": "杉並区"
                  }
              },
              {
                  "@type": "Place",
                  "address": {
                      "@type": "PostalAddress",
                      "addressCountry": "JP",
                      "addressRegion": "東京都",
                      "addressLocality": "品川区"
                  }
              },
              {
                  "@type": "Place",
                  "address": {
                      "@type": "PostalAddress",
                      "addressCountry": "JP",
                      "addressRegion": "東京都",
                      "addressLocality": "渋谷区"
                  }
              },
              {
                  "@type": "Place",
                  "address": {
                      "@type": "PostalAddress",
                      "addressCountry": "JP",
                      "addressRegion": "東京都",
                      "addressLocality": "中野区"
                  }
              },
              {
                  "@type": "Place",
                  "address": {
                      "@type": "PostalAddress",
                      "addressCountry": "JP",
                      "addressRegion": "東京都",
                      "addressLocality": "大田区"
                  }
              },
              {
                  "@type": "Place",
                  "address": {
                      "@type": "PostalAddress",
                      "addressCountry": "JP",
                      "addressRegion": "東京都",
                      "addressLocality": "板橋区"
                  }
              },
              {
                  "@type": "Place",
                  "address": {
                      "@type": "PostalAddress",
                      "addressCountry": "JP",
                      "addressRegion": "東京都",
                      "addressLocality": "調布市"
                  }
              }
          ],
          "baseSalary": {
              "@type": "MonetaryAmount",
              "currency": "JPY",
              "value": {
                  "@type": "QuantitativeValue",
                  "value": 249520,
                  "unitText": "MONTH"
              }
          },
          "description": "<p>新卒採用 募集要項</p><p>募集内容</p><p>当社整骨院の医療スタッフ<br>院長、副院長など昇進は全て立候補制、頑張る人に待遇でえます！</p><p>雇用形態</p><p>正社員</p><p>仕事内容</p><p>整骨院での施術、アシスタント<br>院長に昇格されると治療院管理業務、レセプト、経営理等も経験出来ます。</p><p>応募資格</p><p>【施術スタッフ】<br>国家資格取得予定の学生（柔道整復師、鍼灸師、マッサージ師）</p><p>【補助スタッフ】<br>・専門学校の1年生、2年生、大学の1年生～3年生<br>・明るく前きな人。<br>・素直な人。<br>・まずはやってみるという人。<br>・成長したいと心から思っている人。</p><p>いまの技術は問いません。未経験者歓迎、お気軽にご相談ください！</p><p>勤務地</p><p>【勤務エリア】<br>世田谷区、杉並区、品川区、渋谷区、中野区、大田区、板橋区、調布</p><p>【最寄駅】<br>小田急線（祖師ヶ谷大蔵駅、経堂駅、豪徳寺駅）京王線（仙川駅、笹塚駅代田橋）中央線（高円寺駅、阿佐ヶ谷駅、東中野駅）東急池上線（戸越銀座駅、久が原駅、矢口渡駅）東急大井町線（中延駅、尾山台駅）東急田園都市線（三軒茶屋駅）京浜東北線（蒲田駅）三田線（板橋区役所前駅）</p><p>※更に今後続々オープン予定！</p><p>勤務時間</p><p>平日 8:30～12：05 / 14：55～20：05<br>土曜・日曜・祝日 8：30～12：05 / 1455～18：05<br>※週休2日制のシフト勤務。夏休み等は調整して取得できます。</p><p>給与</p><p>柔道整復師・鍼灸師・マッサージ師：月給24万9520円 ＋ 業績に応じた賞与<br>※昇給年回+役職に応じて昇給あり<br>※賞与：年2回<br>※2ヶ月の研修中も同給与<br>※ワークシフト制度を利用した場合、新人でも最大＋約5万円</p><p>待遇</p><p>社保完備、社員寮完備、近所手当<br>交通費、各種報奨金、各種手当などユニークで手厚福利厚生</p><p>月に１度、終日使って社員全員で勉強会を実施中<br>技術、経営、人間力を磨く各種勉強を開催。<br>整形外科の医師の講義や心理学の講義等も定期的に開催</p><p>新卒者は2ヶ月間の研修を実施後に現場配属になります。<br>必要な知識・技術をしっかりんでからの配属ですので、未経験の方もご安心ください。</p><p>休日休暇</p><p>年末年始<br>シフト制による週休2日体制。もちろん有給休暇もあります。<br>1週間の海旅行や帰省など充実したプライベートを満喫中！</p><p>募集人数</p><p>50名</p><p>応募方法</p><p>エントリーフォームまたはメールや電話にて受け付けております。<br>メールjob39@smile-39.com<br>電話：03-5487-7177 （担当：人事部）</p>"
      }
    </script>
  <!-- ここまで 構造化データ -->


</body>

</html>
