.sec-news-detail {
  position: relative;
  margin: 80px 0 100px;

  @include media-breakpoint-up(md) {
    margin: 150px 0 200px;
  }

  &__head {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(#373e42, 0.2);

    @include media-breakpoint-up(md) {
      padding-bottom: 40px;
    }
  }

  &__body {
    margin-top: 50px;

    @include media-breakpoint-up(md) {
      margin-top: 80px;
    }
  }

  &__lower {
    margin-top: 70px;

    @include media-breakpoint-up(md) {
      margin-top: 120px;
    }
  }
}

.sentence {
  > *:last-child {
    margin-bottom: 0;
  }

  &__ttl {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.9;
    letter-spacing: 0.07em;

    @include media-breakpoint-up(md) {
      margin-bottom: 30px;
      font-size: 24px;
    }
  }

  &__text {
    margin-bottom: 25px;
    font-size: 13px;
    line-height: 2.4;
    letter-spacing: 0.07em;

    @include media-breakpoint-up(md) {
      margin-bottom: 30px;
      font-size: 14px;
      line-height: 2.5;
    }
  }

  &__img {
    margin: 45px auto;
    text-align: center;

    @include media-breakpoint-up(md) {
      margin: 70px auto;
    }

    img {
      @include media-breakpoint-down(sm) {
        width: 100%;
        height: auto;
      }
    }
  }

  &__ttl-h3 {
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 400;
    line-height: 2.1;
    letter-spacing: 0.07em;

    @include media-breakpoint-up(md) {
      margin-bottom: 30px;
      font-size: 20px;
      line-height: 2.3;
    }
  }

  &__text-link {
    position: relative;
    display: inline-block;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      content: '';
      background: rgba(#373e42, 0.2);
      transition: 0.3s $ease-base;
    }

    &:hover {
      &::after {
        @include media-breakpoint-up(md) {
          background: #373e42;
        }
      }
    }
  }
}

.head-item {
  display: flex;
  align-items: center;
  margin: 0 -9px;
  font-family: $base-en-font01;
  font-weight: 400;

  @include media-breakpoint-up(md) {
    margin: 0 -30px;
  }

  &__create-at,
  &__category {
    padding: 0 9px;
    font-size: 12px;
    letter-spacing: 0.05em;

    @include media-breakpoint-up(md) {
      padding: 0 30px;
      font-size: 13px;
    }
  }

  .category {
    padding: 6px 25px 5px;
    line-height: 1;
    color: #9faaac;
    background: $base-color03;
    border-radius: 11px;

    @include media-breakpoint-up(md) {
      padding: 7px 32px 6px;
      border-radius: 14px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 11px;
    }
  }
}

.head-ttl {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.9;
  letter-spacing: 0.07em;

  @include media-breakpoint-up(md) {
    margin-top: 30px;
    font-size: 24px;
    line-height: 1.9;
  }
}

.sentence-link {
  $this: #{&};

  position: relative;
  display: inline-flex;
  align-items: center;
  padding-bottom: 5px;
  font-size: 13px;
  letter-spacing: 0.07em;

  @include media-breakpoint-up(md) {
    font-size: 14px;
  }

  &::after,
  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    content: '';
    background: #d7d8d9;
  }

  &::after {
    background: #373e42;
    transition: transform 0.5s $ease-base;
    transform: scaleX(0);
    transform-origin: right;

    @at-root #{$this}:hover:after {
      @include media-breakpoint-up(md) {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }

  &__arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;

    @include media-breakpoint-up(md) {
      padding-right: 15px;
    }
  }

  .icon {
    @include media-breakpoint-up(md) {
      transition: 0.3s $ease-base;

      @at-root #{$this}:hover .icon {
        transform: translate(5px, 0);
      }
    }
  }

  .link-icon {
    padding-left: 6px;
  }
}

.news-list-button {
  $this: #{&};

  display: flex;
  align-items: center;
  width: 260px;
  margin: 0 auto;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.07em;

  @include media-breakpoint-up(md) {
    width: 280px;
  }

  &__icon {
    margin-right: 10px;
    fill: #fff;
    transition: 0.3s $ease-base;

    #{$this}:hover & {
      fill: #373e42;
    }
  }
}
