<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>成長環境について｜スマイルアンドサンキュー株式会社 採用サイト</title>
  <meta name="description" content="整骨院・接骨院・鍼灸院のスマイルアンドサンキュー株式会社の採用情報サイト。充実した成長環境について紹介しております。">

  <meta property="og:title" content="成長環境について｜スマイルアンドサンキュー株式会社 採用サイト"><!-- To support Twitter Cards you need to fill in the content. -->
  <meta property="og:type" content="article"><!-- You need to fill in the content with "website" for the top page, and "article" for the other pages. -->
  <meta property="og:image" content="http://recruit.smile-39.com/assets/images/ogp.png"><!-- You need to fill in the content with the production URL of the image. -->
  <meta property="og:url" content="http://recruit.smile-39.com/growth/"><!-- You need to fill in the content with the production URL of this page. -->
  <meta property="og:description" content="整骨院・接骨院・鍼灸院のスマイルアンドサンキュー株式会社の採用情報サイト。充実した成長環境について紹介しております。"><!-- To support Twitter Cards this tag is required, and you need to fill in the content. -->
  <meta name="twitter:card" content="summary">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

<!--#include virtual="/includes/gtm-head.inc" -->

  <link rel="stylesheet" href="/assets/styles/main.css">
  <link rel="stylesheet" href="/assets/styles/pages/common/style.css">
  <link rel="stylesheet" href="/assets/styles/pages/growth/index/style.css">
</head>

<body>

  <%- include('/functions') %>
  <!--#include virtual="/includes/gtm-body.inc" -->

  <div class="l-page">
    <!--#include virtual="/includes/header.inc" -->

    <main class="l-main">

      <%- include('/lower_page_head', {
        textEn01: 'CAREER',
        textJa: '成長環境',
        imagePathMd: '/assets/images/pages/growth/index/head_bg01_md.jpg',
        imagePathSm: '/assets/images/pages/growth/index/head_bg01.jpg',
        colorType: 'fff'
      }) %>

      <section class="sec-head">
        <div class="l-container">
          <h2 class="sec-head__title show-animation js-io-element">
            未来を拓くステップアップ
          </h2>
          <p class="sec-head__text show-animation js-io-element">
            研修以外に各院内にて積極的に勉強会も実施しており、日常の業務の中に成長するための制度や仕組みがちりばめられています。日常業務をしているうちに、技術力もマネージメント力も人間力も自然に成長していきます。2ヶ月後、半年後、そしてその後も成長し続けて変化していく自分自身を楽しみにして下さい！
          </p>
        </div>
      </section>

      <section class="sec-step sec-step--reverce">
        <div class="l-container">
          <div class="sec-step__wrapper">
            <div class="sec-step__body">
              <div class="step-item">
                <span class="line">
                  <div class="js-line"></div>
                </span>
                <span class="step-item__md-typo js-circle step-item__md-typo--first">
                  STEP.01
                </span>
                <div class="step-item__wrap">
                  <h2 class="step-item__title js-circle" data-num="STEP.01">
                    <span class="circle js-circle"><span class="circle__line"></span></span>
                    <span class="js-circle text">入社後2ヶ月</span>
                  </h2>
                  <p class="step-item__content js-circle">
                    当社の考え方・治療方針及び受付業務や初歩的な治療技術を研修を通して習得します。
                  </p>
                </div>
                <div class="step-item__img js-circle step-item__img--01"></div>
              </div>
              <div class="step-item">
                <span class="line">
                  <div class="js-line"></div>
                </span>
                <span class="step-item__md-typo js-circle">
                  STEP.02
                </span>
                <div class="step-item__wrap">
                  <h2 class="step-item__title js-circle" data-num="STEP.02">
                    <span class="circle js-circle"><span class="circle__line"></span></span>
                    <span class="js-circle text">スタッフ</span>
                  </h2>
                  <p class="step-item__content js-circle">
                    治療院に配属され受付業務や治療技術の基礎を学習し、患者様への接遇・治療を行い医療家としての土台を築きます。<br>スマイルアンドサンキューでは、チームで患者様をフォローする体制を整えているため、先輩の接遇・技術を身近に見ながら成長することができます。
                  </p>
                </div>
                <div class="step-item__img js-circle step-item__img--02"></div>
              </div>
              <div class="step-item">
                <span class="line">
                  <div class="js-line"></div>
                </span>
                <span class="step-item__md-typo js-circle">
                  STEP.03
                </span>
                <div class="step-item__wrap">
                  <h2 class="step-item__title js-circle" data-num="STEP.03">
                    <span class="circle js-circle"><span class="circle__line"></span></span>
                    <span class="js-circle text">副院長</span>
                  </h2>
                  <p class="step-item__content js-circle">
                    より高いレベルの治療技術を磨きます。院長の補佐・後輩の育成を通して次期院長としてステップアップを目指します。
                  </p>
                </div>
                <div class="step-item__img js-circle step-item__img--03"></div>
              </div>
              <div class="step-item">
                <span class="line">
                  <div class="js-line"></div>
                </span>
                <span class="step-item__md-typo js-circle step-item__md-typo--last">
                  STEP.04
                </span>
                <div class="step-item__wrap">
                  <h2 class="step-item__title js-circle" data-num="STEP.04">
                    <span class="circle js-circle"><span class="circle__line"></span></span>
                    <span class="js-circle text">院長</span>
                  </h2>
                  <p class="step-item__content js-circle">
                    全社方針のもとリーダーとして院内全体の運営管理を行います。中心メンバーとして社内のルール作りにも参画します。
                  </p>
                </div>
                <div class="step-item__img js-circle step-item__img--04"></div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="sec-future">
        <div class="l-container">
          <div class="sec-future__wrapper">
            <span class="line">
              <div class="js-line"></div>
            </span>
            <h2 class="sec-future__title js-circle">
              目指せる未来は<br class="u-d-md-none">1つじゃない！
              <span class="circle u-d-md-none js-circle"><span class="circle__line"></span></span>
              <sapn class="title-acc">
                FUTURE
              </sapn>
            </h2>
            <div class="sec-future__box js-circle">
              <div class="future-item">
                <div class="future-item__wrapper js-circle">
                  <span class="future-item__line"></span>
                  <p class="future-item__num">
                    <span class="color-01">FUTURE</span>
                    <span class="color-02">01</span>
                  </p>
                  <p class="future-item__title">
                    エリアマネージャー
                  </p>
                  <p class="future-item__text">
                    院長のリーダーとして<br class="u-d-none u-d-md-block">担当院の指導や経営指導の実施を行います。
                  </p>
                </div>
              </div>
              <div class="future-item">
                <div class="future-item__wrapper js-circle">
                  <span class="future-item__line"></span>
                  <p class="future-item__num">
                    <span class="color-01">FUTURE</span>
                    <span class="color-02">02</span>
                  </p>
                  <p class="future-item__title">
                    独立開業
                  </p>
                  <p class="future-item__text">
                    院長経験を活かし、自分のスタイルで経営したい方は、<br class="u-d-none u-d-md-block">グループ内独立も強力なバックアップをします。<br class="u-d-none u-d-md-block">独立開業も目指すこともできます。
                  </p>
                </div>
              </div>
              <div class="future-item">
                <div class="future-item__wrapper js-circle">
                  <span class="future-item__line"></span>
                  <span class="future-item__hide-line"></span>
                  <p class="future-item__num">
                    <span class="color-01">FUTURE</span>
                    <span class="color-02">03</span>
                  </p>
                  <p class="future-item__title">
                    本部スタッフ
                  </p>
                  <p class="future-item__text">
                    本部スタッフとして、会社を成長させるための<br class="u-d-none u-d-md-block">店舗開発や現場の営業支援を行います。
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="sec-link">
        <div class="l-container">
            <a href="/growth/training/" class="link-box show-animation js-io-element">
              <div class="link-box__bg"></div>
              <h2 class="link-box__title">
                  <span class="link-box__en">TRAINING</span><br>
                <span class="link-box__jp">
                  研修制度
                </span>
              </h2>
              <div class="c-button--arrow link-box__button"><svg class="icon icon--arrow" width="15" height="9"><use xlink:href="#svg-arrow-icon"></use></svg>詳しく見る</div>
            </a>
        </div>
      </section>

    </main><!-- .l-main -->

    <!--#include virtual="/includes/footer.inc" -->

  <div class="u-d-none">
    <%- include('/_svg-symbols') %>
  </div>

  </div><!-- .l-page -->

  <script src="/assets/scripts/vendors.js" defer></script>
  <script src="/assets/scripts/pages/common.js" defer></script>
  <script src="/assets/scripts/pages/growth/index.js" defer></script>
</body>

</html>
