@charset "utf-8";

/*-----------------------------------------------------
Main -common-
-------------------------------------------------------*/
#Main .section span.twitter{
	background:url(../../images/common/ico_twitter.gif) no-repeat 0 50%;
	padding-left:25px;
	margin:0 25px 0 10px;
}
#Main .section span.facebook{
	background:url(../../images/common/ico_facebook.gif) no-repeat 0 50%;
	padding-left:25px;
	margin:0 25px 0 10px;
}
#Main .section textarea{
	width:490px;
	height:100px;
}

/*-----------------------------------------------------
Main -pc-
-------------------------------------------------------*/

/* input
---------------------*/
#Pc #Main .section div.input p{
	margin:5px 0;
}
#Pc #Main .section div.input p.social{
	margin:30px 0 20px 0;
}
#Pc #Main .section div.input p span.label{
	font-weight:bold;
	display:inline-block;
	width:120px;
}
/* btn
---------------------*/
#Pc #Main .section div.btn{
	width:350px;
	margin:40px auto 0 auto;
	overflow:hidden;
}
#Pc #Main p.btn-type01,
#Pc #Main p.btn-type01 input,
#Pc #Main p.btn-type01 span,
#Pc #Main p.btn-type02,
#Pc #Main p.btn-type02 input,
#Pc #Main p.btn-type02 span{
	width:158px;
}
#Pc #Main .section div.btn p{
	float:left;
}
#Pc #Main .section div.btn p.btn-type02{
	margin-left:30px;
}




/*-----------------------------------------------------
Main -smp-
-------------------------------------------------------*/

#Smp #Main .section form{
	padding:10px;
}

#Smp #Main .section div.input p span.label{
	display:block;
	font-weight:bold;
	margin-top:10px;
}

#Smp #Main .section .smp_alert {
    margin-top:8px !important;
}

/* 差戻しメッセージのtextarea */
#Smp #Main .section #app_message {
    width:95%;
}

/* btn
---------------------*/
#Smp #Main .section p.btn-type01,
#Smp #Main .section p.btn-type01 input,
#Smp #Main .section p.btn-type01 span,
#Smp #Main .section p.btn-type02,
#Smp #Main .section p.btn-type02 input,
#Smp #Main .section p.btn-type02 span{
	width:100px;
}
#Smp #Main .section div.btn{
	width:230px;
	margin:20px auto 10px auto;
	overflow:hidden;
}
#Smp #Main .section div.btn p{
	float:left;
	margin:0 5px;
}
