@charset "utf-8";

/*-----------------------------------------------------
Main -common-
-------------------------------------------------------*/

#Main .section .btn{
	overflow:hidden;
}
#Main .section .btn p{
	float:left;
	margin:0 10px;
}

#Main .detail-edit .input-usually {
    background:none !important;
}


/*-----------------------------------------------------
Main -pc-
-------------------------------------------------------*/


/* head-line02
---------------------*/
#Pc #Main .section .head-line02{
	margin-top:10px;
}

/* alert
---------------------*/
#Pc #Main .section .alert{
	margin-bottom:25px;
}
#Pc #Main .section .alert p.fl{
	float:left;
	margin:0;
}
#Pc #Main .section .alert p.fr{
	float:right;
	margin:0;
}
#Pc #Main .section .alert .alert-close{
	float:right;
	text-indent:-9999px;
	height:16px;
	width:16px;
	display:block;
	margin-top:14px;
	background:url(../../images/common/btn_close.png) no-repeat 0 0;
}

/* form
---------------------*/
#Pc #Main .section form{
	margin-bottom:30px;
}
#Pc #Main .section dl{
	overflow:hidden;
	margin-bottom:30px;
	background:url(../../images/common/table_bg_border.gif) repeat-x 0 100%;
}
#Pc #Main .section dt{
	clear:both;
	float:left;
	width:90px;
	padding:12px 0 20px 0;
	font-weight:bold;
}
#Pc #Main .section dt span{
	font-size:92%;
	display:block;
	color:#999;
}
#Pc #Main .section dt span.req{
	color: #D26F6F;
}
#Pc #Main .section dt span.req span{
	color: #fff;
	background: #d26f6e;
	display: inline-block;
	padding: 2px 5px;
	border-radius: 3px;
}
#Pc #Main .section dd{
	float:left;
	width:auto;
	padding:10px 0 20px 0;
	width:750px;
}
#Pc #Main .section dd.detail{
	padding:12px 0 10px 0;
}
#Pc #Main .section dd.detail input{
	margin-right:3px;
}
#Pc #Main .section dd .ex{
	margin-top:10px;
}
#Pc #Main .section dd .date{
	width:180px;
}
#Pc #Main .section dd .text{
	width:690px;
}
#Pc #Main .section dd .text-min{
	width:180px;
}
#Pc #Main .section dd .text-mid{
	width:300px;
}
#Pc #Main .section dd .textarea{
	width:690px;
	padding:3px 5px 3px 5px;
	height:80px;
}
#Pc #Main .section dd select {
	vertical-align: middle;
	min-height: 28px;
	padding: 0 40px 0 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(../../images/common/pulldown_img.gif) right 50% no-repeat;
	background-color: #fff;
	border: 1px solid #c4c4c4;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	outline: none;
}
#Pc #Main .section dd select::-ms-expand {
	display: none;
}
#Pc #Main .section dd label{
	margin:0 18px 0 3px;
}
/* reset */
#Pc #Main .section div.reset{
	overflow:hidden;
	margin-top:10px;
}
#Pc #Main .section div.reset p.btn-type03{
	float:right;
	margin-right:45px;
	width:88px;
	height:28px;
}
#Pc #Main .section div.reset p.btn-type03 a{
	width:88px;
	height:28px;
	line-height:28px;
}


/* Modal
---------------------*/

/* btn-type01
   btn-type02
---------------------*/
#Modal #box-clear .btn{
	width:350px !important;
	margin:40px auto 0 auto;
	overflow:hidden;
}
#Modal .box div.btn p{
	float:left;
}
#Modal .box div.btn p.btn-type02{
	margin-left:30px;
}


/* btn-type01
   btn-type02
---------------------*/
#Pc #Main .section .btn{
	margin:40px auto 0 auto;
	width:540px;
}
#Pc #Main .section .btn.btn-backlist{
	margin:25px auto 20px auto;
	width:540px;
        text-align:center;
}
#Pc #Main p.btn-type01,
#Pc #Main p.btn-type01 input,
#Pc #Main p.btn-type01 span,
#Pc #Modal p.btn-type01,
#Pc #Modal p.btn-type01 input,
#Pc #Modal p.btn-type01 span,
#Pc #Main p.btn-type02,
#Pc #Modal p.btn-type02,
#Pc #Main p.btn-type02 span,
#Pc #Main p.btn-type02 input,
#Pc #Modal p.btn-type02 span,
#Pc #Modal p.btn-type02 input{
	width:158px !important;
}

/** image select area */
#Pc #Main .section .btn.img_area {
    margin:0;
}
#Pc #Main p.btn-type01.img_btn,
#Pc #Main p.btn-type01.img_btn input,
#Pc #Main p.btn-type02.img_delete_btn,
#Pc #Main p.btn-type02.img_delete_btn input {
    width:90px !important;
    height:28px !important;
    font-size:97%;
    margin-left:0;
}
#Pc #Main .section .img_preview {
    margin:10px 0 0 0;
}
#Pc #Main .section .img_preview img {
    padding:5px;
    border:3px solid #EEE;
}

/*-----------------------------------------------------
Main -smp-
-------------------------------------------------------*/


#Smp #Main .section dl{
	margin:0 10px 15px;
}
#Smp #Main .section dt{
	font-weight:bold;
	margin-top:20px;
}
#Smp #Main .section dt span{
	font-size:92%;
	color:#999;
}
#Smp #Main .section .ex{
	font-size:84%;
	margin-top:5px;
}
#Smp #Main .section .btn{
	margin:25px auto 20px auto;
	width:245px;
}
#Smp #Main .section .btn.btn-backlist{
	margin:25px auto 20px auto;
	width:115px;
}
#Smp #Main .section .btn p{
	margin:0 10px;
	width:100px;
}
#Smp #Main .section .btn p span{
	width:100px;
}

/** image select area */
#Smp #Main .section .btn.img_area {
    margin:0;
}
#Smp #Main p.btn-type01.img_btn,
#Smp #Main p.btn-type01.img_btn input,
#Smp #Main p.btn-type02.img_delete_btn,
#Smp #Main p.btn-type02.img_delete_btn input {
    width:90px !important;
    height:28px !important;
    font-size:97%;
    margin-left:0;
}
#Smp #Main .section .img_preview {
    margin:10px 0 0 0;
}
#Smp #Main .section .img_preview img {
    padding:5px;
    border:3px solid #EEE;
}


#Smp #Main .section input[type=text],
#Smp #Main .section textarea{
	width:95%;
}
#Smp #Main .section textarea{
	height:80px;
}
#Smp #Main .section dd label{
	margin:0 18px 0 3px;
}

/* reset */
#Smp #Main .section div.reset{
	overflow:hidden;
	margin-top:5px;
}
#Smp #Main .section div.reset p.btn-type03{
	float:right;
	margin-right:16px;
	width:78px;
	height:28px;
}
#Smp #Main .section div.reset p.btn-type03 a{
	width:78px;
	height:28px;
	line-height:28px;
}
