@charset "utf-8";

/*-----------------------------------------------------
Main -common-
-------------------------------------------------------*/
/* pager-info
---------------------*/
#Main .section .pager-head{
	margin:15px 0 10px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack:justify;/*--- Androidブラウザ用 ---*/
	-ms-flex-pack:justify;/*--- IE10 ---*/
	-webkit-justify-content:space-between;/*--- safari（PC）用 ---*/
	justify-content:space-between;
}
#Main .section .pager-head p.count{
	display:inline-block;
}
#Main .section .pager-head .filter select{
	vertical-align: middle;
	min-height: 28px;
	padding: 0 40px 0 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(../../images/common/pulldown_img.gif) right 50% no-repeat;
	background-color: #fff;
	border: 1px solid #c4c4c4;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	outline: none;
}
#Main .section .pager-head .filter select::-ms-expand {
	display: none;
}
#Main .section .pager-head .filter select + select{
	margin-right: 5px;
}

/* pager-foot
---------------------*/
#Main .section .pager-foot{
	width:100%;
	overflow:hidden;
	margin:0 0 20px 0;
	padding:0 0 10px 0;
}
/* btn */
#Main .section .pager-foot p.btn-type03{
	float:left;
}
/* pager */
#Main .section .pager-foot div.pager{
	float:right;
	display:inline;
	margin-top:8px;
}
#Main .section .pager-foot div.pager ul{
	overflow:hidden;
	margin:0 2px 0 0;
	text-align:center;
}
#Main .section .pager-foot div.pager ul li{
	float:left;
	display:inline;
}
#Main .section .pager-foot div.pager ul li.first,
#Main .section .pager-foot div.pager ul li.prev,
#Main .section .pager-foot div.pager ul li.next,
#Main .section .pager-foot div.pager ul li.last{
	margin:3px 5px 3px 5px;
}
#Main .section .pager-foot div.pager ul li.first,
#Main .section .pager-foot div.pager ul li.prev{
	padding:0 0 0 10px;
	background:url("../../images/common/pager_prev.gif") no-repeat 0 55%;
}
#Main .section .pager-foot div.pager ul li.next,
#Main .section .pager-foot div.pager ul li.last{
	padding:0 10px 0 0;
	background:url("../../images/common/pager_next.gif") no-repeat 100% 55%;
}
#Main .section .pager-foot div.pager ul li.count{
	width:26px;
	height:26x;
	margin:0 3px 0 3px;
	border:1px solid #cbd9e3;
	padding-right: 1px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
}
#Main .section .pager-foot div.pager ul li.count a,
#Main .section .pager-foot div.pager ul li.count span{
	width:25px;
	height:25px;
	display:block;
	text-align:center;
	line-height:25px;
	text-decoration:none;
	color:#5879bc;
	border:1px solid #FFFFFF;
	background:#FFFFFF;
	
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	
	box-shadow:0 1px 3px #e9e8e8;
	-moz-box-shadow:0 1px 3px #e9e8e8;
	-webkit-box-shadow:0 1px 3px #e9e8e8;
	-o-box-shadow:0 1px 3px #e9e8e8;
	-ms-box-shadow:0 1px 3px #e9e8e8;
	
	background-image:url("../../css/svg4ie9.php?t=FFFFFF&b=ebf0f8");
	background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#FFFFFF),to(#ebf0f8));
	background-image:-webkit-linear-gradient(top,#FFFFFF,#ebf0f8);
	background-image:-moz-linear-gradient(top,#FFFFFF,#ebf0f8);
	background-image:-ms-linear-gradient(top,#FFFFFF,#ebf0f8);
	background-image:-o-linear-gradient(top,#FFFFFF,#ebf0f8);
	-pie-background:linear-gradient(top,#FFFFFF,#ebf0f8);
}
#Main .section .pager-foot div.pager ul li.count a:hover{
	border:1px solid #6996d4;
	background:#FFFFFF;
}
#Main .section .pager-foot div.pager ul li.count.active{
	border:1px solid #6180c0;
	
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
}
#Main .section .pager-foot div.pager ul li.count.active span{
	color:#FFFFFF;
	border:1px solid #6180c0;
	background:#6180c0;
	
	background-image:url("../../css/svg4ie9.php?t=6180c0&b=6180c0");
	-pie-background:linear-gradient(top,#6180c0,#6180c0);
}
#Main .section .pager-foot div.pager ul li.count.cut,
#Main .section .pager-foot div.pager ul li.count.cut span {
	border:none;
	background: none;
	background-image: none;
	box-shadow : none;
	color:#333;
}

/* btn
---------------------*/
#Modal .box div.btn{
	width:350px;
	margin:40px auto 0 auto;
	overflow:hidden;
}
#Modal .box div.btn.btn-one{
    width:160px;
}

#Pc #Modal p.btn-type01,
#Pc #Modal p.btn-type01 input,
#Pc #Modal p.btn-type01 span,
#Pc #Modal p.btn-type02,
#Pc #Modal p.btn-type02 input,
#Pc #Modal p.btn-type02 span{
	width:158px;
}
#Modal .box div.btn p{
	float:left;
}
#Modal .box div.btn p.btn-type02{
	margin-left:30px;
}
#Modal .box div.btn.btn-one p.btn-type02{
	margin-left:0 !important;
}


/*-----------------------------------------------------
Main -pc-
-------------------------------------------------------*/

/* load
---------------------*/
#Pc #Main .section .load {
	margin-bottom:30px;
}
#Pc #Main .section .load02 {
	margin:0;
	padding:0 3px;
}

/* alert
---------------------*/
#Pc #Main .section .alert {
	margin-bottom:20px;
}
#Pc #Main .section .alert p.fl{
	float:left;
	margin:0;
}
#Pc #Main .section .alert p.fr{
	float:right;
	margin:0;
}


/* table-list
---------------------*/
#Pc #Main .section .table-list{
	width:100%;
	clear:both;
	margin:0px 0 28px 0;
	border:1px solid #cbd9e3;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	display:table !important;
	overflow:hidden;

}
#Pc #Main .section .table-list thead .lt{
	border-radius:5px 0 0 0;
	-webkit-border-radius:0 0 0 0;
	-moz-border-radius:0 0 0 0;
}
#Pc #Main .section .table-list thead .rt{
	border-radius:0 5px 0 0;
	-webkit-border-radius:0 5px 0 0;
	-moz-border-radius:0 5px 0 0;
	
}
#Pc #Main .section .table-list thead th,
#Pc #Main .section .table-list thead td{
	padding:10px 12px 10px 12px;
	text-align:center;

	background-image:url("../../css/svg4ie9.php?t=eff6ff&b=e4edfd");
	background:-moz-linear-gradient(top,#eff6ff,#e4edfd);
	background:-webkit-gradient(linear,left top,left bottom,from(#eff6ff),to(#e4edfd));
	-pie-background:linear-gradient(top,#eff6ff,#e4edfd);
	
	/*
	box-shadow:3px 1px 3px #C3C8D0;
	-moz-box-shadow:.3px 1px 3px #C3C8D0;
	-webkit-box-shadow:3px 1px 3px #C3C8D0;
	*/
	border-bottom:1px solid #D2E0E9;
}
#Pc #Main .section .table-list thead a.sort{
	margin-left:8px;
}


#Pc #Main .section .table-list tbody tr th,
#Pc #Main .section .table-list tbody tr td{
	padding:10px 12px 10px 12px;
	text-align:center;
	vertical-align:middle;
	background-repeat:repeat-x;
	background-position:0 100%;
	background-image:url("../../images/common/table_bg_border.gif");
}
#Pc #Main .section .table-list tbody tr.odd th,
#Pc #Main .section .table-list tbody tr.odd td{
	background-color:#f7f9fb;
}
#Pc #Main .section .table-list tbody tr.last th,
#Pc #Main .section .table-list tbody tr.last td{
	background-image:url("");
}
#Pc #Main .section .table-list tbody tr.highlight th,
#Pc #Main .section .table-list tbody tr.highlight td{
	background-color:#fbf8e9 !important;
	-o-transition:all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
#Pc #Main .section .table-list tbody tr td.date{padding:5px;}
#Pc #Main .section .table-list tbody tr td.category{}
#Pc #Main .section .table-list tbody tr td.title{text-align:left;}
#Pc #Main .section .table-list tbody tr td.account{}
#Pc #Main .section .table-list tbody tr td.public{padding:5px;}
#Pc #Main .section .table-list tbody tr td.edit{padding:5px 0;}

#Pc #Main .section .table-list tbody tr td.title a{
	padding:0 0 0 15px;
	display:block;
}
#Pc #Main .section .table-list tbody tr td a.smp-icon{
	padding:0 0 0 15px;
	background:url("../../images/common/ico_smp.gif") no-repeat 0 3px;
}
#Pc #Main .section .table-list tbody tr th img,
#Pc #Main .section .table-list tbody tr td img{
	margin:0 7px 0 7px;
	vertical-align:middle;
}
/* toolTip
---------------------*/
#Pc #Main p.toolTip{
	width:80px;
}
#Pc #Main p.toolTip span.arrow{
	left:35px;
}
#Pc #Main p.toolTip span.text{
	text-align:center;
}


/* pager-foot
---------------------*/
/* btn */
#Pc #Main .section .pager-foot p.btn{
	float:left;
	display:inline;
}

/*-----------------------------------------------------
Main -smp-
-------------------------------------------------------*/

#Smp #Main .section .pager-head{
	overflow:hidden;
}
/* pager-head
---------------------*/
#Smp #Main .section .pager-head{
	margin:0;
	padding:8px 0;
	border-top:1px solid #D2E0E9;
	border-bottom:1px solid #D2E0E9;
	
	background-image:url("../../css/svg4ie9.php?t=eff6ff&b=e4edfd");
	background:-moz-linear-gradient(top,#eff6ff,#e4edfd);
	background:-webkit-gradient(linear,left top,left bottom,from(#eff6ff),to(#e4edfd));
	-pie-background:linear-gradient(top,#eff6ff,#e4edfd);	
}
#Smp #Main .section .pager-head .label{
	float:right;
	margin-right:5px;
}

/* pager-foot
---------------------*/
#Smp #Main .section .pager-foot{
	margin:0 0 0 0;
	/*border-top:1px solid #cbd9e3;*/
}
/* btn */
#Smp #Main .section .pager-foot p.btn-type03{
	margin:0 auto 10px auto;
	padding:10px 0 0 0;
}
/* pager */
#Smp #Main .section .pager-foot div.pager{
	float:none;
	display:block;
	padding:10px 0 0 0;
	/*border-top:1px solid #cbd9e3;*/
}
#Smp #Main .section .pager-foot div.pager ul li{
	float:none;
}
#Smp #Main .section .pager-foot div.pager ul li.count{
	border:none;
}
#Smp #Main .section .pager-foot div.pager ul li.count a,
#Smp #Main .section .pager-foot div.pager ul li.count span{
	display:inline-block;
}
#Smp #Main .section .pager-foot div.pager ul li.count{
	display:none;
}
#Smp #Main .section .pager-foot div.pager ul li.count.active {
	display:inline;
}

/* list
---------------------*/
#Smp #Main .section ul.list li{
	overflow:hidden;
	border-bottom:1px solid #9FB4C5;
	padding:10px;
	background:url("../../images/index/list_ico_arrow.gif") no-repeat 97% 50%;
	background-size:9px 13px;
}
#Smp #Main .section ul.list li.last{
	border-bottom:none;
}
#Smp #Main .section ul.list p.check{
	float:left;
	width:25px;
}
#Smp #Main .section ul.list div.text{
	margin-left:25px;
}
#Smp #Main .section ul.list p.title{
	width:95%;
}
#Smp #Main .section ul.list p.category{
	background:url("../../images/smp/side_ico_category.png") no-repeat 0 50%;
}
#Smp #Main .section ul.list p.account{
	background:url("../../images/smp/ico_account.png") no-repeat 0 50%;
}
#Smp #Main .section ul.list p.date{
	background:url("../../images/smp/ico_date.png") no-repeat 0 50%;
}
#Smp #Main .section ul.list p.public{
	background:url("../../images/smp/ico_public.png") no-repeat 0 50%;
}
#Smp #Main .section ul.list p.public.closed{
	background:url("../../images/smp/ico_public_closed.png") no-repeat 0 50%;

}
#Smp #Main .section ul.list p.date,
#Smp #Main .section ul.list p.category,
#Smp #Main .section ul.list p.account,
#Smp #Main .section ul.list p.public,
#Smp #Main .section ul.list p.public.closed{
	float:left;
	width:42%;
	padding-left:8%;
	background-size:17px 15px;
}

/* btn
---------------------*/
#Smp #Modal .box div.btn{
	width:230px;
	margin:auto;
	overflow:hidden;
}
#Smp #Modal .box div.btn.btn-one {
        width:110px !important;
}
#Smp #Modal .box div.btn p{
	float:left;
	margin:0 5px;
}

/* ctrl
---------------------*/
#Smp #Main .section .ctrl{
        margin-bottom:5px;
	padding:8px 0 0 0;
	overflow:hidden;
	border-top:1px solid #9FB4C5;
}
#Smp #Main .section .ctrl p{
	float:left;
	margin-left:10px;
}
#Smp #Main .section .ctrl select{
	height:28px;
	
	border:1px solid #809DB9;
	background:#FFFFFF;
	
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;

}
#Smp #Main .section .ctrl p.btn-type01,
#Smp #Main .section .ctrl p.btn-type01 input,
#Smp #Main .section .ctrl p.btn-type01 span{
	width:50px;
	height:28px;
	line-height:28px
}
#Smp #Main .section .ctrl p.btn-type03,
#Smp #Main .section .ctrl p.btn-type03 a{
	width:70px;
	height:28px;
	line-height:28px;
}
#Smp #Main .section .ctrl p.btn-type03 input{
	margin:0 5px 0 0;
}

#Smp #Main .section .ctrl #select_err {
    display:block;
    clear:both;
    margin:5px 0 10px 5px;
    padding:5px;
    background:#fefdcc;
}