.sec-privacy {
  position: relative;
  margin: 80px 0 90px;

  @include media-breakpoint-up(md) {
    margin: 160px 0 185px;
  }
}

.privacy {
  letter-spacing: 0.07em;

  &__top-text {
    font-size: 13px;
    line-height: 2.18;

    @include media-breakpoint-up(md) {
      font-size: 14px;
      line-height: 2.57;
    }
  }

  &__item {
    margin-top: 52px;
    font-size: 13px;

    @include media-breakpoint-up(md) {
      margin-top: 70px;
      font-size: 14px;
    }
  }

  &__ttl {
    padding-bottom: 25px;
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.07em;
    border-bottom: 1px solid rgba(#373e42, 0.2);

    @include media-breakpoint-up(md) {
      padding-bottom: 35px;
      margin-bottom: 35px;
      font-size: 24px;
    }
  }

  &__text {
    line-height: 2.46;

    @include media-breakpoint-up(md) {
      line-height: 2.57;
    }
  }

  .list {
    &__item {
      position: relative;
      padding-left: 10px;
      font-size: 13px;
      line-height: 2.46;
      letter-spacing: 0.07em;

      @include media-breakpoint-up(md) {
        font-size: 14px;
        line-height: 2.57;
      }

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 13px;
        content: '・';
      }
    }
  }
}
